<div class="situation-block">
  <i class="fa"
    ng-class="{'fa-user': individu.role !== 'enfant', 'fa-child': individu.role === 'enfant'}"
    aria-hidden="true"
    role="presentation">
  </i>
  {{ individuLabel(individu) }}
  <a ui-sref="{{ sref }}"
    class="pull-right">
      <i class="fa fa-edit" aria-hidden="true" role="presentation"></i>
      Modifier
  </a>
  <div>
    Né·e le <strong>{{ individu.date_naissance.format('LL') }}</strong>
    <br>Nationalité <strong>{{ nationalite(individu) }}</strong>
    <br><i>{{ statutsSpecifiques(individu) }}</i>
  </div>
</div>
