<div class="droits-list droits-list--eligible">
  <a ng-repeat="droit in list"
    href
    ng-click="scrollTo($event, droit)"
    class="droits-list-item"
    itemscope itemtype="http://schema.org/GovernmentService"
    analytics-on="click"
    analytics-name="{{ droit.label }}"
    analytics-event="click"
    analytics-category="General"
    >
    <div class="droits-list-item-cell">
      <div class="droits-list-item-cell-left">
        <img ng-src="/img/{{ droit.provider.imgSrc }}" alt="{{ droit.label }}">
        <div>
          <h2>
            <span itemprop="name">{{ droit.label }}</span>
            <small>Comment l'obtenir ?</small>
          </h2>
        </div>
      </div>
      <div class="dotted-line"></div>
      <droit-montant droit="droit" ng-if="droit.montant && (isString(droit.montant) || isNumber(droit.montant))"></droit-montant>
      <div ng-if="droit.montant && isBoolean(droit.montant)">
        <i class="fa fa-check-circle fa-2x"></i>
      </div>
    </div>
  </a>
</div>
