<uib-accordion close-others="false">
  <div class="row">
    <div ng-repeat="droit in droits">
      <div ng-if="$index % 3 === 0" class="clearfix"></div>
      <div class="panel-non-eligible">
        <div uib-accordion-group is-open="droit.open">
          <uib-accordion-heading>
            <div class="row">
              <div class="col-xs-10">{{ droit.label }}</div>
              <div class="col-xs-2">
                <i class="fa" ng-class="{'fa-chevron-down': droit.open, 'fa-chevron-right': !droit.open}" aria-hidden="true" role="presentation"></i>
              </div>
            </div>
          </uib-accordion-heading>
          <p ng-bind-html="droit.description"></p>
          <a
            href="{{ droit.link }}"
            class="btn btn-sm btn-default"
            target="_blank"
            rel="noopener"
            >
            <i class="fa fa-external-link" aria-hidden="true" role="presentation"></i>
            Plus d'informations
          </a>
        </div>
      </div>
    </div>
  </div>
</uib-accordion>
