@import 'theme-variables';
@import 'variables';
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~angucomplete-alt/angucomplete-alt.css';
@import 'angucomplete-alt';
@import 'font-open-sans';
@import 'theme';

.btn {
  white-space: normal;
}

.alert {
  font-size: $font-size-base;
}

.alert > *:first-child,
.jumbotron > *:first-child {
  margin-top: 0;
}

.jumbotron > *:last-child,
.thumbnail .caption > *:last-child,
.panel-body > *:last-child {
  margin-bottom: 0;
}

.nav, .panel-title a {
  cursor: pointer;
}

.label-lg {
  font-size: 20px;
}

.btn-next {
  margin-top: 15px;
}

@mixin panel-custom($color) {
  .panel-heading {
    border-bottom: 2px solid $color;
    background-color: lighten($color, 15%);
  }
  .panel-title {
    font-weight: 500;
  }
}

.panel-danger {
  @include panel-custom($brand-danger);
}

.panel-warning {
  @include panel-custom($brand-warning);
}

.panel-success {
  @include panel-custom($brand-success);
}

.situation-block {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 0 5px 20px;
  margin-bottom: 2px;
  > h5:first-child {
    margin-top: 0;
  }
}
