@import 'theme-variables';
@import 'variables';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'font-open-sans';
@import 'theme';
@import "font-awesome/scss/font-awesome";

.btn {
  white-space: normal;
}

.alert {
  font-size: $font-size-base;
}

.alert > *:first-child,
.jumbotron > *:first-child {
  margin-top: 0;
}

.jumbotron > *:last-child,
.thumbnail .caption > *:last-child,
.panel-body > *:last-child {
  margin-bottom: 0;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.label-lg {
  font-size: 20px;
}

.btn-next {
  margin-top: 15px;
}

.icon-lg {
  font-size: 80px;
}

.alert-warning-inverse {
  background-color: white;
  border: 1px solid $btn-warning-border;
  color: $brand-warning;
  font-weight: 400;
  text-align: justify;
}

@mixin panel-custom($color) {
  .panel-heading {
    border-bottom: 2px solid $color;
    background-color: lighten($color, 15%);
  }
  .panel-title {
    font-weight: 500;
  }
  .test-detail {
    color: $color-background;
  }
}

.panel-danger {
  @include panel-custom($brand-danger);
}

.panel-warning {
  @include panel-custom($brand-warning);
}

.panel-success {
  @include panel-custom($brand-success);
}

.filter-box {
  margin: 5px 0;
  background-color: whitesmoke;
  border: 1px solid darken(whitesmoke, 5%);

  .page-header {
    margin-top: 0;
    margin-bottom: 14px;
    padding: 5px;
    background-color: #F9F9F9;
  }

  .page-header h1 {
    margin-top: 0;
    font-size: 16px;
    padding: 10px 8px;
  }

  .form-group {
    margin-bottom: 6px;
  }

  .btn-sm {
    padding: 4px 8px;
  }
}

.tag-list {
  border-style: solid;
  border-width: 1px;
  border-color: #D6D6D6;
  background: inherit;
  padding: 1px 5px;
  margin: 0;
  overflow: auto;
  list-style: none;
  cursor: text;
  background-color: white;
}

.tag-choice {
  display: block;
  float: left;
  margin: 2px 3px;
  padding: 2px 5px;
  border: 1px solid #D6D6D6;
  background-color: #DEE7F8;
  cursor: pointer;
}


.tag-choice-select {
  @extend .tag-choice;
  font-size: 10px;
  background-color: #DDDDDD;
}

.tag-new {
  display: block;
  float: left;
  padding: 2px 3px;
  margin: 2px 3px;

  .tag-input {
    width: 100%;
    font-size: 10px;
    background: none;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    padding: 1px 5px;
  }
}

.tag-show {
  color: #777;
  font-size: 10px;
  font-style: italic;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.tag-show-list {
  margin: 0;
  padding: 0;
  background: inherit;
  overflow: auto;
  list-style: none;
}

.anchor {
  visibility: hidden;
  width: 1px;
}

.detail-situation {
  padding-top: 10px;
}
