.loading-spinner {
  position: absolute;
  top: 20px;
  left: 235px;

  .loading-spinner-icon {
    width: 20px;
    height: 20px;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 10px;
    animation: loading-bar-spinner 400ms linear infinite;
  }
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}
