// Navbar =====================================================================

.navbar {
  border: none;
  font-size: 13px;
  font-weight: 300;

  .navbar-toggle:hover .icon-bar {
    background-color: #b3b3b3;
  }

  &.navbar-collapse {
    border-top-color: $dropdown-divider-bg;
    /*@box-shadow(none);*/
  }

  .btn {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &.navbar-default {

    .dropdown-menu {
      background-color: $navbar-default-bg;

      > li > a,
      > li > a:focus {
        color: $navbar-default-color;
      }

      > li > a:hover,
      > .active > a,
      > .active > a:hover {
        background-color: $navbar-default-link-hover-bg;
      }
    }
  }

  &.navbar-inverse {

    .dropdown-menu {
      background-color: $navbar-inverse-bg;

      > li > a,
      > li > a:focus {
        color: $navbar-inverse-color;
      }

      > li > a:hover,
      > .active > a,
      > .active > a:hover {
        background-color: $navbar-inverse-link-hover-bg;
      }
    }
  }
}

// Buttons ====================================================================

.btn {
  padding: 14px 20px;

  &.btn-lg {
    padding: 16px 32px;
  }

  &.btn-sm {
    padding: 8px 16px;
  }

  &.btn-xs {
    padding: 4px 8px;
  }
}

.btn-group {

  .btn ~ .dropdown-toggle {
    padding-left: 16px;
    padding-right: 16px;
  }

  .dropdown-menu {
    border-top-width: 0;
  }

  &.dropup .dropdown-menu {
    border-top-width: 1px;
    border-bottom-width: 0;
    margin-bottom: 0;
  }

  .dropdown-toggle {

    &.btn-default ~ .dropdown-menu {
      background-color: $btn-default-bg;
      border-color: $btn-default-border;

      > li > a {
        color: $btn-default-color;
      }

      > li > a:hover {
        background-color: darken($btn-default-bg, 8%);
      }
    }

    &.btn-primary ~ .dropdown-menu {
      background-color: $btn-primary-bg;
      border-color: $btn-primary-border;

      > li > a {
        color: $btn-primary-color;
      }

      > li > a:hover {
        background-color: darken($btn-primary-bg, 8%);
      }
    }

    &.btn-success ~ .dropdown-menu {
      background-color: $btn-success-bg;
      border-color: $btn-success-border;

      > li > a {
        color: $btn-success-color;
      }

      > li > a:hover {
        background-color: darken($btn-success-bg, 8%);
      }
    }

    &.btn-info ~ .dropdown-menu {
      background-color: $btn-info-bg;
      border-color: $btn-info-border;

      > li > a {
        color: $btn-info-color;
      }

      > li > a:hover {
        background-color: darken($btn-info-bg, 8%);
      }
    }

    &.btn-warning ~ .dropdown-menu {
      background-color: $btn-warning-bg;
      border-color: $btn-warning-border;

      > li > a {
        color: $btn-warning-color;
      }

      > li > a:hover {
        background-color: darken($btn-warning-bg, 8%);
      }
    }

    &.btn-danger ~ .dropdown-menu {
      background-color: $btn-danger-bg;
      border-color: $btn-danger-border;

      > li > a {
        color: $btn-danger-color;
      }

      > li > a:hover {
        background-color: darken($btn-danger-bg, 8%);
      }
    }
  }
}

// Typography =================================================================

.lead {
  color: $gray;
}

cite {
  font-style: italic;
}

blockquote {
  border-left-width: 1px;
  color: $gray;

  &.pull-right {
    border-right-width: 1px;
  }

  small {
    font-size: $font-size-small;
    font-weight: 300;
  }
}

// Tables =====================================================================

table {
  font-size: $font-size-small;
}

// Forms ======================================================================

input,
.form-control {
  padding: 7px;
}

label,
.control-label,
.help-block,
.checkbox,
.radio {
  font-weight: normal;
}

.input-group-addon,
.input-group-btn .btn {
  padding: 8px 14px;
}

// Navs =======================================================================

.nav {
  .open > a,
  .open > a:hover,
  .open > a:focus {
    border-color: transparent;
  }
}

.nav-tabs {
  > li > a {
    background-color: $btn-default-bg;
    color: $text-color;
  }

  .caret {
    border-top-color: $text-color;
    border-bottom-color: $text-color;
  }
}

.nav-pills {
  font-weight: 300;
}

.breadcrumb {
  border: 1px solid $table-border-color;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.list-group {
  font-size: $font-size-small;
  font-weight: 300;
}

// Indicators =================================================================

.alert {
  font-size: $font-size-small;
  font-weight: 300;

  .alert-link {
    font-weight: normal;
    color: #fff;
    text-decoration: underline;
  }
}

.label {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0;
  font-weight: 300;

  &.label-default {
    background-color: $btn-default-bg;
    color: $btn-default-color;
  }
}

.badge {
  font-weight: 300;
}

// Containers =================================================================

.popover {
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.panel {
  &.panel-heading {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

// content for screenreader only ==============================================================

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
