$font-size-base:          14px;
$font-size-large:         ceil(($font-size-base * 1.25));
$font-size-small:         ceil(($font-size-base * 0.85));

$font-size-h1:            floor(($font-size-base * 2));
$font-size-h2:            floor(($font-size-base * 1.5));
$font-size-h3:            ceil(($font-size-base * 1.25));
$font-size-h4:            ceil(($font-size-base * 1.1));
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85));

$color-background: whitesmoke;
$btn-default-bg: $color-background;
