@import 'commons';

.nav-tabs > li > a {
  color: $link-color;
  background-color: transparent;
}

.body-acceptance-tests {
  padding-top: 45px;
}

.progress-bar {
  transition: none;
}

.navbar-acceptance-tests {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-inverse;
  @extend .navbar-fixed-top;
}

.accordion-toggle {
  .test-is-valid {
    margin-right: 10px;
  }

  &:hover {
    text-decoration: none;
  }
}

.ui-view-tabs {
  margin-top: 20px;
}

.acceptance-test-tab {
  padding-top: 25px;
}

.sub-panel {
  background-color: #e9f0f5;
  border: 1px solid darken(#e9f0f5, 10%);
}

.human-readable-situation {
  padding: 20px;
}

.timeline-tab {
  .timeline {
    padding: 20px 5px;
  }
}

.timeline {
  background-color: #e9f0f5;
  position: relative;
  color: #7f8c97;
  padding: 1px;
  padding-right: 10px;
}

.timeline:before {
  position: absolute;
  margin-left: 17px;
  content: '';
  top: 0;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

.timeline-block {
  margin-left: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.timeline-block:before {
  content: "";
  display: table;
  clear: both;
}

.timeline-img {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 11px;
  margin-top: 11px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);

  i {
    display: block;
    color: white;
    font-size: 15px;
    position: relative;
    left: 55%;
    top: 45%;
    margin-left: -6px;
    margin-top: -6px;
  }

  &.plus {
    background: $brand-info;
  }

  &.plus {
    background: $brand-info;
  }

  &.edit {
    background: $brand-warning;
  }

  &.thumbs-up {
    background: $brand-success;
  }

  &.check {
    background: $brand-success;
  }

  &.thumbs-down {
    background: $brand-danger;
  }

  &.remove {
    background: $brand-danger;
  }
}

.timeline-content {
  margin-left: 12px;
  padding: 5px;
  padding-left: 10px;
  position: relative;
  background: white;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 #d7e4ed;

  h1 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
  }

  h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
  }

  h3 {
    margin: 0;
    font-size: 12px;
  }

  p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.timeline-content:before {
  position: absolute;
  top: 16px;
  right: 100%;
  border-color: transparent;
  border-right-color: white;
  content: '';
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
