.angucomplete-dropdown {
    width: 100%;
    margin-top: 0;
    padding: 0;
}

.angucomplete-row {
    margin-bottom: 0;
    padding: 12px 8px;
    color: inherit;
}

.angucomplete-selected-row {
    background-color: $brand-primary;
    color: #ffffff;
}

.angucomplete-searching {
    padding: 12px 8px;
}
