.breadcrumb--circles {
    list-style: none;
    margin: 15px 0;
}

.breadcrumb--circles li {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    /* https://css-tricks.com/fighting-the-space-between-inline-block-elements/ */
    margin-right: -4px;
}

.breadcrumb--circles .step {
    width: 2em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    /*box-sizing: border-box;*/
    border-radius: 1em;
    border: .2em solid #008cba;
    background: whitesmoke;
    margin: 0 auto;
    display: block;
    color: white;
    -webkit-transition: background 1s; /* Safari */
    transition: background 1s;
}

breadcrumb--circles .step:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumb--circles li.done .step {
    background: #008cba;
    border: none;
}

.breadcrumb--circles .step:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.breadcrumb--circles li.done .step:before {
    content: "\f00c";
}

.breadcrumb--circles li.active {
    text-decoration: underline;
}
.breadcrumb--circles li.active .step {
    background: #008cba;
}

.breadcrumb--circles li:before,
.breadcrumb--circles li:after {
    content: '';
    position: absolute;
    top: .9em;
    width: calc(50% + 2px);
    height: .2em;
    background: #008cba;
    z-index: -1;
}

.breadcrumb--circles li:before {
  left: 0;
}

.breadcrumb--circles li:after {
  right: 0;
}

.breadcrumb--circles li:first-child:before,
.breadcrumb--circles li:last-child:after {
  display: none;
}
