.result .panel-opened .panel-heading {
  background-color: whitesmoke;
}

.result .panel-heading {
  background-color: white;
  padding: 5px 0;
}

.result .panel-heading:hover {
  background-color: #ededed;
}

.result .panel-heading .montant {
  font-weight: 600;
  font-size: 18px;
}

.result .panel-heading .montant-inconnu {
  position: relative;
  top: .25em;
}

.result .panel-heading .montant-detail {
  font-size: 12px;
}

@media (min-width: 1px) {
  .result .panel-title .description {
    padding-top: 0.5em;
  }

  .result .panel-title .description.link {
    text-decoration: underline;
  }
}

.needs-n-2 .panel-heading {
  background-color: whitesmoke;
  color: #888;
}

.montant i {
  position: relative;
  top: .4em;
}

.droit-logo {
  height: 2em;
  padding-left: 20px;
}

.droit-logo img {
  height: 100%;
}

@media print {
    .result .cta, .result .fa-chevron-down, .result .fa-chevron-right {
      display: none;
    }
    .result .panel-collapse {
        display: inline;
    }
}

.result {
    page-break-inside: avoid;
}
