.result .panel-opened .panel-heading {
  background-color: whitesmoke;
}

.result .panel-heading {
  background-color: white;
  padding: 5px 0;
}

.result .panel-heading:hover {
  background-color: #ededed;
}

.result .panel-heading .montant {
  font-weight: 600;
  font-size: 18px;
}

.result .panel-heading .montant-inconnu {
  position: relative;
  top: .25em;
}

.result .panel-heading .montant-detail {
  font-size: 12px;
}

.result .panel-title .description {
  padding-top: 0.5em;
}

.needs-n-2 .panel-heading {
  background-color: whitesmoke;
  color: #888;
}

.montant i {
  position: relative;
  top: .4em;
}

.droit-logo {
  height: 2em;
  padding-left: 20px;
}

.droit-logo img {
  height: 100%;
}

@media print {
    .result .cta, .result .fa-chevron-down, .result .fa-chevron-right {
      display: none;
    }
    .result .panel-collapse {
        display: inline;
    }
}

.result {
    page-break-inside: avoid;
}

.dotted-line {
    flex: 1;
    display: block;
    border-top: 1px dotted lighten(#333, 20%);
    margin: 0 15px;
}

.dotted-line:last-child {
    margin-right: 0;
}

.droits-eligibles-list {
    display: block;
    background-color: white;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin-bottom: 40px;
}

.droits-eligibles-list-item {
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #333;
    position: relative;

    @media (max-width: $screen-sm-max) {
        padding: 10px 15px;
        border-bottom: 1px solid #e0e0e0;

        &:after {
            @include fa-icon();
            content: $fa-var-chevron-right;
            color: #ccc;
            text-align: right;
            margin-left: 15px;
        }
    }

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        color: #999;
    }

    @media (max-width: $screen-sm-max) {
        .dotted-line {
            display: none;
        }
    }

    &-left {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            width: 60px;
            margin-right: 15px;
            @media (max-width: $screen-xs-max) {
                width: 40px;
            }
        }

        h2 {
            margin: 0;
            @media (max-width: $screen-xs-max) {
                font-size: ($font-size-h2 * 0.6);
            }
            small {
                display: block;
                color: $link-color;
                margin-top: 6px;
            }
        }

        &:hover {
            h2 {
                small {
                    text-decoration: underline;
                }
            }
        }
    }
}

.droit-montant {
    display: inline-block;
    text-align: right;

    .montant {
        font-weight: 600;
        font-size: 18px;
        @media (min-width: $screen-md-min) {
            font-size: 22px;
        }
    }
    .montant-detail {
        display: inline-block;
    }
}

.droit-detail {
    margin-bottom: 30px;

    &-heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 15px;
        padding: 15px 0;

        h3 {
            margin: 0;
            font-weight: 600;
        }

    }

    &-description {
        margin-bottom: 15px;
    }

    &-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }

    .alert-warning {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 400;
    }
}
