@import 'theme-variables';

.child {
  border: 1px solid #DDD;
  box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.4);
  padding: 1em;
  padding-top: .25em;
  margin-bottom: 1em;
}

.child h3 {
  margin-top: .5em;
}

.close {
  float: right;
  color: black;
  margin-top: .25em;
}

.new-entity {
  padding: 0 2em 1em 2em;
  border: .25em dashed #DDD;
  box-shadow: none;
  width: 100%;
}

.card-icon {
  font-size: 430%;
}

.foyer-enfants {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($grid-gutter-width / 2);
    margin-right: -($grid-gutter-width / 2);
}

.foyer-enfant, .ajouter-enfant {
    flex-grow: 1;
    margin: 15px;
    @media (max-width: $screen-sm-max) {
        width: calc(100% - #{$grid-gutter-width});
    }
    @media (min-width: $screen-md-min) {
        max-width: calc(50% - #{$grid-gutter-width});
    }
    @media (min-width: $screen-lg-min) {
        max-width: calc(33.3333% - #{$grid-gutter-width});
    }
    // Make child elements take 100% height
    display: flex;
    flex-direction: column;
    & > * {
        flex: 1;
    }
}
