footer {
  background-color: #FFF;
  color: rgb(4, 117, 164);
  width: 100%;

  padding-top: 2em;
  padding-bottom: 1.5em;
}

footer ul {
  margin-bottom: 0;
}

footer li {
  margin-bottom: .5em;
}

footer a, footer a:hover, footer a:focus {
  color: inherit;
}
