[role="alert"] {
    display: none;
}

.ng-dirty[aria-invalid="true"] ~ [role="alert"], .ng-submitted [aria-invalid="true"] ~ [role="alert"] {
    display: block;
}

.ng-dirty[aria-invalid="true"], [role="alert"] {
    color: #F04124;
}
