@import 'commons';
@import 'loading-spinner';

html {
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

$main-footer-height: 220px;
$body-front-base-padding: 60px;

.body-front {
  margin-bottom: $main-footer-height;
  padding-top: $body-front-base-padding;
  background-color: $color-background;
}

.browsehappy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background: #ccc;
  color: #000;
  padding-top: 20px;
}

.table-borderless > tbody > tr > td {
  border-top: none;
}

.table td.align-middle {
  vertical-align: middle;
}

.main-navbar {
  @extend .navbar;
  @extend .navbar-default;
  @extend .navbar-fixed-top;
  margin-bottom: 0;

  .container {
    position: relative;
  }

  .navbar-brand {
    &.logo {
      padding-top: 3px;
      padding-bottom: 57px;
    }

    &.title {
      padding-top: 20px;
      padding-bottom: 40px;
      position: relative;
      left: 60px;
    }

    &.logo, &.logo:hover, &.logo:focus {
      background-color: white;
      position: relative;
      z-index: 1;
    }
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;

    & > li > .navbar-btn {
      margin: 21px 25px 21px 0;
    }
  }

  .logo-beta {
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 26px;
    left: -35px;
    transform: rotate(-45deg);
    width: 150px;
    background-color: $brand-primary;
    color: white;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
  }
}

.main-footer {
  background-color: $navbar-default-bg;
  color: $navbar-default-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $main-footer-height;

  padding-top: 30px;
  padding-bottom: 30px;

  & ul li a {
    color: white;
    font-size: 12px;
  }
}

.homepage-call-to-action {
  background-position: center center;
  color: white;

  &.desktop {
    background-image: url('../img/homepage.jpg');
    padding: 100px 0;

    .jumbotron {
      padding: 50px;
    }
  }

  &.mobile {
    background-image: url('../img/homepage_mobile.jpg');

    .jumbotron {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .jumbotron {
    background-color: rgba(0, 0, 0, 0);
    text-shadow:  1px 1px 4px rgb(0, 0, 0);
    margin-bottom: 0;

    &>p {
      margin-bottom: 25px;
    }
  }
}

.form-foyer {
  padding-bottom: 5px;
}

.recap-situation {
  @extend .well;
  border-top: none;
  background-color: white;

  h3 {
    margin-top: 0;
  }

  .section-header {
    margin-top: 21px;
  }
}

.layout {
  padding-top: 10px;
  padding-bottom: 20px;
}

.frame-foyer {
  @extend .whiteframe-z1;
  padding: 20px;
  h1 {
    margin-top: 0px;
  }
}

.btn-cerfa {
  margin-top: 20px;
}

.frame-cerfa {
  @extend .frame-foyer;
  margin-top: 20px;
}

.frame-cerfa-header {
  margin-top: 40px;
  margin-bottom: -20px;
}

.frame-new-individu {
  @extend .frame-foyer;
  margin-top: 20px;
}

.liste-organismes {
  background-color: white;
  padding: 50px 0;
}

.panel-foyer-lg {
  min-height: 250px;
}

.panel-enfant {
  @extend .panel;
  @extend .panel-default;
  min-height: 112px;
}

#form-new-personne > h2 {
  margin-top: 0;
}

.panel-new-enfant {
  border: 2px dashed #dddddd;
  .panel-body {
    padding: 0;
  }
  .btn.btn-lg.btn-new-entity {
    padding: 3px;
  }
}

.form-selection-revenus {
  font-size: 20px;

  .btn {
    font-size: 30px;
  }
}

.animate-show {
  opacity: 1;
  transition: opacity linear 1s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.btn.btn-lg.btn-new-entity {
  border: none;
  border-radius: 0;
  padding: 23px;
  font-size: 17px;
}

$revenusActivite: #FFBC67;
$revenusActivite-light: #ffd29a;
$revenusActivite-lighter: #ffe9cd;

$allocations: #DA727E;
$allocations-light: #efc3c8;
$allocations-lighter: #faebed;

$indemnites: #AC6C82;
$indemnites-light: #d1adb9;
$indemnites-lighter: #e3ced5;

$pensions: #685C79;
$pensions-light: #cfcad7;
$pensions-lighter: #eae7ed;

$tns: #455C7B;
$tns-light: #b6c4d6;
$tns-lighter: #d7dee8;

$autre: #39747B;
$autre-light: #a9d2d7;
$autre-lighter: #cce4e7;

.btn-default {
  &.active {
    background-color: $btn-success-bg;
    color: white;
  }
}

@mixin ressource-category-capture($color, $color-light, $color-lighter) {
  border: 1px solid $color-light;
  border-left-width: 4px;
  margin-bottom: 10px;

  h2 {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-weight: 500;
  }

  .capture-title {
    padding: 5px 0;

    background-color: lighten($color-light, 10%);
    color: #333;
  }

  .capture-rows {
    padding: 5px;

    .btn-ressources {
      @extend .btn-default;
    }
  }
}

.capture-indemnites {
  @include ressource-category-capture($indemnites, $indemnites-light, $indemnites-lighter);
}

.capture-pensions {
  @include ressource-category-capture($pensions, $pensions-light, $pensions-lighter);
}

.capture-allocations {
  @include ressource-category-capture($allocations, $allocations-light, $allocations-lighter);
}

.capture-revenusActivite {
  @include ressource-category-capture($revenusActivite, $revenusActivite-light, $revenusActivite-lighter);
}

.capture-autre {
  @include ressource-category-capture($autre, $autre-light, $autre-lighter);
}

.capture-tns {
  @include ressource-category-capture($tns, $tns-light, $tns-lighter);
}

.btn-selection {
  // Reset border de 1px sur .btn
  border-top: 0px;
  border-bottom: 0px;
  margin: 3px;
  padding: 16px 16px;
  font-size: 12px;
}

.intro {
  position: absolute;
  width: 100%;
  background: white;
  padding: 14px;
  padding-left: 75px;
  color: #333;

  .intro-content {
    text-align: center;
    cursor: pointer;

    span {
      margin: 0 10px;
    }
  }
}

.main-navbar, .intro, .body-front {
  transition: all 0.5s linear;
}

.main-navbar.has-intro {
  padding-top: 46px;
}

.body-front.has-intro {
  padding-top: $body-front-base-padding + 46px;
}

.intro.ng-enter, .intro.ng-leave.ng-leave-active {
  top: -48px;
}

.intro, .intro.ng-enter.ng-enter-active {
  top: 0;
}

.thumbnail {
  @extend .whiteframe-z1;
  border: 0;
  padding: 0;
  padding-top: 10px;

  img {
    margin-bottom: 10px;
  }

  .thumbnail-title {
    padding: 9px;
    font-size: 16px;
    line-height: 16px;

    .montant-detail {
      font-size: 10px;
    }

    .montant {
      font-weight: 600;
      font-size: 25px;
    }

    &.thumbnail-title-success {
        color: white;
        background-color: $brand-success;
        border-bottom: 3px solid darken($brand-success, 10%);
    }

    &.thumbnail-title-default {
        background-color: $btn-default-bg;
        border-bottom: 3px solid darken($btn-default-bg, 10%);
    }
  }
}

.bloc-aucune-aide-eligible {
  padding: 20px 0;
}

.ressource-types-block {
  margin-bottom: 15px;
}

@mixin panel-variant-recap($color) {
  border-left: 7px solid $color;
  &.active, &.active:focus {
    @include button-variant(white, $color, $color);
  }
}

.accordion-ressources {
  .panel {
    border: none;
    font-size: 12px;
  }

  .panel-heading {
    padding: 5px 8px;
  }

  .panel-title {
    font-size: 14px;
  }

  .panel-body {
    padding: 10px;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .recap-indemnites {
    @include panel-variant-recap($indemnites);
  }

  .recap-pensions {
    @include panel-variant-recap($pensions);
  }

  .recap-allocations {
    @include panel-variant-recap($allocations);
  }

  .recap-revenusActivite {
    @include panel-variant-recap($revenusActivite);
  }

  .recap-autre {
    @include panel-variant-recap($autre);
  }

  .recap-tns {
    @include panel-variant-recap($tns);
  }
}

.whiteframe-z1 {
  background-color: white;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.help-col {
  @extend .help-block;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.checkbox.checkbox-multiline {
  height: 100%;
}

.frame-ressources-individu {
  margin-bottom: 20px;
  border: 1px solid $brand-primary;
  background-color: whitesmoke;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);

  .title {
    background-color: $brand-primary;
    color: white;
    border-bottom: 2px solid darken($brand-primary, 10%);
    padding: 10px;

    h2 {
      margin: 0;
      font-weight: 500;
    }
  }

  .content {
    padding: 10px;
  }
}

.ressources-individu {
  .title{
    h2 {
      margin-top: 5px;
    }
    a {
      margin-bottom: 5px;
    }
  }
  margin-bottom: 15px;
}

@mixin ressource-montant($color, $color-light, $color-lighter) {
  h3 {
    margin: 0;
    font-size: 14px;
  }

  .row {
    margin-bottom: 5px;
  }

  border: 1px solid $color-light;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;

  .title-montant {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: lighten($color-light, 10%);
    padding: 10px;

    small {
      font-size: $font-size-base;
      color: darken($color, 30%);
      margin-right: 10px;
    }
  }

  .content-montant {
    padding: 5px 10px;
  }

  label {
    font-size: 10px;
  }

  .checkbox > label {
    font-size: 12px;
  }

  .form-group {
    margin-bottom: 0;
  }
}

.ressource-montant-indemnites {
  @include ressource-montant($indemnites, $indemnites-light, $indemnites-lighter);
}

.ressource-montant-pensions {
  @include ressource-montant($pensions, $pensions-light, $pensions-lighter);
}

.ressource-montant-allocations {
  @include ressource-montant($allocations, $allocations-light, $allocations-lighter);
}

.ressource-montant-revenusActivite {
  @include ressource-montant($revenusActivite, $revenusActivite-light, $revenusActivite-lighter);
}

.ressource-montant-autre {
  @include ressource-montant($autre, $autre-light, $autre-lighter);
}

.ressource-montant-tns {
  @include ressource-montant($tns, $tns-light, $tns-lighter);
}

.frame-resultats {
  @extend .frame-foyer;
  margin-bottom: 15px;
}

.warning {
  @extend .text-warning;
  margin-bottom: 10px;
}

.frame-resultats {
  .panel-group {
    margin-bottom: 0;
  }

  color: $text-color;
}

.resultats-accordion {
  &.panel-opened {
    .panel-heading {
      background-color: whitesmoke;
    }
  }

  .panel-heading {
    background-color: white;
    padding: 5px 0;

    &:hover {
      background-color: darken(whitesmoke, 3%);
    }

    .montant {
      font-weight: 600;
      font-size: 18px;
    }

    .montant-detail {
      font-size: 12px;
    }
  }

  .panel-title .description {
    padding-top: 0.5em;
  }
}

.resultats-accordion-muted {
  @extend .resultats-accordion;

  .panel-heading {
    background-color: whitesmoke;
    color: #888;
  }
}

.droit-img {
  height: 2em;
  padding-left: 5px;
}

.panel-non-elligible {
  @extend .col-md-4;
  margin-top: 10px;
}
