@import 'commons';


h1[tabindex="-1"] {
  outline: none;
}

.browsehappy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background: #ccc;
  color: #000;
  padding-top: 20px;
}

.table-borderless > tbody > tr > td {
  border-top: none;
}

.table td.align-middle {
  vertical-align: middle;
}

.form-foyer {
  padding-bottom: 5px;
}

.layout {
  padding-top: 10px;
  padding-bottom: 20px;
}

.frame-foyer {
  @extend .whiteframe-z1;
  padding: 20px;
  h1 {
    margin-top: 0px;
  }
}

.frame-new-individu {
  @extend .frame-foyer;
  margin-top: 20px;

  h2 {
    margin-top: 0;
  }
}

.panel-foyer-lg {
  min-height: 250px;
}

.form-selection-revenus {
  font-size: 20px;

  .btn {
    font-size: 30px;
  }
}

.animate-show {
  opacity: 1;
  transition: opacity linear 1s;
}

.animate-show.ng-hide {
  opacity: 0;
}

$revenusActivite-light: #ffd29a;

$allocations-light: #efc3c8;

$indemnites-light: #d1adb9;

$pensions-light: #cfcad7;

$patrimoine-light: #b6c4d6;

$autre-light: #a9d2d7;

$rpns-light: #a8a1c8;

.btn-default, .btn {
  &.active, &.active:focus, &.active:hover {
    background-color: $btn-success-bg;
    color: $btn-success-color;
    .help-col {
      color: #D8D8D8;
    }
  }
}

@mixin ressource-category-capture($color-light) {
  border: 4px solid $color-light;
  border-left-width: 4px;
  margin-bottom: 10px;

  .panel-heading {
    margin: 0;
    padding: 0;
    color: #333;
    cursor: pointer;
    user-select: none;

    .panel-title {
      font-weight: 400;
      font-size: 21px;

      & > a:hover,
      & > a:active,
      & > a:focus,
      & > a:visited {
        text-decoration: none;
      }

      & > a:hover {
        .panel-title-ressource-category {
          background-color: lighten($color-light, 5%);
        }
      }

      &-ressource-category {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background-color: lighten($color-light, 10%);

        & > *:first-child {
          flex: 10;
        }
        & > *:last-child {
          flex: 2;
          text-align: right;
        }

        &-name {
          display: block;
          margin-bottom: 5px;
        }
      }

    }
  }
}

.capture-indemnites {
  @include ressource-category-capture($indemnites-light);
}

.capture-pensions {
  @include ressource-category-capture($pensions-light);
}

.capture-allocations {
  @include ressource-category-capture($allocations-light);
}

.capture-revenusActivite {
  @include ressource-category-capture($revenusActivite-light);
}

.capture-autre {
  @include ressource-category-capture($autre-light);
}

.capture-rpns {
  @include ressource-category-capture($rpns-light);
}

.capture-patrimoine {
  @include ressource-category-capture($patrimoine-light);
}

.whiteframe-z1 {
  background-color: white;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.help-col {
  @extend .help-block;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.frame-ressources-individu {
  margin-bottom: 20px;
  border: 1px solid $brand-primary;
  background-color: whitesmoke;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);

  .title {
    background-color: $brand-primary;
    color: white;
    border-bottom: 2px solid darken($brand-primary, 10%);
    padding: 10px;

    h2 {
      margin: 0;
      font-weight: 500;
    }
  }

  .content {
    padding: 10px;
  }
}

.ressources-individu {
  margin-bottom: 15px;

  .title {
    h2 {
      margin-top: 5px;
    }
    a {
      margin-bottom: 5px;
    }
  }
}

.frame-resultats {
  @extend .frame-foyer;
  margin-bottom: 15px;
}

.warning {
  @extend .text-warning;
  margin-bottom: 10px;
}

.additional-info-cta {
  margin-top: 1em;
}

.frame-resultats {
  @media (max-width: $screen-sm-min) {
    padding: 4px;
  }

  .panel-group {
    margin-bottom: 0;
  }

  color: $text-color;
}

.panel-non-eligible {
  @extend .col-md-4;
  margin-top: 10px;
}

.frame-resultats ul {
  padding-left: 0em;
  list-style-type: none;
}

[data-tooltip] {
  border-bottom: 1px dashed;
  cursor: help;
}

legend {
  border-bottom: none;
  font-size: inherit;
}

.benefit-etablissements-modal {
  padding: 30px;
}

.form-suivi {
  padding: 15px 0;
}
