@import 'commons';

$body-front-base-padding: 45px;  // .navbar's min-height

h1[tabindex="-1"] {
  outline: none;
}

.body-front {
  padding-top: $body-front-base-padding;
  background-color: $color-background;
}

.browsehappy {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background: #ccc;
  color: #000;
  padding-top: 20px;
}

.table-borderless > tbody > tr > td {
  border-top: none;
}

.table td.align-middle {
  vertical-align: middle;
}

.form-foyer {
  padding-bottom: 5px;
}

.recap-situation {
  @extend .well;
  border-top: none;
  background-color: white;

  h3 {
    margin-top: 0;
  }

  .section-header {
    margin-top: 21px;
  }
}

.layout {
  padding-top: 10px;
  padding-bottom: 20px;
}

.frame-foyer {
  @extend .whiteframe-z1;
  padding: 20px;
  h1 {
    margin-top: 0px;
  }
}

.frame-new-individu {
  @extend .frame-foyer;
  margin-top: 20px;

  h2 {
    margin-top: 0;
  }
}

.panel-foyer-lg {
  min-height: 250px;
}

.panel-enfant {
  @extend .panel;
  @extend .panel-default;
  min-height: 112px;
}

#form-new-personne > h2 {
  margin-top: 0;
}

.panel-new-enfant {
  border: 2px dashed #dddddd;
  .panel-body {
    padding: 0;
  }
  .btn.btn-lg.btn-new-entity {
    padding: 3px;
  }
}

.form-selection-revenus {
  font-size: 20px;

  .btn {
    font-size: 30px;
  }
}

.animate-show {
  opacity: 1;
  transition: opacity linear 1s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.btn.btn-lg.btn-new-entity {
  border: none;
  border-radius: 0;
  padding: 23px;
  font-size: 17px;
}

$revenusActivite: #FFBC67;
$revenusActivite-light: #ffd29a;
$revenusActivite-lighter: #ffe9cd;

$allocations: #DA727E;
$allocations-light: #efc3c8;
$allocations-lighter: #faebed;

$indemnites: #AC6C82;
$indemnites-light: #d1adb9;
$indemnites-lighter: #e3ced5;

$pensions: #685C79;
$pensions-light: #cfcad7;
$pensions-lighter: #eae7ed;

$patrimoine: #455C7B;
$patrimoine-light: #b6c4d6;
$patrimoine-lighter: #d7dee8;

$autre: #39747B;
$autre-light: #a9d2d7;
$autre-lighter: #cce4e7;

$rpns: #8366d4;
$rpns-light: #a8a1c8;
$rpns-lighter: #dad7e8;

.btn-default, .btn {
  &.active, &.active:focus, &.active:hover {
    background-color: $btn-success-bg;
    color: $btn-success-color;
    .help-col {
      color: #D8D8D8;
    }
  }
}

@mixin ressource-category-capture($color-light) {
  border: 1px solid $color-light;
  border-left-width: 4px;
  margin-bottom: 10px;

  .panel-heading {
    margin: 0;
    padding-left: 10px;
    background-color: lighten($color-light, 10%);
    color: #333;
    cursor: pointer;
    user-select: none;

    .panel-title {
      font-weight: 400;
      font-size: 21px;
    }
  }
}

.capture-indemnites {
  @include ressource-category-capture($indemnites-light);
}

.capture-pensions {
  @include ressource-category-capture($pensions-light);
}

.capture-allocations {
  @include ressource-category-capture($allocations-light);
}

.capture-revenusActivite {
  @include ressource-category-capture($revenusActivite-light);
}

.capture-autre {
  @include ressource-category-capture($autre-light);
}

.capture-rpns {
  @include ressource-category-capture($rpns-light);
}

.capture-patrimoine {
  @include ressource-category-capture($patrimoine-light);
}

@mixin panel-variant-recap($color) {
  border-left: 7px solid $color;
  &.active, &.active:focus {
    @include button-variant(white, $color, $color);
  }
}

.accordion-ressources {
  .panel {
    border: none;
    font-size: 12px;
  }

  .panel-heading {
    padding: 5px 8px;
  }

  .panel-title {
    font-size: 14px;
  }

  .panel-body {
    padding: 10px;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .recap-indemnites {
    @include panel-variant-recap($indemnites);
  }

  .recap-pensions {
    @include panel-variant-recap($pensions);
  }

  .recap-allocations {
    @include panel-variant-recap($allocations);
  }

  .recap-revenusActivite {
    @include panel-variant-recap($revenusActivite);
  }

  .recap-autre {
    @include panel-variant-recap($autre);
  }

  .recap-rpns {
    @include panel-variant-recap($rpns);
  }

  .recap-patrimoine {
    @include panel-variant-recap($patrimoine);
  }
}

.whiteframe-z1 {
  background-color: white;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.help-col {
  @extend .help-block;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.frame-ressources-individu {
  margin-bottom: 20px;
  border: 1px solid $brand-primary;
  background-color: whitesmoke;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);

  .title {
    background-color: $brand-primary;
    color: white;
    border-bottom: 2px solid darken($brand-primary, 10%);
    padding: 10px;

    h2 {
      margin: 0;
      font-weight: 500;
    }
  }

  .content {
    padding: 10px;
  }
}

.ressources-individu {
  margin-bottom: 15px;

  .title {
    h2 {
      margin-top: 5px;
    }
    a {
      margin-bottom: 5px;
    }
  }
}

@mixin panel-montant-variant($color-base, $color-light, $color-lighter) {
  @include panel-variant($color-base, black, $color-lighter, $color-light);

  h3 .short-label {
    color: darken($color-base, 30%);
  }
}

.panel.panel-montant {
  h3 {
    font-size: 14px;

    .short-label {
      display: inline-block;
      margin-right: 10px;
    }
  }

  .panel-body {
    padding: 10px;
  }

  .checkbox {
    margin-bottom: 1em;
  }

  &.indemnites {
    @include panel-montant-variant($indemnites, $indemnites-light, $indemnites-lighter);
  }

  &.pensions {
    @include panel-montant-variant($pensions, $pensions-light, $pensions-lighter);
  }

  &.allocations {
    @include panel-montant-variant($allocations, $allocations-light, $allocations-lighter);
  }

  &.revenusActivite {
    @include panel-montant-variant($revenusActivite, $revenusActivite-light, $revenusActivite-lighter);
  }

  &.autre {
    @include panel-montant-variant($autre, $autre-light, $autre-lighter);
  }

  &.rpns {
    @include panel-montant-variant($rpns, $rpns-light, $rpns-lighter);
  }

  &.patrimoine {
    @include panel-montant-variant($patrimoine-light, $patrimoine-light, $patrimoine-lighter);
  }
}

.frame-resultats {
  @extend .frame-foyer;
  margin-bottom: 15px;
}

.warning {
  @extend .text-warning;
  margin-bottom: 10px;
}

.additional-info-cta {
  margin-top: 1em;
}

.frame-resultats {
  @media (max-width: $screen-sm-min) {
    padding: 4px;
  }

  .panel-group {
    margin-bottom: 0;
  }

  color: $text-color;
}

.result {
  &.panel-opened {
    .panel-heading {
      background-color: whitesmoke;
    }
  }

  .panel-heading {
    background-color: white;
    padding: 5px 0;

    &:hover {
      background-color: darken(whitesmoke, 3%);
    }

    .montant {
      font-weight: 600;
      font-size: 18px;
    }

    .montant-inconnu {
      position: relative;
      top: .25em;
    }

    .montant-detail {
      font-size: 12px;
    }
  }

  .panel-title .description {
    @media (min-width: $screen-sm-min) {
      padding-top: 0.5em;
    }
  }
}

.result-needs-n-2 {
  @extend .result;

  .panel-heading {
    background-color: whitesmoke;
    color: #888;
  }

  .montant i {
    position: relative;
    top: .4em;
  }
}

.droit-logo {
  height: 2em;
  padding-left: 5px;
}

.panel-non-eligible {
  @extend .col-md-4;
  margin-top: 10px;
}

.frame-resultats ul {
  padding-left: 0em;
  list-style-type: none;
}

[data-tooltip] {
  border-bottom: 1px dashed;
  cursor: help;
}

legend {
  border-bottom: none;
  font-size: inherit;
}
