header[role="banner"] {
	color: white;
}

header[role="banner"] a {
	color: inherit;
}

header[role="banner"] .navbar-brand {
	background-image: url(/img/marianne.svg);
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 15px;
	padding-bottom: 35px;
	position: relative;
	padding-left: 120px;
}

header[role="banner"] .loading-spinner {
	padding-top: 1em;
	float: right;
}

header[role="banner"] .loading-spinner .loading-spinner-icon {
	width: 2em;
	height: 2em;
	border: .25em solid;
	border-color: transparent #29d;
	border-radius: 10em;
	animation: loading-bar-spinner 400ms linear infinite;
}

@keyframes loading-bar-spinner {
	0%		{ transform: rotate(0deg); }
	100%	{ transform: rotate(360deg); }
}

.intro {
	width: 100%;
	background: white;
	padding: 14px;
	padding-right: 80px;
	color: #333;
	z-index: 5;
}

.intro .intro-content {
	text-align: center;
	cursor: pointer;
}

.main-navbar, .intro, .body-front {
	transition: all 0.5s linear;
}

.intro.ng-enter, .intro.ng-leave.ng-leave-active {
	margin-top: -46px;
}

.intro, .intro.ng-enter.ng-enter-active {
	margin-top: 0px;
}

#beta-ribbon {
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 26px;
	right: -35px;
	transform: rotate(45deg);
	width: 150px;
	background-color: #008cba;
	color: white;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	z-index: 10;
}
