header[role="banner"] {
	background-color: rgba(255, 255, 255, .9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

header[role="banner"] .navbar-brand {
	padding-left: 100px;

	background-image: url(/img/marianne.svg);
	background-repeat: no-repeat;
	background-size: contain;

	color: rgba(24, 137, 184, .5);
	font-family: "Century Gothic";
	font-weight: 600;
	font-style: italic;
	font-size: 180%;

	transition: color linear .2s;
}

header[role="banner"] .navbar-brand:hover, header[role="banner"] .navbar-brand:focus {
	color: rgba(24, 137, 184, 1);
}

header[role="banner"] .loading-spinner {
	padding-top: 10px;
	margin-right: 2em;
}

header[role="banner"] .loading-spinner .loading-spinner-icon {
	width: 25px;
	height: 25px;
	border: 3px solid;
	border-color: transparent #29d;
	border-radius: 20px;
	animation: loading-bar-spinner 400ms linear infinite;
}

@keyframes loading-bar-spinner {
	0%		{ transform: rotate(0deg); }
	100%	{ transform: rotate(360deg); }
}
