header[role="banner"] {
	background-color: rgba(255, 255, 255, .9);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
}

header[role="banner"] .container {
	background-image: url(/img/marianne.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 1em 0;
}

#logo {
	float: right;
	font-size: 32px;

	color: transparent;
	background-image: url(/img/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;

	opacity: .5;

	transition: opacity linear .2s;
}

#logo:hover, #logo:focus {
	opacity: 1;
}

.body-front {
	padding-top: 45px;  /* .navbar's min-height */
}

@media (max-width: 360px) {
	header[role="banner"] .container {
		background-position: 0 0;
	}

	#logo {
		font-size: 24px;
	}

	.navbar {
		min-height: 24px;
	}

	.body-front {
		padding-top: 32px;  /* .navbar's min-height */
	}
}
