header[role="banner"], header[role="banner"] a {
	color: white;
}

header[role="banner"] .navbar-brand {
	background-image: url(/img/marianne.svg);
	background-repeat: no-repeat;
	background-size: contain;
	padding-top: 15px;
	padding-bottom: 35px;
	position: relative;
	padding-left: 120px;
}

#broadcast {
	float: right;
	font-size: 120%;
}

#beta-ribbon {
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 26px;
	right: -35px;
	transform: rotate(45deg);
	width: 150px;
	background-color: #008cba;
	color: white;
	padding: 5px;
	font-size: 15px;
	font-weight: bold;
	z-index: 10;
}
