main {
    background-image: url('../img/homepage/homepage-800.png');
    background-attachment: fixed;
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 0;
    padding-bottom: 5em;
}

#valueProposition {
    padding: .5em;
    padding-bottom: 2em;
    font-size: 130%;

    text-shadow: 0 0 .15em #000;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .55);
}

#valueProposition h1 {
    font-size: 180%;
    line-height: 1.4;
    margin-bottom: 0;
}

#valueProposition p {
    max-width: 35em;
    margin: auto;
}

#valueProposition a {
    font-size: 120%;
    letter-spacing: .05em;
    font-weight: 600;
    margin: 1em;
    border-color: transparent;
    background-image: linear-gradient(to bottom, #54c5f4 0%, #5dcefd 50%, #40b1e0 51%, #36a7d6 100%);
    background-color: rgb(64, 177, 224);
    box-shadow: 0 0 1em rgba(54, 167, 214, .5);

    transition: background-color linear .4s, box-shadow linear .4s;
}

#valueProposition a:hover, #valueProposition a:focus {
    background-color: rgb(84, 197, 244);
    box-shadow: 0 0 1.5em rgba(204, 207, 184, .8);
}

@media (orientation: portrait) {
    main {
        background-image: url('../img/homepage/homepage-vertical-1152.png');
    }
}

@media (orientation: portrait) and (min-width: 1153px) {
    main {
        background-image: url('../img/homepage/homepage-vertical-2500.png');
    }
}

@media (min-width: 768px) {
    #valueProposition {
        padding-top: 5em;
        margin-bottom: 1em;
        font-size: 220%;
    }
}

@media (min-width: 801px) {
    main {
        background-image: url('../img/homepage/homepage-1280.png');
    }
}

@media (min-width: 1281px) {
    main {
        background-image: url('../img/homepage/homepage-1440.png');
    }
}

@media (min-width: 1441px) {
    main {
        background-image: url('../img/homepage/homepage-1920.png');
    }

    #valueProposition {
        padding-bottom: 5em;
    }

    #valueProposition a {
        margin: 2em;
    }
}

@media (min-width: 1921px) {
    main {
        background-image: url('../img/homepage/homepage-5760.png');
    }
}


.frame-aides-homepage {
    margin-top: 2em;
    padding: 2em;
}

.frame-aides-homepage h2 {
    margin-top: 0;
}

.frame-aides-homepage h3 {
    margin-top: 0;
    font-weight: 600;
}

.frame-aides-homepage .showDetailsButtonBlock {
    margin-top: 1em;
}

#start-row {
    text-align: center;
}
