main {
    background-image: url('../img/homepage/homepage-1280.png');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 5em;
}

#valueProposition {
    padding: .5em;
    padding-bottom: 2em;
    font-size: 130%;

    text-shadow: 0 0 .15em #000;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, .35);
}

#valueProposition h1 {
    font-size: 180%;
    line-height: 1.4;
    margin-bottom: 0;
}

#valueProposition p {
    max-width: 35em;
    margin: auto;
}

#valueProposition a {
    font-size: 100%;
    font-weight: bold;
    margin: 1em;
    background-color: rgb(24, 137, 184);
    box-shadow: 0 0 1em rgba(24, 137, 184, .5);

    transition: background-color linear .2s, box-shadow linear .2s;
}

#valueProposition a:hover, #valueProposition a:focus {
    border-color: transparent;
    background-color: rgb(64, 177, 224);
    box-shadow: 0 0 1em rgba(54, 167, 214, .5);
}

@media (orientation: portrait) {
    main {
        background-image: url('../img/homepage/homepage-vertical-1152.png');
    }
}

@media (orientation: portrait) and (min-width: 1153px) {
    main {
        background-image: url('../img/homepage/homepage-vertical-2727.png');
    }
}

@media (min-width: 768px) {
    #valueProposition {
        padding-top: 5em;
        margin-bottom: 1em;
        font-size: 220%;
    }
}

@media (min-width: 1281px) {
    main {
        background-image: url('../img/homepage/homepage-1440.png');
    }
}

@media (min-width: 1441px) {
    main {
        background-image: url('../img/homepage/homepage-1920.png');
    }

    #valueProposition {
        padding-bottom: 5em;
    }

    #valueProposition a {
        margin: 2em;
    }
}

@media (min-width: 1921px) {
    main {
        background-image: url('../img/homepage/homepage-5760.png');
    }
}


.frame-aides-homepage {
    margin-top: 2em;
    padding: 2em;
}

.frame-aides-homepage h2 {
    margin-top: 0;
}

.frame-aides-homepage h3 {
    margin-top: 0;
    font-weight: 600;
}

.frame-aides-homepage .showDetailsButtonBlock {
    margin-top: 1em;
}

#start-row {
    text-align: center;
}
