#valueProposition {
    font-size: 220%;
    text-shadow: 0 0 .2em #000;
    text-align: center;

    color: white;

    background-image: url('../img/homepage/homepage-1280.png');
    background-position: center center;
    background-size: cover;
}

#valueProposition h1 {
    font-size: 180%;
    line-height: 1.4;
    margin-bottom: 0;
}

#valueProposition a {
    font-size: 100%;
    font-weight: bold;
    margin: 1em;
}

@media (orientation: portrait) {
    #valueProposition {
        background-image: url('../img/homepage/homepage-vertical-1152.png');
    }
}

@media (orientation: portrait) and (min-width: 1153px) {
    #valueProposition {
        background-image: url('../img/homepage/homepage-vertical-2727.png');
    }
}

@media (min-width: 768px) {
    #valueProposition {
        padding: 3em;
    }
}

@media (min-width: 1281px) {
    #valueProposition {
        background-image: url('../img/homepage/homepage-1440.png');
    }
}

@media (min-width: 1441px) {
    #valueProposition {
        background-image: url('../img/homepage/homepage-1920.png');
    }
}

@media (min-width: 1921px) {
    #valueProposition {
        background-image: url('../img/homepage/homepage-5760.png');
    }
}


.frame-aides-homepage {
    margin-top: 2em;
    padding: 2em;
}

.frame-aides-homepage h2 {
    margin-top: 0;
}

.frame-aides-homepage h3 {
    margin-top: 0;
    font-weight: 600;
}

.frame-aides-homepage .showDetailsButtonBlock {
    margin-top: 1em;
}

#start-row {
    text-align: center;
}
