$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$brand-color: "red";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.main-navbar .navbar-brand {
  height: 75px;

  &.title {
    padding-top: 28px;
  }

  &.logo {
    padding-top: 3px;
  }
}
