$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';

html {
  overflow-y: scroll;
}

.table-borderless > tbody > tr > td {
  border-top: none;
}

.main-navbar {
  .navbar-brand {
    &.title {
      padding-top: 30px;
      padding-bottom: 45px;
    }

    &.logo {
      padding-top: 3px;
    }
  }

  .navbar-text {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .navbar-nav > li > .navbar-btn {
    margin: 21px 10px 21px 0;
  }
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.label-lg {
  font-size: 20px;
}

.task-error {
  @extend .glyphicon;
  @extend .glyphicon-remove-circle;
  color: $alert-warning-text;
}

.task-ok {
  @extend .glyphicon;
  @extend .glyphicon-ok-circle;
  color: $alert-success-text;
}

.form-foyer {
  .checkbox {
    height: 27px;
  }
}

.icon-lg {
  font-size: 80px;
}

.form-selection-revenus {
  font-size: 20px;

  .btn {
    font-size: 30px;
  }
}

.animate-show {
  opacity: 1;
  transition: opacity linear 1s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.shadow-apparition {
  transition: all .5s linear;
}

.capture-revenus {

  .block-demandeur {
    position: relative;
    z-index: 700;
  }

  .shadow {
    box-shadow: 0 0 30px black;
  }
}

.btn-new-entity {
  border: none;
  padding: 15px;
  border-radius: 0;
}
