html, body {
    height: 100%;
}

body {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header, footer {
    flex: none;
}

.content {
    flex: 1 0 auto;
    width: 100%;
}

.body-front {
    background-color: whitesmoke;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.preformatted {
  font-family: monospace;
}

#chart {
  width: 800px;
  height: 300px;
}

#print-disclaimer {
    display: none;
}

@media print {
    .layout a[href]::after {
        content: '';
    }

    .print-hidden {
        display: none !important;
    }

    #print-disclaimer {
        display: initial;
    }
}

.page-break {
    page-break-before: always;
    page-break-after: always;
}

.next-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next.message {
  padding-right: 15px;
}

.next-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next-button--sticky .next.message {
  padding-left: 0;
}
