@import 'variables';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'theme';

$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

html {
  overflow-y: scroll;
}

.table-borderless > tbody > tr > td {
  border-top: none;
}

.table td.align-middle {
  vertical-align: middle;
}

.main-navbar {
  .navbar-brand {
    &.title {
      padding-top: 30px;
      padding-bottom: 45px;
    }

    &.logo {
      padding-top: 3px;
      padding-bottom: 72px;
    }

    &.logo, &.logo:hover {
      background-color: white;
    }
  }

  .navbar-text {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .navbar-nav > li > .navbar-btn {
    margin: 21px 10px 21px 0;
  }
}

.main-footer {
  margin-top: 20px;
  background-color: $navbar-default-bg;
  color: $navbar-default-color;

  .info {
    padding-top: 35px;
    padding-bottom: 45px;
  }
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.label-lg {
  font-size: 20px;
}

.task-error {
  @extend .glyphicon;
  @extend .glyphicon-remove-circle;
  color: $alert-warning-text;
}

.task-ok {
  @extend .glyphicon;
  @extend .glyphicon-ok-circle;
  color: $alert-success-text;
}

.form-foyer {
  .checkbox {
    height: 27px;
  }
}

.icon-lg {
  font-size: 80px;
}

.form-selection-revenus {
  font-size: 20px;

  .btn {
    font-size: 30px;
  }
}

.animate-show {
  opacity: 1;
  transition: opacity linear 1s;
}

.animate-show.ng-hide {
  opacity: 0;
}

.btn-new-entity {
  border: none;
  padding: 15px;
  border-radius: 0;
}

.capture-indemnites {
  @include button-variant(white, #f07818, #f07818);
}

.capture-pensions {
  @include button-variant(white, #5e412f, #5e412f);
}

.capture-allocations {
  @include button-variant(white, #78c0a8, #78c0a8);
}

.capture-revenusActivite {
  @include button-variant(white, #395668, #395668);
}

.btn-ressources, .btn-ressources:hover, .btn-ressources:focus {
  border: 4px solid white;
  margin: 3px;
}

.btn.btn-sm.btn-ressources.active, .btn.btn-sm.btn-ressources.active:focus {
  border: 4px solid black;
}

.row-situations-specifiques {
  margin-bottom: 5px;
}

.ressources-selection .checkbox-inline.ressources-selection-individu {
  padding-top: 0;
  margin-left: 15px;
}
