.recap-situation h3 {
    margin-top: 0;
}

.recap-situation h4:not(.panel-title) {
    margin-top: 1em;
}

.ressources-accordion .panel {
    font-size: 85%;
}

.ressources-accordion .panel-heading {
    padding: 0.5em 0.8em;
}

.ressources-accordion .panel-title {
    font-size: 120%;
}

.ressources-accordion .panel-body {
    padding: 0.8em;
}

.ressources-accordion hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.ressources-recap {
    border-style: solid;
    border-width: 0.7em;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

.ressources-recap.indemnites {
    border-color: #AC6C82;
}

.ressources-recap.pensions {
    border-color: #685C79;
}

.ressources-recap.allocations {
    border-color: #DA727E;
}

.ressources-recap.revenusActivite {
    border-color: #FFBC67;
}

.ressources-recap.autre {
    border-color: #39747B;
}

.ressources-recap.rpns {
    border-color: #8366d4;
}

.ressources-recap.patrimoine {
    border-color: #455C7B;
}

.ressources-value {
    text-align: right;
}

#recap-id {
    display: none;
}

@media print {
    #recap-id {
        display: initial;
    }

    .pull-right {
        display: none;
    }
}

.recap-situation {
    page-break-before: always;
    page-break-inside: avoid;
}
