.button-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.25em;
    margin-right: -.25em;
}

.button-grid label {
    width: calc(33.33% - .5em);
    margin: .25em;
    padding: .25em;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .button-grid {
        flex-direction: column;
    }

    .button-grid label {
        width: 100%;
    }
}
