.button-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.25em;
    margin-right: -.25em;
}

.button-grid label {
    width: calc(33.33% - .5em);
    margin: .25em;
    padding: 8px 16px;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group {
    width: calc(40%);
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    .button-grid label {
        width: 100%;
    }
    .btn-group {
        width: 100%;
    }
}

.resourceTypeLabel.ng-move,
.resourceTypeLabel.ng-enter,
.resourceTypeLabel.ng-leave {
  transition:all linear 0.4s;
}


.resourceTypeLabel.ng-leave.ng-leave-active,
.resourceTypeLabel.ng-move,
.resourceTypeLabel.ng-enter {
  opacity: 0;
  max-height: 0;
}

.resourceTypeLabel.ng-leave,
.resourceTypeLabel.ng-move.ng-move-active,
.resourceTypeLabel.ng-enter.ng-enter-active
 {
  opacity:1;
  max-height: 50px;
}

#search-clear {
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    height: 1em;
    margin: auto;
    cursor: pointer;
    color: #ccc;
}
