.button-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -.25em;
    margin-right: -.25em;
}

.button-grid label {
    width: calc(33.33% - .5em);
    margin: .25em;
    padding: .25em;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group {
    width: calc(40%);
    margin-bottom: 1em;
}

@media (max-width: 768px) {
    .button-grid label {
        width: 100%;
    }
    .btn-group {
        width: 100%;
    }
}

#search-clear {
    position: absolute;
    right: 1em;
    top: 0;
    bottom: 0;
    height: 1em;
    margin: auto;
    cursor: pointer;
    color: #ccc;
}

#count-ressources {
    margin-right: 1em;
}