<div class="container">
  <div class="page-header">
    <h1><i class="fa fa-file-text-o"></i> Informations complémentaires nominatives</h1>
  </div>

  <p>
    Saisissez vos informations personnelles pour imprimer en un clic tous les formulaires Cerfa et engager vos démarches.
    <br><strong>Nous ne conserverons aucune de vos données personnelles.</strong>
    <br>Aucun des champs n'est obligatoire, mais il vous faudra compléter à la main les champs que vous ne remplissez pas ici.
  </p>

  <ui-view></ui-view>
</div>
