<div ng-include="'/partials/form-infos-complementaires/header.html'"></div>

<form name="form" class="form-horizontal" novalidate ng-submit="submit()" ng-if="!capturedIndividus">
  <div class="row">
    <div class="col-sm-6">
      <h2><i class="fa" ng-class="{'fa-male': 'h' === situation.demandeur.civilite, 'fa-female': 'f' === situation.demandeur.civilite}"></i> Vous</h2>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="civilite-demandeur">Sexe</label>
        <div class="col-sm-4">
          <select id="civilite-demandeur" name="civiliteDemandeur" class="form-control" ng-model="situation.demandeur.civilite">
            <option value="h">Homme</option>
            <option value="f">Femme</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="prenom-demandeur">Prénom</label>
        <div class="col-sm-8">
          <input type="text" name="prenomDemandeur" id="prenom-demandeur" class="form-control" ng-model="situation.demandeur.firstName">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="nom-demandeur">Nom de famille</label>
        <div class="col-sm-8">
          <input type="text" name="nomDemandeur" id="nom-demandeur" class="form-control" ng-model="situation.demandeur.lastName">
          <span class="help-block">De naissance</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="nom-usage-demandeur">Nom d'usage</label>
        <div class="col-sm-8">
          <input type="text" id="nom-usage-demandeur" class="form-control" ng-model="situation.demandeur.nomUsage">
          <span class="help-block">S'il y a lieu, laisser vide sinon</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="nir-demandeur">Numéro de sécurité sociale</label>
        <div class="col-sm-8">
          <input type="text" name="nirDemandeur" id="nir-demandeur" class="form-control" ng-model="situation.demandeur.nir">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="pays-naissance-demandeur">Pays de naissance</label>
        <div class="col-sm-3">
          <select id="pays-naissance-demandeur" class="form-control" ng-model="situation.demandeur.choicePaysNaissance" ng-change="choicePaysNaissance(situation.demandeur)">
            <option value="france">France</option>
            <option value="autre">Autre</option>
          </select>
        </div>
        <div class="col-sm-5" ng-if="'autre' === situation.demandeur.choicePaysNaissance">
          <input type="text"class="form-control" ng-model="situation.demandeur.paysNaissance" placeholder="Nom du pays">
        </div>
      </div>
      <div class="form-group" ng-if="'france' === situation.demandeur.choicePaysNaissance">
        <label class="col-sm-4 control-label" for="ville-naissance-demandeur">Ville de naissance</label>
        <div class="col-sm-4">
          <input type="text" id="ville-naissance-demandeur" class="form-control" ng-model="situation.demandeur.villeNaissance">
        </div>
        <label class="col-sm-2 control-label" for="departement-naissance-demandeur">Département</label>
        <div class="col-sm-2">
          <input type="number" id="departement-naissance-demandeur" class="form-control" ng-model="situation.demandeur.departementNaissance">
        </div>
      </div>
    </div>

    <div class="col-sm-6" ng-if="situation.conjoint">
      <h2><i class="fa" ng-class="{'fa-male': 'h' === situation.conjoint.civilite, 'fa-female': 'f' === situation.conjoint.civilite}"></i> Votre conjoint</h2>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="civilite-conjoint">Sexe</label>
        <div class="col-sm-4">
          <select id="civilite-conjoint" class="form-control" ng-model="situation.conjoint.civilite">
            <option value="h">Homme</option>
            <option value="f">Femme</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="prenom-conjoint">Prénom</label>
        <div class="col-sm-8">
          <input type="text" name="prenomConjoint" id="prenom-conjoint" class="form-control" ng-model="situation.conjoint.firstName">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="nom-conjoint">Nom de famille</span></label>
        <div class="col-sm-8">
          <input type="text" name="nomConjoint" id="nom-conjoint" class="form-control" ng-model="situation.conjoint.lastName">
          <span class="help-block">De naissance</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="nom-usage-conjoint">Nom d'usage</label>
        <div class="col-sm-8">
          <input type="text" id="nom-usage-conjoint" class="form-control" ng-model="situation.conjoint.nomUsage">
          <span class="help-block">S'il y a lieu, laisser vide sinon</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="nir-conjoint">Numéro de sécurité sociale</label>
        <div class="col-sm-8">
          <input type="text" name="nirConjoint" id="nir-conjoint" class="form-control" ng-model="situation.conjoint.nir">
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="pays-naissance-conjoint">Pays de naissance</label>
        <div class="col-sm-3">
          <select id="pays-naissance-conjoint" class="form-control" ng-model="situation.conjoint.choicePaysNaissance" ng-change="choicePaysNaissance(situation.conjoint)">
            <option value="france">France</option>
            <option value="autre">Autre</option>
          </select>
        </div>
        <div class="col-sm-5" ng-if="'autre' === situation.conjoint.choicePaysNaissance">
          <input type="text"class="form-control" ng-model="situation.conjoint.paysNaissance" placeholder="Nom du pays">
        </div>
      </div>
      <div class="form-group" ng-if="'france' === situation.conjoint.choicePaysNaissance">
        <label class="col-sm-4 control-label" for="ville-naissance-conjoint">Ville de naissance</label>
        <div class="col-sm-4">
          <input type="text" id="ville-naissance-conjoint" class="form-control" ng-model="situation.conjoint.villeNaissance">
        </div>
        <label class="col-sm-2 control-label" for="departement-naissance-conjoint">Département</label>
        <div class="col-sm-2">
          <input type="number" id="departement-naissance-conjoint" class="form-control" ng-model="situation.conjoint.departementNaissance">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6" ng-repeat="enfant in individus">
      <ng-form name="individuForm">
        <h2><i class="fa fa-child"></i> {{ enfant.firstName|uppercaseFirst }}</h2>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="civilite-enfant{{ $index }}">Sexe</label>
          <div class="col-sm-4">
            <select id="civilite-enfant{{ $index }}" class="form-control" ng-model="enfant.civilite">
              <option value="h">Homme</option>
              <option value="f">Femme</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="prenom-enfant{{ $index }}">Prénom</label>
          <div class="col-sm-8">
            <input type="text" name="prenomEnfant" id="prenom-enfant{{ $index }}" class="form-control" ng-model="enfant.firstName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="nom-enfant{{ $index }}">Nom</span></label>
          <div class="col-sm-8">
            <input type="text" name="nomEnfant" id="nom-enfant{{ $index }}" class="form-control" ng-model="enfant.lastName">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="nir-enfant{{ $index }}">Numéro de sécurité sociale</label>
          <div class="col-sm-8">
            <input type="text" name="nirEnfant" id="nir-enfant{{ $index }}" class="form-control" ng-model="enfant.nir">
          </div>
        </div>
      </ng-form>
    </div>
  </div>

  <div class="alert alert-danger" ng-if="error">
    Le formulaire comporte des erreurs, merci de les corriger.
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-lg">Valider</button>
  </div>
</form>
