<div ng-include="'/partials/form-infos-complementaires/header.html'"></div>

<form name="form" class="form-horizontal" novalidate ng-submit="submit()">
  <h2>Votre situation professionnelle</h2>

  <div class="row">
    <div class="col-md-6" ng-repeat="individuRef in individusRef">
      <h3>{{ individuRef.label }}</h3>

      <div class="form-group">
        <label class="col-sm-3 control-label">Situation(s)</label>
        <div class="col-sm-9">
          <div ng-repeat="situationPro in individuRef.situationsPro">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="situationPro.selected">
                {{ situationPro.label }}
              </label>
            </div>

            <div ng-if="situationPro.selected">
              <div class="form-group">
                <label class="col-sm-5 control-label" for="date-situation-{{ individuRef.id }}-{{ situationPro.situation }}">Depuis quand ?</label>
                <div class="col-sm-7">
                  <input type="text" id="date-situation-{{ individuRef.id }}-{{ situationPro.situation }}" class="form-control" ng-model="situationPro.since" date-autocomplete placeholder="jj/mm/aaaa">
                </div>
              </div>

              <div class="form-group" ng-if="'sans_activite' === situationPro.situation">
                <label class="col-sm-5 control-label">Activité cessée volontairement ?</label>
                <div class="col-sm-7">
                  <button type="button" class="btn btn-sm btn-primary" ng-model="situationPro.volontairementSansActivite" btn-radio="true">Oui</button>
                  <button type="button" class="btn btn-sm btn-primary" ng-model="situationPro.volontairementSansActivite" btn-radio="false">Non</button>
                </div>
              </div>

              <div class="form-group" ng-if="'salarie' === situationPro.situation">
                <label class="col-sm-5 control-label" for="type-contrat-salarie-{{ individuRef.id }}">Type de contrat</label>
                <div class="col-sm-7">
                  <select class="form-control" ng-model="situationPro.contractType" id="type-contrat-salarie-{{ individuRef.id }}">
                    <option value=""></option>
                    <option value="cdi">CDI</option>
                    <option value="cdd">CDD</option>
                    <option value="interim">Intérim</option>
                  </select>
                </div>
              </div>

              <div class="form-group" ng-if="'stagiaire' === situationPro.situation">
                <label class="col-sm-5 control-label">Stage rémunéré ?</label>
                <div class="col-sm-7">
                  <button type="button" class="btn btn-sm btn-primary" ng-model="situationPro.isRemunere" btn-radio="true">Oui</button>
                  <button type="button" class="btn btn-sm btn-primary" ng-model="situationPro.isRemunere" btn-radio="false">Non</button>
                </div>
              </div>

              <div class="form-group" ng-if="'gerant_salarie' === situationPro.situation">
                <label class="col-sm-5 control-label" for="gerant-salarie-affiliation-{{ individuRef.id }}">Où êtes-vous/est-il affilié ?</label>
                <div class="col-sm-7">
                  <input type="text" id="gerant-salarie-affiliation-{{ individuRef.id }}" class="form-control" ng-model="situationPro.gerantSalarieAffiliation">
                </div>
              </div>

              <div ng-if="'demandeur_emploi' === situationPro.situation">
                <div class="form-group">
                  <label class="col-sm-5 control-label">Chômeur indemnisé ?</label>
                  <div class="col-sm-7">
                    <button type="button" class="btn btn-sm btn-primary" ng-model="situationPro.isIndemnise" btn-radio="true">Oui</button>
                    <button type="button" class="btn btn-sm btn-primary" ng-model="situationPro.isIndemnise" btn-radio="false">Non</button>
                  </div>
                </div>

                <div class="form-group" ng-if="true === situationPro.isIndemnise">
                  <label class="col-sm-5 control-label" for="date-chomeur-indemnise-{{ individuRef.id }}">Depuis quand ?</label>
                  <div class="col-sm-7">
                    <input type="text" id="date-chomeur-indemnise-{{ individuRef.id }}" class="form-control" ng-model="situationPro.indemniseSince" date-autocomplete placeholder="jj/mm/aaaa">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" ng-if="error">
    Le formulaire comporte des erreurs, merci de les corriger.
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-lg btn-primary">Valider</button>
  </div>
</form>
