<div class="frame-foyer">
    <h1>Les ressources de vos enfants</h1>
    <form method="post" name="form" class="form-horizontal" novalidate ng-submit="submit()">
      <yes-no-question model="enfant.hasRessources" size="6" ng-repeat="enfant in enfants">
        <question>
          {{ escape(enfant.firstName) }} a-t-il·elle perçu des ressources <strong>depuis {{ debutAnneeGlissante }}</strong> ?
        </question>
      </yes-no-question>

      <div class="text-right">
        <button type="submit" class="btn btn-primary">Valider <i class="fa fa-arrow-circle-right" aria-hidden="true" role="presentation"></i></button>
      </div>
    </form>
</div>
