<div class="frame-foyer">
  <h1>{{ pageTitle }}</h1>
  <p>
    Indiquez toutes les ressources <strong>nettes versées</strong> perçues en France comme à l'étranger.
  </p>
  <form class="form-horizontal" method="post" name="form" novalidate ng-submit="submit(form)">
    <div class="ressources-individu">
      <div class="clearfix"></div>
      <div class="content">
        <div>
          <div ng-include="'/partials/foyer/ressources/detail-montants.html'"></div>
        </div>
      </div>
      <hr>
    </div>
    <navigation-bar>
      <message>
        <a title="Déclarer d'autres ressources" ui-sref="foyer.ressources.individu.types" class="btn btn-default">
          <i class="fa fa-sm fa-arrow-left" aria-hidden="true" role="presentation"></i>
          Déclarer d'autres ressources
        </a>
      </message>
    </navigation-bar>
  </form>
</div>
