<div ng-repeat="ressource in individuVM.ressources | filter: isRessourceNonTns">
  <montant-ressource
    ng-model="ressource"
    short-label="individuVM.label"
    ressource-type="ressource.type"
    date-de-valeur="situation.dateDeValeur">
  </montant-ressource>
</div>

<div ng-repeat="ressource in individuVM.ressources | filter: isRessourceMicroTns">
  <div class="ressource-montant-tns">
    <div class="title-montant">
       <h3><small>{{ individuVM.label }}</small>{{ ressource.type.label }}</h3>
    </div>
    <div class="content-montant">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="type-structure-individu-{{ individuIndex }}">Type de structure</label>
            <select class="form-control" id="type-structure-individu-{{ individuIndex }}" ng-model="ressource.tnsStructureType">
              <option value="auto_entrepreneur">Auto-entrepreneur</option>
              <option value="micro_entreprise">Micro-entreprise</option>
            </select>
          </div>
        </div>

        <div class="col-sm-5">
          <div class="form-group">
            <label for="type-activite-individu-{{ individuIndex }}">Type d'activité</label>
            <select class="form-control" id="type-activite-individu-{{ individuIndex }}" ng-model="ressource.tnsActiviteType">
              <option value="achat_revente">Achat/revente ou fourniture de logement</option>
              <option value="bic">Activité commerciale ou artisanale (BIC)</option>
              <option value="bnc">Activité libérale et/ou intellectuelle (BNC)</option>
            </select>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label for="ca-individu-{{ individuIndex }}">Chiffre d’affaires {{ yearMoinsUn }}</label>
            <span class="input-group">
              <input
                type="number"
                id="ca-individu-{{ individuIndex }}"
                class="form-control text-right"
                required
                min="0"
                select-on-focus
                zero-to-empty
                ng-model="ressource.montantAnnuel">
              <span class="input-group-addon">€</span>
            </span>
            <span class="text-danger" ng-if="form.submitted && montantInvalide(ressource.montantAnnuel)">
              Montant invalide
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-repeat="ressource in individuVM.ressources | filter: isRessourceOtherTns">
  <div class="ressource-montant-tns">
    <div class="title-montant">
       <h3><small>{{ individuVM.label }}</small>{{ ressource.type.label }}</h3>
    </div>
    <div class="content-montant">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label
              for="revenus-exercice-individu-{{ individuIndex }}">
              Revenus sur le dernier exercice clos
            </label>
            <span class="input-group">
              <input
                type="number"
                id="revenus-exercice-individu-{{ individuIndex }}"
                class="form-control text-right"
                required
                min="0"
                select-on-focus
                zero-to-empty
                ng-model="ressource.montantAnnuel">
              <span class="input-group-addon">€</span>
            </span>
            <span class="help-block text-danger" ng-if="form.submitted && montantInvalide(ressource.montantAnnuel)">
              Montant invalide
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
