<div ng-repeat="ressource in individuVM.ressources">
  <div ng-if="ressource.type.category !== 'tns'">
    <montant-ressource
      ng-model="ressource"
      short-label="individuVM.label"
      ressource-type="ressource.type"
      index="individuIndex"
      date-de-valeur="situation.dateDeValeur">
    </montant-ressource>
  </div>

  <div class="panel panel-montant tns"
    ng-if="ressource.type.category === 'tns' && ressource.type.id === 'caAutoEntrepreneur'">
    <div class="panel-heading">
       <h3 class="panel-title"><span class="short-label">{{ individuVM.label }}</span> {{ ressourceTypes[ressource.type.id].label }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="type-activite-individu-{{ individuIndex }}">Type d'activité</label>
            <select class="form-control" id="type-activite-individu-{{ individuIndex }}" ng-model="ressource.tnsActiviteType">
              <option value="achat_revente">Achat/revente ou fourniture de logement</option>
              <option value="bic">Activité commerciale ou artisanale (BIC)</option>
              <option value="bnc">Activité libérale et/ou intellectuelle (BNC)</option>
            </select>
          </div>
        </div>

        <div class="col-sm-7">
          <div class="form-group">
            <label for="ca-individu-{{ individuIndex }}">Chiffre d’affaires {{ yearMoinsUn }}</label>
            <span class="input-group">
              <input
                type="number"
                id="ca-individu-{{ individuIndex }}"
                class="form-control text-right"
                required
                min="0"
                select-on-focus
                zero-to-empty
                ng-model="ressource.montantAnnuel">
              <span class="input-group-addon">€</span>
            </span>
            <span class="text-danger" ng-if="form.submitted && montantInvalide(ressource.montantAnnuel)">
              Montant invalide
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" ng-repeat="month in months">
          <label for="{{ index + ressource.type.id + month.id }}">
            <abbr title="Chiffre d'affaires">CA</abbr> {{ month.label|uppercaseFirst }}
          </label>
          <span class="input-group">
            <input
              type="number"
              class="form-control text-right"
              id="{{ index + ressource.type.id + month.id }}"
              required
              min="0"
              select-on-focus
              zero-to-empty
              ng-model="ressource.montantsMensuels[$index]"
              ng-change="updateMontantAnnuel(ressource)">
            <span class="input-group-addon">€</span>
          </span>
          <span class="text-danger" ng-if="form.submitted && montantInvalide(ressource.montantsMensuels[$index])">
            Montant invalide
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              ng-model="ressource.employes">
              Vous avez des employés
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-montant tns"
    ng-if="ressource.type.category === 'tns' && ressource.type.id === 'caMicroEntreprise'">
    <div class="panel-heading">
       <h3 class="panel-title"><span class="short-label">{{ individuVM.label }}</span> {{ ressourceTypes[ressource.type.id].label }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <div class="form-group">
            <label for="type-activite-individu-{{ individuIndex }}">Type d'activité</label>
            <select class="form-control" id="type-activite-individu-{{ individuIndex }}" ng-model="ressource.tnsActiviteType">
              <option value="achat_revente">Achat/revente ou fourniture de logement</option>
              <option value="bic">Activité commerciale ou artisanale (BIC)</option>
              <option value="bnc">Activité libérale et/ou intellectuelle (BNC)</option>
            </select>
          </div>
        </div>

        <div class="col-sm-7">
          <div class="form-group">
            <label for="ca-individu-{{ individuIndex }}">Chiffre d’affaires {{ yearMoinsUn }}</label>
            <span class="input-group">
              <input
                type="number"
                id="ca-individu-{{ individuIndex }}"
                class="form-control text-right"
                required
                min="0"
                select-on-focus
                zero-to-empty
                ng-model="ressource.montantAnnuel">
              <span class="input-group-addon">€</span>
            </span>
            <span class="text-danger" ng-if="form.submitted && montantInvalide(ressource.montantAnnuel)">
              Montant invalide
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-montant tns"
   ng-if="ressource.type.id === 'autresRevenusTns' || ressource.type.id === 'revenusAgricoles'">
    <div class="panel-heading">
       <h3 class="panel-title"><span class="short-label">{{ individuVM.label }}</span> {{ ressourceTypes[ressource.type.id].label }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label
              for="revenus-exercice-individu-{{ individuIndex }}">
              Revenus sur le dernier exercice clos
            </label>
            <span class="input-group">
              <input
                type="number"
                id="revenus-exercice-individu-{{ individuIndex }}"
                class="form-control text-right"
                required
                min="0"
                select-on-focus
                zero-to-empty
                ng-model="ressource.montantAnnuel">
              <span class="input-group-addon">€</span>
            </span>
            <span class="help-block text-danger" ng-if="form.submitted && montantInvalide(ressource.montantAnnuel)">
              Montant invalide
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              ng-model="ressource.employes">
              Vous avez des employés
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
