<div class="frame-foyer">
  <h1>{{ pageTitle }}</h1>
  <legend>
    Sélectionnez les types de ressources perçues <strong>depuis {{ debutAnneeGlissante }}</strong>,
    vous pourrez ensuite saisir les montants.
  </legend>
  <div class="btn-group">
    <input type="search"
      autocomplete="off"
      ng-hide="hideSearch"
      ng-model="searchString"
      ng-change="updateSearchedRessources()"
      ng-model-options="{ debounce: 200 }"
      class="form-control"
      placeholder="Rechercher vos ressources"
      id="search-input">
    <span id="search-clear" class="fa fa-times" ng-click="searchString=''; updateSearchedRessources()" ng-show="searchString.length > 0"></span>
  </div>
  <form method="post" name="form" novalidate ng-submit="submit()">
    <fieldset>
      <span ng-show="zeroMatches">Nous n'avons trouvé aucune ressource pour cette recherche.</span>
      <uib-accordion close-others="false">
        <div uib-accordion-group
          class="capture-{{ category.id }}"
          ng-repeat="category in ressourceCategories | orderBy: 'score' track by category.id"
          is-open="category.isOpen"
          ng-show="ressourceTypesByCategories[category.id].length > 0"
          ng-init="category.isOpen = shouldInitiallyOpen(category)">
          <uib-accordion-heading>
            <span class="panel-title-ressource-category">
              <span>
                <span class="panel-title-ressource-category-name">{{ category.label }}</span>
              </span>
              <i class="fa"
                aria-hidden="true"
                role="presentation"
                ng-class="{'fa-chevron-down': category.isOpen, 'fa-chevron-right': !category.isOpen}">
              </i>
            </span>
          </uib-accordion-heading>
          <div class="button-grid">
            <label ng-repeat="ressourceType in ressourceTypesByCategories[category.id] | orderBy:['score', 'positionInList','label'] track by ressourceType.id"
              ng-animate  
              class="resourceTypeLabel btn btn-default"
              ng-class="{ active: selectedRessourceTypes[ressourceType.id] }"
              >
              <input type="checkbox"
                ng-model="selectedRessourceTypes[ressourceType.id]"
                class="sr-only"
                />
                {{ ressourceType.label }}
            </label>
          </div>
        </div>
      </uib-accordion>
      <next-button>
        <message><i class="fa fa-check"></i> {{selectedRessourceTypesCountLabel()}}</message>
      </next-button>
    </fieldset>
  </form>
</div>
