<div class="frame-foyer">
  <h1>{{ pageTitle }}</h1>
  <form method="post" name="form" novalidate ng-submit="submit()">
    <fieldset>
      <legend>
        Sélectionnez les types de ressources perçues <strong>depuis {{ debutAnneeGlissante }}</strong>,
        vous pourrez ensuite saisir les montants.
      </legend>
      <input type="text" 
        ng-hide="hideSearch"
        ng-model="searchString"
        ng-model-options="{ debounce: 200 }"
        class="form-control search-input"
        placeholder="Rechercher parmi les types de ressources">
      <uib-accordion close-others="false">
        <div uib-accordion-group
          class="capture-{{ category.id }}"
          ng-repeat="category in ressourceCategories"
          is-open="category.isOpen"
          ng-init="status.open = shouldInitiallyOpen(category)">
          <uib-accordion-heading>
            <span class="panel-title-ressource-category">
              <span>
                <span class="panel-title-ressource-category-name">{{ category.label }}</span>
                <span ng-hide="hideHelp" class="panel-title-ressource-category-help">{{ category.help }}</span>
              </span>
              <i class="fa"
                aria-hidden="true"
                role="presentation"
                ng-class="{'fa-chevron-down': category.isOpen, 'fa-chevron-right': !category.isOpen}">
              </i>
            </span>
          </uib-accordion-heading>
          <div class="button-grid">
            <label ng-repeat="ressourceType in ressourceTypesByCategories[category.id]| orderBy:['positionInList','label']"
              class="btn btn-sm btn-default"
              ng-class="{ active: selectedRessourceTypes[ressourceType.id] }"
              >
              <input type="checkbox"
                ng-model="selectedRessourceTypes[ressourceType.id]"
                class="sr-only"
                />
                {{ ressourceType.label }}
            </label>
          </div>
        </div>
      </uib-accordion>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">
          Valider <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </button>
      </div>
    </fieldset>
  </form>
</div>
