<div class="frame-foyer">
  <h1>Les revenus imposables de votre foyer en {{ yearMoins2 }}</h1>
  <p>
    Ces informations se trouvent sur votre avis d'imposition {{ yearMoins1 }} sur les revenus {{ yearMoins2 }}.
    <br>Vous pouvez le retrouver en ligne sur <a target="_blank" rel="noopener" href="http://www.impots.gouv.fr/">impots.gouv.fr</a>.
  </p>
  <form class="form-horizontal" novalidate name="form" ng-submit="submit(form)">
    <div class="row">
      <div class="col-md-12"
        ng-init="individuIndex = $index"
        ng-repeat="individuRef in individuRefsToDisplay"
        >
        <h2>{{ individuRef.label }}</h2>
        <div
          class="form-group"
          ng-repeat="rnc in individuRef.rnc"
          ng-init="inputName = rnc.id +  '-' + individuIndex"
          ng-class="{ 'has-error': form.$submitted && form[inputName].$invalid }"
          >
          <label class="control-label col-sm-3" for="{{ inputName }}">
            {{ rnc.label }}
          </label>
          <div class="col-sm-3">
            <span class="input-group">
              <input
                type="number"
                id="{{ inputName }}"
                name="{{ inputName }}"
                class="form-control text-right"
                ng-model="individuRef.individu[rnc.id][yearMoins2]"
                min="0"
                select-on-focus
                aria-describedby="help-{{ inputName }}">
              <span class="input-group-addon hidden-xs">€</span>
            </span>
            <ul class="help-block text-danger" ng-show="form.$submitted && form[inputName].$invalid">
              <li>
                Montant invalide
              </li>
            </ul>
          </div>
          <div class="col-sm-6">
            <p class="help-block" id="help-{{ inputName }}" ng-show="{{ getDefaultValue(individuRef, rnc) }}">
              Ce montant vaut {{ getDefaultValue(individuRef, rnc) | currency }} pour les 12 derniers mois.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-12" ng-repeat="individuRef in individuRefsToHide">
        <br/>
        <button type="button" class="btn btn-sm btn-success col-md-6" ng-click="display(individuRef)">
          Déclarer des ressources pour {{ individuRef.label }}
        </button>
      </div>
    </div>

    <navigation-bar>
      <message class="text-danger" ng-if="form.$submitted && form.$invalid">
        Un des montants indiqués est invalide
      </message>
    </navigation-bar>
  </form>
</div>
