<form name="form" novalidate ng-submit="submit()">
  <div class="modal-header">
    <h1 class="modal-title">Vos ressources</h1>
  </div>
  <div class="modal-body">
    <div ng-show="!ressourcesSelected">
      <p>Cliquez sur les types de ressources que vous percevez.</p>
      <span ng-repeat="section in sections">
        <button
          type="button"
          class="btn btn-sm btn-selection btn-ressources"
          ng-class="'capture-' + section.name"
          ng-repeat="subsection in section.subsections"
          btn-checkbox
          ng-model="selectedRessources[subsection.name]">
          {{ subsection.label }}
        </button>
      </span>
    </div>

    <div ng-show="ressourcesSelected && !personnesSelected">
      <p>Veuillez sélectionner les personnes qui touchent les ressources que vous avez sélectionnées.</p>
      <div ng-repeat="subsection in orderedSubsections" ng-if="selectedRessources[subsection.name]">
        <button
          type="button"
          disabled
          class="btn btn-sm btn-selection btn-ressources"
          ng-class="'capture-' + subsection.section.name">
          {{ subsection.label }}
        </button>
        <b>Qui ?</b>
        <button
          type="button"
          class="btn btn-selection btn-selection-personne"
          ng-repeat="individuRef in individuRefs"
          btn-checkbox
          ng-model="individuRef.selectedRessources[subsection.name]">
          <i class="fa fa-male"></i>
          {{ individuRef.label }}
        </button>
      </div>
    </div>

    <div ng-show="personnesSelected">
      <p>Veuillez entrer les montants des ressources sélectionné(e)s.</p>
      <div ng-repeat="individuRef in individuRefs" ng-if="hasIndividuRessources(individuRef)">
        <h2>{{ individuRef.label }}</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 200px;"></th>
              <th ng-repeat="month in months">{{ month.label | uppercaseFirst }}</th>
              <th>De {{ lastYear }} à {{ lastMonth }}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ressource in individuRef.ressources" class="capture-{{ ressource.type.section.name }}">
              <td style="width: 200px; vertical-align: middle; color: white;">{{ ressource.type.label }}</td>
              <td ng-repeat="monthRessource in ressource.months">
                <span class="input-group">
                  <input type="number" class="form-control text-right" select-on-focus ng-model="monthRessource.montant">
                  <span class="input-group-addon hidden-xs">€</span>
                </span>
              </td>
              <td>
                <span class="input-group">
                  <input type="number" class="form-control text-right" select-on-focus ng-model="ressource.year.montant">
                  <span class="input-group-addon hidden-xs">€</span>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-show="ressourcesSelected || personnesSelected" ng-click="previousStep()">
      &lt; Étape précédente
    </button>
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>
