<form name="form" class="form-horizontal" novalidate>
  <div class="modal-header">
    <h3 class="modal-title">{{ modalTitle }}</h3>
  </div>
  <div class="modal-body">
    <div ng-repeat="section in sections" class="well {{ section.name }}">
      <button class="btn btn-lg btn-primary btn-checkbox" btn-checkbox ng-model="selectedSubsections[subsection.name]" ng-repeat="subsection in section.subsections">{{ subsection.label }}</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-lg btn-primary">Valider</button>
  </div>
</form>
