<form name="form" class="form-horizontal" novalidate ng-submit="submit()">
  <div class="modal-header">
    <h1 class="modal-title">Patrimoine</h1>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label class="control-label col-sm-6" for="valeur-patrimoine-mobilier">Combien d'argent avez-vous de côté ?</label>
      <div class="col-sm-6">
        <select class="form-control" id="valeur-patrimoine-mobilier" ng-options="option.value as option.label for option in patrimoineMobilierOptions" ng-model="situation.patrimoine.mobilier">
        </select>
        <p class="help-block">Comptes courants, livrets, assurance vie, titres...</p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-6">Possédez-vous des biens immobiliers ?</label>
      <div class="col-sm-6" ng-init="situation.patrimoine.hasImmobilier = false">
        <button type="button" class="btn btn-sm btn-primary" btn-radio="true" ng-model="situation.patrimoine.hasImmobilier">Oui</button>
        <button type="button" class="btn btn-sm btn-primary" btn-radio="false" ng-model="situation.patrimoine.hasImmobilier">Non</button>
        <p class="help-block">En plus de votre résidence principale</p>
      </div>
    </div>
    <div class="form-group" ng-if="situation.patrimoine.hasImmobilier">
      <label class="control-label col-sm-6" for="valeur-patrimoine-immobilier">Quelle est leur valeur ?</label>
      <div class="col-sm-6">
        <select class="form-control" id="valeur-patrimoine-immobilier" ng-model="situation.patrimoine.immobilier" ng-options="option.value as option.label for option in patrimoineImmobilierOptions">
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>
