<h3 class="text-center">Vivez-vous seul(e) ou en couple ?</h3>

<div class="row">
  <div class="col-md-4 col-md-offset-2 col-xs-6">
    <button
      class="btn btn-primary btn-block"
      btn-radio="false"
      ng-model="vitEnCouple"
      ng-click="$emit('individu.conjoint', null)">Je vis seul</button>
  </div>
  <div class="col-md-4 col-xs-6">
    <button
      class="btn btn-primary btn-block"
      btn-radio="true"
      ng-model="vitEnCouple">Je vis en couple</button>
  </div>
</div>

<div ng-if="vitEnCouple">
  <div class="page-header">
    <h1>Votre conjoint</h1>
  </div>
  <div ui-view="individuForm"></div>
</div>
