<div class="col-md-2">
  <div class="hidden-sm hidden-xs" style="padding-top: 40px;"></div>
  <p class="text-center" ng-if="situation.conjoint"><strong>{{ relationTypeLabels[situation.conjoint.relationType] }}</strong> avec
</div>

<div class="col-md-5 animate-show" ng-show="visible">
  <div class="panel panel-default" style="min-height: 150px;">
    <div class="panel-heading">
      <h2 class="panel-title">{{ situation.conjoint ? 'Votre conjoint' : 'Votre situation familiale' }}</h2>
    </div>
    <div class="panel-body">
      <div ng-show="undefined === situation.livesAlone" class="text-center">
        <label>Vivez-vous seul(e) ou en couple ?</label>
        <button class="btn btn-sm btn-primary" ng-model="situation.livesAlone" btn-radio="true" ng-click="livesAlone()">Seul</button>
        <button class="btn btn-sm btn-primary" ng-model="situation.livesAlone" btn-radio="false" ng-click="$state.go('foyer.conjoint_modal')">En couple</button>
      </div>
      <div ng-if="situation.livesAlone">
        <p class="text-center">Vous vivez seul(e).</p>
      </div>
      <div ng-if="situation.conjoint">
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-xs-3">
            <i class="fa fa-male icon-lg"></i>
          </div>
          <div class="col-xs-8">
            Né(e) le <strong>{{ situation.conjoint.birthDate }}</strong>
            <br>Nationalité <strong>{{ nationaliteLabels[situation.conjoint.nationalite] }}</strong>
            <br><i>{{ statutsSpecifiques(situation.conjoint) }}</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
