<form name="form" class="form-horizontal" ng-submit="submit(form)" novalidate>
  <div class="modal-header">
    <h3 class="modal-title">{{ modalTitle }}</h3>
  </div>

  <div class="modal-body">
    <div class="form-group form-group-lg" ng-class="{'has-error': formSubmitted && form.birthDate.$invalid}">
      <label class="control-label col-lg-4" for="birth-date">Date de naissance</label>
      <div class="col-lg-8">
        <input type="text" class="form-control" name="birthDate" id="birth-date" required ng-model="$parent.birthDate" dds-date placeholder="jj/mm/aaaa">
        <p class="help-block" ng-if="formSubmitted && form.birthDate.$invalid">Date de naissance invalide</p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-4">Nationalité</label>
      <div class="col-lg-8">
        <label class="radio-inline">
          <input type="radio" name="nationalite" ng-model="$parent.nationalite" value="francaise">
          Française
        </label>
        <label class="radio-inline">
          <input type="radio" name="nationalite" ng-model="$parent.nationalite" value="ue">
          UE
        </label>
        <label class="radio-inline">
          <input type="radio" name="nationalite" ng-model="$parent.nationalite" value="autre">
          Autre
        </label>
      </div>
    </div>

    <div class="form-group form-group-lg" ng-show="askRelationType">
      <label class="control-label col-lg-4" for="relation-conjoint">Votre relation</label>
      <div class="col-lg-8">
        <select class="form-control" name="relationType" ng-model="$parent.relationType" id="relation-conjoint">
          <option value="mariage">Marié</option>
          <option value="pacs">Pacsé</option>
          <option value="relationLibre">Relation libre</option>
        </select>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" ng-if="askRelationType" class="btn btn-lg btn-default" ng-click="cancel()">Annuler</button>
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>
