<div class="col-lg-5 animate-show" id="panel-enfants" ng-show="visible">
  <div class="panel panel-default panel-foyer-lg">
    <div class="panel-heading">
      <h2 class="panel-title">Les enfants à votre charge</h2>
    </div>
    <div class="panel-body">
      <div class="row">
        <div ng-repeat="child in situation.enfants">
          <div class="clearfix" ng-if="$index % 2 === 0"></div>
          <div class="col-sm-6">
            <div class="panel-enfant">
              <div class="panel-body">
                {{ child.firstName }}
                <button type="button" class="close" ng-if="!situation.childConfigDone" ng-click="removeChild(child)">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-child icon-lg"></i>
                  </div>
                  <div class="col-xs-8">
                    Né(e) le <strong>{{ child.dateDeNaissance }}</strong>
                    <br>Nationalité <strong>{{ nationalite(child) }}</strong>
                    <br><i>{{ statutsSpecifiques(child) }}</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix" ng-if="situation.enfants.length % 2 === 0"></div>

        <div class="col-sm-6" ng-show="!situation.childConfigDone">
          <div class="panel-enfant panel-new-enfant">
            <div class="panel-body" style="padding: 0;">
              <button class="btn btn-lg btn-default btn-block btn-new-entity" ng-click="$state.go('foyer.enfant_modal')">
                Ajouter un enfant<br>
                <i class="fa fa-plus icon-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center" ng-if="situation.childConfigDone && !situation.enfants.length">
        Vous n'avez pas d'enfant à charge
      </div>

      <div class="text-right" ng-show="!situation.childConfigDone">
        <button type="button" class="btn btn-primary" ng-click="endChildConfig()">
          <span ng-if="!situation.enfants.length">Je n'ai pas d'enfants</span>
          <span ng-if="situation.enfants.length">Terminé</span>
          <br><i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
