<div class="col-md-5 animate-show" ng-show="visible">
  <h2>
    <i class="fa fa-child"></i>
    Vos enfants
  </h2>

  <div ng-show="undefined === situation.demandeur.enceinte">
    <label>Attendez-vous un enfant ?</label>
    <button class="btn btn-sm btn-primary" ng-model="situation.demandeur.enceinte" btn-radio="true">Oui</button>
    <button class="btn btn-sm btn-primary" ng-model="situation.demandeur.enceinte" btn-radio="false">Non</button>
  </div>

  <p>
    <span ng-if="true === situation.demandeur.enceinte"><i class="fa fa-reddit"></i> Vous attendez un enfant</span>
    <span ng-if="false === situation.demandeur.enceinte">Vous n'attendez pas d'enfant</span>
    <span ng-if="false === situation.hasChildren">- Vous n'avez pas d'enfant à charge</span>
    <span ng-if="true === situation.hasChildren && 0 < situation.enfants.length">- Vous avez {{ situation.enfants.length }} enfant<span ng-if="situation.enfants.length > 1">s</span></span>
  </p>

  <div ng-show="undefined !== situation.demandeur.enceinte && undefined === situation.hasChildren">
    <label>Avez-vous des enfants à charge ?</label>
    <button class="btn btn-sm btn-primary" ng-model="situation.hasChildren" btn-radio="true">Oui</button>
    <button class="btn btn-sm btn-primary" ng-model="situation.hasChildren" btn-radio="false" ng-click="endChildConfig()">Non</button>
  </div>

  <div class="row">
    <div class="col-md-6" ng-repeat="child in situation.enfants">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            {{ child.firstName }}
            <button type="button" class="close" ng-if="!situation.childConfigDone" ng-click="removeChild(child)"><span aria-hidden="true">&times;</span></button>
          </h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <i class="fa fa-child icon-lg"></i>
            </div>
            <div class="col-md-8">
              Né(e) le <strong>{{ child.birthDate }}</strong>
              <br>Nationalité <strong>{{ nationaliteLabels[child.nationalite] }}</strong>
              <br>{{ statutsSpecifiques(child) }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6" ng-show="true === situation.hasChildren && !situation.childConfigDone">
      <div class="panel panel-default" style="border-style: dashed;">
        <div class="panel-heading">
          <h4 class="panel-title">Ajouter un enfant</h4>
        </div>
        <div class="panel-body" style="padding: 0;">
          <button class="btn btn-lg btn-default btn-block btn-new-entity" ng-click="$state.go('foyer.enfant_modal')">
            <i class="fa fa-plus icon-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="text-right" ng-show="true === situation.hasChildren && !situation.childConfigDone">
    <button type="button" class="btn btn-primary" ng-click="endChildConfig()">
      Terminé
      <br><i class="fa fa-arrow-circle-right"></i>
    </button>
  </div>
</div>
