<form method="post" name="form" class="form-horizontal" ng-submit="submit(form)" novalidate>
  <div class="modal-header">
    <h3 class="modal-title">{{ options.modalTitle }}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group form-group-lg" ng-if="options.askFirstName" ng-class="{'has-error': submitted && form.firstName.$invalid}">
      <label class="control-label col-sm-4" for="first-name">Prénom</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" name="firstName" id="first-name" required ng-model="individu.firstName">
        <p class="help-block" ng-if="submitted && form.firstName.$invalid">Ce champ est obligatoire.</p>
      </div>
    </div>

    <div class="form-group form-group-lg" ng-class="{'has-error': submitted && form.dateDeNaissance.$invalid}">
      <label class="control-label col-sm-4" for="date-de-naissance">Date de naissance</label>
      <div class="col-sm-4">
        <input
          type="text"
          class="form-control"
          name="dateDeNaissance"
          id="date-de-naissance"
          required
          ng-model="individu.dateDeNaissance"
          ng-change="dateDeNaissanceChanged()"
          dds-date
          date-autocomplete
          date-naissance-min-age="options.minAge"
          date-naissance-max-age="options.maxAge"
          placeholder="jj/mm/aaaa">
        <p class="help-block" ng-if="submitted && form.dateDeNaissance.$error.required">Ce champ est obligatoire.</p>
        <p class="help-block" ng-if="submitted && form.dateDeNaissance.$error.ddsDate">Date de naissance invalide.</p>
        <p class="help-block" ng-if="submitted && form.dateDeNaissance.$error.dateNaissanceMaxAge">
          Âge maximum : {{ options.maxAge }} ans.
        </p>
        <p class="help-block" ng-if="submitted && form.dateDeNaissance.$error.dateNaissanceMinAge">
          Cette personne ne doit pas avoir moins de {{ options.minAge }} ans.
        </p>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-4">Nationalité</label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" name="nationalite" ng-model="individu.nationalite" value="fr">
          Française
        </label>
        <label class="radio-inline">
          <input type="radio" name="nationalite" ng-model="individu.nationalite" value="ue">
          <abbr title="" popover="{{ popoverEee }}" popover-title="Liste des pays de l'EEE" popover-placement="bottom" popover-trigger="mouseenter">EEE</abbr> - <abbr title="" popover="Union Européenne" popover-placement="bottom" popover-trigger="mouseenter">UE</abbr> - Suisse
        </label>
        <label class="radio-inline">
          <input type="radio" name="nationalite" ng-model="individu.nationalite" value="autre">
          Hors <abbr title="" popover="Union Européenne" popover-placement="bottom" popover-trigger="mouseenter">UE</abbr>
        </label>
      </div>
    </div>

    <div
      class="form-group"
      ng-if="options.checkResidenceStability && 'ue' === individu.nationalite"
      ng-class="{'has-error': submitted && form.disclaimerUe.$invalid}">
      <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="disclaimerUe" ng-model="disclaimerUe" required>
            Détenteur d'un droit au séjour valide et
            <a href="" tooltip="C'est-à-dire plus de 9 mois par an">résident de manière stable en France</a>
          </label>
        </div>
        <span class="help-block" ng-if="submitted && form.disclaimerUe.$invalid">Vous devez cocher cette case pour continuer.</span>
      </div>
    </div>

    <div
      class="form-group"
      ng-if="options.checkResidenceStability && 'autre' === individu.nationalite"
      ng-class="{'has-error': submitted && form.disclaimerNonUe.$invalid}">
      <div class="col-sm-offset-4 col-sm-8">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="disclaimerNonUe" ng-model="disclaimerNonUe" required>
            Détenteur d'une carte de résident ou d'un titre de séjour valide et
            <a href="" tooltip="C'est-à-dire plus de 9 mois par an">résident de manière stable en France.</a>
          </label>
        </div>
        <span class="help-block" ng-if="submitted && form.disclaimerNonUe.$invalid">Vous devez cocher cette case pour continuer.</span>
      </div>
    </div>

    <div class="form-group form-group-lg" ng-if="askRelationType">
      <label class="control-label col-sm-4" for="relation-conjoint">Votre relation</label>
      <div class="col-sm-4">
        <select class="form-control" name="relationType" ng-model="individu.relationType" id="relation-conjoint">
          <option value="mariage">Marié</option>
          <option value="pacs">Pacsé</option>
          <option value="relation_libre">Relation libre / concubinage</option>
        </select>
      </div>
    </div>

    <div class="form-group from-group-lg">
      <label class="control-label col-sm-4">
        <span ng-if="'demandeur' === options.individuType">Êtes-vous</span>
        <span ng-if="'demandeur' !== options.individuType">Est-il/elle</span>
        dans l'une de ces situations ?
      </label>
      <div class="col-sm-8">
        <label class="checkbox-inline" ng-repeat="statut in statutsSpecifiques">
          <input type="checkbox" ng-model="selectedStatuts[statut.id]">
          {{ statut.label }}
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="individu.enceinte">
          Enceinte
        </label>
      </div>
    </div>

    <div class="form-group from-group-lg" ng-if="captureEligibiliteAss()">
      <label class="control-label col-sm-4" for="eligibiliteAss">
        <span ng-if="'demandeur' === options.individuType">Avez-vous</span>
        <span ng-if="'demandeur' !== options.individuType">A-t-il (elle)</span>
        travaillé pendant au moins 5 ans au cours des 10 dernières années ?
      </label>
      <div class="col-sm-8">
        <label class="radio-inline">
          <input type="radio" name="eligibiliteAss" ng-model="individu.assPreconditionRemplie" ng-value="true">
          Oui
        </label>
        <label class="radio-inline">
          <input type="radio" name="eligibiliteAss" ng-model="individu.assPreconditionRemplie" ng-value="false">
          Non
        </label>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" ng-if="options.cancelable" class="btn btn-default" ng-click="$dismiss()">Annuler</button>
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>
