<div class="col-lg-5" ng-if="situation.patrimoineCaptured">
  <h2>
    <i class="fa fa-money"></i>
    Votre patrimoine
  </h2>

  <p ng-if="!hasImmobilier">Vous n'avez déclaré aucun bien immobilier</p>
  <p ng-if="hasImmobilier"></p>

  <p>
    Votre épargne sur livret : <b>{{ situation.patrimoine.epargneSurLivret }}</b> €
  </p>
</div>

<!--revenusLocatifs: [RessourceSchema],
valeurLocativeImmoNonLoue: Number,
valeurLocativeTerrainNonLoue: Number,
revenusDuCapital: [RessourceSchema],
epargneSurLivret: Number,
epargneSansRevenus: Number-->
