<div class="col-lg-5 animate-show" ng-show="visible">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title">Autres personnes à charge</h2>
    </div>
    <div class="panel-body">
      <div ng-show="undefined === situation.hasPersonnesACharge" class="text-center">
        <p>Avez-vous d'autres personnes à votre charge ?</p>
        <button class="btn btn-sm btn-primary" ng-model="situation.hasPersonnesACharge" btn-radio="true">Oui</button>
        <button class="btn btn-sm btn-primary" ng-model="situation.hasPersonnesACharge" btn-radio="false" ng-click="endPersonnesAChargeConfig()">Non</button>
      </div>

      <div class="text-center" ng-if="false === situation.hasPersonnesACharge">
        Vous n'avez pas de personne à charge
      </div>

      <div class="row">
        <div class="col-sm-6" ng-repeat="personne in situation.personnesACharge">
          <div class="panel panel-default">
            <div class="panel-body">
              {{ personne.firstName }}
              <button type="button" class="close" ng-if="!situation.personnesAChargeConfigDone" ng-click="removePersonneACharge(personne)">
                <span aria-hidden="true">&times;</span>
              </button>
              <div class="row">
                <div class="col-xs-4">
                  <i class="fa fa-male icon-lg"></i>
                </div>
                <div class="col-xs-8">
                  Né(e) le <strong>{{ personne.dateDeNaissance }}</strong>
                  <br>Nationalité <strong>{{ nationaliteLabels[personne.nationalite] }}</strong>
                  <br><i>{{ statutsSpecifiques(personne) }}</i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6" ng-show="situation.hasPersonnesACharge && !situation.personnesAChargeConfigDone">
          <div class="panel panel-default" style="border-style: dashed;">
            <div class="panel-body" style="padding: 0;">
              <button class="btn btn-lg btn-default btn-block btn-new-entity" ng-click="$state.go('foyer.personne_a_charge_modal')">
                Ajouter une personne
                <i class="fa fa-plus icon-lg"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="text-right" ng-show="situation.hasPersonnesACharge && !situation.personnesAChargeConfigDone">
        <button type="button" class="btn btn-primary" ng-click="endPersonnesAChargeConfig()">
          Terminé
          <br><i class="fa fa-arrow-circle-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
