<div ng-if="situation.logement">
  <h2>
    <i class="fa fa-home"></i>
    Récapitulatif logement
  </h2>

  <p>Vous êtes <b>{{ logementLabels[situation.logement.type] }}</b></p>
  <p>Votre {{ 'locataire' === situation.logement.type ? 'loyer' : 'mensualité d\'emprunt' }} s'élève à <b>{{ situation.logement.loyer }} €</b></p>
  <p>Code postal <b>{{ situation.logement.postalCode }}</b></p>

  <div class="text-center">
    <a ui-sref="resultat" class="btn btn-lg btn-primary">
      Voir le résultat de la simulation
    </a>
  </div>
</div>
