<div ng-if="situation.ressourcesCaptured">
  <div class="table-responsive" ng-if="ressourcesNonTns.length">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Type de ressource</th>
          <th ng-if="!isSituationMonoIndividu">Personne</th>
          <th ng-repeat="month in months">{{ month.label|uppercaseFirst }}</th>
          <th>De {{ lastYear }} à {{ lastMonth }}</th>
        </tr>
      </thead>
      <tbody ng-repeat="ressource in ressourcesNonTns">
        <tr ng-repeat="individu in ressource.byIndividu">
          <td rowspan="{{ ressource.byIndividu.length + 1 }}" ng-if="$first" class="text-center align-middle capture-{{ ressource.type.category }}">{{ ressource.type.label }}</td>
          <td ng-if="!isSituationMonoIndividu">{{ individu.label }}</td>
          <td ng-repeat="month in months">{{ individu.values[$index] }} €</td>
          <td>{{ individu.montantAnnuel }} €</td>
        </tr>
        <tr class="active" ng-if="!isSituationMonoIndividu">
          <th>Total</th>
          <th ng-repeat="month in months">{{ ressource.total[$index] }} €</th>
          <th>{{ ressource.totalAnnuel }} €</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive" ng-if="ressourcesMicroFiscal.length">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Revenus micro-fiscaux</th>
          <th ng-if="!isSituationMonoIndividu">Personne</th>
          <th>Chiffre d'affaires {{ yearMoinsUn }}</th>
        </tr>
      </thead>
      <tbody ng-repeat="ressource in ressourcesMicroFiscal">
        <tr ng-repeat="individu in ressource.byIndividu">
          <td rowspan="{{ ressource.byIndividu.length + 1 }}" ng-if="$first" class="text-center align-middle capture-{{ ressource.type.category }}">{{ ressource.type.label }}</td>
          <td ng-if="!isSituationMonoIndividu">{{ individu.label }}</td>
          <td>{{ individu.montantAnnuel }} €</td>
        </tr>
        <tr class="active" ng-if="!isSituationMonoIndividu">
          <th>Total</th>
          <th>{{ ressource.totalAnnuel }} €</th>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive" ng-if="ressourcesAutresTns.length">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Revenus non salariés</th>
          <th ng-if="!isSituationMonoIndividu">Personne</th>
          <th>Revenus sur le dernier exercice</th>
        </tr>
      </thead>
      <tbody ng-repeat="ressource in ressourcesAutresTns">
        <tr ng-repeat="individu in ressource.byIndividu">
          <td
            rowspan="{{ ressource.byIndividu.length + 1 }}"
            ng-if="$first"
            class="text-center align-middle capture-{{ ressource.type.category }}">
            {{ ressource.type.label }}
          </td>
          <td ng-if="!isSituationMonoIndividu">{{ individu.label }}</td>
          <td>{{ individu.montantAnnuel }} €</td>
        </tr>
        <tr class="active" ng-if="!isSituationMonoIndividu">
          <th>Total</th>
          <th>{{ ressource.totalAnnuel }} €</th>
        </tr>
      </tbody>
    </table>
  </div>

  <p ng-if="!hasRessources">Vous n'avez déclaré aucune ressource sur les trois derniers mois</p>
</div>
