<div ng-if="situation.revenusCaptured">
  <h2>
    <i class="fa fa-eur"></i>
    Vos ressources
  </h2>

  <div class="table-responsive" ng-if="hasRessources">
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>Type de ressource</th>
          <th>Personne</th>
          <th ng-repeat="month in months">{{ month.label|uppercaseFirst }}</th>
        </tr>
      </thead>
      <tbody ng-repeat="ressource in ressources">
        <tr ng-repeat="individu in ressource.byIndividu">
          <td rowspan="{{ ressource.byIndividu.length + 1 }}" ng-if="$first" class="text-center align-middle capture-{{ ressource.category }}">{{ ressource.type }}</td>
          <td>{{ individu.label }}</td>
          <td ng-repeat="month in months">{{ individu.ressources[$index] }} €</td>
        </tr>
        <tr>
          <th>Total</th>
          <th ng-repeat="month in months">{{ ressource.total[$index] }} €</th>
        </tr>
      </tbody>
    </table>
  </div>

  <p ng-if="!hasRessources">Vous n'avez déclaré aucune ressource</p>

  <div class="text-center">
    <button type="button" ng-if="!situation.logement" ng-click="situation.logement = {}" class="btn btn-lg btn-primary btn-next">
      Étape suivante : votre logement
    </a>
  </div>
</div>
