<form role="form" ng-submit="submit()">
  <div class="modal-header">
    <h1 class="modal-title">Situations spécifiques</h1>
  </div>
  <div class="modal-body">
    <p>L'une des personnes de votre foyer est-elle dans une de ces situations spécifiques ?</p>
    <div class="row" ng-repeat="situationMap in situations">
      <div class="col-md-6" ng-repeat="(id, situation) in situationMap">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a ng-model="$parent.selectedSituations[id]" btn-checkbox>
                {{ situation | uppercaseFirst }}
                <i class="pull-right fa" ng-class="{'fa-chevron-down': selectedSituations[id], 'fa-chevron-right': !selectedSituations[id]}"></i>
              </a>
            </h3>
          </div>
          <div class="panel-body" ng-if="selectedSituations[id]">
            <b>Quelles sont les personnes concernées ?</b>
            <br>
            <div class="form-inline">
              <div class="checkbox" ng-repeat="individu in individus">
                <label>
                  <input type="checkbox" ng-model="individu.individu[id]"> {{ individu.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-lg btn-primary">Valider</button>
  </div>
</form>
