<form role="form" ng-submit="submit()">
  <div class="modal-header">
    <h1 class="modal-title">Situations spécifiques</h1>
  </div>
  <div class="modal-body">
    <p>L'une des personnes de votre foyer est-elle dans une de ces situations ?</p>
    <div class="row" ng-repeat="statutsPair in statuts">
      <div class="col-md-6" ng-repeat="statut in statutsPair">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <a ng-model="openedSituations[statut.id]" btn-checkbox>
                {{ statut.label | uppercaseFirst }}
                <i class="pull-right fa" ng-class="{'fa-chevron-down': openedSituations[statut.id], 'fa-chevron-right': !openedSituations[statut.id]}"></i>
              </a>
            </h3>
          </div>
          <div class="panel-body" ng-if="openedSituations[statut.id]">
            <b>Quelles sont les personnes concernées ?</b>
            <div>
              <label class="checkbox-inline" ng-repeat="individu in individus">
                <input type="checkbox" ng-model="individu[statut.id]"> {{ individuLabel(individu) }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-lg btn-primary">Valider</button>
  </div>
</form>
