version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    rebase-strategy: "disabled"
    versioning-strategy: increase
    open-pull-requests-limit: 1
    labels:
      - dependencies
    allow:
      - dependency-name: "aides-velo"
