<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Service d'email local</h1>
      <span>
        <p v-if="followups"> Nombre de suivis : {{ followups.length }}</p>
        <p>
          Pour ajouter un suivi, effectuer une simulation jusqu'au bout, cliquer
          sur le bouton <b>"Recevoir les résultats par email"</b> et enfin sur
          <b
            >"Je reçois mon récapitulatif et je me fais accompagner par
            téléphone"</b
          ></p
        >
      </span>
      <ul v-if="followups && typeKeys">
        <h2>Liste des suivis</h2>
        <li v-for="followup in followups">
          <h3>Suivi n°{{ followup._id}}</h3>
          <ul v-for="typeKey in typeKeys">
            <li>
              <span v-if="typeKey === 'simulation-results'"
                >Résultats de simulation :
              </span>
              <span v-else-if="typeKey === 'benefit-action'"
                >Mail de sondage de la prise d'action suite aux résultats de la
                simulation (benefit-action) :
              </span>
              <span v-else-if="typeKey === 'simulation-usefulness'"
                >Mail de sondage d'utilité de la simulation
                (simulation-usefulness) :
              </span>
              &nbsp;
              <a
                :href="`mjml/${followup._id}/${typeKey}?mode=html`"
                target="_blank"
                >HTML</a
              >
              &nbsp;
              <a
                :href="`mjml/${followup._id}/${typeKey}?mode=text`"
                target="_blank"
                >texte</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <script>
      const { createApp, onMounted, ref } = Vue;
      const app = createApp({
      setup() {
          const followups = ref(<%- JSON.stringify(followups) %>);
          const typeKeys = ref(<%- JSON.stringify(typeKeys) %>);
          return { followups, typeKeys };
      }
      });
      app.mount("#app");
    </script>
    <style>
      body {
        font-family: Marianne, arial, sans-serif;
        overflow-y: scroll;
        padding: 1rem;
      }
      .description {
        font-weight: 600;
      }
      h1,
      h2,
      h3,
      a {
        color: #566bb1;
      }
      li {
        list-style-type: none;
        border: #566bb1 solid 1px;
        padding: 1rem;
        border-radius: 1rem;
        margin: 1rem;
      }
    </style>
  </body>
</html>
