{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "> 5%",
          "ie >= 11"
        ]
      },
      "useBuiltIns": "entry",
      "corejs": 3
    }]
  ]
}
