# Maintain consistent coding styles between different editors and IDEs.
# See more at EditorConfig.org

# This is the top-most EditorConfig file.
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.yml,package.json]
indent_size = 2
