<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Évaluez vos droits aux aides avec le simulateur de MAAS Group</title>

    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <base href="/" />
    <meta name="description" content="7 minutes suffisent pour évaluer vos droits à 30 aides avec le simulateur de MAAS Group." />
    <meta
      name="thumbnail"
      content="/img/favicon.png"
    />
    <meta
      property="twitter:image"
      content="/img/favicon.png"
    />

    <!-- Specific Open Graph meta tags -->
    <meta property="og:title" content="Évaluez vos droits aux aides avec le simulateur de MAAS Group" />
    <meta property="og:description" content="7 minutes suffisent pour évaluer vos droits à 30 aides avec le simulateur de MAAS Group." />
    <meta
      property="og:image"
      content="/img/favicon.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="/" />
    <meta
      property="og:site_name"
      content="Simulateur de MAAS Group"
    />
    <meta
      property="og:image:alt"
      content="Simulateur de MAAS Group"
    />

    <!-- Specific Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@MaasGroup" />
    <meta name="twitter:description" content="7 minutes suffisent pour évaluer vos droits à 30 aides avec le simulateur de MAAS Group." />
    <meta name="twitter:title" content="Évaluez vos droits aux aides avec le simulateur de MAAS Group" />

    <link rel="canonical" href="/" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="img/<%= VITE_CONTEXT_NAME %>/favicon/android-chrome-192x192.png"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="Simulateur de <%= VITE_CONTEXT_NAME %>"
    />
    <meta
      name="application-name"
      content="Simulateur de <%= VITE_CONTEXT_NAME %>"
    />
    <meta name="theme-color" content="#ffffff" />

    <script type="module" src="/src/main.ts"></script>
  </head>

  <body>
    <noscript>
      <strong
        >Désolé le simulateur de <%= VITE_CONTEXT_NAME %> n'est pas fonctionnel
        si le JavaScript n'est pas activé.</strong
      >
    </noscript>
    <!-- built files will be auto injected -->
    <div id="app"></div>
  </body>
</html>
