<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> <%= VITE_TITLE %> </title>

    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <base href="/" />
    <meta name="description" content="<%= VITE_DESCRIPTION %>" />
    <meta
      name="thumbnail"
      content="/img/<%= VITE_CONTEXT_NAME %>/Twitter_1024x512.png"
    />
    <meta
      property="twitter:image"
      content="/img/<%= VITE_CONTEXT_NAME %>/Twitter_1024x512.png"
    />

    <!-- Specific Open Graph meta tags -->
    <meta property="og:title" content="<%= VITE_TITLE %>" />
    <meta property="og:description" content="<%= VITE_DESCRIPTION %>" />
    <meta
      property="og:image"
      content="/img/<%= VITE_CONTEXT_NAME %>/Twitter_1024x512.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= VITE_BASE_URL %>" />
    <meta
      property="og:site_name"
      content="Simulateur de <%= VITE_CONTEXT_NAME %>"
    />
    <meta
      property="og:image:alt"
      content="Simulateur de <%= VITE_CONTEXT_NAME %>"
    />

    <!-- Specific Twitter meta tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@MesAides" />
    <meta name="twitter:description" content="<%= VITE_DESCRIPTION %>" />
    <meta name="twitter:title" content="<%= VITE_TITLE %>" />

    <link rel="canonical" href="<%= VITE_BASE_URL %>" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/<%= VITE_CONTEXT_NAME %>/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="img/<%= VITE_CONTEXT_NAME %>/favicon/android-chrome-192x192.png"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="Simulateur de <%= VITE_CONTEXT_NAME %>"
    />
    <meta
      name="application-name"
      content="Simulateur de <%= VITE_CONTEXT_NAME %>"
    />
    <meta name="theme-color" content="#ffffff" />

    <script type="module" src="/src/main.ts"></script>
  </head>

  <body>
    <noscript>
      <strong
        >Désolé le simulateur de <%= VITE_CONTEXT_NAME %> n'est pas fonctionnel
        si le JavaScript n'est pas activé.</strong
      >
    </noscript>
    <!-- built files will be auto injected -->
    <div id="app"></div>

    <script>
      ;(function (d, t) {
        if (window !== window.top) {
          return // Prevents Chatwoot display inside the iframe
        }
        var BASE_URL = "https://chatwoot.incubateur.net"
        var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0]
        g.src = BASE_URL + "/packs/js/sdk.js"
        g.defer = true
        g.async = true
        s.parentNode.insertBefore(g, s)

        g.onload = function () {
          window.chatwootSettings = {
            hideMessageBubble: false,
            position: window.innerWidth >= 768 ? "right" : "left",
          }
          window.chatwootSDK.run({
            websiteToken: "<%= VITE_CHATWOOT_TOKEN %>",
            baseUrl: BASE_URL,
          })
        }
      })(document, "script")
    </script>
  </body>
</html>
