gunicorn>=19.1.1
openfisca_france==18.10.2
git+https://github.com/sgmap/openfisca-paris.git@32fa2579fc4d9bde3a535d434124765e93fbaf9a#egg=openfisca-paris
git+https://github.com/sgmap/openfisca-rennesmetropole.git@6a9504b944fbb153f64e2f47cdf6a5baf2e8e6f6#egg=openfisca-RennesMetropole
