gunicorn>=19.1.1
openfisca_france==18.11.0
git+https://github.com/sgmap/openfisca-paris.git@a1e1f3508df2b2cb42a2411bd7287ea72798f332#egg=openfisca-paris
git+https://github.com/sgmap/openfisca-rennesmetropole.git@1d6129c98c9c7f2db5c16766b37cb84ab27d1bd7#egg=openfisca-RennesMetropole
