gunicorn>=19.1.1
openfisca_web_api[paster]==3.2.1
openfisca_france==14.0.0
git+https://github.com/sgmap/openfisca-paris.git@a4b6f324f48e465b89ffd01d25cea8ff68202718#egg=openfisca-paris
git+https://github.com/sgmap/openfisca-rennesmetropole.git@3487bb332f4373c3123ebdd7e31ecd4da5d82548#egg=openfisca-RennesMetropole
