<div class="panel panel-montant {{ ressourceType.category }}">
  <div class="panel-heading">
    <h3 class="panel-title">
      <span class="short-label" ng-if="shortLabel">{{ shortLabel }}</span>
      {{ ressourceType.label }}
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3" ng-repeat="month in months">
        <label for="{{ ressource.type.id }}-month_{{ $index + 1 }}">
          {{ month.label|uppercaseFirst }}
        </label>
        <span class="input-group">
          <input
            type="number"
            class="form-control text-right"
            id="{{ ressource.type.id }}-month_{{ $index + 1 }}"
            required
            min="0"
            step="100"
            select-on-focus
            zero-to-empty
            ng-model="ressource.montantsMensuels[$index]">
          <span class="input-group-addon">€</span>
        </span>
        <span class="text-danger" ng-if="form.submitted && ! isNumber(ressource.montantsMensuels[$index])">
          Montant invalide
        </span>
      </div>
      <div class="col-sm-3">
        <label for="{{ ressource.type.id }}-year">
          Total depuis {{ debutAnneeGlissante }}
        </label>
        <span class="input-group">
          <input
            type="number"
            class="form-control text-right"
            id="{{ ressource.type.id }}-year"
            required
            min="{{ monthsSum }}"
            step="100"
            select-on-focus
            zero-to-empty
            ng-model="ressource.montantAnnuel">
          <span class="input-group-addon">€</span>
        </span>
        <span
          class="text-danger"
          ng-if="form.submitted && ! isNumber(ressource.montantAnnuel) && ! form.$error.min"
          >
          Montant invalide
        </span>
        <span class="text-danger" ng-if="form.submitted && form.$error.valuesConsistency">
          La somme depuis {{ debutAnneeGlissante }} fait au moins {{ monthsSum }} €
        </span>
      </div>
    </div>
    <div class="text-right" ng-if="! ressource.type.revenuExceptionnel">
      <div class="checkbox">
        <label>
          <input
            type="checkbox"
            ng-model="ressource.onGoing">
            {{ onGoingLabel }}
        </label>
      </div>
    </div>
  <div
    class="form-group"
    ng-if="shouldAskDateArretDeTravail()"
    ng-class="{'has-error': form.submitted && form.dateArretDeTravail.$invalid}">
    <label class="control-label col-sm-4" for="date-arret-travail">
      De quand date votre arrêt de travail ? <span class="visually-hidden">au format jour/mois/année</span>
    </label>
    <div class="col-sm-4">
      <input
        dds-date
        format="JJ/MM/AAAA"
        class="form-control"
        min="{{ individu.dateDeNaissance }}"
        name="dateArretDeTravail"
        id="date-arret-travail"
        required
        ng-model="individu.dateArretDeTravail"
        aria-describedby="help-arret-de-travail"
        >
      <ul class="help-block" id="help-arret-de-travail" ng-if="form.submitted && form.dateArretDeTravail.$invalid">
        <li ng-show="form.dateArretDeTravail.$error.format">
          Veuillez utiliser le format JJ/MM/AAAA. Par exemple&nbsp;: 15/06/1981.
        </li>
        <li ng-if="form.dateArretDeTravail.$error.required">
          Ce champ est obligatoire.
        </li>
        <li ng-if="form.dateArretDeTravail.$error.isBeforeMin">
          Il semblerait qu'on vous ait prescrit un arrêt de travail avant votre naissance.
        </li>
      </ul>
    </div>
  </div>
</div>
