<div class="panel ressource-input {{ ressourceType.category }}">
  <div class="panel-heading">
    <h3 class="panel-title">{{ ressourceType.label }}</h3>
  </div>
  <div class="panel-body">
    <div class="months"
      ng-class="{ 'has-error': form.submitted && form[ressource.type.id + '-year'].$invalid }"
      >
      <div class="col-sm-3 month"
        ng-repeat="month in months"
        ng-class="{ 'has-error': form.submitted && form[ressource.type.id + '-month_' + $index].$invalid }"
        >
        <label for="{{ ressource.type.id }}-month_{{ $index }}">
          {{ month.label|uppercaseFirst }}
        </label>
        <div class="input-group">
          <input
            type="number"
            class="form-control text-right"
            id="{{ ressource.type.id }}-month_{{ $index }}"
            name="{{ ressource.type.id }}-month_{{ $index }}"
            required
            min="0"
            step="100"
            select-on-focus
            zero-to-empty
            ng-model="ressource.montantsMensuels[$index]"
            aria-describedby="help-{{ ressource.type.id }}-month_{{ $index }}"
            >
          <span class="input-group-addon">€</span>
        </div>
        <ul class="help-block" id="help-{{ ressource.type.id }}-month_{{ $index }}" ng-if="form.submitted && ! isNumber(ressource.montantsMensuels[$index])">
          <li>Montant invalide</li>
        </ul>
      </div>
      <div class="col-sm-3 month"
        >
        <label for="{{ ressource.type.id }}-year">
          Total de {{ debutAnneeGlissante }} à {{ months[months.length-1].label }}&nbsp;inclus
        </label>
        <div class="input-group">
          <input
            type="number"
            class="form-control text-right"
            id="{{ ressource.type.id }}-year"
            name="{{ ressource.type.id }}-year"
            required
            min="{{ monthsSum }}"
            step="100"
            select-on-focus
            zero-to-empty
            ng-model="ressource.montantAnnuel"
            aria-describedby="help-{{ ressource.type.id }}-year"
            >
          <span class="input-group-addon">€</span>
        </div>
        <ul class="help-block" id="help-{{ ressource.type.id }}-year" ng-if="form.submitted && form[ressource.type.id + '-year'].$invalid">
          <li ng-show="form[ressource.type.id + '-year'].$error.min">
            Somme incohérente
          </li>
          <li ng-show="! isNumber(ressource.montantAnnuel) && ! form[ressource.type.id + '-year'].$error.min">
            Montant invalide
          </li>
        </ul>
      </div>
    </div>
    <div id="help-{{ ressource.type.id }}-year"
      class="text-danger"
      ng-if="form.submitted && form[ressource.type.id + '-year'].$error.min">
      <p>Vous avez indiqué avoir perçu {{ monthsSum | currency }} sur les 3 derniers mois, mais seulement {{ form[ressource.type.id + '-year'].$viewValue | currency }} sur les 12 derniers mois. Vérifiez les montants indiqués dans les quatre champs de votre {{ ressourceType.label }}.</p>
    </div>
    <div class="ressource-interrupted" ng-if="! ressource.type.revenuExceptionnel">
      <label>
        <input
          type="checkbox"
          ng-model="ressource.onGoing">
          {{ onGoingLabel }}
      </label>
    </div>
  </div>
  <div
    class="form-group"
    ng-if="shouldAskDateArretDeTravail()"
    ng-class="{'has-error': form.submitted && form.dateArretDeTravail.$invalid}">
    <label class="control-label col-sm-4" for="date-arret-travail">
      De quand date votre arrêt de travail ? <span class="visually-hidden">au format jour/mois/année</span>
    </label>
    <div class="col-sm-4">
      <input
        dds-date
        format="JJ/MM/AAAA"
        class="form-control"
        min="{{ individu.dateDeNaissance }}"
        name="dateArretDeTravail"
        id="date-arret-travail"
        required
        ng-model="individu.dateArretDeTravail"
        aria-describedby="help-arret-de-travail"
        >
      <ul class="help-block" id="help-arret-de-travail" ng-if="form.submitted && form.dateArretDeTravail.$invalid">
        <li ng-show="form.dateArretDeTravail.$error.format">
          Veuillez utiliser le format JJ/MM/AAAA. Par exemple&nbsp;: 15/06/1981.
        </li>
        <li ng-if="form.dateArretDeTravail.$error.required">
          Ce champ est obligatoire.
        </li>
        <li ng-if="form.dateArretDeTravail.$error.isBeforeMin">
          Il semblerait qu'on vous ait prescrit un arrêt de travail avant votre naissance.
        </li>
      </ul>
    </div>
  </div>
</div>
