<div class="frame-foyer">
  <h1>Les enfants de votre foyer</h1>

  <div class="help-block">
    <p>Les personnes de <span data-tooltip="Les personnes à votre charge de plus de 25 ans non handicapées ne changent pas votre éligibilité aux aides calculées par ce simulateur.">moins de 25 ans ou handicapées</span> dont vous assumez la responsabilité, même sans lien de parenté.</p>
  </div>

  <div class="row">
    <div ng-repeat="enfant in enfants">
      <div ng-if="$index % 3 === 0" class="clearfix"></div>
      <div class="col-md-4">
        <div class="child">
          <button type="button" class="close" ng-click="removeEnfant(enfant)">
            <span class="sr-only">Effacer {{ enfant.firstName }}</span>
            <span role="presentation" aria-hidden="true">&times;</span>
          </button>
          <h3>{{ enfant.firstName }}</h3>
          <div class="row">
            <span class="card-icon fa fa-child col-xs-4" aria-hidden="true"></span>
            <div class="col-xs-8">
              Né·e le <strong>{{ enfant.dateDeNaissance.format('L') }}</strong>
              <br>Nationalité <strong>{{ nationalite(enfant) }}</strong>
              <br><i>{{ statutsSpecifiques(enfant) }}</i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div ng-if="enfants.length % 3 === 0" class="clearfix"></div>

    <div class="col-md-4">
      <button class="new-entity child btn btn-default" ng-click="newEnfant()">
        <h3>Ajouter un enfant</h3>
        <span class="card-icon fa fa-plus" aria-hidden="true"></span>
      </button>
    </div>
  </div>

  <div class="text-right" ng-if="!displayForm">
    <button type="submit" class="btn btn-primary" ng-click="validate()">
      Valider <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div ng-if="displayForm" id="new" class="frame-new-individu">
  <h2>Nouvel enfant</h2>
  <div ui-view="enfantForm"></div>
</div>
