<div class="frame-foyer">
  <h1>Les enfants de votre foyer</h1>

  <div class="help-block">
    <p>Les personnes de <span data-tooltip="Les personnes à votre charge de plus de 25 ans non handicapées ne changent pas votre éligibilité aux aides calculées par ce simulateur.">moins de 25 ans ou handicapées</span> dont vous assumez la responsabilité, même sans lien de parenté.</p>
  </div>

  <div class="children">
    <div ng-repeat="enfant in enfants" class="child"
      ng-class="{ active: isActive(enfant) }"
      ui-sref="foyer.enfants.modifier({ id: enfant.id })">
      <button type="button" class="close" ng-click="removeEnfant(enfant)">
        <span class="sr-only">Effacer {{ enfant.firstName }}</span>
        <span role="presentation" aria-hidden="true">&times;</span>
      </button>
      <h3>{{ enfant.firstName }}</h3>
      <div class="row">
        <span class="card-icon fa fa-child col-xs-4" aria-hidden="true"></span>
        <div class="col-xs-8">
          Né·e le <strong>{{ enfant.date_naissance.format('L') }}</strong>
          <br>Nationalité <strong>{{ nationalite(enfant) }}</strong>
          <br><i>{{ statutsSpecifiques(enfant) }}</i>
        </div>
      </div>
    </div>
    <button class="new-entity child btn btn-default" ui-sref="foyer.enfants.ajouter">
      <h3>Ajouter un enfant</h3>
      <span class="card-icon fa fa-plus" aria-hidden="true"></span>
    </button>
  </div>

  <navigation-bar ng-if="allowValidation()" ng-click="validate()"></navigation-bar>
</div>

<div ui-view="enfantForm"></div>
