<form method="post" name="form" class="form-horizontal form-individu" ng-submit="submit(form)" novalidate>
  <div class="form-group" ng-class="{'has-error': submitted && form.dateDeNaissance.$invalid}">
    <label class="control-label col-sm-4" for="date-de-naissance">Date de naissance <span class="visually-hidden">au format jour/mois/année</span></label>
    <div class="col-sm-4">
      <input
        type="text"
        class="form-control"
        name="dateDeNaissance"
        id="date-de-naissance"
        required
        ng-model="individu.dateDeNaissance"
        dds-date
        date-autocomplete
        date-naissance-min-age="0"
        date-naissance-max-age="options.maxAge"
        auto-focus
        placeholder="JJ/MM/AAAA"
        aria-describedby="help-date-de-naissance">
      <ul class="help-block" id="help-date-de-naissance" ng-if="submitted && form.dateDeNaissance.$invalid">
        <li ng-if="form.dateDeNaissance.$error.required">
          Ce champ est obligatoire.
        </li>
        <li ng-if="form.dateDeNaissance.$error.ddsDate">
          Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 14/09/1989.
        </li>
        <li ng-if="form.dateDeNaissance.$error.dateNaissanceMaxAge">
          Les personnes de plus de {{ options.maxAge }} ans ne sont pas prises en compte.
        </li>
        <li ng-if="form.dateDeNaissance.$error.dateNaissanceMinAge">
          Cette personne ne peut pas avoir moins de {{ options.minAge }} ans.
        </li>
      </ul>
    </div>
  </div>

  <div class="form-group" ng-if="options.capturePrenom" ng-class="{'has-error': submitted && form.firstName.$invalid}">
    <label class="control-label col-sm-4" for="first-name">Prénom</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="firstName" id="first-name" required ng-model="individu.firstName" aria-describedby="help-first-name-2">
      <p class="help-block" id="help-first-name-1" ng-if="submitted && form.firstName.$invalid">Ce champ est obligatoire.</p>
    </div>
    <div class="col-sm-4">
      <p class="help-col" id="help-first-name-2">Ce prénom servira uniquement à vous faciliter la saisie par la suite</p>
    </div>
  </div>

  <div ng-if="options.checkNationalite" class="form-group">
    <label class="control-label col-sm-4">Nationalité</label>
    <div class="col-sm-8">
      <div class="radio">
        <label>
          <input type="radio" name="nationalite" ng-model="individu.nationalite" value="fr" aria-label="Nationalité Française">
          Française
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="nationalite" ng-model="individu.nationalite" value="ue" aria-label="Nationalité EEE, UE, Suisse">
          <abbr title="" popover="{{ popoverEee }}" popover-title="Liste des pays de l'EEE" popover-placement="bottom" popover-trigger="mouseenter">EEE</abbr> - <abbr title="" popover="Union Européenne" popover-placement="bottom" popover-trigger="mouseenter">UE</abbr> - Suisse
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="nationalite" ng-model="individu.nationalite" value="autre" aria-label="Hors UE">
          Hors <abbr title="" popover="Union Européenne" popover-placement="bottom" popover-trigger="mouseenter">UE</abbr>
        </label>
      </div>
    </div>
  </div>

  <div
    class="form-group"
    ng-if="individu.nationalite == 'ue'"
    ng-class="{'has-error': submitted && form.disclaimerUe.$invalid}">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="checkbox">
        <label for="disclaimer-ue">
          <input id="disclaimer-ue" type="checkbox" name="disclaimerUe" ng-model="disclaimerUe" required>
          Détenteur d'un droit au séjour valide et résidant en France plus de 9 mois par an.
        </label>
      </div>
      <span class="help-block" id="help-disclaimer-ue" ng-if="submitted && form.disclaimerUe.$invalid">Vous devez remplir cette condition pour être éligible aux aides sociales calculées par ce simulateur.</span>
    </div>
  </div>
  <div
    class="form-group"
    ng-if="individu.nationalite == 'autre'"
    ng-class="{'has-error': submitted && form.disclaimerNonUe.$invalid}">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="checkbox">
        <label for="disclaimer-non-ue" >
          <input id="disclaimer-non-ue" type="checkbox" name="disclaimerNonUe" ng-model="disclaimerNonUe" required>
          Détenteur d'une carte de résident ou d'un titre de séjour valide et résidant en France plus de 9 mois par an.
        </label>
      </div>
      <span class="help-block" id="help-disclaimer-non-ue" ng-if="submitted && form.disclaimerNonUe.$invalid">Vous devez remplir cette condition pour être éligible aux aides sociales calculées par ce simulateur.</span>
    </div>
  </div>

  <div class="form-group" ng-if="options.captureRelationConjoint">
    <label class="control-label col-sm-4" for="relation-conjoint">Votre relation</label>
    <div class="col-sm-4">
      <select
        class="form-control"
        id="relation-conjoint"
        name="statutMarital"
        ng-model="individu.statutMarital"
        ng-options="situationMaritale.value as situationMaritale.label for situationMaritale in situationsMaritales">
      </select>
    </div>
  </div>

  <div class="form-group from-group-lg">
    <label class="control-label col-sm-4" id="situations-particulieres">
      Situations particulières <em>(facultatif)</em>
      <div class="small">
        Cochez la ou les situations qui<br>
        {{ isDemandeur() ? 'vous' : 'lui' }} correspondent
      </div>
    </label>
    <div class="col-sm-8">
      <div class="checkbox">
        <label for="individu-enceinte">
          <input id="individu-enceinte" type="checkbox" ng-model="individu.enceinte" aria-describedby="situations-particulieres">
          Enceinte
        </label>
      </div>
      <div class="checkbox" ng-if="options.captureGardeAlternee">
        <label for="individu-garde-alternee">
          <input id="individu-garde-alternee" type="checkbox" ng-model="individu.gardeAlternee" aria-describedby="situations-particulieres">
          En garde alternée
        </label>
      </div>
      <div class="checkbox" ng-repeat="statut in statutsSpecifiques">
        <label for="status-specifiques{{ statut.id }}">
          <input id="status-specifiques{{ statut.id }}" type="checkbox" ng-model="selectedStatuts[statut.id]" aria-describedby="situations-particulieres">
          {{ statut.label }}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group from-group-lg" ng-if="captureEligibiliteAss()">
    <div class="form-group" ng-class="{'has-error': submitted && form.lastJobEndDate.$invalid}">
      <label class="control-label col-sm-4" for="last-job-end-date">Quand s’est terminé {{ isDemandeur() ? 'votre' : 'son' }} dernier contrat de travail ?</label>
      <div class="col-sm-4">
        <input
            type="text"
            name="lastJobEndDate"
            id="last-job-end-date"
            dds-date-month-year
            ng-model="individu.lastJobEndDate"
            date-naissance-max-age="100"
            placeholder="MM/AAAA">
        <ul class="help-block" ng-if="submitted && form.lastJobEndDate.$invalid">
          <li ng-if="form.lastJobEndDate.$error.ddsDateMonthYear">
            Essayez au format MM/AAAA. Par exemple : 12/2015.
          </li>
          <li ng-if="form.lastJobEndDate.$error.dateNaissanceMaxAge">
            Votre dernier contrat doit être postérieur à votre date de naissance.
          </li>
        </ul>
      </div>

      <span class="help-block">Si vous n’avez jamais eu de contrat de travail, laissez ce champ vide.</span>
    </div>

    <div class="form-group" ng-if="individu.lastJobEndDate.year()">
      <label class="control-label col-sm-4" id="ass-question">
        {{ isDemandeur() ? 'Avez-vous' : 'A-t-il (elle)' }}
        travaillé au moins 5 ans entre {{ individu.lastJobEndDate.clone().subtract(10, 'years').format('MMMM YYYY') }} et {{ individu.lastJobEndDate.format('MMMM YYYY') }} ?
      </label>

      <div class="col-sm-8">
        <label for="ass-precondition-true" class="radio-inline">
          <input id="ass-precondition-true" aria-describedby="ass-question" type="radio" name="eligibiliteAss" ng-model="individu.assPreconditionRemplie" ng-value="true">
          Oui
        </label>
        <label for="ass-precondition-false" class="radio-inline">
          <input id="ass-precondition-false" aria-describedby="ass-question" type="radio" name="eligibiliteAss" ng-model="individu.assPreconditionRemplie" ng-value="false">
          Non
        </label>
      </div>
    </div>
  </div>

  <div class="form-group from-group-lg" ng-if="captureTauxInvalidite()">
    <label class="control-label col-sm-4" for="eligibiliteAss">
      Quel est {{ isDemandeur() ? 'votre' : 'son' }} taux d'invalidité ?
    </label>
    <div class="col-sm-8">
      <label class="radio-inline">
        <input type="radio" name="tauxInvalidite" value="moins50" ng-model="individu.tauxInvalidite">
        Moins de 50%
      </label>
      <label class="radio-inline">
        <input type="radio" name="tauxInvalidite" value="moins80" ng-model="individu.tauxInvalidite">
        Entre 50% et 80%
      </label>
      <label class="radio-inline">
        <input type="radio" name="tauxInvalidite" value="plus80" ng-model="individu.tauxInvalidite">
        Plus de 80%
      </label>
    </div>
  </div>

  <div class="form-group from-group-lg" ng-if="captureEnfantPlace()">
    <label class="control-label col-sm-4" for="place">
     Est-il/elle placé·e en structure spécialisée ou famille d'accueil ?
    </label>
    <div class="col-sm-8">
      <label class="radio-inline" for="place-true">
        <input id="place-true" type="radio" name="place" ng-model="individu.place" ng-value="true">
        Oui
      </label>
      <label class="radio-inline" for="place-false">
        <input id="place-false" type="radio" name="place" ng-model="individu.place" ng-value="false">
        Non
      </label>
    </div>
  </div>

  <div class="form-group from-group-lg" ng-if="captureEtudiantBoursier()">
    <label class="control-label col-sm-4" id="etudiant-boursier">
      {{ isDemandeur() ? 'Êtes-vous' : 'Est-il/elle' }} étudiant boursier ?
    </label>
    <div class="col-sm-8">
      <label class="radio-inline" for="boursier-true">
        <input id="boursier-true" type="radio" name="boursier" ng-model="individu.boursier" ng-value="true" aria-describedby="etudiant-boursier">
        Oui
      </label>
      <label class="radio-inline" for="boursier-false">
        <input id="boursier-false" type="radio" name="boursier" ng-model="individu.boursier" ng-value="false" aria-describedby="etudiant-boursier">
        Non
      </label>
    </div>
  </div>

  <div class="form-group from-group-lg" ng-if="captureScolarite(form)">
    <label class="control-label col-sm-4" for="scolarite">
      Où sera-t-il/elle scolarisé·e à la rentrée prochaine ?
    </label>
    <div class="col-sm-4">
      <select
        id="scolarite"
        class="form-control"
        ng-model="individu.scolarite"
        ng-options="scolarite.id as scolarite.label for scolarite in scolariteOptions">
      </select>
    </div>
  </div>

  <div class="form-group from-group-lg" ng-if="catpurePersonneACharge(form)">
    <label class="control-label col-sm-4" for="a-charge">
      Figure-t-il/elle sur votre dernière déclaration d'impôt sur le revenu ?
    </label>
    <div class="col-sm-8">
      <label class="radio-inline" for="a-charge-true">
        <input id="a-charge-true" type="radio" name="a-charge" ng-model="individu.aCharge" ng-value="true">
        Oui
      </label>
      <label class="radio-inline" for="a-charge-false">
        <input id="a-charge-false" type="radio" name="a-charge" ng-model="individu.aCharge" ng-value="false">
        Non
      </label>
    </div>
  </div>

  <div class="form-group from-group-lg" ng-if="capturePerteAutonomie(form)">
    <label class="control-label col-sm-4" for="perteAutonomie">
      Avez-vous des difficultés pour accomplir les gestes de la vie quotidienne ?
    </label>
    <div class="col-sm-8">
      <label class="radio-inline" for="perteAutonomie-true">
        <input id="perteAutonomie-true" type="radio" name="perteAutonomie" ng-model="individu.perteAutonomie" ng-value="true">
        Oui
      </label>
      <label class="radio-inline" for="perteAutonomie-false">
        <input id="perteAutonomie-true" type="radio" name="perteAutonomie" ng-model="individu.perteAutonomie" ng-value="false">
        Non
      </label>
    </div>  </div>

  <div class="pull-right">
    <button type="submit" class="btn btn-primary">
      Valider <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </button>
  </div>

  <button type="button" class="btn btn-default" ng-click="cancel()" ng-if="options.displayCancelButton">Annuler</button>

  <div class="clearfix"></div>
</form>
