<form method="post" name="form" class="form-horizontal form-individu" ng-submit="submit(form)" novalidate>
  <div class="form-group" ng-class="{'has-error': submitted && form.dateDeNaissance.$invalid}">
    <label class="control-label col-sm-4" for="date-de-naissance">
      Date de naissance <span class="visually-hidden">au format jour/mois/année</span>
    </label>
    <div class="col-sm-4">
      <input
        dds-date
        format="JJ/MM/AAAA"
        class="form-control"
        max="{{ today.format('YYYY-MM-DD') }}"
        min="{{ minBirthDate.format('YYYY-MM-DD') }}"
        name="dateDeNaissance"
        id="date-de-naissance"
        required
        ng-model="individu.date_naissance"
        auto-focus
        aria-describedby="help-date-de-naissance"
        >
      <ul class="help-block" id="help-date-de-naissance" ng-if="submitted && form.dateDeNaissance.$invalid">
        <li ng-show="form.dateDeNaissance.$error.format">
          Veuillez utiliser le format JJ/MM/AAAA. Par exemple&nbsp;: 15/06/1981.
        </li>
        <li ng-if="form.dateDeNaissance.$error.required">
          Ce champ est obligatoire.
        </li>
        <li ng-if="form.dateDeNaissance.$error.isBeforeMin">
          Les personnes de plus de {{ maxAgeYears }} ans ne sont pas prises en compte.
        </li>
        <li ng-if="form.dateDeNaissance.$error.isAfterMax">
          Cette personne doit être déjà née pour être prise en compte.<br>
          Pour simuler une naissance future, imaginez qu'elle a eu lieu aujourd'hui et déclarez vos revenus en conséquence.
        </li>
      </ul>
    </div>
  </div>

  <p class="alert alert-warning" id="warning-less-18" ng-if="isDemandeurMineur(form)">
    <i class="fa fa-warning" aria-hidden="true"></i>
    Les aides simulées ne peuvent normalement être attribuées qu'à des personnes majeures.<br>
    Pour bénéficier d'aides, vous devrez démontrer aux organismes qui les distribuent que vous n'avez plus de liens avec vos parents ou tuteurs.<br>
    Si ce n'est pas le cas, faites plutôt la simulation du point de vue d'un de vos parents ou tuteurs.
  </p>

  <div class="form-group" ng-if="capturePrenom" ng-class="{'has-error': submitted && form.firstName.$invalid}">
    <label class="control-label col-sm-4" for="first-name">Prénom</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" name="firstName" id="first-name" required select-on-focus ng-model="individu.firstName" aria-describedby="help-first-name">
      <p class="help-block" ng-if="submitted && form.firstName.$invalid">Ce champ est obligatoire.</p>
    </div>
    <div class="col-sm-4">
      <p class="help-col" id="help-first-name">Ce prénom servira uniquement à vous faciliter la saisie par la suite</p>
    </div>
  </div>

  <div ng-if="individu.role == 'demandeur'" class="form-group">
    <label class="control-label col-sm-4">Nationalité</label>
    <div class="col-sm-4">
      <ui-select ng-model="individu.nationalite_code" on-select="selectNationalite($item, $model)" theme="bootstrap">
        <ui-select-match placeholder="Sélectionnez votre nationalité…">{{ $select.selected.name }}</ui-select-match>
        <ui-select-choices repeat="nationalite in nationalites | filter: $select.search">
          <div ng-bind-html="nationalite.name | highlight: $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

  <div
    class="form-group"
    ng-repeat="(key, label) in outOfFranceDisclaimers"
    ng-if="individu.nationalite == key"
    ng-class="{'has-error': submitted && form['outOfFranceDisclaimer-' + key].$invalid}">
    <div class="col-sm-offset-4 col-sm-8">
      <div class="checkbox">
        <label for="{{ 'out-of-france-disclaimer-' + key }}" >
          <input
            id="{{ 'out-of-france-disclaimer-' + key }}"
            type="checkbox"
            name="{{ 'outOfFranceDisclaimer-' + key }}"
            ng-model="locals.outOfFranceDisclaimers[key]"
            required
          >
          {{ label }}
        </label>
      </div>
      <span class="help-block" id="help-disclaimer-non-ue" ng-if="submitted && form['outOfFranceDisclaimer-' + key ].$invalid">Vous devez remplir cette condition pour être éligible aux aides sociales calculées par ce simulateur.</span>
    </div>
  </div>

  <div class="form-group" ng-if="individu.role == 'conjoint'">
    <label class="control-label col-sm-4" for="relation-conjoint">Votre relation</label>
    <div class="col-sm-4">
      <select
        class="form-control"
        id="relation-conjoint"
        name="statutMarital"
        ng-model="individu.statut_marital"
        ng-options="situationFamiliale.value as situationFamiliale.label for situationFamiliale in situationsFamiliales">
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-4">
      <span ng-if="individu.role == 'demandeur'">Vous êtes</span>
      <span ng-if="individu.role == 'conjoint'">Votre conjoint·e est</span>
      <span ng-if="individu.role == 'enfant'">Il ou elle est</span>
      <span class="help-block">Plusieurs choix possibles</span>
    </label>
    <div class="col-sm-8">
      <div class="checkbox" ng-if="captureGardeAlternee">
        <label>
          <input type="checkbox" ng-model="individu.garde_alternee">
          En garde alternée
        </label>
      </div>
      <div class="checkbox" ng-repeat="statut in specificSituations">
        <label>
          <input type="checkbox" ng-model="selectedStatuts[statut.id]">
          {{ statut.label }}
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="individu.enceinte">
          Enceinte
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="individu.no_specific_situation">
          Je ne suis dans aucune de ces situations
        </label>
      </div>
    </div>
  </div>

  <div ng-if="captureEligibiliteAss()">
    <div class="form-group" ng-class="{'has-error': submitted && form.date_debut_chomage.$invalid}">
      <label class="control-label col-sm-4" for="last-job-end-date">
        Quand s’est terminé {{ individu.role == 'demandeur' ? 'votre' : 'son' }} dernier contrat de travail ?
      </label>
      <div class="col-sm-4">
        <input
            dds-date
            format="MM/AAAA"
            min="{{ individu.date_naissance.format('YYYY-MM') }}"
            max="{{ situation.dateDeValeur.toISOString().slice(0, 7) }}"
            name="date_debut_chomage"
            id="last-job-end-date"
            ng-model="individu.date_debut_chomage"
            >

        <ul class="help-block" ng-if="submitted && form.date_debut_chomage.$invalid">
          <li ng-show="form.date_debut_chomage.$error.format">
            Veuillez utiliser le format MM/AAAA. Par exemple&nbsp;: 04/2016.
          </li>
          <li ng-if="form.date_debut_chomage.$error.isBeforeMin">
            Il semblerait que votre contrat de travail se soit arrêté avant votre naissance.
          </li>
          <li ng-if="form.date_debut_chomage.$error.isAfterMax">
            Le simulateur ne permet pas d'indiquer une date de fin de travail dans le futur.
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <span class="help-block">Si vous n’avez jamais eu de contrat de travail, laissez ce champ vide.</span>
      </div>
    </div>

    <yes-no-question model="individu.ass_precondition_remplie"
      ng-if="individu.date_debut_chomage.year()"
      size="4"
      >
      <question>
        {{ individu.role == 'demandeur' ? 'Avez-vous' : 'A-t-il (elle)' }}
        travaillé au moins 5&nbsp;ans entre&nbsp;{{ individu.date_debut_chomage.clone().subtract(10, 'years').format('MMMM YYYY') }}
        et&nbsp;{{ individu.date_debut_chomage.format('MMMM YYYY') }}&nbsp;?
      </question>
      <help-block>1825&nbsp;jours (5&nbsp;fois&nbsp;365) couverts par un contrat de travail, en activité ou en congés.</help-block>
    </yes-no-question>
  </div>

  <div class="form-group" ng-if="captureTauxIncapacite()">
    <div class="col-sm-4 control-label">
      <label for="eligibiliteAss" id="tauxIncapaciteQuestion">
        {{ individu.role == 'demandeur' ? 'Votre' : 'Son' }} taux d'incapacité
      </label>
      <div class="help-block">
        Évalué par <a target="_blank" rel="noopener" href="http://informations.handicap.fr/carte-france-mdph.php">votre <abbr title="Maison départementale des personnes handicapées">MDPH</abbr></a>.
      </div>
    </div>
    <div class="button-row">
      <label
        ng-repeat="tauxIncapacite in tauxIncapaciteOptions"
        class="btn btn-sm btn-default"
        ng-class="{ 'active': individu.taux_incapacite == tauxIncapacite.value }"
        >
        <input type="radio"
          name="tauxIncapacite"
          class="sr-only"
          aria-describedby="tauxIncapaciteQuestion"
          ng-value="tauxIncapacite.value"
          ng-model="individu.taux_incapacite"
          />
        {{ tauxIncapacite.label }}
      </label>
    </div>
  </div>

  <yes-no-question model="individu.aah_restriction_substantielle_durable_acces_emploi"
    ng-if="captureRestrictionSubstantielleDurableAccesEmploi()"
    size="4"
    >
    <question>
      {{ individu.role == 'demandeur' ? 'Avez-vous' : 'A-t-il (elle)' }}
      une restriction substantielle et durable d'accès à l'emploi reconnue par la <abbr title="Commission des droits et de l'autonomie des personnes handicapées">CDAPH</abbr>&nbsp;?</question>
      <help-block>Attention, cette restriction est différente de la reconnaissance de la qualité de travailleur handicapé.</help-block>
  </yes-no-question>

  <yes-no-question model="individu.enfant_place"
    ng-if="captureEnfantPlace()"
    size="4"
    >
    <question>Est-il/elle placé·e en structure spécialisée ou famille d'accueil&nbsp;?</question>
  </yes-no-question>

  <fieldset class="form-group" ng-if="selectedStatuts.etudiant">
    <label class="col-sm-4 control-label" for="echelon-bourse">
      À quel échelon {{ individu.role == 'demandeur' ? 'êtes-vous' : 'est-il/elle' }} boursier&nbsp;?
    </label>
    <div class="col-sm-4">
      <input id="echelon-bourse"
        ng-model="individu.echelon_bourse"
        type="range"
        min="-1"
        max="7"
        aria-describedby="help-echelon-bourse"
        >
    </div>
    <div id="help-echelon-bourse" class="col-sm-2 control-label">
      {{ individu.echelon_bourse == -1 ? 'Non boursier': 'Boursier échelon ' + individu.echelon_bourse }}
    </div>
  </fieldset>

  <yes-no-question model="locals.fiscalementIndependant"
    ng-if="captureDemandeurACharge()"
    size="4"
    >
    <question>Remplirez-vous vous-même votre prochaine déclaration de revenus aux impôts&nbsp;?</question>
  </yes-no-question>

  <div class="form-group" ng-if="captureScolarite(form)">
    <label class="control-label col-sm-4" for="scolarite">
      Où sera-t-il/elle scolarisé·e à la rentrée prochaine ?
    </label>
    <div class="col-sm-4">
      <select
        id="scolarite"
        class="form-control"
        ng-model="individu.scolarite"
        ng-options="scolarite.value as scolarite.label for scolarite in scolariteOptions">
      </select>
    </div>
  </div>

  <yes-no-question model="individu.enfant_a_charge[currentYear]"
    ng-if="captureEnfantACharge(form)"
    size="4"
    >
    <question>Figure-t-il/elle sur votre dernière déclaration d'impôt sur le revenu&nbsp;?</question>
  </yes-no-question>

  <div class="form-group" ng-if="individu.role == 'demandeur' && capturePerteAutonomie">
    <div class="col-sm-4 control-label">
      <label for="gir" id="girQuestion">
        Avez-vous besoin d’une aide à la personne&nbsp;?
      </label>
    </div>
    <div class="button-row">
      <label
        ng-repeat="gir in GIROptions"
        class="btn btn-sm btn-default"
        ng-class="{ 'active': individu.gir == gir.value }"
        >
        <input type="radio"
          name="gir"
          class="sr-only"
          aria-describedby="girQuestion"
          ng-value="gir.value"
          ng-model="individu.gir"
          />
        {{ gir.label }}
      </label>
    </div>
  </div>

  <div class="pull-right">
    <button type="submit" class="btn btn-primary">
      Valider <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </button>
  </div>

  <button type="button" class="btn btn-default" ng-click="cancel()" ng-if="displayCancelButton">Annuler</button>

  <div class="clearfix"></div>
</form>
