<div class="container layout">
  <div class="row">
    <div class="col-md-9 col-sm-12 form-foyer">
      <div ui-view autoscroll>
        <p class="text-center"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Chargement en cours…</p>
      </div>
    </div>
    <aside class="col-md-3 recap-situation whiteframe-z1 hidden-xs hidden-sm" ng-if="situation.individus.length">
      <div ui-view="recap_situation">
        <p class="text-center"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Chargement en cours…</p>
      </div>
    </aside>
  </div>
</div>
