<div class="frame-foyer">
  <h1>Votre logement principal</h1>
  <form method="post" name="form" class="form-horizontal" novalidate ng-submit="submit(form)">

    <div class="form-group">
      <label class="control-label col-sm-3">Vous êtes</label>
      <div class="col-sm-9">
        <div class="radio" ng-repeat="logementType in logementTypes">
          <label>
            <input
              type="radio"
              name="logementType"
              ng-model="logement.type"
              ng-value="logementType.id"
              ng-change="changeLogementType()">
            {{ logementType.label|uppercaseFirst }}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="'locataire' === logement.type">
      <label class="col-sm-3 control-label">Est-ce une colocation ?</label>
      <div class="col-sm-9">
        <button type="button" class="btn btn-sm btn-default" ng-model="logement.colocation" btn-radio="true">Oui</button>
        <button type="button" class="btn btn-sm btn-default" ng-model="logement.colocation" btn-radio="false">Non</button>
      </div>
    </div>

    <div class="form-group" ng-if="captureMembreFamilleProprietaire()">
      <label class="col-sm-3 control-label">Avez-vous un lien de parenté direct avec votre propriétaire&nbsp;?</label>
      <div class="col-sm-3">
        <button type="button" class="btn btn-sm btn-default" ng-model="logement.membreFamilleProprietaire" btn-radio="true">Oui</button>
        <button type="button" class="btn btn-sm btn-default" ng-model="logement.membreFamilleProprietaire" btn-radio="false">Non</button>
      </div>
      <div class="col-sm-6">
        <p class="help-block">Est-il un ascendant ou descendant de vous ou votre conjoint (fils, grand-père…)</p>
      </div>
    </div>

    <div class="form-group" ng-show="captureLocationType()">
      <label class="control-label col-sm-3">Quel type de logement louez-vous&nbsp;?</label>
      <div class="col-sm-9">
        <div class="radio" ng-repeat="locationType in locationTypes">
          <label>
            <input
              type="radio"
              name="locationType"
              ng-model="logement.locationType"
              ng-value="locationType.id">
            {{ locationType.label|uppercaseFirst }}
          </label>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="captureChambre()">
      <label class="col-sm-3 control-label">Est-ce une chambre ?</label>
      <div class="col-sm-3">
        <button type="button" class="btn btn-sm btn-default" ng-model="logement.isChambre" btn-radio="true">Oui</button>
        <button type="button" class="btn btn-sm btn-default" ng-model="logement.isChambre" btn-radio="false">Non</button>
      </div>
      <div class="col-sm-6">
        <p class="help-block">Une chambre est un logement qui ne comporte qu'une seule pièce et n'est pas équipée d'un WC.</p>
      </div>
    </div>

    <div ng-if="logement.type === 'proprietaire'">
      <div class="form-group">
        <label class="col-sm-3 control-label">
          Êtes-vous primo-accédant pour cette propriété ?
        </label>
        <div class="col-sm-3">
          <button type="button" class="btn btn-sm btn-default" ng-model="logement.primoAccedant" btn-radio="true">Oui</button>
          <button type="button" class="btn btn-sm btn-default" ng-model="logement.primoAccedant" btn-radio="false">Non</button>
        </div>
        <div class="col-sm-5">
          <p class="help-block">
            Un primo-accédant est une personne (ou un ménage) qui n’a pas été propriétaire
            de sa résidence principale dans les deux années qui viennent de s’écouler au moment où il achète son bien.
          </p>
        </div>
      </div>
    </div>

    <div class="row" ng-if="captureLoyer()">
      <div class="col-sm-6">
        <div class="form-group" ng-class="{'has-error': submitted && form.loyer.$invalid}">
          <label class="col-sm-6 control-label" for="loyer">
            {{ loyerLabel() }}
          </label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="number" min="0" step="100" class="form-control text-right" id="loyer" name="loyer" ng-model="logement.loyer">
              <div class="input-group-addon">€</div>
            </div>
            <span class="help-block" ng-if="submitted && form.loyer.$invalid">Champ invalide</span>
          </div>
        </div>
      </div>
      <div class="col-sm-5" ng-if="logement.type == 'proprietaire'">
        <p class="help-block">
          Laissez ce champ à 0&nbsp;€ si vous ne remboursez pas actuellement de crédit pour votre logement.
        </p>
      </div>
      <div class="col-sm-6" ng-if="captureCharges()">
        <div class="form-group" ng-class="{'has-error': submitted && form.charges.$invalid}">
          <label class="col-sm-3 control-label" for="charges">
            Vos charges
          </label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="number" class="form-control text-right" id="charges" name="charges" ng-model="logement.charges">
              <div class="input-group-addon">€</div>
            </div>
            <span class="help-block" ng-if="submitted && form.charges.$invalid">Champ invalide</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-show="captureCodePostal()">
      <div class="col-sm-6">
        <div
          class="form-group"
          ng-class="{'has-error': submitted && ! cities.length}">
          <label class="col-sm-6 control-label" for="postal-code">Code postal et ville</label>
          <div class="col-sm-6">
            <input
              type="text"
              inputmode="numeric"
              minlength="5"
              maxlength="5"
              pattern="[0-9]{5}"
              title="Cinq chiffres"
              class="form-control"
              id="postal-code"
              required
              ng-model="logement.postalCode"
              ng-change="updateCities()">
            <span class="help-block" ng-if="submitted && ! cities.length">Ce code postal est invalide</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <div class="col-sm-12">
            <p class="form-control-static" ng-if="retrievingCities"><i class="fa fa-spinner fa-spin"></i></p>
            <select
              class="form-control"
              required
              ng-show="cities.length"
              ng-options="city.nomCommune for city in cities"
              ng-model="logement.adresse">
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group" ng-if="captureResidentParis()">
      <label class="col-sm-3 control-label">Avez-vous habité Paris au moins 3 ans depuis {{ yearsAgo(5) }}&nbsp;?</label>
      <div class="col-sm-3">
        <button type="button" class="btn btn-sm btn-default" ng-model="logement.inhabitantForThreeYearsOutOfLastFive" btn-radio="true">Oui</button>
        <button type="button" class="btn btn-sm btn-default" ng-model="logement.inhabitantForThreeYearsOutOfLastFive" btn-radio="false">Non</button>
      </div>

      <div class="col-sm-6">
        <span class="help-block">
          Y compris de manière discontinue.
        </span>
      </div>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary" ng-if="captureCodePostal()">
        Valider <i class="fa fa-arrow-circle-right"></i>
      </button>
    </div>
  </form>
</div>
