<div class="frame-foyer">
  <h1>Votre logement principal</h1>

  <div class="help-block">
    <p>Si vous habitez actuellement à l'étranger, préférez le simulateur <a target="_blank" rel="noopener" href="http://retour-en-france.simplicite.fr/">Retour en France</a>. Des délais de résidence en France sont en effet requis pour certaines aides.</p>
  </div>

  <form method="post" name="form" class="form-horizontal" novalidate ng-submit="submit(form)">

    <div class="form-group">
      <div class="button-row">
        <label
          ng-repeat="logementType in logementTypes"
          class="btn btn-default"
          ng-class="{ active: logement.type == logementType.id }"
          >
            <input type="radio"
              name="logementType"
              class="sr-only"
              ng-model="logement.type"
              ng-change="changeLogementType()"
              value="{{logementType.id}}"
              />
              {{ logementType.label | uppercaseFirst }}
              <span class="help-col">{{ logementType.hint }}</span>
        </label>
      </div>
    </div>

    <yes-no-question model="menage.coloc" ng-if="captureColocation()">
      <question>Est-ce une colocation ?</question>
    </yes-no-question>

    <yes-no-question model="famille.proprietaire_proche_famille" ng-if="captureProprietaireProcheFamille()">
      <question>Avez-vous un lien de parenté direct avec votre propriétaire ?</question>
      <help-block>Est-il un ascendant ou descendant de vous ou votre conjoint·e (enfant, grand-parent…) ?</help-block>
    </yes-no-question>

    <div class="form-group" ng-show="captureLocationType()">
      <label class="control-label col-sm-3">Quel type de logement louez-vous ?</label>
      <div class="col-sm-9">
        <div class="radio" ng-repeat="locationType in locationTypes">
          <label>
            <input
              type="radio"
              name="locationType"
              ng-model="logement.locationType"
              ng-value="locationType.id">
            {{ locationType.label|uppercaseFirst }}
          </label>
        </div>
      </div>
    </div>

    <yes-no-question model="menage.logement_chambre" ng-if="captureChambre()">
      <question>Est-ce une chambre ?</question>
      <help-block>
        Une chambre est un logement qui ne comporte qu'une seule pièce et n'est pas équipée d'un WC.
      </help-block>
    </yes-no-question>

    <yes-no-question model="logement.primoAccedant" ng-if="logement.type == 'proprietaire'">
      <question>Êtes-vous primo-accédant pour cette propriété ?</question>
      <help-block>
        Un primo-accédant est une personne (ou un ménage) qui n’a pas été propriétaire
        de sa résidence principale dans les deux années qui viennent de s’écouler au moment où il achète son bien.
      </help-block>
    </yes-no-question>

    <yes-no-question model="demandeur.habite_chez_parents" ng-if="captureHabiteChezParents()">
      <question>Habitez-vous avec vos parents ?</question>
    </yes-no-question>

    <yes-no-question model="menage.participation_frais" ng-if="captureParticipationFrais()">
      <question>Participez-vous aux frais du logement ?</question>
      <help-block>Par exemple aux dépenses d'électricité, de téléphone, etc.</help-block>
    </yes-no-question>

    <div class="row" ng-if="captureLoyer()">
      <div class="col-sm-6">
        <div class="form-group" ng-class="{'has-error': submitted && form.loyer.$invalid}">
          <label class="col-sm-6 control-label" for="loyer">
            {{ loyerLabel() }}
          </label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="number" min="0" class="form-control text-right" id="loyer" name="loyer" ng-model="menage.loyer"
                select-on-focus
                zero-to-empty
                ng-required="captureLoyer()"
                >
              <div class="input-group-addon">€</div>
            </div>
            <span class="help-block" ng-if="submitted && form.loyer.$invalid">Champ invalide</span>
          </div>
        </div>
      </div>

      <div class="col-sm-5" ng-if="logement.type == 'proprietaire'">
        <p class="help-block">
          Laissez ce champ à 0 € si vous ne remboursez pas actuellement de crédit pour votre logement.
        </p>
      </div>

      <div class="col-sm-6" ng-if="captureCharges()">
        <div class="form-group" ng-class="{'has-error': submitted && form.charges.$invalid}">
          <label class="col-sm-3 control-label" for="charges">
            Vos charges locatives
          </label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="number" class="form-control text-right" id="charges" name="charges" ng-model="menage.charges_locatives"
                select-on-focus
                zero-to-empty
                >
              <div class="input-group-addon">€</div>
            </div>
            <span class="help-block" ng-if="submitted && form.charges.$invalid">Champ invalide</span>
          </div>
        </div>
      </div>
    </div>

    <yes-no-question model="logement.pretSigneAvant2018" ng-if="capturePretSigneAvant2018()">
      <question>Avez-vous signé votre prêt <strong>avant</strong> le 1er janvier 2018 ?</question>
    </yes-no-question>

    <div class="row" ng-show="captureCodePostal()">

      <div class="col-sm-6">
        <div
          class="form-group"
          ng-class="{'has-error': submitted && ! isAdresseValid()}">
          <label class="col-sm-6 control-label" for="postal-code">Code postal</label>
          <div class="col-sm-6">
            <input
              type="text"
              inputmode="numeric"
              minlength="5"
              maxlength="5"
              pattern="[0-9]{5}"
              ng-pattern="/[0-9]{5}/"
              title="Cinq chiffres"
              class="form-control"
              id="postal-code"
              required
              ng-model="menage.code_postal"
              ng-change="changeCodePostal()">
            <span class="help-block" ng-if="submitted && ! isAdresseValid()">Ce code postal est invalide</span>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <p class="form-control-static" ng-if="retrievingCities"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></p>
          <div ng-show="cities.length">
            <label class="col-sm-3 control-label" for="city">Ville</label>
            <div class="col-sm-6">
              <select
                class="form-control"
                required
                ng-change="changeNomCommune()"
                ng-options="city.code as city.nom for city in cities"
                ng-model="menage.depcom"
                id="city">
              </select>
            </div>
          </div>
        </div>
      </div>

    </div>

    <yes-no-question model="famille.parisien" ng-if="captureResidentParis()">
      <question>Avez-vous habité Paris au moins 3 ans depuis {{ yearsAgo(5) }} ?</question>
      <help-block>Y compris de manière discontinue</help-block>
    </yes-no-question>

    <p ng-if="isResidentMayotte()" class="alert alert-danger" id="warning-mayotte">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
        Les règles spécifiques à Mayotte ne sont pas encore prises en compte par ce simulateur. Nous ne pouvons donc malheureusement pas évaluer vos droits pour ce code postal.
    </p>

    <div class="text-right">
      <button type="submit" class="btn btn-primary" ng-if="maySubmit()">
        Valider <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
      </button>
    </div>
  </form>
</div>
