<div class="frame-foyer">
  <h1>Votre patrimoine</h1>
  <form method="post" name="form" novalidate class="form-horizontal" ng-submit="submit()">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <i class="fa fa-home" aria-hidden="true"></i>
          Immobilier
        </h2>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <legend class="col-sm-4 control-label">Avez-vous des terrains <b>non loués</b> ?</legend>
          <div class="col-sm-3">
            <label
              class="btn btn-default"
              ng-class="{active: locals.hasTerrainsNonLoues == true}">
              <input
                type="radio"
                name="has-terrains-non-loues"
                class="sr-only"
                ng-model="locals.hasTerrainsNonLoues"
                ng-value="true"
                />
              Oui
            </label>
            <label
              class="btn btn-default"
              ng-class="{active: locals.hasTerrainsNonLoues == false}">
              <input
                type="radio"
                name="has-terrains-non-loues"
                class="sr-only"
                ng-model="locals.hasTerrainsNonLoues"
                ng-value="false"
                />
              Non
            </label>
          </div>
        </div>

        <div ng-if="locals.hasTerrainsNonLoues">
          <div class="form-group">
            <label
              class="col-sm-4 control-label"
              for="valeur-terrains-non-loues">
              Valeur <b>patrimoniale</b> totale de vos terrains <b>non loués</b>
            </label>
            <div class="col-sm-3">
              <div class="input-group">
                <input
                  type="number"
                  id="valeur-terrains-non-loues"
                  class="form-control text-right"
                  select-on-focus
                  zero-to-empty
                  ng-model="demandeur.valeur_terrains_non_loues[periodKey]">
                <span class="input-group-addon">€</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label
              class="col-sm-4 control-label"
              for="valeur-locative-terrains-non-loues">
              Valeur <b>locative</b> totale de vos terrains <b>non loués</b>
            </label>
            <div class="col-sm-3">
              <div class="input-group">
                <input
                  type="number"
                  id="valeur-locative-terrains-non-loues"
                  class="form-control text-right"
                  select-on-focus
                  zero-to-empty
                  ng-model="demandeur.valeur_locative_terrains_non_loues[periodKey]">
                <span class="input-group-addon">€</span>
              </div>
            </div>
            <div class="col-sm-5">
              <p class="help-block">
                Pour la trouver, consultez votre avis d'imposition de taxe d'habitation ou de taxe foncière.
              </p>
            </div>
          </div>
        </div>

        <div class="form-group">
          <legend class="col-sm-4 control-label">Avez-vous des appartements/immeubles <b>non loués</b> ?</legend>
          <div class="col-sm-3">
            <label
              class="btn btn-default"
              ng-class="{active: locals.hasBatisNonLoues == true}">
              <input
                type="radio"
                name="has-batis-non-loues"
                class="sr-only"
                ng-model="locals.hasBatisNonLoues"
                ng-value="true"
                />
              Oui
            </label>
            <label
              class="btn btn-default"
              ng-class="{active: locals.hasBatisNonLoues == false}">
              <input
                type="radio"
                name="has-batis-non-loues"
                class="sr-only"
                ng-model="locals.hasBatisNonLoues"
                ng-value="false"
                />
              Non
            </label>
          </div>
          <div class="col-sm-5">
            <p class="help-block">
              Sauf résidence principale et bâtiments de l'exploitation agricole.
            </p>
          </div>
        </div>

        <div ng-if="locals.hasBatisNonLoues">
          <div class="form-group">
            <label
              class="col-sm-4 control-label"
              for="valeur-immo-non-loue">
              Valeur <b>patrimoniale</b> de vos appartements/immeubles <b>non loués</b>
            </label>
            <div class="col-sm-3">
              <div class="input-group">
                <input
                  type="number"
                  id="valeur-immo-non-loue"
                  class="form-control text-right"
                  select-on-focus
                  zero-to-empty
                  ng-model="demandeur.valeur_immo_non_loue[periodKey]">
                <span class="input-group-addon">€</span>
              </div>
            </div>
          </div>



          <div class="form-group">
            <label
              class="col-sm-4 control-label"
              for="valeur-locative-immo-non-loue">
              Valeur <b>locative</b> totale de vos appartements/immeubles <b>non loués</b>
            </label>
            <div class="col-sm-3">
              <div class="input-group">
                <input
                  type="number"
                  id="valeur-locative-immo-non-loue"
                  class="form-control text-right"
                  select-on-focus
                  zero-to-empty
                  ng-model="demandeur.valeur_locative_immo_non_loue[periodKey]">
                <span class="input-group-addon">€</span>
              </div>
            </div>
            <div class="col-sm-5">
              <p class="help-block">
                Pour la trouver, consultez votre avis d'imposition de taxe d'habitation ou de taxe foncière.
              </p>
            </div>
          </div>
        </div>

        <div class="form-group" ng-if="locals.hasBiensLoues">
          <label
            class="col-sm-4 control-label"
            for="valeur-loues">
            Valeur <b>patrimoniale</b> de vos bien <b> loués</b>
          </label>
          <div class="col-sm-3">
            <div class="input-group">
              <input
                type="number"
                id="valeur-loues"
                class="form-control text-right"
                select-on-focus
                zero-to-empty
                ng-model="demandeur.valeur_patrimoine_loue[periodKey]">
              <span class="input-group-addon">€</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <i class="fa fa-money" aria-hidden="true"></i>
            Épargne
        </h2>
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label class="col-sm-4 control-label" for="epargne-livret-a">Livret A</label>
          <div class="col-sm-3">
            <div class="input-group">
              <input
                type="number"
                required
                id="epargne-livret-a"
                class="form-control text-right"
                select-on-focus
                zero-to-empty
                ng-model="demandeur.livret_a[periodKey]">
              <span class="input-group-addon">€</span>
            </div>
          </div>
          <div class="col-sm-5">
            <p class="help-block">
              Aussi appelé Livret bleu.
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-4 control-label" for="epargne-revenus-non-imposable">
            Total des autres produits d'épargne produisant des revenus <b>non imposables</b>
          </label>
          <div class="col-sm-3">
            <div class="input-group">
              <input
                type="number"
                required
                id="epargne-revenus-non-imposable"
                class="form-control text-right"
                select-on-focus
                zero-to-empty
                ng-model="demandeur.epargne_revenus_non_imposables[periodKey]">
              <span class="input-group-addon">€</span>
            </div>
          </div>
          <div class="col-sm-5">
            <p class="help-block">
              Assurance vie,
              <abbr title="Compte d'épargne-logement">CEL</abbr>,
              <abbr title="Livret de développement durable">LDD</abbr>,
              <abbr title="Livret d'épargne populaire">LEP</abbr>,
              Livret jeune,
              <abbr title="Plan d'épargne en actions">PEA</abbr>,
              plan d'épargne d'entreprise,
              <abbr title="Plan d'épargne logement">PEL</abbr>,
              <abbr title="Plan d'épargne populaire">PEP</abbr>.
          </div>
        </div>

        <div class="form-group" ng-if="locals.hasEpargneAuxRevenusImposables">
          <label class="col-sm-4 control-label" for="epargne-revenus-imposable">
            Total de l'épargne produisant des revenus <b>imposables</b>
          </label>
          <div class="col-sm-3">
            <div class="input-group">
              <input
                type="number"
                id="epargne-revenus-imposable"
                class="form-control text-right"
                select-on-focus
                zero-to-empty
                ng-model="demandeur.epargne_revenus_imposables[periodKey]">
              <span class="input-group-addon">€</span>
            </div>
          </div>
          <div class="col-sm-4">
              <p class="help-block">
                Actions,
                comptes à terme,
                <abbr title="Fonds communs de placement">FCP</abbr>,
                obligations,
                parts sociales,
                <abbr title="Société d'Investissement à CApital Variable">SICAV</abbr>,
                etc.
              </p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">Valider</button>
    </div>
  </form>
</div>
