<div class="frame-foyer">
  <form class="form-horizontal" ng-submit="submit()">
    <h1>Pensions alimentaires</h1>

    <div class="form-group">
      <label class="control-label col-md-6"><b>Percevez-vous</b> (ou votre conjoint) des pensions alimentaires ?</label>
      <div class="col-md-6">
        <button class="btn btn-sm btn-default" ng-model="recoitPensionsAlimentaires" btn-radio="true">Oui</button>
        <button class="btn btn-sm btn-default" ng-model="recoitPensionsAlimentaires" btn-radio="false">Non</button>
      </div>
    </div>

    <hr>

    <div class="form-group">
      <label class="control-label col-md-6"><b>Versez-vous</b> (ou votre conjoint) des pensions alimentaires ?</label>
      <div class="col-md-6">
        <button class="btn btn-sm btn-default" ng-model="versePensionsAlimentaires" btn-radio="true">Oui</button>
        <button class="btn btn-sm btn-default" ng-model="versePensionsAlimentaires" btn-radio="false">Non</button>
      </div>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">
        Valider <i class="fa fa-arrow-circle-right"></i>
      </button>
    </div>
  </form>
</div>
