<div class="frame-foyer">
  <form class="form-horizontal" novalidate ng-submit="submit()">
    <h1>Pensions alimentaires versées</h1>

    <div class="form-group">
      <label class="control-label col-md-7">
        Vous ou votre conjoint a-t-il <b>versé</b>
        des pensions alimentaires <b>depuis {{ debutAnneeGlissante }}</b> ?
      </label>
      <div class="col-md-5">
        <button type="button" class="btn btn-sm btn-default" ng-model="hasPensionsAlimentaires" btn-radio="true">Oui</button>
        <button type="button" class="btn btn-sm btn-default" ng-model="hasPensionsAlimentaires" btn-radio="false">Non</button>
      </div>
    </div>

    <div ng-if="hasPensionsAlimentaires">
      <montant-ressource
        ng-repeat="individuVM in individusVM"
        ng-model="individuVM.pensionsVersees"
        short-label="individuVM.label"
        ressource-type="pensionsVersees"
        index="$index"
        date-de-valeur="situation.dateDeValeur"
        on-going-label="'Je continuerai à verser cette pension en ' + currentMonth">
      </montant-ressource>
    </div>

    <div class="text-right">
      <button type="submit" class="btn btn-primary">
        Valider <i class="fa fa-arrow-circle-right"></i>
      </button>
    </div>
  </form>
</div>
