<h3 class="text-center">
  Votre situation
  <a class="print-hidden visible-xs-inline visible-sm-inline" ng-click="locals.show = ! locals.show"><small>
    <span ng-show="locals.show">(Cacher)</span>
    <span ng-hide="locals.show">(Afficher)</span>
  </small></a>
</h3>

<div class="details" ng-show="locals.show">
  <hr>
  <h4>Votre foyer</h4>
  <individu-block ng-repeat="individu in situation.individus" individu="individu"></individu-block>

  <div id="recap-logement" ng-if="situation.menage.statut_occupation_logement">
    <a ui-sref="foyer.logement" class="pull-right"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i> Modifier</a>
    <h4>Votre logement</h4>
    <div class="situation-block">
      <div ng-if="recapLogement" ng-bind-html="recapLogement | uppercaseFirst"></div>
      <div ng-if="situation.menage.loyer">{{ loyerLabel }} : <b>{{ situation.menage.loyer | currency }}</b></div>
      Code postal <b>{{ situation.menage.code_postal }}</b>
      <br><b>{{ situation.menage.nom_commune }}</b>
    </div>
  </div>

  <div>
    <div ng-repeat="individu in individusSorted" ng-if="shouldDisplayPersonRessourcesRecap(individu)">
      <a
        ui-sref="{{ getModifyPersonRessourcesLink(individu) }}"
        class="pull-right">
        <i class="fa fa-edit" aria-hidden="true" role="presentation"></i>
        Modifier
      </a>
      <h4>{{ getIndividuRessourcesHeader(individu) }}</h4>
      <uib-accordion
        close-others="false"
        class="ressources-accordion"
        ng-if="ressourcesByIndividu[$index]">
        <div uib-accordion-group
          ng-repeat="(type, ressource) in ressourcesByIndividu[$index] track by type"
          ng-init="ressourceType = keyedRessourceTypes[type]"
          class="ressources-recap panel panel-default {{ ressourceType.category }}"
          heading="{{ ressourceType.label }}"
          >
          <div class="row" ng-if="ressource[month.id]" ng-repeat="month in months">
            <div class="col-sm-7">
              {{ month.label | uppercaseFirst }}
            </div>
            <div class="ressources-value col-sm-5">
              {{ ressource[month.id] | currency }}
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-7">
              Annuel
            </div>
            <div class="ressources-value col-sm-5">
              {{ getTotalAnnuel(ressource) | currency }}
            </div>
          </div>
        </div>
      </uib-accordion>
      <div ng-if="ressourcesByIndividu[$index] | isEmpty">
        <em class="small">Aucune ressource déclarée</em>
      </div>
    </div>
  </div>

  <div id="recap-ym2-resources" ng-if="ressourcesYearMoins2Captured">
    <a ui-sref="foyer.ressourcesYearMoins2" class="pull-right">
      <i class="fa fa-edit" aria-hidden="true" role="presentation"></i>
      Modifier
    </a>
    <h4>Année {{ yearMoins2 }}</h4>
    <span ng-if="rfrCaptured">Revenu fiscal de référence : {{ situation.foyer_fiscal.rfr[yearMoins2] | currency }}</span>
    <uib-accordion
      close-others="false"
      class="ressources-accordion">
      <div uib-accordion-group
        ng-repeat="ym2IndividuRecap in ressourcesYearMoins2"
        class="ressources-recap panel panel-default"
        heading="{{ ym2IndividuRecap.label }}"
        is-open="ym2IndividuRecap.isOpen">
        <div class="row" ng-repeat="ressource in ym2IndividuRecap.ressources">
          <div class="col-sm-8">
            {{ ressource.label }}
          </div>
          <div class="ressources-value col-sm-4">
            {{ ressource.montant | currency }}
          </div>
        </div>
      </div>
    </uib-accordion>
  </div>

  <div ng-if="patrimoine.captured">
    <a ui-sref="foyer.patrimoine" class="pull-right"><i class="fa fa-edit" aria-hidden="true" role="presentation"></i> Modifier</a>
    <h4>Votre patrimoine</h4>
    <em class="small" ng-if="!(patrimoine.length + revenusDuPatrimoine.length)">Aucun patrimoine déclaré</em>
    <uib-accordion
      close-others="true"
      class="ressources-accordion"
      >
      <div uib-accordion-group
        ng-if="patrimoine.length"
        heading="Patrimoine"
        class="ressources-recap panel panel-default"
        is-open="revenu.isOpen">
        <div ng-repeat="value in patrimoine">
          {{ value.label }} : {{ value.montant | currency }}
        </div>
      </div>
      <div uib-accordion-group
        ng-repeat="revenu in revenusDuPatrimoine"
        heading="{{ revenu.label }}"
        is-open="revenu.isOpen">
        <div ng-repeat="value in revenu.values">
          {{ value.periode|uppercaseFirst }} : {{ value.montant | currency }}
        </div>
      </div>
    </uib-accordion>
  </div>

  <h4 id="recap-id" ng-if="situation._id">
    Identifiant : <span class="preformatted">{{ situation._id }}</span>
  </h4>
</div>
