<fieldset class="form-group">
  <legend class="col-sm-3 control-label"></legend>
  <div class="col-sm-3">
    <input type="radio" id="{{uniqueFieldId}}-yes" name="{{ uniqueFieldId }}" class="screenReadersOnly" ng-model="value" value="true" ng-click="updateValue()"/>
    <label for="{{uniqueFieldId}}-yes" class="btn btn-sm inputButton">Oui</label>
    <input type="radio" id="{{uniqueFieldId}}-no" name="{{ uniqueFieldId }}" class="screenReadersOnly" ng-model="value" value="false" ng-click="updateValue()"/>
    <label for="{{uniqueFieldId}}-no" class="btn btn-sm inputButton">Non</label>
  </div>
  <div class="col-sm-6">
    <p class="help-block"></p>
  </div>
</fieldset>
