<article class="ui card segments aide">
    <h3 class="ui segment">{{ name }}</h3>

    <div class="ui segment">
        {{#if url}}
            <a href="{{ url }}">Découvrir {{ prefix }} {{ acronym }}</a>
        {{/if}}
    </div>
</article>
