button.button:not(.small),
a.button:not(.small) {
  margin: 0;

  &,
  &:active,
  &:focus,
  &:hover {
    padding: 10px 40px;
    line-height: 24px;
    border: 1px solid var(--theme-primary);
    background-color: var(--theme-primary);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

    &.no-shadow {
      box-shadow: none;
    }

    &:hover {
      background-color: var(--theme-primary-dark);
      border-color: var(--theme-primary-dark);
      transform: scale(1.02);
    }

    &:focus {
      background-color: var(--theme-primary-darker);
    }

    i {
      margin-right: 10px;
    }
  }
}

button.button,
a.button {
  &.m-auto {
    margin: auto;
  }

  &.success {
    background-color: var(--green);
    border-color: var(--green);
  }

  &:disabled {
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
  }

  &.outline {
    background-color: transparent;
    color: var(--theme-primary);
    border: 1px solid var(--theme-primary);

    &.with-icon {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;

      img,
      i,
      svg {
        margin-right: 15px;
      }
    }

    &:hover {
      color: var(--white);
      background-color: var(--theme-primary-dark);
      border-color: var(--theme-primary-dark);
    }

    &:focus {
      color: var(--white);
      background-color: var(--theme-primary-darker);
    }

    &.with-icon:hover,
    &.with-icon:focus {
      svg path {
        fill: var(--white);
      }
    }

    &.red {
      color: var(--red);
      border-color: var(--red);

      &:hover {
        color: var(--white);
        background-color: var(--red);
      }

      &:focus {
        color: var(--white);
        background-color: var(--dark-red);
      }
    }
  }
}

@media (max-width: $screen-smaller-than-mobile) {
}
