button.button:not(.small) {
  &,
  &:active,
  &:focus,
  &:hover {
    padding: 10px 40px;
    line-height: 24px;
    border: 1px solid var(--theme-primary);
    background-color: var(--theme-primary);
    outline: none;
    margin: 0;

    &:hover {
      background-color: var(--theme-primary-dark);
      border-color: var(--theme-primary-dark);
      transform: scale(1.02);
    }

    &:focus {
      background-color: var(--theme-primary-darker);
    }
  }

  &.m-auto {
    margin: auto;
  }

  &.success {
    background-color: var(--green);
    border-color: var(--green);
  }

  &:disabled {
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
  }

  &.outline {
    background-color: transparent;
    color: var(--theme-primary);

    &.with-icon {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;

      img, i, svg {
        margin-right: 15px;
      }
    }

    &:hover {
      color: var(--white);
      background-color: var(--theme-primary-dark);
      border-color: var(--theme-primary-dark);
    }

    &:focus {
      background-color: var(--theme-primary-darker);
    }

    &.with-icon:hover {
      svg path {
        fill: var(--white);
      }
    }
  }
}

@media (max-width: $screen-smaller-than-mobile) {
}
