html {
  body {
    footer.aj-1j1s-footer {
      background-color: var(--white);
      padding-top: 3.125rem;
      padding-bottom: 6.875rem;
      border-top: 0.0625rem solid #e6e6e6;

      .container {
        display: flex;
        flex-direction: row;

        .aj-1j1s-footer-logo-container {
          display: flex;
          flex-wrap: wrap;

          width: 25%;

          .rf {
            margin: 0.625rem;
            max-width: 5.875rem;
          }

          .fr {
            margin: 0.625rem;
            max-width: 8.25rem;
          }
        }

        .aj-1j1s-footer-col {
          width: 25%;
          flex-wrap: wrap;

          h2 {
            text-transform: uppercase;
            font-size: 1.375rem;
            font-weight: normal;

            svg {
              display: none;
            }
          }

          ul {
            padding: 0;
            margin: 0;

            li {
              list-style-type: none;
              margin-bottom: 10px;

              a {
                text-decoration: none;
                color: #000;

                &:hover {
                  background: none;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
