.aj-1j1s-header {
  background-color: var(--white);

  .active {
    font-weight: 700;
    text-decoration: underline !important;
    text-underline-offset: 0.2rem;
  }

  a {
    text-underline-offset: 0.2rem;
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-family: Marianne, arial, sans-serif;
    margin-top: 1rem;
  }

  &-modal {
    display: none;
  }

  &-logo-container {
    padding-block: 1rem;
    padding-inline: 1rem;
    padding-bottom: 1.65em;

    .container {
      display: flex;
      justify-content: space-between;
    }

    &__col-left {
      display: flex;
      align-items: center;
      gap: 4rem;
      .aj-1j1s-responsive-menu-button {
        display: none;
      }
    }

    &__col-right {
      margin-left: auto;

      .button {
        margin-left: 20px;

        &.is-mobile {
          display: none;
        }
      }
    }

    img {
      margin-top: 0.1rem;

      &.rf {
        width: 5.5rem;
      }

      &.fr {
        width: 11.0625rem;
      }
    }
  }

  &-nav {
    border-top: 1px solid #e5e5e5;
    .container {
      max-width: 78rem !important;
    }

    &__menu {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: stretch;
      padding: 0;
      margin: 0;
      position: relative;
      padding-left: 1.5rem;
      padding-right: 0;
      width: 100%;

      &-submenus {
        color: #161616;
        z-index: 5;
        position: absolute;
        background-color: #fff;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        border-radius: 0 0 20px 20px;
        overflow: hidden;
        margin-bottom: 1rem;
        margin-left: -0.6rem;
        margin-top: 0.02rem;
        padding-inline-start: 0;

        li {
          border-top: 1px solid #e5e5e5;
          width: 100%;
          display: flex !important;
        }

        a {
          flex: 1 !important;
          padding: 0.8rem !important;
        }

        &-item:not(.active) {
          font-weight: 400;
        }
      }

      &-last-item {
        color: #fff;
        padding: 0 1rem 0 1rem;
        background-color: #18753c;
        margin-left: auto !important;
        font-weight: 700;
      }
      &-last-item:hover {
        background-color: #18753cc2;
      }

      li {
        display: block;
        text-underline-offset: 0.2rem;

        > div,
        a {
          padding: 0 0.8rem;
          &.aj-1j1s-header-nav__menu-last-item {
            padding-right: 0;
          }
        }
      }

      &-item:hover {
        text-decoration: underline;
        cursor: pointer;
      }

      &-item {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.1rem;
        height: 100%;

        svg {
          background-repeat: no-repeat;
          display: inline-block;
          width: 1.5rem;
          height: 1.5rem;
          position: relative;
          transition: 300ms ease all;
          margin-top: 0.5rem;
        }

        .svg-rotate {
          transform: rotate(180deg);
        }
      }
    }
  }

  &-nav__menu-last-item-label {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
  }
  &__employee {
    width: 100%;
    margin: 0;
    margin-top: 0.1rem;
    outline: 1px solid #e5e5e5;
    margin-bottom: 0.1rem;
    &-submenus {
      max-width: 78rem;
      margin: 0 auto;
      color: #161616;
      z-index: 5;
      background-color: #fff;
      display: flex !important;
      flex-direction: row !important;
      padding: 0 2.5rem 1rem 1.5rem;

      &-last-right {
        padding: 0 2.5rem 0 2.5rem;
        display: flex;
        flex-direction: column;
        p {
          color: #566bb1;
          font-weight: 700;
        }
      }
      &-last-label {
        a {
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      &-last-right:nth-child(n + 3) {
        border-left: 1px solid #566bb1;
      }
    }
    &-subsubmenus {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      color: #161616;
      text-decoration: none;
      padding-left: 1rem;
      font-size: 1rem;

      a {
        text-decoration: none;
        color: #000;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}