html {
  body {
    header.aj-1j1s-header {
      background-color: var(--white);

      .aj-1j1s-header-logo-container {
        padding-block: 1rem;
        padding-inline: 1rem;
        padding-bottom: 1.65em;
        .container {
          display: flex;
          justify-content: space-between;
          .aj-1j1s-header-right-links {
            margin-left: auto;

            .button {
              margin-left: 20px;

              &.is-mobile {
                display: none;
              }
            }
          }

          .aj-1j1s-header-left-links {
            display: flex;
            align-items: center;
            gap: 4rem;
            .aj-1j1s-header-title {
              font-size: 1.25rem;
              font-weight: 700;
              color: #000;
              text-decoration: none;
              font-family: Marianne, arial, sans-serif;
              margin-top: 1rem;
            }
          }
        }

        img {
          margin-top: 0.1rem;

          &.rf {
            width: 5.5rem;
          }

          &.fr {
            width: 11.0625rem;
          }
        }

        svg {
          display: none;
        }
      }

      .aj-1j1s-header-menu {
        border-bottom: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
        line-height: 2rem;

        .container {
          max-width: 78rem !important;
        }

        svg {
          display: none;
        }

        .ul-menu {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
          padding: 0;
          margin: 0;
          position: relative;
          .menu-col-left {
            display: flex;
            justify-content: space-between;
            margin-left: 1.5rem;

            .li-item-left {
              position: relative;
            }

            .menu-item-submenus {
              color: #161616;
              z-index: 5;
              position: absolute;
              background-color: #fff;
              border-left: 1px solid #e5e5e5;
              border-right: 1px solid #e5e5e5;
              border-bottom: 1px solid #e5e5e5;
              border-radius: 0 0 20px 20px;
              overflow: hidden;
              margin-bottom: 1rem;
              margin-top: 0.65rem;
              margin-left: -0.6rem;
              padding-inline-start: 0;

              li {
                border-top: 1px solid #e5e5e5;
                width: 100%;
                padding: 0.5rem;
              }
            }

            a {
              text-underline-offset: 0.2rem;
              color: inherit;
              text-decoration: none;
            }
            a:hover {
              text-decoration: underline;
            }
          }

          .menu-col-right {
            .li-item-right {
              color: #fff;
              background-color: #18753c;
              padding: 0.6rem 0 0.7rem 0;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              width: 100%;
              font-weight: 700;
            }

            .li-item-right:hover {
              background-color: #18753cc2;
            }
          }

          li {
            display: block;
            line-height: 2rem;
            text-underline-offset: 0.2rem;

            .menu-item:hover {
              text-decoration: underline;
              cursor: pointer;

              svg {
                transform: rotate(180deg);
                transition: 300ms ease all;
              }
            }

            &:not(.last-item) {
              margin-right: 2.3125rem;
            }

            &.active {
              font-weight: 700;
              text-decoration: underline;
              text-underline-offset: 0.2rem;
            }

            .menu-item {
              text-decoration: none;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 0.1rem;

              svg {
                background-repeat: no-repeat;
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                position: relative;
              }
            }
          }
        }
      }
    }
  }
}
