.aj-1j1s-header {
  background-color: var(--white);

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    font-family: Marianne, arial, sans-serif;
    margin-top: 1rem;
  }

  &-modal__dialog {
    display: none;
  }

  &-logo-container {
    padding-block: 1rem;
    padding-inline: 1rem;
    padding-bottom: 1.65em;
    .container {
      display: flex;
      justify-content: space-between;
      .aj-1j1s-header-right-links {
        margin-left: auto;

        .button {
          margin-left: 20px;

          &.is-mobile {
            display: none;
          }
        }
      }

      .aj-1j1s-header-left-links {
        display: flex;
        align-items: center;
        gap: 4rem;
        .aj-1j1s-responsive-menu-button {
          display: none;
        }
      }
    }

    img {
      margin-top: 0.1rem;

      &.rf {
        width: 5.5rem;
      }

      &.fr {
        width: 11.0625rem;
      }
    }

    svg {
      display: none;
    }
  }

  .aj-1j1s-header-menu {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;

    .container {
      max-width: 78rem !important;
    }

    .ul-menu {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: 0;
      margin: 0;
      position: relative;
      line-height: 1rem;
      .menu-col-left {
        display: flex;
        justify-content: space-between;
        margin-left: 1.5rem;
        width: 100%;
        .active {
          font-weight: 700;
          text-decoration: underline;
          text-underline-offset: 0.2rem;
        }

        .li-item-left {
          position: relative;
        }

        .menu-item-submenus {
          color: #161616;
          z-index: 5;
          position: absolute;
          background-color: #fff;
          border-left: 1px solid #e5e5e5;
          border-right: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          border-radius: 0 0 20px 20px;
          overflow: hidden;
          margin-bottom: 1rem;
          margin-left: -0.6rem;
          padding-inline-start: 0;

          li {
            border-top: 1px solid #e5e5e5;
            width: 100%;
            padding: 0.5rem;
            display: block;
            padding-block: 0.8rem;
            padding-inline: 1rem;
          }
          .menu-item-submenu:not(.active) {
            font-weight: 400;
          }
        }

        a {
          text-underline-offset: 0.2rem;
          color: inherit;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .last-item {
        color: #fff;
        padding: 0.6rem 1rem 0.5rem 1rem;
        background-color: #18753c;
        margin-left: auto !important;
        font-weight: 700;
      }
      .last-item:hover {
        background-color: #18753cc2;
      }

      li {
        display: block;
        text-underline-offset: 0.2rem;

        &:not(.last-item) {
          margin-right: 2.3125rem;
        }

        .menu-item:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        .menu-item {
          text-decoration: none;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 0.1rem;
          height: 100%;

          svg {
            background-repeat: no-repeat;
            display: inline-block;
            width: 1.5rem;
            height: 1.5rem;
            position: relative;
            transition: 300ms ease all;
            margin-top: 0.5rem;
          }

          .svg-rotate {
            transform: rotate(180deg);
          }
        }
      }
    }
    .menu-employee {
      max-width: 78rem;
      margin: 0 auto;
    }
    .menu-item-submenus-employee {
      color: #161616;
      z-index: 5;
      position: absolute;
      margin-top: 0.09rem;
      background-color: #fff;
      display: flex !important;
      flex-direction: row !important;
      padding: 2.5rem 2.5rem 2.5rem 1.5rem;

      .last-submenu-col-right {
        padding: 0 2.5rem 0 2.5rem;
        display: flex;
        flex-direction: column;
        p {
          color: #566bb1;
          font-weight: 700;
        }
        .last-menu-submenu-label {
          a {
            text-decoration: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        .last-menu-subsubmenus {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .last-menu-subsubmenus {
            color: #161616;
            text-decoration: none;
            padding-left: 1rem;
            font-size: 1rem;
          }
          a {
            text-decoration: none;
            color: #000;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
      .last-submenu-col-right:nth-child(n + 3) {
        border-left: 1px solid #566bb1;
      }
    }
  }
}
