html {
  body {
    .aj-layout-container {
      display: flex;
      height: calc(100% - 16px);
    }
  }
}
#homepage {
  height: 100%;
  background: linear-gradient(
    105deg,
    var(--white),
    53%,
    var(--theme-primary) 47%
  );
  .container {
    display: flex;
    flex-direction: row;
    height: 100%;

    .aj-home-hero {
      width: 65%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .aj-home-hero-content {
        h1 {
          .hightlight {
            color: var(--green);
            font-weight: normal;
            background-image: linear-gradient(
              hsla(0, 0%, 100%, 0),
              hsla(0, 0%, 100%, 0) 56%,
              rgba(43, 182, 115, 0.1) 0,
              rgba(43, 182, 115, 0.1) 100%,
              hsla(0, 0%, 100%, 0) 0
            );
          }
        }

        .aj-home-hero-buttons-wrapper {
          margin-top: 3.75rem;
          display: flex;
          flex-direction: column;
          button {
            font-weight: bold;
          }
          button + button {
            margin-top: 1rem;
          }
        }
      }
    }

    .aj-home-illustration {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;

      img {
        max-height: 87%;
        flex-grow: 2;
      }
    }
  }
}
