#homepage {
  background: linear-gradient(105deg, var(--white), 53%, var(--theme-primary) 47%);

  .container {
    display: flex;
    flex-direction: row;

    .aj-home-hero {
      width: 60%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .aj-home-hero-content {
        h1 {
          .hightlight {
            color: var(--green);
            font-weight: normal;
            background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 56%, rgba(43, 182, 115, .1) 0, rgba(43, 182, 115, .1) 100%, hsla(0, 0%, 100%, 0) 0);
          }
        }

        .aj-home-hero-buttons-wrapper {
          margin-top: 3.75rem;
          display: flex;
          flex-direction: column;

          button + button {
            margin-top: 1rem;
          }
        }
      }
    }

    .aj-home-illustration {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      img {
        max-width: 100%;
        height: 87%;
      }
    }
  }
}
