html {
  body {
    .aj-layout-container {
      display: flex;
      height: calc(100% - 16px);
    }
  }
}
#homepage {
  height: 100%;
  background: linear-gradient(
    105deg,
    var(--white),
    53%,
    var(--theme-primary) 47%
  );
  .container {
    display: flex;
    flex-direction: row;
    height: 100%;

    .aj-home-hero {
      width: 60%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .aj-home-hero-content {
        h1 {
          .hightlight {
            color: var(--green);
            font-weight: normal;
            background-image: linear-gradient(
              hsla(0, 0%, 100%, 0),
              hsla(0, 0%, 100%, 0) 56%,
              rgba(43, 182, 115, 0.1) 0,
              rgba(43, 182, 115, 0.1) 100%,
              hsla(0, 0%, 100%, 0) 0
            );
          }
        }

        .aj-home-hero-buttons-wrapper {
          margin-top: 3.75rem;
          display: flex;
          flex-direction: column;
          button {
            font-weight: bold;
          }
          button + button {
            margin-top: 1rem;
          }
        }
      }
    }

    .aj-home-illustration {
      display: flex;
      align-items: flex-end;
    }
  }
}

@media screen and (min-width: 557px) and (orientation: portrait) {
  .aj-home-illustration {
    justify-content: center;
    img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 2100px) and (orientation: landscape) {
  .aj-home-illustration {
    width: 40%;
    justify-content: center;
    img {
      max-width: 100%;
      height: 87%;
    }
  }
}

@media screen and (min-width: 2100px) and (orientation: landscape) {
  .aj-home-illustration {
    width: 40%;
    img {
      height: 87%;
    }
  }
}
