html {
  body {
    .aj-main-container {

      input {
        border-radius: 0;
        display: block;
      }

      .aj-checkbox-wrapper {
        position: relative;
        margin: 0 10px 10px 0;

        input[type="checkbox"] {
          position: absolute;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
          color: var(--theme-primary);

          &:checked:before {
            color: var(--theme-primary);
          }

          & + label {
            display: inline-flex;
            border: 1px solid var(--theme-primary);
            border-radius: var(--theme-border-radius);
            color: var(--theme-primary);
            padding: 10px 35px 10px 40px;
            cursor: pointer;
            user-select: none;
            -webkit-transition: background-color 300ms linear, color 300ms linear;
            -moz-transition: background-color 300ms linear, color 300ms linear;
            -o-transition: background-color 300ms linear, color 300ms linear;
            -ms-transition: background-color 300ms linear, color 300ms linear;
            transition: background-color 300ms linear, color 300ms linear;
          }

          &:checked + label, & + label:hover {
            background-color: var(--theme-primary);
            color: #fff;
          }
        }
      }

      .aj-selection-wrapper {
        position: relative;
        margin-bottom: 10px;

        input[type="radio"], input[type="checkbox"] {
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);
          border-radius: 50%;
          border: 2px solid var(--theme-primary);

          &[type="radio"]:before {
            top: 50%;
            left: 50%;
            width: 11px;
            height: 11px;
            transform: translateY(-50%)translateX(-50%);
          }

          &[type="checkbox"] {

            &:checked {
              border-width: 4px;
            }

            &:before {
              border-radius: 50%;
              top: 0;
              left: 0;
            }
          }

          & + label {
            min-width: 325px;
            display: inline-flex;
            border: 1px solid var(--theme-primary);
            border-radius: var(--theme-border-radius);
            color: var(--dark);
            padding: 10px 30px 10px 50px;
            cursor: pointer;
            user-select: none;
            -webkit-transition: background-color 400ms linear, color 400ms linear;
            -moz-transition: background-color 400ms linear, color 400ms linear;
            -o-transition: background-color 400ms linear, color 400ms linear;
            -ms-transition: background-color 400ms linear, color 400ms linear;
            transition: background-color 400ms linear, color 400ms linear;
          }

          & + label:hover {
            background-color: var(--theme-primary-lighter);
          }

          &:checked {
            border-color: var(--green);

            &:before {
              background-color: var(--green);
            }

            & + label {
              background-color: var(--light-green);
              border-color: transparent;
              box-shadow: 0px 0px 7px #2FAC66;
            }
          }
        }
      }

      input[type="text"], input[type="number"], select {
        border: 2px solid #AAAAAA;
        border-radius: var(--theme-border-radius);
        max-width: 300px;
        min-width: 150px;
      }

      input[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          opacity: 0;
          margin: 0;
        }
      }

      input[type=range]::-moz-range-thumb {
        -webkit-appearance: none !important;
        border-radius: 100% !important;
        background-color: var(--theme-primary);
        border: 2px solid var(--theme-background-white);
        height: 20px;
        width: 20px;
      }

      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none !important;
        border-radius: 100% !important;
        background-color: var(--theme-primary);
        border: 2px solid var(--theme-background-white);
        height: 25px;
        width: 25px;
        margin-top: -10px;
      }

      input[type=range]::-ms-thumb {
        -webkit-appearance: none !important;
        border-radius: 100% !important;
        background-color: var(--theme-primary);
        border: 2px solid var(--theme-background-white);
        height: 20px;
        width: 20px;
      }

      input[type=range] {
        -webkit-appearance: none;
        vertical-align: middle;
        outline: none;
        border: none;
        padding: 0;
        background: none;
        box-sizing: border-box;
        height: 2em;

        &::-webkit-slider-runnable-track {
          background-color: var(--theme-primary);
          height: 6px;
          border-radius: 3px;
          border: 1px solid transparent;
        }

        &::-moz-range-track {
          background-color: var(--theme-primary);
          height: 6px;
          border-radius: 3px;
          border: none;
        }

        &::-ms-track {
          color: transparent;
          border: none;
          background: none;
          height: 6px;
        }

        &::-ms-fill-lower, &::-ms-fill-upper {
          background-color: var(--theme-primary);
          border-radius: 3px;
        }

        &::-ms-tooltip {
          display: none;
        }

        &:active::-moz-range-thumb, &:active::-webkit-slider-thumb, &:active::-ms-thumb {
          outline: none;
        }
      }

      .aj-input-date {
        display: flex;

        .aj-input-date-component {
          margin-right: 10px;

          &.day, &.month {
            max-width: 80px;
          }

          &.year {
            max-width: 150px;
          }

          .aj-date-label {
            font-size: 0.85rem;
            color: #767676;
          }
        }

        input[type="number"] {
          min-width: 0;
          -moz-appearance: button;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            opacity: 1;
            margin: 0;
          }
        }
      }

      .aj-input-currency-wrapper {
        position: relative;
        display: inline-block;

        &:before {
          content: '\20AC';
          position: absolute;
          right: 1rem;
          top: 50%;
          transform: translateY(-50%);
          z-index: 99;
          font-size: 1.5rem;
        }

        input[type="number"] {
          padding-right: 2.2rem;
        }
      }

    }
  }
}
