.recapitulatif {
  .recapitulatif-back-button,
  .recapitulatif-back-button:focus {
    margin: 0 0 32px 0;
  }

  .chapter-block:not(:last-child) {
    margin-bottom: 24px;
  }

  .subtitle {
    font-weight: 700;
  }

  .row-space:not(:first-child) {
    margin-top: 1rem;
  }

  .individu-title {
    width: 100%;
    font-weight: 700;
    border-bottom: 1px solid #000000;
  }

  .recapitulatif-row {
    $edit-col: 70px;
    $question-col: calc(70% - #{$edit-col});
    $value-col: calc(30% - #{$edit-col});

    .value-col-first-line {
      font-size: 0.8em;
      line-height: 1.2em;
      display: inline-block;
    }

    .value-col-second-line {
      margin-bottom: 4px;
    }

    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &.recapitulatif-row-wrap {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .question-col {
      width: $question-col;
    }

    .value-col {
      width: $value-col;
    }

    .edit-col {
      width: $edit-col;
    }

    .value-cell {
      padding: 4px;
      width: 150px;
      border: 1px solid #c4c4c4;
      border: 1px solid var(--light-grey);
    }
  }
}
