html {
  body {
    .aj-loading-text {
      font-weight: bold;
      text-align: center;
    }

    .aj-results-intro {
      font-size: 1.25rem;
      margin: 32px;
      text-align: justify;
    }
    .aj-cta-avis {
      margin: 16px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .aj-aide-montant {
      text-align: center;
      display: block;

      .aj-aide-montant-label {
        font-weight: bold;
        font-size: 1.4rem;
      }
    }

    .aj-aide-box {
      border-radius: var(--theme-border-radius);
      background-color: var(--white);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
      padding: 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 3rem;
      position: relative;
      cursor: pointer;
      transition: box-shadow 0.3s ease-in-out;

      &:hover {
        box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
      }

      .aj-aide-illustration {
        width: 56px;
      }

      .aj-aide-text {
        margin-left: 2rem;
      }

      .aj-aide-montant {
        text-align: center;
        flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
      }

      .aj-aide-cta {
        position: absolute;
        bottom: 0;
        right: 35px;
        transform: translateY(50%);
      }
    }

    .aj-results-tools {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;

      .aj-offline-results,
      .aj-feedback,
      .aj-find-contact-box {
        background-color: var(--white);
        padding: 24px;
        border-radius: var(--theme-border-radius);
        border: 1px solid var(--light-grey);

        &.aj-feedback {
          width: 60%;

          .aj-feedback-partenaire {
            margin-top: 1rem;
          }
        }
      }

      .aj-find-contact-box {
        width: 100%;
        margin-bottom: 1rem;
        display: flex;

        .aj-find-contact-box-content {
          margin-right: 16px;
        }

        .aj-find-contact-box-action {
          width: 35%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }

      .aj-offline-results {
        margin-right: 1rem;
        width: calc(40% - 1rem);
      }

      .aj-offline-results-button {
        margin-top: 1rem;
        text-align: center;

        button {
          width: 100%;
        }
      }

      .aj-feedback-buttons {
        margin-top: 1rem;
        height: 7rem;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        button {
          width: 100%;
        }
      }
    }

    .aj-droit-details-back-button,
    .aj-etablissements-back-button {
      &,
      &:focus {
        margin-bottom: 1rem;
      }
    }

    .aj-droit-detail,
    .aj-droit-survey {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;

      .aj-droit-identity {
        display: flex;
        align-items: center;
        justify-content: start;
        max-width: 70%;

        .aj-droit-illustration {
          width: 70px;
          margin-right: 1.5rem;
        }
      }

      .aj-droit-content {
        order: 4;
        margin-left: 0;
        margin-top: 2rem;
        width: 100%;
        padding: 0 1rem;

        h2 {
          display: none;
        }
      }

      .aj-droit-montant {
        flex-basis: 200px;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: right;

        .aj-aide-montant {
          text-align: right;
          flex-direction: column;
          display: flex;
        }
      }

      .aj-droit-conditions {
        background: #fef3cf;
        padding: 1rem 1.2rem;
        border-radius: 10px;

        .aj-droit-conditions-title {
          font-size: 1rem;
          font-family: "MarianneBold";
          margin-top: 0;
        }

        ul {
          padding: 0;

          li {
            img {
              margin-right: 3px;
            }
          }
        }
      }

      .aj-droit-content-buttons-cta {
        display: flex;
        flex-wrap: wrap;

        & > * {
          flex: 1 1 40%;
          margin-bottom: 1rem;

          &:first-child {
            margin-right: 1rem;
          }
        }
      }

      .aj-droit-notifications {
        margin-top: 1rem;

        .notification {
          .button {
            margin-top: 1rem;
          }
        }
      }

      .aj-droit-pro-agricole {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: inline-block;
      }
    }

    .aj-survey-details {
      margin-bottom: 2rem;
    }

    .aj-results-details {
      padding: 24px !important;
    }

    .aj-results-details-feedback-box {
      margin-top: 2rem;
    }

    .aj-aide-description {
      text-align: justify;
    }

    .aj-aide-warning {
      background-color: #fef3cf;
      padding: 8px;
      margin-top: 1rem;
    }

    .aj-etablissements-intro {
      font-size: 1.25rem;
      margin: 2rem 0;
    }

    .aj-etablissement-container {
      margin-bottom: 3rem;

      .aj-etablissement {
        position: relative;
        padding-bottom: 50px !important;

        .aj-etablissement-details {
          address {
            margin-bottom: 1rem;
          }

          .aj-etablissements-action-tel-desktop {
            margin-bottom: 1rem;
          }

          .aj-etablissement-horaires-plage-container {
            display: flex;
            flex-direction: row;
            margin-top: 0.5rem;

            .aj-etablissement-horaires-plage {
              width: 33%;
              padding-right: 1rem;

              .list-unstyled {
                padding: 0;
                margin-top: 0;
              }
            }
          }
        }

        .aj-etablissements-actions {
          position: absolute;
          bottom: 0;
          right: 2rem;
          display: flex;
          transform: translateY(50%);

          .aj-etablissements-action-tel-mobile {
            display: none;
          }

          .button {
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
