html {
  height: 100%;

  &,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Marianne, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  body {
    height: 100%;
    font-size: 16px;

    & > .aj-website {
      height: 100%;
      display: flex;
      flex-direction: column;

      .aj-website-content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        .aj-layout-container {
          flex-direction: row-reverse;
          flex: 1 1 auto;
          width: 100%;
        }

        .aj-text-container {
          width: 100%;
          padding: 2rem 0;
        }
      }

      footer {
        flex-shrink: 0;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--theme-primary);

      &:focus {
        outline: none;
      }
    }

    a:not(.a-unstyled) {
      &:hover {
        background-color: transparent;
      }

      &:focus {
        outline: 0.0625rem auto var(--theme-primary);
        outline-offset: 0.3125rem;
      }
    }

    form {
      margin: 0;
      max-width: 100%;
    }

    .container {
      padding: 0;
      max-width: 1200px;
      width: auto;
    }

    .aj-question {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      gap: 8px;
      font-family: MarianneBold;
      color: var(--dark);
      font-size: 1.25rem;
      margin-bottom: 1rem;

      &::first-letter {
        text-transform: uppercase;
      }

      &.small {
        font-size: 0.85rem;
        margin: 0;
      }
    }

    .aj-main-container {
      padding: 1.5rem 4%;
      background-color: #f2f5f9;
      width: 100%;

      .aj-box-wrapper {
        & > div:not(.aj-unbox),
        & > form:not(.aj-unbox),
        & .aj-box {
          background-color: #fff;
          padding: 32px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          border-radius: var(--theme-border-radius);
          position: relative;

          &.normal-padding-bottom {
            padding-bottom: 40px;
          }
        }

        .aj-actions-error {
          margin: 1rem 0 0 0;
        }

        .aj-actions {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          position: absolute;
          bottom: 0;
          left: 32px;
          transform: translateY(150%);

          button:first-child {
            margin-left: 20px;
          }
        }
      }

      .aj-category-title-wrapper {
        h1 {
          font-size: 2.75rem;
          margin: 0 0 8px 32px;
        }
      }

      .aj-category-title-wrapper-mobile {
        display: none;
      }

      .aj-help-popup {
        display: inline-flex;
        font-family: "MarianneBold";
        font-size: 0.85rem;
        align-items: center;
        border: 1px solid var(--theme-primary);
        padding: 3px 10px 3px 6px;
        border-radius: var(--theme-border-radius);
        background-color: var(--theme-primary);
        color: var(--white);
        width: auto;
        user-select: none;

        &:focus {
          background-color: var(--theme-primary-darker);
          outline: none;
        }

        &.aj-help-mobile {
          display: none;
        }

        .aj-help-icon {
          background-color: var(--white);
          color: var(--theme-primary);
          border-radius: 50%;
          width: 20px;
          height: 20px;
          text-align: center;
          display: inline-block;
          margin-right: 5px;
          line-height: 22px;
        }
      }

      .aj-tooltip {
        position: relative;

        &:hover:before,
        &:hover:after {
          display: block;
          opacity: 1;
        }

        &:before {
          font-family: "Marianne";
          content: attr(data-text);
          opacity: 0;
          transition: 0.1s opacity;
          font-size: 0.85rem;
          position: absolute;
          bottom: 150%;
          left: 0;
          padding: 10px;
          border-radius: 10px;
          background: var(--theme-primary-lighter);
          color: var(--theme-primary-light);
          width: 250px;
          z-index: 100;
        }

        &:after {
          content: "";
          opacity: 0;
          transition: 0.1s opacity;
          width: 25px;
          height: 25px;
          position: absolute;
          top: -75%;
          left: 20%;
          transform: translateY(-50%) rotate(45deg);
          background-color: var(--theme-primary-lighter);
          z-index: 99;
        }
      }

      .aj-hr {
        height: 1px;
        background-color: #000;
        margin: 5px 0;
      }

      .aj-loading-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: transparentize(#000, 0.3);
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;

        .aj-loading-modal-content {
          z-index: 100;
          background-color: var(--white);
          padding: 50px;
          border-radius: var(--theme-border-radius);
        }
      }
    }

    .modal {
      position: relative;

      .aj-question {
        margin-top: 0;
      }

      .aj-modal-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
      }
    }

    .fa-exclamation-triangle {
      color: var(--orange);
    }

    .fa-check-circle {
      color: var(--green);
    }

    .aj-debug-container {
      padding: 1rem 0;
      display: flex;

      .aj-debug-progress {
        width: 50%;
        word-break: break-all;
      }

      .aj-main-container {
        padding: 0 0 0 3rem;
      }

      .aj-debug-switch {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 1rem;
      }
    }

    span.help {
      font-style: italic;
      font-size: 0.8em;
    }

    .aj-help-modal {
      .aj-help-modal-back-button {
        margin-top: 2rem;
      }

      .aj-help-modal-back-icon {
        display: none;
      }
    }

    legend {
      margin-bottom: 0;
    }

    @media print {
      .droit-detail {
        page-break-inside: avoid;
      }
    }
  }

  .is-align-vertically-center {
    display: flex;
    justify-content: center;
  }
}
