html {
  height: unset;
  background-color: #f2f5f9;

  &, body, h1, h2, h3, h4, h5, h6 {
    font-family: Marianne, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  body {
    font-size: 16px;

    h1, h2, h3, h4, h5, h6 {
      color: var(--theme-primary);

      &:focus {
        outline: none;
      }
    }

    a:not(.a-unstyled) {
      &:hover {
        background-color: transparent;
      }

      &:focus {
        outline: none;
      }
    }

    form {
      margin: 0;
      max-width: 100%;
    }

    .container {
      padding: 0;
      max-width: 1200px;
      width: auto;
    }

    .aj-main-container {
      padding: 3rem 10rem 8rem 10rem;
      background-color: #f2f5f9;
      width: 100%;

      .aj-box-wrapper {

        & > div:not(.aj-unbox), & > form:not(.aj-unbox), & .aj-box {
          background-color: #fff;
          padding: 40px 40px 65px 40px;
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
          border-radius: var(--theme-border-radius);
          position: relative;

          &.normal-padding-bottom {
            padding-bottom: 40px;
          }
        }

        .aj-actions {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateY(150%);

          button:first-child {
            margin-left: 20px;
          }
        }

        .aj-question {
          font-family: MarianneBold;
          color: var(--dark);
          font-size: 1.25rem;
          margin-bottom: 1rem;

          &::first-letter {
            text-transform: uppercase;
          }

          &.small {
            font-size: 0.85rem;
            margin: 0;
          }
        }
      }

      .aj-category-title-wrapper {
        h1 {
          font-size: 2.75rem;
          margin: 0 0 5px 0;
        }
      }

      .aj-help-popup {
        display: inline-flex;
        font-family: "MarianneBold";
        font-size: 0.85rem;
        align-items: center;
        border: 1px solid var(--theme-primary);
        padding: 3px 10px 3px 6px;
        border-radius: var(--theme-border-radius);
        background-color: var(--theme-primary);
        color: var(--white);
        width: auto;
        user-select: none;
        margin-left: 12px;

        .aj-help-icon {
          background-color: var(--white);
          color: var(--theme-primary);
          border-radius: 50%;
          width: 20px;
          height: 20px;
          text-align: center;
          display: inline-block;
          margin-right: 5px;
          line-height: 22px;
        }
      }

      .aj-tooltip {
        position: relative;

        &:hover:before, &:hover:after {
          display:block;
          opacity:1;
        }

        &:before {
          font-family: "Marianne";
          content: attr(data-text);
          opacity:0;
          transition:.1s opacity;
          font-size: 0.85rem;
          position:absolute;
          bottom: 150%;
          left: 0;
          padding:10px;
          border-radius: 10px;
          background: var(--theme-primary-lighter);
          color: var(--theme-primary-light);
          width: 250px;
          z-index: 100;
        }

        &:after {
          content: '';
          opacity:0;
          transition:.1s opacity;
          width: 25px;
          height: 25px;
          position: absolute;
          top: -75%;
          left: 20%;
          transform: translateY(-50%)rotate(45deg);
          background-color: var(--theme-primary-lighter);
          z-index: 99;
        }
      }

      .aj-hr {
        height: 1px;
        background-color: #000;
        margin: 5px 0;
      }


      .aj-loading-modal {
        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: transparentize(#000, .3);
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;

        .aj-loading-modal-content {
          z-index: 100;
          background-color: var(--white);
          padding: 50px;
          border-radius: var(--theme-border-radius);
        }
      }
    }

    .modal {
      position: relative;

      .aj-question {
        margin-top: 0;
      }

      .aj-modal-close {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
      }
    }

    .fa-exclamation-triangle {
      color: var(--orange);
    }

    .fa-check-circle {
      color: var(--green);
    }

    @media print {
      .droit-detail {
        page-break-inside: avoid;
      }
    }
  }
}
