<!DOCTYPE html>
<html lang="fr" ng-app="ddsApp">
  <head>
    <meta charset="utf-8">
    <title>Dossier de Demande Simplifié</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/common.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/marqueblanche.js"></script>
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-default main-navbar">
      <div class="container">
        <div class="navbar-header">
          <a href="/" class="navbar-brand logo"><img src="/img/logo_secours_populaire.png"></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/" class="navbar-brand title">Dossier de Demande Simplifié</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" class="navbar-brand logo"><img src="/img/logo_marianne.png"></a></li>
        </ul>
      </div>
    </nav>
    <div ng-view class="container"></div>
  </body>
</html>
