doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    title Dossier de Demande Simplifié
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/vnd.microsoft.icon")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css")
    script.
      window.situationId = !{situationId};
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="/js/main.js")

  body
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") Dossier de Demande Simplifié

    .container

      .page-header
        h1#question-title

      br
      
      .row
        #question.col-lg-8.col-lg-offset-2

      br

      .page-header
        h1 Votre situation
        #situation
