doctype html
html(lang="fr", ng-app="ddsApp")
  head
    meta(charset="utf-8")
    title Dossier de Demande Simplifié
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/vnd.microsoft.icon")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css")
    script(src="/js/common.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-route/angular-route.js")
    script(src="/js/app.js")
    script(src="/js/controllers.js")

  body
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") Dossier de Demande Simplifié

    #main.container(ng-view)
