doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    title Dossier de Demande Simplifié
    link(rel="shortcut icon", href="/img/favicon.ico", type="image/vnd.microsoft.icon")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css")
  body
    nav.navbar.navbar-default(role="navigation")
      .container-fluid
        .navbar-header
          a.navbar-brand(href="/") Dossier de Demande Simplifié
          ul.navbar-nav.nav
            li: a(href="/admin/situations") Situations en cours

    .container

      .page-header
        h1 Dossiers ouverts

      table.table.table-striped.table-bordered
        tr
          th Code du dossier
          th État
          th Dernière mise à jour
        each situation in situations
          tr
            td: a(href="/admin/situation/" + situation.id)= situation.id
            td Nouveau
            td= moment(situation.updatedAt).fromNow()
