button.button {
  &,
  &:active,
  &:focus,
  &:hover {
    padding: 13px 30px;
    line-height: 24px;
    border: 1px solid var(--theme-primary);
    background-color: var(--theme-primary);
    outline: none;
    margin: 0;

    &:hover {
      transform: scale(1.02);
    }
  }

  &.outline {
    background-color: transparent;
    color: var(--theme-primary);

    &.with-icon {
      padding-left: 20px;
      padding-right: 20px;

      img, i {
        margin-right: 15px;
      }
    }
  }

  &.aj-back-button {
    margin-top: 70px;
  }
}

@media (max-width: $screen-smaller-than-mobile) {
}
