html {
  height: unset;
  background-color: #fff;

  &, h1, h2, h3, h4, h5, h6 {
    font-family: Marianne, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  }

  body {
    font-size: 16px;

    h1, h2, h3, h4, h5, h6 {
      color: var(--theme-primary);
    }

    form {
      margin: 0;
      max-width: 100%;
    }

    .container {
      padding: 0;
      max-width: 1200px;
      width: auto;
    }

    .list-unstyled {
      list-style: none;
    }

    .aj-main-container {
      padding: 25px 150px;
      background-color: #f2f5f9;
      border-radius: var(--theme-border-radius);
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);

      .aj-box-wrapper {
        background-color: #fff;
        padding: 40px 40px 65px 40px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: var(--theme-border-radius);
        position: relative;

        input[type="radio"] {
          display: none;

          & + label {
            display: inline-flex;
            border: 1px solid var(--theme-primary);
            border-radius: var(--theme-border-radius);
            color: var(--theme-primary);
            padding: 10px 35px;
            cursor: pointer;
            user-select: none;
            margin: 0 10px 10px 0;
            -webkit-transition: background-color 300ms linear, color 300ms linear;
            -moz-transition: background-color 300ms linear, color 300ms linear;
            -o-transition: background-color 300ms linear, color 300ms linear;
            -ms-transition: background-color 300ms linear, color 300ms linear;
            transition: background-color 300ms linear, color 300ms linear;
          }

          &:checked + label, & + label:hover {
            background-color: var(--theme-primary);
            color: #fff;
          }
        }

        input[type="text"], input[type="number"] {
          border: 2px solid #AAAAAA;
          border-radius: var(--theme-border-radius);
        }

        input[type=range] {
          -webkit-appearance: none;
          vertical-align: middle;
          outline: none;
          border: none;
          padding: 0;
          background: none;

          &::-webkit-slider-runnable-track {
            background-color: var(--theme-primary);
            height: 6px;
            border-radius: 3px;
            border: 1px solid transparent;
          }

          &::-moz-range-track {
            background-color: var(--theme-primary);
            height: 6px;
            border-radius: 3px;
            border: none;
          }

          &::-ms-track {
            color: transparent;
            border: none;
            background: none;
            height: 6px;
          }

          &::-ms-fill-lower, &::-ms-fill-upper {
            background-color: var(--theme-primary);
            border-radius: 3px;
          }

          &::-ms-tooltip {
            display: none;
          }

          &::-moz-range-thumb {
            border-radius: 20px;
            height: 18px;
            width: 18px;
            border: none;
            background: none;
            background-color: var(--theme-primary);
          }

          &:active::-moz-range-thumb, &:active::-webkit-slider-thumb {
            outline: none;
          }

          &::-webkit-slider-thumb, &::-ms-thumb {
            -webkit-appearance: none !important;
            border-radius: 100% !important;
            background-color: var(--theme-primary);
            height: 18px;
            width: 18px;
            margin-top: -7px;
          }
        }

        .aj-actions {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          position: absolute;
          bottom: 0;
          right: 50px;
          transform: translateY(50%);

          button:first-child {
            margin-left: 20px;
          }
        }

        legend {
          font-family: MarianneBold;
          font-size: 1.25rem;
        }

        .aj-input-date {
          display: flex;

          .aj-input-date-component {
            margin-right: 10px;

            &.day, &.month {
              max-width: 80px;
            }

            &.year {
              max-width: 150px;
            }

            .aj-date-label {
              font-size: 0.85rem;
              color: #767676;
            }
          }
        }
      }

      .aj-category-title-wrapper {
        h1 {
          font-size: 1.65rem;
          margin: 0 0 20px 30px;
        }
      }
    }

    @media print {
      .droit-detail {
        page-break-inside: avoid;
      }
    }
  }
}
