html {
  body {
    .aj-children-container {
      .aj-children-line {
        display: block;

        .aj-children-birth-date,
        .aj-children-nationality,
        .aj-children-scolarite {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
}
