html {
  body {
    header.aj-1j1s-header {
      .aj-1j1s-header-logo-container {
        .container {
          .aj-1j1s-header-logo-container__col-right {
            .button {
              padding: 10px 20px;
              &.is-not-mobile {
                display: none;
              }

              &.is-mobile {
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}
