html {
  body {
    .aj-main-container {
      .aj-selection-wrapper {
        input[type="radio"],
        input[type="checkbox"] {
          & + label {
            width: 100%;
            min-width: auto;
            display: block;
          }
        }
      }
      .aj-input-date .aj-input-date-component {
        width: 70px;
        margin-right: 5px;
        &.year {
          width: 100px;
        }
      }
    }
  }
}
