html {
  body {
    .aj-results-details {
      padding: 1rem !important;
    }

    .aj-results-intro {
      margin: 0 16px 16px 16px;
    }

    .aj-droit-detail,
    .aj-droit-survey {
      flex-wrap: wrap;
      justify-content: space-between;
      .aj-droit-identity {
        .aj-droit-illustration {
          width: 80px;
        }
        h2 {
          display: none;
        }
      }

      .aj-droit-content {
        order: 3;
        margin-left: 0;
        margin-top: 1.5rem;
        padding: 0;
        width: 100%;

        h2 {
          display: block;
        }
      }

      .aj-droit-estime {
        flex-basis: unset;
      }

      .aj-droit-content-buttons-cta {
        flex-direction: column;

        .button {
          width: 100%;
        }

        *:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    .aj-survey-details {
      margin-bottom: 2rem;
    }

    .aj-results-tools {
      .aj-offline-results,
      .aj-feedback {
        flex-basis: 100%;
      }
      .aj-feedback-buttons {
        height: 11rem;
      }
    }

    .aj-droit-details-back-button,
    .aj-etablissements-back-button {
      margin-left: 1rem;
    }

    .aj-etablissements-intro {
      margin: 2rem 1rem;
    }

    .aj-etablissement-container {
      .aj-etablissement {
        padding-bottom: 1rem !important;

        .aj-etablissement-details {
          .aj-etablissements-action-tel-desktop {
            display: none;
          }

          .aj-etablissement-horaires-plage-container {
            flex-direction: column;
            .aj-etablissement-horaires-plage {
              width: 100%;
            }
          }
        }
        .aj-etablissements-actions {
          display: block;
          position: static;
          right: 0;
          transform: none;

          .aj-etablissements-action-tel-mobile {
            display: block;
          }

          .button {
            margin-left: 0;
          }

          & > div:not(:first-of-type) {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
