html {
  body {

    .aj-results-details {
      padding: 1rem !important;
    }

    .aj-results-intro {
      margin-top: 0;
    }

    .aj-aide-box {
      flex-wrap: wrap;

      .aj-aide-illustration {
        width: 80px;
      }

      .aj-aide-text {
        order: 3;
        margin-left: 0;
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
      }

      .aj-aide-montant {
        flex-basis: unset;
      }

      .aj-aide-cta {
        right: 0;
        transform: none;
        width: 100%;
        padding: 0 15px 15px 15px;

        button {
          width: 100%;
          text-align: center;
        }
      }
    }

    .aj-droit-detail {
      flex-wrap: wrap;
      justify-content: space-between;

      .aj-droit-illustration {
        width: 80px;
      }

      .aj-droit-content {
        order: 3;
        margin-left: 0;
        margin-top: 1.5rem;
        width: 100%;
      }

      .aj-droit-montant {
        flex-basis: unset;
      }

      .aj-droit-content-buttons-cta {
        flex-direction: column;

        .button {
          width: 100%;
        }

        *:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }

    .aj-results-tools {
      flex-direction: column;

      .aj-offline-results, .aj-feedback {

        &.aj-offline-results {
          margin-right: 0;
          margin-bottom: 1rem;
          flex-basis: 100%;
        }

        &.aj-feedback {
          flex-basis: 100%;
        }
      }

      .aj-feedback-buttons {
        height: 11rem;
      }
    }
  }
}
