@media (max-width: 576px) {
  html {
    body {
      .aj-main-container {
        padding-left: 10px;
        padding-right: 10px;

        .aj-box-wrapper {
          padding: 30px 20px 45px 20px;

          input[type="radio"] {

            & + label {
              width: 100%;
              padding-left: 20px;
              padding-right: 20px;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
