html {
  body {
    .aj-main-container {
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 1.5rem;

      .aj-category-title-wrapper {
        h1 {
          margin-bottom: 20px;
          text-align: center;
        }
      }

      .aj-box-wrapper {

        & > div:not(.aj-unbox), & > form:not(.aj-unbox), & .aj-box {
          padding: 1.5rem;
        }

        .aj-actions {
          width: 100%;
          justify-content: space-between;
        }
      }

      .aj-tooltip {
        display: table;
        margin: 10px 0 0 0;
      }

      .aj-loading-modal {
        .aj-loading-modal-content {
          margin: 0 1rem;
        }
      }
    }

    .modal__backdrop {
      padding: 4em 2rem !important;
    }

    span.help {
      display: block;
      width: 100%;
      margin-left: 0;
    }
  }
}
