html {
  body {
    .aj-main-container {
      padding: 0;
      .aj-category-title-wrapper {
        padding: 16px 0;
      }

      .aj-category-title {
        flex-direction: row-reverse;
        justify-content: center;
        h1 {
          font-size: 2em;
          line-height: 1.125em;
        }
      }

      .aj-category-title-button-mobile {
        $menu-button-size: 40px;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        .menu-button {
          flex-shrink: 0;
          border: 1px solid var(--light-grey);

          svg {
            width: 15px;
            fill: var(--theme-primary);
          }

          &:focus,
          &:active {
            border: 1px solid var(--theme-primary);

            svg {
              fill: white;
            }
          }
        }

        .menu-button,
        .menu-button:focus,
        .menu-button:active {
          display: flex;
          align-items: center;
          justify-content: center;
          height: $menu-button-size;
          width: $menu-button-size;
          margin-top: 0;
          margin-right: 10px;
          padding: 0;
        }
      }

      .aj-box-wrapper {
        margin-bottom: 0;
        & > div:not(.aj-unbox),
        & > form:not(.aj-unbox),
        & .aj-box {
          padding: 16px;
          border-radius: 0;
          box-shadow: none;
        }

        .aj-actions {
          width: 100%;
          justify-content: space-between;
          position: fixed;
          bottom: 0;
          left: 0;
          transform: none;
          padding: 1rem;
          background-color: white;
          z-index: 999;
          border-top: 1px solid #dadada;

          .button {
            box-shadow: none;
          }
        }
      }

      .aj-tooltip {
        &:hover:before,
        &:hover:after {
          display: none;
        }
      }

      .aj-loading-modal {
        .aj-loading-modal-content {
          margin: 0 1rem;
        }
      }

      .aj-help-popup {
        &.aj-help-mobile {
          display: block;
        }
        &.aj-help-desktop {
          display: none;
        }

        &:before {
          display: none;
        }
      }
    }

    .modal__backdrop {
      padding: 4em 2rem !important;
    }

    .aj-help-modal {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 0;
      background-color: transparentize(#000, 0.5);
      z-index: 1000;
      overflow-y: scroll;

      .aj-help-modal-back-button {
        display: none !important;
      }

      .aj-help-modal-back-icon {
        display: initial;
      }

      .aj-help-modal-container {
        max-height: 0;
        transition: max-height 0.3s;
        background: var(--white);
        border-top-right-radius: var(--theme-border-radius);
        border-top-left-radius: var(--theme-border-radius);

        .aj-help-modal-header {
          display: flex;
          justify-content: space-between;
          padding: 18px 20px;

          * {
            margin: 0;
          }
        }

        .aj-help-modal-content {
          font-family: "Marianne";
          padding: 1rem;
          font-size: 1rem;
          font-weight: normal;
        }
      }

      &.open {
        height: 100vh;

        .aj-help-modal-container {
          height: 80vh;
          max-height: 80vh;
        }
      }
    }

    span.help {
      display: block;
      margin-left: 0;
      width: 100%;
    }
  }
}
