<div class="page-header">
  <h1>Envoi de vos demandes en ligne</h1>
</div>

<div ng-if="!formSent">
  <p>Veuillez remplir les informations suivantes pour faire vos demandes en ligne.</p>

  <form class="form-horizontal" ng-submit="send()">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="col-lg-4 control-label">Nom</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="contact.lastName">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="col-lg-2 control-label">Prénom</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="contact.firstName">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Adresse</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="4" ng-model="contact.address"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="col-lg-4 control-label">Code postal</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="contact.postalCode">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="col-lg-2 control-label">Ville</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="contact.city">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="col-lg-4 control-label">Numéro sécurité sociale</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="contact.numeroSecu">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" ng-model="contact.email">
            <p class="help-block">Facultatif, utilisé pour vous informer sur l'avancement de votre dossier.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox"> Oui, je souhaite que les services concernés instruisent mon dossier et vérifient les informations personnelles que l'administration possède à mon sujet pour m'éviter d'en produire les justificatifs.
          </label>
        </div>
      </div>
    </div>
    <div class="col-lg-offset-2">
      <button type="submit" class="btn btn-primary btn-lg">Valider</button>
    </div>
  </form>
</div>

<div ng-if="formSent" class="alert alert-success">
  Merci. Votre dossier est en cours d'instruction, vous serez prévenu par email de son avancement.
</div>
