<div class="page-header">
  <h1>Traitement en ligne de votre demande</h1>
</div>

<div ng-if="!formSent">
  <p class="alert alert-info">Pour poursuivre, veuillez remplir les informations personnelles suivantes :</p>

  <form novalidate name="form" class="form-horizontal" ng-submit="send(form)">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$invalid && formSubmitted }">
          <label class="col-lg-4 control-label">Nom</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" name="lastName" ng-model="contact.lastName" ng-model-options="{ updateOn: 'blur' }" required>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$invalid && formSubmitted }">
          <label class="col-lg-2 control-label">Prénom</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="firstName" ng-model="contact.firstName" ng-model-options="{ updateOn: 'blur' }" required>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.address.$invalid && formSubmitted}">
      <label class="col-lg-2 control-label">Adresse</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="4" name="address" ng-model="contact.address" ng-model-options="{ updateOn: 'blur' }" required></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group" ng-class="{ 'has-error': form.postalCode.$invalid && formSubmitted }">
          <label class="col-lg-4 control-label">Code postal</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" name="postalCode" ng-model="contact.postalCode" ng-model-options="{ updateOn: 'blur' }" required>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group" ng-class="{ 'has-error': form.city.$invalid && formSubmitted }">
          <label class="col-lg-2 control-label">Ville</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" name="city" ng-model="contact.city" ng-model-options="{ updateOn: 'blur' }" required>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group" ng-class="{ 'has-error': form.numeroSecu.$invalid && formSubmitted }">
          <label class="col-lg-4 control-label">Numéro sécurité sociale</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" name="numeroSecu" ng-model="contact.numeroSecu" ng-model-options="{ updateOn: 'blur' }" required>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group" ng-class="{ 'has-error': form.email.$invalid && formSubmitted }">
          <label class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="email" class="form-control" name="email" ng-model="contact.email" ng-model-options="{ updateOn: 'blur' }">
            <p class="help-block" ng-if="form.email.$error.email">Ce n'est pas un email valide.</p>
            <p class="help-block">Facultatif, utilisé pour vous informer plus rapidement de l'avancement de votre dossier.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.confirm.$invalid && formSubmitted }">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="confirm" required ng-model="agreedToTerms" >
            Oui, je souhaite que les services concernés instruisent mon dossier et vérifient les informations personnelles
            que l'administration possède à mon sujet pour m'éviter d'en produire les justificatifs.
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-1 col-lg-offset-2">
        <button type="submit" class="btn btn-primary btn-lg">Valider</button>
      </div>
      <div class="col-lg-9" ng-show="form.$invalid && formSubmitted">
        <p class="form-control-static text-danger">Veuillez remplir les champs obligatoires.</p>
      </div>
    </div>
  </form>
</div>

<div ng-if="formSent" class="alert alert-success">
  Merci. Votre dossier est en cours d'instruction, vous serez prévenu par email de son avancement.
</div>
