html {
  body {
    .capitalize {
      text-transform: capitalize;
    }

    .list-unstyled {
      list-style: none;
    }

    .m-auto {
      margin: auto;
    }

    .float-right {
      float: right;
    }
  }
}
