html {
  body {
    .capitalize {
      text-transform: capitalize;
    }

    .list-unstyled {
      list-style: none;

      &.no-padding {
        padding: 0;
      }
    }

    .m-auto {
      margin: auto;
    }

    .float-right {
      float: right;
    }

    .font-normal {
      font-weight: normal;
    }

    .font-base {
      font-size: 1rem;
    }

    .a-unstyled {
      color: initial;
      text-decoration: none;
    }
  }
}
