<div class="container">
  <h1>À propos</h1>
  <h2>Startup d'État</h2>
  <p>
    Mes-aides est un service public numérique produit dans une démarche de construction inédite par une petite équipe autonome
    hébergée par le Secrétariat Général à la Modernisation de l'Action Publique (SGMAP) et
    aidée d'une communauté d'agents publics et de citoyens.
    Nous désignons ce dispositif sous le nom "startup d'état".
    Le site mes-aides exploite par ailleurs le logiciel libre de simulation du système socio-fiscal français
    <a href="http://www.openfisca.fr/">OpenFisca</a>.
  </p>

</div>
