<div class="container">
  <h1 tabindex="-1">A propos</h1>
  <p>Mes-aides est ouvert au public à titre expérimental car il offre d'ores et déjà une simplification radicale aux demandes les plus courantes.
  Saisissez la situation de votre foyer, et vous connaîtrez votre éligibilité aux principales prestations sociales :
  Revenu de Solidarité Active (RSA) socle et activité, Allocation Spécifique de Solidarité (ASS),
  Couverture Médicale Universelle (CMU), Aide Complémentaire Santé (ACS), Allocation de Solidarité aux Personnes âgées (ASPA),
  Allocation Familiales (Allocation Soutien Familial, Complément Familial), et
  Allocations Logement (Allocation Logement Social, Allocation Logement Familial, Aide Personnalisée au Logement).</p>

  <h1>Limites de l'outil</h1>
  <p>
    Pour autant, certaines situations complexes peuvent ne pas être encore prises en compte dans l'outil.
    Les résultats des simulations sont donc fournis à titre indicatif et les montants des prestations
    pourront être différents quand ils seront calculés par les administrations concernées au moment de l'étude de votre dossier.
    En effet, votre situation familiale et/ou vos ressources ou celles de l’un des membres de votre famille
    peuvent changer ou ne pas avoir été prises en compte lors du test.
  </p>
  <p>
    De même, les conditions de régularité et de durée du séjour s’appliquant aux étrangers ne sont pas totalement prises en compte.
    Elles pourront, dans certains cas, limiter le champ d’application du droit.
  </p>

  <h1>Startup d'état</h1>
  <p>
    Mes-aides est un service public numérique produit dans une démarche de construction inédite par une petite équipe autonome
    hébergée par le Secrétariat Général à la Modernisation de l'Action Publique (SGMAP) et
    aidée d'une communauté d'agents publics et de citoyens.
    Nous désignons ce dispositif sous le nom "startup d'état".
    Le site mes-aides exploite par ailleurs le logiciel libre de simulation du système socio-fiscal français
    <a href="http://www.openfisca.fr/">OpenFisca</a>.
  </p>

  <h1>Aidez-nous à faire mieux</h1>
  <p>
    Si une de nos simulations ne vous semble pas conforme à vos droits, un bouton est là pour nous le signaler dans la page de résultat.
    Nous portons la plus grande attention à vos retours pour améliorer en permanence notre outil.
  </p>

  <p class="text-right"><em>L'équipe mes-aides</em></p>
</div>
