<div class="text-center">
  <ul class="breadcrumb--circles hidden-xs">
    <li ng-class="{ 'done': steps.includes('foyer.demandeur'), 'active': step === 'foyer.demandeur' }">
      <span class="step"></span>
      <a ui-sref="foyer.demandeur">Votre profil</a>
    </li>
    <li ng-class="{ 'done': steps.includes('foyer.enfants'), 'active': step === 'foyer.enfants' }">
      <breadcrumb-item target="foyer.enfants" title="Enfants"></breadcrumb-item>
    </li>
    <li ng-class="{ 'done': steps.includes('foyer.conjoint'), 'active': step === 'foyer.conjoint' }">
      <breadcrumb-item target="foyer.conjoint" title="Conjoint"></breadcrumb-item>
    </li>
    <li ng-class="{ 'done': steps.includes('foyer.logement'), 'active': step === 'foyer.logement' }">
      <breadcrumb-item target="foyer.logement" title="Logement"></breadcrumb-item>
    </li>
    <li ng-class="{ 'done': steps.includes('foyer.ressources'), 'active': step === 'foyer.ressources' }">
      <breadcrumb-item target="foyer.ressources" title="Ressources"></breadcrumb-item>
    </li>
    <li ng-class="{ 'done': steps.includes('foyer.pensionsAlimentaires'), 'active': step === 'foyer.pensionsAlimentaires' }">
      <breadcrumb-item target="foyer.pensionsAlimentaires" title="Pensions alimentaires"></breadcrumb-item>
    </li>
    <li ng-class="{ 'done': step === 'foyer.resultat', 'active': step === 'foyer.resultat' }">
      <breadcrumb-item target="foyer.resultat" title="Résultat"></breadcrumb-item>
    </li>
  </ul>
</div>
