<div class="container">
  <h1>Conditions générales d'utilisation de Mes Aides</h1>

  <p>Mes Aides est un calculateur d'aides sociales à destination des particuliers et de ceux qui les conseillent, professionnels ou non. Il s'agit d'une application web qui permet de décrire en quelques minutes une situation personnelle et d'obtenir immédiatement une évaluation de son éligibilité à des aides sociales. Le code du logiciel est libre, et peut donc être vérifié et amélioré par tout·e citoyen·ne ou organisation.</p>

  <p>Mes Aides (ci-après dénommé le Service) est un téléservice mis en œuvre par le Secrétariat général pour la modernisation de l'action publique (ci-après dénommée « le SGMAP »).</p>

  <p>L’utilisation du Service est facultative et gratuite. Le Service ne stocke aucune information personnelle directement nominative.</p>

  <em>[Ci-après l’ensemble des parties prenantes au téléservice sont dénommées les Organismes Partenaires.]</em>

  <em>[Fonctionnalités]</em>

  <em>[Modalités d’inscription et d’utilisation de Mes Aides]</em>
  <p>L’accès au Service est ouvert à toute personne.</p>

  <em>[L’usager s’engage à informer l'Opérateur s’il constate qu’un des résultats du Service n’est pas correct.]</em>

  <p>Le SGMAP se réserve le droit de bloquer, sans préavis ni indemnité d’aucune sorte, tout usager soupçonné d’une utilisation illicite ou frauduleuse ou contraire à l’objet du Service.</p>

  <em>[L’utilisation du service requiert une connexion et un navigateur internet. Le navigateur doit être configuré pour autoriser les cookies de session. Afin de garantir un bon fonctionnement du Service, il est conseillé d’utiliser les versions de navigateurs suivantes :
  - Firefox version 1.0 et plus
  - Safari version 1.0 et plus
  - Internet Explorer version 7.0 et plus
  - Google Chrome version 8 et plus]</em>

  <h2>Modification et évolution de Mes Aides</h2>
  <p>Le SGMAP se réserve la liberté de faire évoluer, de modifier ou de suspendre, sans préavis, le Service pour des raisons de maintenance ou pour tout autre motif jugé nécessaire.</p>

  <p>Les termes des présentes conditions générales d’utilisation peuvent être amendés. <em>[Comment il peut s'informer]</em></p>

  <h2>Engagements et responsabilité / Traitement des données à caractère personnel</h2>
  <p>Le SGMAP s’engage à prendre toutes les mesures nécessaires permettant de garantir la sécurité et la confidentialité des informations fournies par l’usager.</p>

  <p>Le SGMAP garantisse aux usagers du Service les droits d’accès, de rectification et d’opposition prévus par la loi n° 78-17 du 6 janvier 1978 relative à l’informatique aux fichiers et aux libertés. Ce droit peut s’exercer par voie électronique, à l’adresse <em>@modernisation.gouv.fr. [informations nécessaires à la requête]</em></p>

  <p>Le SGMAP et les Organismes Partenaires s’engagent à n’opérer aucune commercialisation des informations et documents transmis par l’usager au moyen du Service, et à ne pas les communiquer à des tiers, en dehors des cas prévus par la loi.</p>

  <em>[Seules sont conservées les informations permettant de répondre à d’éventuelles contestations et aux besoins statistiques du service.]</em>

  <em>[Je suis un simulateur, absence garantie.]
  [Les informations se trouvant sur ce site Internet ont une valeur informative et sont susceptibles d’évoluer notamment en fonction des évolutions législatives et réglementaires ou de la ligne éditoriale de ce site Internet.
  En aucun cas, ces informations n’ont valeur de décision.]</em>

  <p>Le SGMAP s’engage à prendre toutes précautions utiles pour préserver la sécurité des données collectées, et notamment empêcher qu’elles soient déformées, endommagées ou que des tiers non autorisés y aient accès.</p>

  <p>Conformément aux dispositions de l'article <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000031367350&cidTexte=LEGITEXT000031366350&dateTexte=20160329">L. 112-9</a> du code des relations entre le public et l'administration, les présentes conditions générales s’imposent à tout utilisateur usager du Service.</p>

  <h1>Mentions légales</h1>
  <h3>Editeur</h3>
  <p>
    Secrétariat général pour la modernisation de l’action publique (SGMAP)
    <br>64 à 70, allée de Bercy, bâtiment Sully
    <br>75572 Paris Cedex 12
    <br>Tél : +33 1 53 18 76 25
    <br>sec.sgmap [ à ] modernisation.gouv.fr
  </p>

  <p>Directeur de la publication : Mme Laure de la Brétèche, SGMAP</p>
  <h3>Hébergeur</h3>
  <p>
    Société OVH
<br>SAS au capital de 10 059 500 €
<br>RCS Lille Métropole 424 761 419 00045
<br>Code APE 6202A
<br>Siège social : 2 rue Kellermann - 59100 Roubaix - France.

  </p>
</div>
