<div class="container">
  <h1 tabindex="-1">Mentions légales</h1>
  <h3>Editeur</h3>
  <p>
    Secrétariat général pour la modernisation de l’action publique (SGMAP)
    <br>64 à 70, allée de Bercy, bâtiment Sully
    <br>75572 Paris Cedex 12
    <br>Tél : +33 1 53 18 76 25
    <br>sec.sgmap [ à ] modernisation.gouv.fr
  </p>

  <p>Directeur de la publication : Mme Laure de la Brétèche, SGMAP</p>
  <h3>Hébergeur</h3>
  <p>
    Société OVH
<br>SAS au capital de 10 059 500 € 
<br>RCS Lille Métropole 424 761 419 00045
<br>Code APE 6202A
<br>Siège social : 2 rue Kellermann - 59100 Roubaix - France.

  </p>
</div>
