<div class="container">
  <h1>Supports de communication</h1>

  <p>Vous souhaitez être ambassadeurs de Mes Aides&nbsp;? Merci&nbsp;! Ces supports pourront vous être utiles.</p>

  <h3>Affiche</h3>
  <p><a href="https://github.com/sgmap/mes-aides-ui/wiki/communication/Affiche_Mes_Aides.pdf">Affiche couleur à imprimer</a>, de préférence en A3.</p>

  <h3>Présentation</h3>
  <p><a href="https://github.com/sgmap/mes-aides-ui/wiki/communication/Presentation_Mes_Aides.pdf">Présentation</a> annotée au format PDF.</p>
</div>
