<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h1 tabindex="-1">Contribuez !</h1>

      <p>
        Mes-aides est un projet ouvert et participatif.
        Le code de l'outil est disponible en Open Source <a href="https://github.com/sgmap">sur GitHub</a>
        où vous pourrez rejoindre si vous le souhaitez la communauté des développeurs.
      </p>

      <p>
        Par ailleurs, produire des tests à partir de cas réels qui fonctionnent ou ne fonctionnent pas
        a beaucoup de valeur pour sécuriser et faire évoluer l'outil.
        En fin de simulation, un bouton est disponible pour sauvegarder vos cas de tests.
        N'oubliez pas de documenter chaque cas avec les textes réglementaires et les explications qui les justifient.
      </p>

      <p>Bienvenue dans la communauté mes-aides.gouv.fr !</p>

      <p>
        Pour permettre à une communauté la plus large possible de comprendre
        et de s'impliquer dans la retranscription de la loi réalisée pour mes-aides,
        les tests fonctionnels, et les fondements législatifs qui les justifient ont été rendus accessibles à tous :
        <ul>
          <li><a ui-sref="tests">Liste des tests fonctionnels</a></li>
          <li><a href="https://github.com/sgmap/mes-aides-ui/wiki">Wiki</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>
