<h1>{{ droitLabel }} : vos démarches</h1>
<p>
  Il ne vous reste plus qu'à <strong>compléter</strong> les formulaires disponibles ci-dessous, les <strong>imprimer</strong>, les <strong>dater</strong> et les <strong>signer</strong>&nbsp;!</strong>
  <br>Pensez également à bien inclure toutes les pièces justificatives requises.
</p>
<button class="btn btn-default" ui-sref="foyer.resultat({situationId: situation._id})">
  <i class="fa fa-chevron-left"></i>
  Revenir aux résultats de la simulation
</button>

  <div class="list-group">
    <h2><i class="fa fa-file"></i> Documents à imprimer</h2>
    <p class="cerfa-description" ng-bind-html="trustAsHtml(cerfa.description)"></p>
  </div>
  <ul class="frame-cerfa list-group">
    <li class="btn-cerfa list-group-item" ng-click="openCerfaLink(cerfaForm.url)" ng-repeat="cerfaForm in cerfaForms">
        <div class="row">
        <div class="col-md-2 text-center">
          <i class="fa fa-file-text-o fa-4x"></i>
        </div>
        <div class="col-md-10">
          <h3>{{ cerfaForm.label }}</h3>
          <p class="cerfa-description" ng-bind-html="trustAsHtml(cerfaForm.description)"></p>
        </div>
      </div>
    </li>
  </ul>

  <h2><i class="fa fa-folder-open"></i> Pièces justificatives à fournir</h2>

  <ul class="list-group">
    <li class="list-group-item" ng-repeat="piece in piecesJustificatives">
      <div class="row">
        <div class="col-sm-10">
          <div class="media">
            <div class="pull-left">
              <img class="media-object" ng-src="/img/pieces-justificatives/{{ piece.description.img }}" alt="{{ piece.description.id }}">
            </div>
            <div class="media-body">
              <h4 class="media-heading">{{ piece.description.label }}</h4>
              {{ piece.description.description }}
            </div>
          </div>
        </div>
        <div class="col-sm-2" ng-if="!isSituationMonoIndividu">
          <span ng-repeat="individu in piece.individus track by $index">
            <i class="fa fa-check-square"></i> {{ individu }}<br>
          </span>
        </div>
      </div>
    </li>
  </ul>

<button class="btn btn-default" ui-sref="foyer.resultat({situationId: situation._id})">
  <i class="fa fa-chevron-left"></i>
  Revenir aux résultats de la simulation
</button>
