<uib-accordion close-others="false" class="droits-non-eligibles">
  <uib-accordion-group is-open="droit.open"
     class="result {{ getAccordionClass(droit) }}"
     ng-repeat="(droitId, droit) in list|orderObjectBy:'label'">
    <uib-accordion-heading>
      <div class="row">
        <div class="col-xs-2 col-sm-1 droit-logo">
          <img
            ng-src="/img/{{ droit.provider.imgSrc }}" alt="">
        </div>
        <div class="col-xs-11 col-sm-10 description" class="link">
          <span>{{ droit.label }}<span>
        </div>
        <div class="col-xs-1">
          <div class="montant">
            <i class="fa fa-warning text-warning"></i>
          </div>
        </div>
      </div>
    </uib-accordion-heading>

    <div class="caption">
      <div>
        <p ng-bind-html="droit.description"></p>
        <div class="alert alert-warning-inverse" ng-if="droit.isBaseRessourcesYearMoins2 && ! ressourcesYearMoins2Captured">
          <i class="fa fa-warning" aria-hidden="true"></i> Cette aide se base sur vos ressources de l'année {{ yearMoins2 }}.
          <a ui-sref="foyer.ressourcesYearMoins2">Déclarez vos ressources {{ yearMoins2 }}</a>
        </div>
      </div>
      <div class="row cta">
        <div class="col-sm-3">
          <a
            ng-if="droit.link && ! droit.internalLink"
            class="btn btn-sm btn-default btn-block"
            href="{{ droit.link }}"
            target="_blank"
            rel="noopener"
            analytics-on="click"
            analytics-name="{{ droit.label }}"
            analytics-event="{{ droit.link }}"
            analytics-category="Info"
            >
            <i class="fa fa-external-link" aria-hidden="true" role="presentation"></i>
            Plus d'informations
          </a>
          <a
            ng-if="droit.internalLink"
            class="btn btn-sm btn-default btn-block"
            ng-click="trampoline.set({ situationId: situation._id, montant: droit.montant })"
            ui-sref="{{ droit.internalLink }}"
            target="_blank"
            rel="noopener"
            analytics-on="click"
            analytics-name="{{ droit.label }}"
            analytics-event="{{ droit.internalLink }}"
            analytics-category="Info"
            >
            <i class="fa fa-external-link" aria-hidden="true" role="presentation"></i>
            Plus d'informations
          </a>
        </div>
      </div>
    </div>
  </uib-accordion-group>
</uib-accordion>
