<span class="droit-montant droit-montant--unexpected" itemscope itemtype="http://schema.org/Offer" itemprop="offers">
  <span class="droit-montant-label">
    <span ng-if="isNumber(droit.montant) && droit.participation" class="montant">
      pour
    </span>
    <span itemprop="price" ng-if="isNumber(droit.montant)" class="montant">
      {{ droit.montant | currency : ( droit.unit || '€' ) : getFractionSize(droit) }}
    </span>
    <span ng-if="isString(droit.montant)">
      <i class="fa fa-question-circle fa-2x"></i>
    </span>
    <span ng-if="isNumber(droit.montant)" class="montant-detail">
      {{ droit.legend || (droit.isMontantAnnuel ? '/ an' : '/ mois') }}
    </span>
  </span>
  <a class="droit-montant-unexpected"
    ng-click="openModal()"
    analytics-on="click"
    analytics-name="{{ droit.label }}"
    analytics-event="show-unexpected"
    ng-if="showUnexpected">
    Montant inattendu ?
  </a>
</span>
