<div class="droits-list">
  <a ng-repeat="droit in list" href="{{ droit.link }}"
    target="_blank"
    rel="noopener"
    analytics-on="click"
    analytics-name="{{ droit.label }}"
    analytics-event="link-ineligible"
    class="droits-list-item"
    itemscope itemtype="http://schema.org/GovernmentService">
    <div class="droits-list-item-cell">
      <div class="droits-list-item-cell-left">
        <img ng-src="/img/{{ droit.provider.imgSrc }}" alt="{{ droit.label }}">
        <div>
          <h2>
            <span itemprop="name">{{ droit.label }}</span>
            <small>Plus d'informations</small>
          </h2>
        </div>
      </div>
      <div class="dotted-line"></div>
      <div>
        <i class="fa fa-times-circle fa-2x"></i>
      </div>
    </div>
  </a>
</div>
