<div class="droit-details">
  <div ng-repeat="droit in list" id="{{ droit.id }}" class="droit-detail"
    itemscope itemtype="http://schema.org/GovernmentService">

    <div class="droit-detail-heading">
      <h3 itemprop="name">{{ droit.label }}</h3>
      <div class="dotted-line"></div>
      <droit-montant droit="droit" unexpected ng-if="droit.montant && (isString(droit.montant) || isNumber(droit.montant))"></droit-montant>
    </div>

    <div class="alert alert-warning print-hidden" ng-if="droit.isBaseRessourcesYearMoins2 && ! ressourcesYearMoins2Captured && ! isString(droit.montant)">
      <span>
        <i class="fa fa-warning" aria-hidden="true"></i>  Cette aide se base sur vos ressources de l'année {{ yearMoins2 }}
      </span>
      <a class="btn btn-sm btn-warning" ui-sref="foyer.ressourcesYearMoins2">Déclarez vos ressources {{ yearMoins2 }}</a>
    </div>

    <div class="alert alert-warning print-hidden" ng-if="droit.isBaseRessourcesPatrimoine && ! patrimoineCaptured && ! isString(droit.montant)">
      <span>
        <i class="fa fa-warning" aria-hidden="true"></i> Cette aide se base sur votre patrimoine. Vous avez un patrimoine immobilier, d'épargne, des revenus fonciers et/ou du capital ? Vous devez renseigner des informations complémentaires.
      </span>
      <a class="btn btn-sm btn-warning" ui-sref="foyer.patrimoine">Déclarez votre patrimoine</a>
    </div>

    <div class="alert alert-warning print-hidden" ng-if="isString(droit.montant)">
      <p>
        L'application Mes Aides ne peut pas calculer le montant de cette prestation, car <span ng-bind-html="droit.uncomputability[droit.montant].reason.user"></span>.
        <br>
        <strong
          ng-if="droit.uncomputability[droit.montant].solution"
          ng-bind-html="droit.uncomputability[droit.montant].solution"></strong>
      </p>
    </div>

    <div class="droit-detail-description">
      <p>
        <span ng-bind-html="droit.description" itemprop="description"></span>
        <span>
          <benefit-cta-link
            analytics-name="droit.label"
            link="droit.link"
            type="'link'"
            level="'inline'"
            itemprop="termsOfService"
          ></benefit-cta-link>
        </span>
      </p>
      <div ng-if="droit.conditions">
        <p>Pour en bénéficier, vous devez également :</p>
        <ul class="list-unstyled">
          <li ng-repeat="condition in droit.conditions">
            <i class="fa fa-check" aria-hidden="true"></i>
            <span ng-bind-html="condition"></span>
          </li>
        </ul>
      </div>
    </div>

    <div class="droit-detail-buttons print-hidden">
      <benefit-cta class="droit-detail-buttons-cta" benefit="droit"></benefit-cta>
      <a ng-if="droit.msa"
        target="_blank"
        rel="noopener"
        class="btn btn-sm btn-secondary"
        href="http://www.msa.fr/lfr/web/msa/espace-prive"
        analytics-on="click"
        analytics-name="{{ droit.label }}"
        analytics-event="msa"
      >
        Démarches pour les professions agricoles
      </a>
      <etablissements-cta
        city="city"
        types="droit.provider.etablissements"
        droit="droit"
        ng-if="droit.provider.etablissements.length > 0"
      >
      </etablissements-cta>
    </div>

    <div class="text-center print-hidden">
      <a href ng-click="scrollToTop($event)">
        <i class="fa fa-arrow-up"></i> <small>Revenir en haut</small>
      </a>
    </div>

  </div>
</div>
