<div class="modal-header">
  <h3 class="modal-title">Une erreur est survenue</h3>
</div>
<div class="modal-body">
  <p>
    Merci de prévenir l'équipe mes-aides en <a href="mailto:bug@mes-aides.gouv.fr">envoyant un email</a> à bug@mes-aides.gouv.fr en décrivant ce que vous faisiez avant que cette erreur n'apparaisse, et en joignant si possible une capture d'écran.
  </p>
  <p>
    Nous vous répondrons au plus vite et corrigerons le problème dès que possible.
  </p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="$close()">OK</button>
</div>
