<div class="frame-resultats" ng-if="etablissements && etablissements.length">
  <div class="row" ng-show="! showEtablissements">
    <div class="col-xs-12 col-md-8">
      Pour vous accompagner dans vos démarches, Mes Aides vous propose une sélection de points d'accueil près de chez vous, où poser toutes vos questions.
    </div>
    <div class="col-xs-12 col-md-4">
      <a
        class="btn btn-default btn-block"
        ng-click="showEtablissements = ! showEtablissements"
        analytics-on="click"
        analytics-category="Partenaires"
        analytics-event="Afficher"
        >
        Consulter la liste
      </a>
    </div>
  </div>

  <div ng-show="showEtablissements">
    <div class="row">
      <div class="col-sm-12">
        Pour vous accompagner dans vos démarches, vous pouvez vous rendre dans
        <span ng-if="etablissements.length == 1">le <strong>point d'accueil</strong> suivant.</span>
        <span ng-if="etablissements.length > 1">l'un de ces <strong>points d'accueil</strong>.</span>
        Vous pourrez trouver <strong>des informations supplémentaires et des conseils</strong> sur les aides que vous pouvez demander. Contactez-nous pour ajouter votre établissement à cette liste.
      </div>
    </div>
    <br />
    <uib-accordion close-others="false">
      <div uib-accordion-group is-open="true"
         ng-repeat="etablissement in etablissements">
        <uib-accordion-heading>
          <p>{{ etablissement.nom }}</p>
        </uib-accordion-heading>

        <div class="row">
          <div class="col-md-4">
            <adress>
              <i class="fa fa-home" aria-hidden="true"></i> Adresse&nbsp;:<br />
              <div ng-repeat="ligne in etablissement.adresse.lignes">
                {{ ligne }}<br />
              </div>
              {{ etablissement.adresse.codePostal }} {{ etablissement.adresse.commune }}
            </adress>
          </div>
          <div class="col-md-4" ng-if="etablissement.horaires">
            <i class="fa fa-clock-o" aria-hidden="true"></i> Horaires&nbsp;:<br />
            <div ng-repeat="plage_jour in etablissement.horaires">
              <div ng-if="plage_jour.du === plage_jour.au">
                Les {{ plage_jour.du }}s&nbsp;:
              </div>
              <div ng-if="plage_jour.du !== plage_jour.au">
                Du {{ plage_jour.du }} au {{ plage_jour.au }}&nbsp;:
              </div>
              <ul>
                <li ng-repeat="plage_heure in plage_jour.heures">
                  de {{ extractHHMM(plage_heure.de) }} à {{ extractHHMM(plage_heure.a) }}
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4" ng-if="etablissement.url || etablissement.telephone">
            Contact&nbsp;:<br />
            <div ng-if="etablissement.url">
              <i class="fa fa-share-square-o" aria-hidden="true"></i>
              <a
                href="{{ etablissement.url }}"
                target="_blank"
                rel="noopener"
                analytics-on="click"
                analytics-name="{{ etablissement.id }}"
                analytics-event="Site internet"
                analytics-category="Partenaire"
              >
                Site internet
              </a>
            </div>
            <div ng-if="etablissement.telephone">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <a
                href="tel:{{ etablissement.telephone }}"
                target="_blank"
                rel="noopener"
                analytics-on="click"
                analytics-name="{{ etablissement.id }}"
                analytics-event="Téléphone"
                analytics-category="Partenaire"
              >
                {{ etablissement.telephone }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>
  </div>
</div>
