<div class="frame-resultats" ng-if="etablissements && etablissements.length">
  <div class="row" ng-show="! showEtablissements">
    <div class="col-xs-12 col-md-8">
      Pour vous accompagner dans vos démarches, Mes Aides vous propose une sélection de points d'accueil près de chez vous, où poser toutes vos questions.
    </div>
    <div class="col-xs-12 col-md-4">
      <a
        class="btn btn-default btn-block"
        ng-click="showEtablissements = ! showEtablissements"
        analytics-on="click"
        analytics-category="Partenaires"
        analytics-event="Afficher"
        >
        Consulter la liste
      </a>
    </div>
  </div>

  <div ng-show="showEtablissements">
    <div class="row">
      <div class="col-sm-12">
        Pour vous accompagner dans vos démarches, vous pouvez vous rendre dans
        <span ng-if="etablissements.length == 1">le <strong>point d'accueil</strong> suivant.</span>
        <span ng-if="etablissements.length > 1">l'un de ces <strong>points d'accueil</strong>.</span>
        Vous pourrez trouver <strong>des informations supplémentaires et des conseils</strong> sur les aides que vous pouvez demander. Contactez-nous pour ajouter votre établissement à cette liste.
      </div>
    </div>
    <br />
    <uib-accordion close-others="false">
      <div uib-accordion-group is-open="true"
         ng-repeat="etablissement in etablissements">
        <uib-accordion-heading>
          <p>{{ etablissement.nom }}</p>
        </uib-accordion-heading>
        <etablissement etablissement="etablissement"></etablissement>
      </div>
    </uib-accordion>
  </div>
</div>
