<div class="benefit-etablissements-modal">
	<div>
		<button type="button" class="close" aria-label="Close" ng-click="closeModal()"><span aria-hidden="true">&times;</span></button>
	</div>
	<div class="text-center">
		<h3><i class="fa fa-home"></i> {{ title }}</h3>
		<p class="text-muted">
			Des lieux près de chez vous où vous pouvez être accompagné·e pour faire votre demande et poser toutes vos questions
		</p>
	</div>
	<hr />
  <div ng-repeat="etablissement in etablissements">
  	<h4>{{ etablissement.nom }}</h4>
    <div class="container-fluid">
      <etablissement etablissement="etablissement"></etablissement>
    </div>
  </div>
  <hr />
  <div class="text-center">
		<a href="#" ng-click="closeModal()">Fermer</h3>
	</div>
</div>
