<div class="container">
  <h1>FAQ</h1>
 
  <h3>Quelles sont les prestations sociales disponibles sur mes-aides.gouv.fr ?</h3>
  <p>Le Revenu de Solidarité Active (RSA) socle et activité, l'Allocation Spécifique de Solidarité (ASS), la Couverture Médicale Universelle Complémentaire (CMU-c), l'Aide à la Complémentaire Santé (ACS), l'Allocation de Solidarité aux Personnes Âgées (ASPA), l'Allocation Supplémentaire d'Invalidité (ASI), les Prestations Familiales (Allocation Familiale, Allocation Soutien Familial, Complément Familial, Allocation de base de la Prestation d'Accueil du Jeune Enfant), les Allocations Logement (Allocation de Logement Sociale, Allocation de Logement Familiale, Aide Personnalisée au Logement), les bourses de l’Education Nationale (collège et lycée), l’aide Paris Logement Famille de la ville de Paris, l’Aide départementale pour les personnes âgées du 93.</p>
  <p>D'autres dispositifs comme les aides des régimes spécifiques (RSI, MSA…), les tarifs sociaux de l'énergie et les prestations versées par des collectivités locales seront intégrés progressivement. </p>
  <p>Pour être informé des nouveautés du site, abonnez-vous à notre <a href="http://twitter.com/mesaides">compte Twitter</a>.</p>

  <h3>Les résultats d’une simulation sont-ils opposables au guichet ?</h3>
  <p>Non. Mes Aides donne une estimation des prestations sociales auxquelles un usager pourrait prétendre compte tenu d’une situation décrite. Néanmoins le résultat de la simulation peut être différent du résultat de l’instruction d’une demande déposée au guichet en cas de changement de situation, de cas spécifique (TNS agricole dans les DOM…), ou d’informations qui ne sont pas prises en compte par le simulateur.
  Si vous rencontrez ce type d’écart, faites-le nous savoir. Cela nous permettra de corriger les résultats du simulateur.
  </p>
  
  <h3>Que faire après une simulation ?</h3>
  <p>Le simulateur propose une information sur les démarches à suivre pour déposer un dossier de demande de prestation (lien vers le site spécifique de l’organisme liquidateur, formulaire et liste des pièces justificatives). Il ne permet pas encore de déposer une demande directement en ligne.</p>

  <h3>Qu’est ce qui est fait des informations renseignées dans le cadre d’une simulation ?</h3>
  <p>Toute simulation est anonyme. Mes Aides ne stocke aucune information personnelle.</p>

  <h3>Comment contribuer à l’amélioration du simulateur ?</h3>
  <p>L’équipe Mes Aides est à l’écoute de tous vos retours. Vous pouvez nous écrire à l’adresse contribuer-mes-aides@sgmap.fr. Si vous obtenez un résultat inattendu de la part du simulateur, vous pouvez nous en faire part en enregistrant le cas en fin de simulation. Nous vous créerons un compte pour que vous puissiez contribuer sur notre plateforme de tests.</p>

  <h3>Un message m'indique que mon navigateur n'est pas supporté, que faire ?</h3>
  <p>Installez un navigateur plus récent et plus sécurisé ! Contactez votre administrateur et demandez s'il est possible d'installer une version récente de <a href="https://www.mozilla.org/fr/firefox/new/">Mozilla Firefox</a> ou <a href="http://www.google.com/chrome/">Google Chrome</a>. À noter, si vous êtes sous Windows XP (SP2), Vista, 7 ou supérieur, l'installation de Chrome peut être réalisée de manière autonome sans droits d'administration sur votre poste, <a href="https://support.google.com/chrome/answer/95346?hl=fr&ref_topic=14660">faites-le vous-même</a> !
  </p>
</div>
