<main>
  <div class="container alert" ng-show="showNewVersionAlert">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="showNewVersionAlert = false"
        analytics-on="click" analytics-category="Lien vers la nouvelle version" analytics-event="Ferme">
        <span aria-hidden="true">&times;</span></button>
      <strong>Bonjour&nbsp;👋</strong> Une nouvelle version de Mes Aides est en cours de préparation&nbsp;! Vous <a
        href="https://next.mes-aides.gouv.fr/"
        analytics-on="click"
        analytics-category="Lien vers la nouvelle version"
        analytics-event="Accède"
        target="_blank"
        aria-label="Accéder à la prochaine version de Mes Aides" 
        rel="noopener">pouvez y accéder ici</a> pour évaluer vos droits et nous aider à l'améliorer avant que tout le monde y ait accès.
    </div>
  </div>

  <div id="valueProposition">
    <h1>
      Évaluez vos droits à {{ prestationsNationalesCount + partenairesLocauxCount }} aides sociales.<br/>
      En moins de 7 minutes.
    </h1>

    <a class="btn btn-primary btn-lg" ui-sref="foyer.demandeur" ng-click="newSituation()">Évaluer mes droits</a>

    <p>Ce questionnaire en ligne simple vous donnera un montant mensuel pour chaque prestation et vous donnera accès aux démarches.</p>
  </div>

  <div class="container">
    <div class="frame-aides-homepage whiteframe-z1">
      <h2 class="text-center">{{ prestationsNationalesCount }} aides nationales évaluées par le simulateur</h2>
      <div ng-repeat="provider in prestationsNationales | orderObjectBy:'prestations':true">
        <hr>
        <div class="row">
          <div class="text-center col-md-2">
            <img ng-src="/img/{{ provider.imgSrc }}" alt="{{ provider.label }}"/>
          </div>
          <div class="col-md-10">
            <dl ng-repeat="droit in provider.prestations">
              <dt>{{ droit.label }}</dt>
              <dd>
                <div ng-bind-html="droit.description"></div>
                <a ng-if="droit.link" href="{{ droit.link }}" target="_blank" rel="noopener">En savoir plus <i class="fa fa-external-link" aria-hidden="true"></i></a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="text-center">{{ partenairesLocauxCount }} aides locales évaluées par le simulateur</h2>
      <div ng-repeat="provider in partenairesLocaux | orderObjectBy:'prestations':true">
        <hr>
        <div class="row">
          <div class="text-center col-md-2">
            <img ng-src="/img/{{ provider.imgSrc }}" alt="{{ provider.label }}"/>
          </div>
          <div class="col-md-10">
            <dl ng-repeat="droit in provider.prestations">
              <dt>{{ droit.label }}</dt>
              <dd>
                <div ng-bind-html="droit.description"></div>
                <a ng-if="droit.link" href="{{ droit.link }}" target="_blank" rel="noopener">En savoir plus <i class="fa fa-external-link" aria-hidden="true"></i></a>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
