<main>
  <div class="bg-warning" id="incompatibleBrowserMessage" ng-if="incompatibleBrowserInfo">
    <div>
      <p><abbr title="" uib-popover="{{ incompatibleBrowserInfo.name }} {{ incompatibleBrowserInfo.major }}" popover-placement="bottom" popover-trigger="mouseenter">Le navigateur que vous utilisez</abbr> ne permet pas d'utiliser ce service convenablement.</p>
      <p>Nous vous conseillons d'utiliser une version récente de <a href="https://mozilla.org/vi/firefox">Firefox</a> ou de <a href="https://www.google.fr/chrome">Chrome</a>.</p>
    </div>
  </div>

  <div id="valueProposition">
    <h1>
      Évaluez vos droits à {{ prestationsNationalesCount + partenairesLocauxCount }} aides sociales.<br/>
      En moins de 7 minutes.
    </h1>

    <a class="btn btn-primary btn-lg" ui-sref="foyer.demandeur" ng-click="newSituation()">Évaluer mes droits</a>

    <p>Ce questionnaire en ligne simple vous donnera un montant mensuel pour chaque prestation et vous donnera accès aux démarches.</p>
  </div>

  <div class="container">
    <div class="frame-aides-homepage whiteframe-z1">
      <h2 class="text-center">Évaluez vos droits à {{ prestationsNationalesCount }} aides nationales</h2>
      <div ng-repeat="provider in prestationsNationales | orderObjectBy:'prestations':true">
        <hr>
        <div class="row">
          <div class="text-center col-md-2">
            <img ng-src="/img/{{ provider.imgSrc }}" alt="{{ provider.label }}"/>
          </div>
          <div class="col-md-10">
            <dl ng-repeat="droit in provider.prestations">
              <dt>{{ droit.label }}</dt>
              <dd ng-bind-html="droit.description"></dd>
            </dl>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="text-center">Évaluez vos droits à {{ partenairesLocauxCount }} aides locales</h2>
      <div ng-repeat="provider in partenairesLocaux | orderObjectBy:'prestations':true">
        <hr>
        <div class="row">
          <div class="text-center col-md-2">
            <img ng-src="/img/{{ provider.imgSrc }}" alt="{{ provider.label }}"/>
          </div>
          <div class="col-md-10">
            <dl ng-repeat="droit in provider.prestations">
              <dt>{{ droit.label }}</dt>
              <dd ng-bind-html="droit.description"></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
