<div ng-if="aides" ng-include="'/views/partials/simulation.html'"></div>

<div ng-controller="questionCtrl"  ng-if="!aides">
    <div class="page-header">
        <h1><i class="fa fa-{{question.icon}}"></i> {{question.mainTitle}}</h1>
    </div>

    <br>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div ng-include="questionTmpl"></div>
            <br>
            <button class="btn btn-lg btn-primary pull-right" ng-click="next()">Suivant</button>
        </div>
    </div>
    <br>
    <hr>
    <br>
</div>
