<div ng-if="widget === 'radio3'">
  <div class="radio">
    <label>
      <input type="radio" name="nationalite" ng-model="individu.nationalite" value="fr" aria-label="Nationalité Française">
      Française
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="nationalite" ng-model="individu.nationalite" value="ue" aria-label="Nationalité EEE, UE, Suisse" ng-change="changeRadio()">
      <abbr title="" uib-popover="{{ popoverEee }}" popover-title="Liste des pays de l'EEE" popover-placement="bottom" popover-trigger="mouseenter">EEE</abbr> - <abbr title="" uib-popover="Union Européenne" popover-placement="bottom" popover-trigger="mouseenter">UE</abbr> - Suisse
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="nationalite" ng-model="individu.nationalite" value="autre" aria-label="Hors UE" ng-change="changeRadio()">
      Hors <abbr title="" uib-popover="Union Européenne" popover-placement="bottom" popover-trigger="mouseenter">UE</abbr>
    </label>
  </div>
</div>

<div ng-if="widget === 'select3'">
  <angucomplete-alt
    id="nationalite"
    placeholder="Exemple : Française"
    pause="100"
    selected-object="selectNationalite"
    initial-value="nationaliteObject"
    local-data="nationalites"
    local-search="search"
    title-field="demonym"
    minlength="2"
    input-class="form-control"
    match-class="highlight"
    text-searching="false"
    text-no-results="Aucun résultat"
    focus-first="true"
    focus-in="focusIn()"
    focus-out="focusOut()"></angucomplete-alt>
</div>
