<div ng-if="widget === 'radio2'">
  <div class="radio">
    <label>
      <input type="radio" name="nationalite" ng-model="individu.nationalite" value="fr" aria-label="Nationalité Française">
      Française
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="nationalite" ng-model="individu.nationalite" value="ue" aria-label="Nationalité EEE, UE, Suisse" ng-change="changeRadio()">
      <abbr title="" uib-popover="{{ popoverEee }}" popover-title="Liste des pays de l'EEE" popover-placement="bottom" popover-trigger="mouseenter">EEE</abbr> - <abbr title="" uib-popover="Union Européenne" popover-placement="bottom" popover-trigger="mouseenter">UE</abbr> - Suisse
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="nationalite" ng-model="individu.nationalite" value="autre" aria-label="Hors UE" ng-change="changeRadio()">
      Hors <abbr title="" uib-popover="Union Européenne" popover-placement="bottom" popover-trigger="mouseenter">UE</abbr>
    </label>
  </div>
</div>

<div ng-if="widget === 'select2'">
  <ui-select ng-model="individu.nationalite_code"
    ng-model-options="{ debounce: 200 }"
    on-select="selectNationalite($item.code)"
    theme="bootstrap">
    <ui-select-match placeholder="Sélectionnez votre nationalité…">{{ $select.selected.name }}</ui-select-match>
    <ui-select-choices repeat="nationalite.code as nationalite in nationalites | nationaliteFilter: $select.search">
      <div ng-bind-html="nationalite.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>
