<style type="text/css">
  .ppa-help {
    padding: 20px;
  }

  .ppa-help .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
  }

  .ppa-help .footer > * {
    flex-grow: 1;
    margin: 0.1em;
  }

  .ppa-help p, .ppa-help div {
    padding: 1em;
  }

  .ppa-help blockquote {
    font-size: 1em;
  }
</style>

<div class="ppa-help">
  <h2 class="text-center"><i class="fa fa-info-circle"></i> Prime d'activité</h2>

  <p>
    Vous avez indiqué être
    <strong ng-if="isProprietaireAvecPretEnCours">toujours en train de rembourser le crédit pour votre logement principal.</strong>
    <strong ng-if="isHebergeParticipeFrais">hébergé en participant aux frais du logement.</strong>
  </p>

  <p>
    Sur le simulateur de
    <a href="http://www.caf.fr/allocataires/mes-services-en-ligne/estimer-vos-droits/simulation-prime-d-activite">caf.fr</a>, la question suivante est posée :

    <blockquote>Vous (ou votre conjoint) êtes propriétaire de votre logement principal ou êtes logés gratuitement ?</blockquote>

    Dans votre situation, vous devez répondre :
    <ul>
      <li>« Non » si vous êtes bien
        <strong ng-if="isProprietaireAvecPretEnCours">en train de rembourser le crédit pour votre logement principal.</strong>
        <strong ng-if="isHebergeParticipeFrais">hébergé en participant aux frais du logement.</strong>
      </li>
      <li>« Oui » uniquement si
      <span ng-if="isProprietaireAvecPretEnCours">vous n’avez <strong>pas de prêt pour votre habitation principale.</strong></span>
      <span ng-if="isHebergeParticipeFrais">vous <strong>ne participez pas aux frais du logement.</strong></span>
      </li>
    </ul>
  </p>

  <div class="footer">
     <a class="btn btn-default"
      ng-click="closeModal()"
      ui-sref="foyer.logement"
      analytics-on="click"
      analytics-name="Prime d’activité"
      analytics-event="retour-logement"
      >Retourner à la page « Logement »</a>
     <a class="btn btn-default"
      target="_blank"
      rel="noopener"
      analytics-on="click"
      analytics-name="Prime d’activité"
      analytics-event="simulation-caf"
      href="http://www.caf.fr/allocataires/mes-services-en-ligne/estimer-vos-droits/simulation-prime-d-activite"
      >Faire une nouvelle simulation sur caf.fr</a>
     <a class="btn btn-default"
      analytics-on="click"
      analytics-name="Prime d’activité"
      analytics-event="email"
      mail-to="feedback@mes-aides.gouv.fr"
      subject="[{{ situationId }}] Montants inattendus"
      body="Bonjour,

En effectuant une simulation sur mes-aides.gouv.fr, j'ai obtenu le résultat suivant :

- {{ droit.montant | currency : ( droit.unit || '€' ) : 0 }} / mois pour la prestation « Prime d'activité ».

Mais en effectuant la même simulation sur le site caf.fr j'obtiens le résultat suivant / la CAF a fini par m'attribuer le montant suivant :

- XXX € / mois pour la prestation « Prime d'activité ».

Vous pouvez me joindre par téléphone au XX XX XX XX XX (de préférence en semaine) pour une dizaine de minutes d'échange afin de comprendre d'où provient cet écart.

Bonne journée,

————
ID : {{ situation._id }} (à conserver impérativement pour traitement de votre demande)
————
isProprietaireAvecPretEnCours: {{ isProprietaireAvecPretEnCours }}
isHebergeParticipeFrais: {{ isHebergeParticipeFrais }}
"
      >Nous contacter</a>
     <a class="btn btn-primary"
      ng-click="closeModal()"
      analytics-on="click"
      analytics-name="Prime d’activité"
      analytics-event="close"
      >Fermer</a>
  </div>
</div>
