<article id="redirect" class="text container">

  <div ng-if="! error">
    <h1>Transmission de vos informations</h1>
    <p>
    À titre expérimental sur le territoire du Loiret, Mes Aides vous propose de transmettre directement au service du conseil départemental les informations suivantes :
    </p>

    <ul>
      <li ng-repeat="variable in teleservice.fields">
        {{ variable.label }} : {{ variable.formattedValue || variable.value }}
      </li>
    </ul>

    <p>
    En continuant, vous acceptez de participer à cette expérimentation et vous accéderez au téléservice, vos informations seront préremplies pour simplifier la réalisation de la démarche.
    </p>

    <p>
    Dès lors, vous aurez un droit d'accès et de rectification sur les informations nominatives stockées ou traitées informatiquement par le Département du Loiret. Pour exercer ce droit, vous devez vous adresser, en justifiant de votre identité, à Département du Loiret - 45945 Orléans.
    </p>

    <a class="btn btn-primary btn-lg" href="{{ teleservice.destination.url }}">Accéder au téléservice {{ teleservice.destination.label }}</a>
  </div>

  <div ng-if="error">
    <h1>Oups, une erreur est apparue</h1>
    <p><a mail-to="contact@mes-aides.gouv.fr">Contactez-nous</a> pour contribuer à l'amélioration du service.</p>
    <pre>{{ error }}</pre>
  </div>

</article>
