<h1>Résultats de votre simulation</h1>


<p ng-if="awaitingResults"><i class="fa fa-spinner fa-spin"></i> Calcul en cours de vos droits…</p>


<div class="alert alert-danger" ng-if="error">
  <h2>Désolé, nous n'arrivons pas à calculer vos droits pour le moment.</h2>
  <p>Une erreur est survenue dans la simulation.</p>
</div>

<p ng-if="!error && !awaitingResults && !noDroits">D'après la situation que vous avez décrite, vous êtes a priori éligible aux aides suivantes : </p>
<div class="frame-resultats" ng-if="!error && !awaitingResults">
  <accordion close-others="true" ng-if="!noDroits">
    <accordion-group is-open="droit.open"
                     class="resultats-accordion"
                     ng-repeat="(droitId, droit) in droits"
                     ng-class="{'resultats-accordion-needs-n-2': droit.isBaseRessourcesYearMoins2 && !situation.ressourcesYearMoins2Captured && ! isString(droit.montant), 'panel-opened': droit.open}">

      <accordion-heading>
        <div class="row">

          <div class="col-xs-2 col-sm-1">
            <img class="droit-logo"
                 ng-src="/img/{{ droit.imgSrc }}">
          </div>

          <div class="col-xs-6 col-sm-8 description">
            <span>{{ droit.label }}<span>
          </div>

          <div class="col-xs-3 col-sm-2">
            <div class="montant">
              <span ng-if="isNumber(droit.montant)">{{ round(droit.montant) }}&nbsp;€</span>
              <span ng-if="isString(droit.montant)" class="montant-inconnu">?</span>
            </div>

            <div ng-if="isNumber(droit.montant)" class="montant-detail">
              /
              <span ng-if="droit.isMontantAnnuel">an</span>
              <span ng-if="! droit.isMontantAnnuel">mois</span>
            </div>

          </div>

          <div class="col-sm-1 hidden-xs description">
            <i class="fa" ng-class="{'fa-chevron-down': droit.open, 'fa-chevron-right': !droit.open}"></i>
          </div>
        </div>
      </accordion-heading>


      <div class="caption">
        <div ng-if="droit.montant">
          <p>{{ droit.description }}</p>
          <div ng-if="droit.conditions">
            Pour en bénéficier, vous devez également :
            <ul>
              <li ng-repeat="condition in droit.conditions">
                <i class="fa fa-check"></i>
                <span ng-bind-html="condition"></span>
              </li>
            </ul>
          </div>

          <div ng-if="isString(droit.montant)" class="alert alert-warning-inverse">
            <p>Malheureusement, nous ne pouvons pas estimer le montant de cette prestation, car <span ng-bind-html="droit.uncomputability[droit.montant].reason"></span>.</p>
            <p ng-if="droit.uncomputability[droit.montant].solution"><strong ng-bind-html="droit.uncomputability[droit.montant].solution"></strong></p>
          </div>

          <div class="alert alert-warning-inverse" ng-if="droit.isBaseRessourcesYearMoins2 && ! situation.ressourcesYearMoins2Captured && ! isString(droit.montant)">
            <i class="fa fa-warning"></i> Cette aide se base sur vos ressources de l'année {{ yearMoins2 }}.
            <a ui-sref="foyer.ressourcesYearMoins2">Déclarez vos ressources {{ yearMoins2 }}</a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <a
              class="btn btn-sm btn-default btn-block"
              href="{{ droit.link }}"
              target="_blank">
              <i class="fa fa-external-link"></i>
              Plus d'informations
            </a>
          </div>
          <div ng-if="droit.id == 'paris_logement_familles'"
            class="col-sm-3 col-sm-offset-6">
            <a target="_self"
              class="btn btn-sm btn-primary btn-block"
              href="/documents/Formulaire_demande_PLF.pdf" download>
              Engager les démarches
            </a>
          </div>
          <div ng-if="hasCerfa(droitId)"
            class="col-sm-3 col-sm-offset-6">
            <a
              class="btn btn-sm btn-primary btn-block"
              ui-sref="infos_complementaires({droit: droitId})">
              Engager les démarches
            </a>
          </div>
        </div>
      </div>


    </accordion-group>
  </accordion>

  <div ng-if="noDroits && situation.ressourcesYearMoins2Captured && ! error">
    <h2>Vous n'êtes a priori éligible à aucune des aides calculées par ce simulateur.</h2>
    <p>Si vous êtes malgré cela dans une situation de précarité, entrez directement en contact avec <a href="/faq#recours">l’un des organismes</a> qui détermine l’attribution des aides sociales.</p>
  </div>

  <div ng-if="noDroits && ! situation.ressourcesYearMoins2Captured && ! error">
    <h2>On y est presque !</h2>
  </div>

  <div class="row additional-info-cta" ng-if="! situation.ressourcesYearMoins2Captured && ! error">
    <div class="col-sm-8">
      <p>
        <i ng-if="! noDroits" class="fa fa-warning text-warning"></i> <!-- show sign only as a legend -->
        <strong>Nous avons supposé que vos ressources pour l’année {{ yearMoins2 }} étaient les mêmes qu’entre {{ debutPeriode }} et {{ finPeriode }}.</strong>
      </p>
    </div>

    <div class="col-sm-4">
      <a class="btn btn-success btn-block" ui-sref="foyer.ressourcesYearMoins2">Déclarez vos ressources {{ yearMoins2 }}</a>
    </div>
  </div>
</div>

<div class="frame-resultats" ng-if="! noDroits && ! situation.patrimoine.captured">
  <div class="row">
    <div class="col-sm-8">
      <i class="fa fa-info-circle"></i>
      Vous avez un patrimoine immobilier, d'épargne, des revenus fonciers et/ou du capital ?
      Vous devez renseigner des informations complémentaires.
    </div>
    <div class="col-sm-4">
      <a class="btn btn-default btn-block" ui-sref="foyer.patrimoine">Déclarez votre patrimoine</a>
    </div>
  </div>
</div>

<div>
  <hr>
  <h4 ng-show="! (droitsInjectes | isEmpty)">Aides que vous percevez déjà aujourd'hui, et dont nous n'avons pas recalculé le montant</h4>
  <droits-list droits="droitsInjectes"></droits-list>

<p class="text-right">
  <em>
    Vous pensez que le droit applicable à votre situation n'est pas correctement estimé par ce simulateur ?
    <br>Vous êtes en mesure de nous fournir une information précise sur vos droits ?
    <br><a href="" ng-click="createTest()">Cliquez ici</a>.
  </em>
</p>
