<article class="text container">

  <h1>Statistiques d'usage</h1>
  <p ng-if="(! allStatsRetrieved) && (! error)">
    Récupération des dernières données… <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </p>
  <div ng-show="allStatsRetrieved">
    <h2>Visites et simulations journalières</h2>
    <svg id="chart"></svg>
    <p>
    Ces données proviennent de la base de données des simulations effectuées sur Mes Aides. Les creux reflètent un usage modéré de notre simulateur les samedis et les dimanches.
    </p>
  </div>

  <p ng-if="error">
    Les données ne sont pas disponibles.
  </p>

  <h2>Données</h2>
  <p>Les <a href="http://stats.data.gouv.fr/index.php?module=CoreHome&action=index&idSite=9&period=day&date=yesterday">statistiques d'usage de Mes Aides</a> sont publiques.</p>
  <p>Comprenez comment nous évaluons la <a href="https://beta.gouv.fr/2016/11/04/mes-aides-metriques-pirates-tunnel-conversion-public">performance de Mes Aides</a> et comment nous <a href="https://beta.gouv.fr/2017/05/03/mes-aides-datascience-public.html">améliorons notre simulateur</a>.</p>

  <iframe
    style="border: none; display: block; margin: 10px auto; min-height: 700px"
    src="https://betagouv.github.io/mes-aides-analytics/"
    width="140%"
    ng-iframe-resizer
  ></iframe>

</article>
