<div class="container">

  <h2 class="text-center">Suivi Mes Aides</h2>

  <p>
    Vous avez effectué une simulation le <strong>{{createdAt}}</strong>.
    <br>
    Répondez à ce questionnaire afin de nous aider à améliorer la pertinence des résultats que nous affichons. Ça ne prend pas plus de 2 minutes !
  </p>

  <div class="alert alert-success" ng-if="submitted">
    Merci d'avoir rempli ce questionnaire !
  </div>

  <form name="questionnaire" ng-submit="submit(questionnaire)" class="form-suivi" ng-if="! submitted">

    <div class="droit-details">
      <div ng-repeat="droit in droits track by droit.id" id="{{ droit.id }}" class="droit-detail"
        itemscope itemtype="http://schema.org/GovernmentService">

        <div class="droit-detail-heading">
          <h3 itemprop="name">{{ droit.label }}</h3>
          <div class="dotted-line"></div>
          <droit-montant droit="droit" ng-if="droit.montant && (isString(droit.montant) || isNumber(droit.montant))"></droit-montant>
        </div>

        <div ng-repeat="choice in droit.choices" class="radio">
          <label>
            <input type="radio" name="choices_{{ $parent.$index }}" value="{{ choice.value }}"
              ng-model="droit.choiceValue" ng-change="checkComplete(droit)">
            {{ choice.label }}
          </label>
        </div>
        <div ng-show="isNegative(droit.choiceValue)">
          <div class="form-group">
            <textarea class="form-control" ng-model="droit.choiceComments" placeholder="Pour quelle raison ?"></textarea>
          </div>
          <div class="text-right">
            <button type="button" class="btn btn-sm btn-primary" ng-click="checkComplete(droit, true)">Suivant</button>
          </div>
        </div>

      </div>
    </div>

    <button type="submit" class="btn btn-block btn-primary" ng-disabled="! isComplete">Envoyer</button>

  </form>

</div>
