<style type="text/css">
  .trace .details {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
  }

  .node:nth-of-type(2n) > .details {
    background-color: lightgrey;
  }

  .has-dependencies {
    cursor: pointer;
  }

  .has-dependencies .trace-name {
    text-decoration: underline;
  }
</style>
<script type="text/ng-template"  id="trace_node.html">
  <div class="details" ng-click="toggle(name)" ng-class="{ 'has-dependencies': trace[name].dependencies.length }">
    <div class="trace-name">{{ name }}</div>
    <div>{{ trace[name].value }}</div>
  </div>
  <ul ng-if="trace[name].isOpen">
      <li class="node" ng-repeat="name in trace[name].dependencies" ng-include="'trace_node.html'"></li>
  </ul>
</script>

<div class="trace container">
  <h1>Tracer <i ng-hide="rawData || (! investigation.situationId)" class="fa fa-spinner fa-spin" aria-hidden="true"></i></h1>
  <h3>Accédez aux détails des calculs des prestations sociales pour la simulation <span class="preformatted">{{ investigation.situationId }}</span>.</h3>
  <p ng-if="! investigation.situationId">Il faut indiquer l‘identifiant d‘une simulation pour accéder aux détails des calculs.</p>
  <p>{{ error }}</p>
  <div ng-show="rawData">
    <label for="root">Sélectionnez une prestation</label>
    <select
      name="root"
      ng-options="value + ' - ' + trace[value].value for value in rawData.requestedCalculations"
      ng-model="investigation.root"
      ng-change="refreshView()"
    ></select>

    <div ng-if="investigation.root" ng-include="'trace_node.html'"></div>
  </div>
</div>
