<style type="text/css">
  .comparaison-frame {
    display: flex;
  }
  .comparaison-panel {

  }
</style>
<h1>Validation</h1>

<p>{{ validation.results }}</p>
<p>{{ validation.tests.length }}</p>
<p>{{ validation.passedTests.length }}</p>
<p>{{ validation.failedTests.length }}</p>
<div ng-repeat="test in validation.failedTests">
  <pre>{{ test.type }}</pre>
  <pre>{{ test.id }}</pre>
  <pre>{{ test.error }}</pre>
  <pre>{{ test.json }}</pre>
  <div ng-if="test.diff">
    <h2>Diff</h2>
    <div class="comparaison-frame">
      <div class="comparaison-panel">
        <h3>Diff 1</h3>
        <pre>{{ test.diff[0] }}</pre>
      </div>
      <div class="comparaison-panel">
        <h3>Diff 2</h3>
        <pre>{{ test.diff[1] }}</pre>
      </div>
    </div>
    <div class="comparaison-frame">
      <div class="comparaison-panel">
        <h3>Local</h3>
        <pre>{{ test.local }}</pre>
      </div>
      <div class="comparaison-panel">
        <h3>Remote</h3>
        <pre>{{ test.remote }}</pre>
      </div>
    </div>
  </div>
  <pre>{{ test.situation }}</pre>
</div>

