<div class="panel ressource-input {{ ressourceType.category }} {{ ressourceType.id }}">
  <div class="panel-heading">
    <h3 class="panel-title">{{ ressourceType.label }}</h3>
  </div>
  <div class="panel-body">
    <div ng-if="! locals.detailed">
      <div class="row"
        ng-class="{ 'has-error': form.submitted && form[ ressourceType.id + '-monthly-value'].$invalid }"
        >
        <label class="col-sm-5 control-label" for="{{ ressourceType.id }}-monthly-value">
          {{ regularResourcePrompt }} :
        </label>
        <div class="col-sm-4">
          <div class="input-group">
            <input
              type="number"
              min="0"
              class="form-control text-right"
              id="{{ ressourceType.id }}-monthly-value"
              name="{{ ressourceType.id }}-monthly-value"
              ng-model="locals.monthlyValue"
              select-on-focus
              zero-to-empty
              uib-tooltip="{{ ressourceType.hint || '' }}"
              tooltip-trigger="'focus'"
              tooltip-placement="top"
              tooltip-enable="!! ressourceType.hint"
              tooltip-append-to-body="true"
              >
            <div class="input-group-addon">€</div>
          </div>
          <span class="help-block" ng-if="form.submitted && form[ ressourceType.id + '-monthly-value'].$invalid">
            Montant invalide
          </span>
        </div>
        <a
          ng-if="isNumber(locals.montantForfaitaire)"
          class="col-sm-3 small"
          ng-click="locals.monthlyValue=locals.montantForfaitaire"
          href="">
          Remplir avec le montant mensuel de {{ locals.montantForfaitaire | currency : '€' : 2 }}
        </a>
      </div>

      <div class="text-center">&horbar; ou &horbar;</div>

      <div class="row ressource-input-type-label"
        ng-click="locals.detailed = ! locals.detailed"
      >
        <a
          class="col-sm-12 text-center"
          href=""
          >
          <span class="fa fa-chevron-down"></span>
          Sinon détaillez les montants sur les 12 derniers mois
        </a>
      </div>
    </div>

    <div ng-if="locals.detailed">
      <div class="row">
        <div class="months"
          ng-class="{ 'has-error': form.submitted && form[ressourceType.id + '-year'].$min }"
          >
          <div class="col-sm-3 month"
            ng-repeat="month in threePreviousMonths"
            ng-class="{ 'has-error': form.submitted && form[ressourceType.id + '-month_' + $index].$invalid }"
            >
            <label for="{{ ressourceType.id }}-month_{{ $index }}">
              {{ month.label|uppercaseFirst }}
            </label>
            <div class="input-group">
              <input
                type="number"
                class="form-control text-right"
                id="{{ ressourceType.id }}-month_{{ $index }}"
                name="{{ ressourceType.id }}-month_{{ $index }}"
                required
                min="0"
                select-on-focus
                zero-to-empty
                ng-model="ressource[month.id]"
                aria-describedby="help-{{ ressourceType.id }}-month_{{ $index }}"
                uib-tooltip="{{ ressourceType.hint || '' }}"
                tooltip-trigger="'focus'"
                tooltip-placement="top"
                tooltip-enable="!! ressourceType.hint"
                tooltip-append-to-body="true"
                >
              <span class="input-group-addon">€</span>
            </div>
            <ul class="help-block" id="help-{{ ressourceType.id }}-month_{{ $index }}" ng-if="form.submitted && ! isNumber(ressource[month.id])">
              <li>Montant invalide</li>
            </ul>
          </div>
          <div class="col-sm-3 month"
            ng-class="{ 'has-error': form.submitted && form[ressourceType.id + '-year'].$invalid }"
            >
            <label for="{{ ressourceType.id }}-year">
              Total de {{ debutAnneeGlissante }} à {{ threePreviousMonths[threePreviousMonths.length-1].label }} inclus
            </label>
            <div class="input-group">
              <input
                type="number"
                class="form-control text-right"
                id="{{ ressourceType.id }}-year"
                name="{{ ressourceType.id }}-year"
                required
                min="{{ monthsSum }}"
                select-on-focus
                zero-to-empty
                ng-model="locals.annualValue"
                aria-describedby="help-{{ ressourceType.id }}-year"
                uib-tooltip="{{ ressourceType.hint || '' }}"
                tooltip-trigger="'focus'"
                tooltip-placement="top"
                tooltip-enable="!! ressourceType.hint"
                tooltip-append-to-body="true"
                >
              <span class="input-group-addon">€</span>
            </div>
            <ul class="help-block" id="help-{{ ressourceType.id }}-year" ng-if="form.submitted && form[ressourceType.id + '-year'].$invalid">
              <li ng-show="form[ressourceType.id + '-year'].$error.min">
                Somme incohérente
              </li>
              <li ng-show="! isNumber(annualValue.store) && ! form[ressourceType.id + '-year'].$error.min">
                Montant invalide
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="help-{{ ressourceType.id }}-year"
        class="text-danger"
        ng-if="form.submitted && form[ressourceType.id + '-year'].$error.min">
        <p>Vous avez indiqué avoir perçu {{ monthsSum | currency }} sur les 3 derniers mois, mais seulement {{ form[ressourceType.id + '-year'].$viewValue | currency }} sur les 12 derniers mois. Vérifiez les montants indiqués dans les quatre champs de votre {{ ressourceType.label }}.</p>
      </div>
      <capture-continuation
        date-de-valeur="dateDeValeur"
        individu="individu"
        ressource-type="ressourceType"
        ng-if="! ressourceType.revenuExceptionnel"
      ></capture-continuation>

      <div class="text-center">&horbar; ou &horbar;</div>

      <div class="row ressource-input-type-label"
        ng-click="locals.detailed = ! locals.detailed"
      >
        <a
          class="col-sm-12 text-center"
          href=""
        >
          <span class="fa fa-chevron-up"></span>
          Déclarer un même montant pour les 12 derniers mois
        </a>
      </div>
    </div>
  </div>
  <div
    class="form-group"
    ng-if="shouldAskDateArretDeTravail()"
    ng-class="{'has-error': form.submitted && form.dateArretDeTravail.$invalid}">
    <label class="control-label col-sm-4" for="date-arret-travail">
      De quand date votre arrêt de travail ? <span class="visually-hidden">au format jour/mois/année</span>
    </label>
    <div class="col-sm-4">
      <input
        dds-date
        format="JJ/MM/AAAA"
        class="form-control"
        min="{{ individu.date_naissance.format('YYYY-MM-DD') }}"
        max="{{ dateDeValeur.toISOString().slice(0, 7) }}"
        name="dateArretDeTravail"
        id="date-arret-travail"
        required
        ng-model="individu.date_arret_de_travail"
        aria-describedby="help-arret-de-travail"
        >
      <ul class="help-block" id="help-arret-de-travail" ng-if="form.submitted && form.dateArretDeTravail.$invalid">
        <li ng-show="form.dateArretDeTravail.$error.format">
          Veuillez utiliser le format JJ/MM/AAAA. Par exemple : 15/06/1981.
        </li>
        <li ng-if="form.dateArretDeTravail.$error.required">
          Ce champ est obligatoire.
        </li>
        <li ng-if="form.dateArretDeTravail.$error.isBeforeMin">
          Il semblerait qu'on vous ait prescrit un arrêt de travail avant votre naissance.
        </li>
        <li ng-if="form.dateArretDeTravail.$error.isAfterMax">
          Le simulateur ne permet pas d'indiquer un arrêt de travail dans le futur.
        </li>
      </ul>
    </div>
  </div>
</div>
