<div ng-repeat="(ressourceId, selected) in selectedRessourceTypes"
  ng-init="ressourceType = ressourceTypes[ressourceId]; ressource = individu[ressourceId];"
>

  <div ng-if="ressourceType.category !== 'rpns'">
    <capture-montant-ressource
      individu="individu"
      ressource-type="ressourceType"
      date-de-valeur="situation.dateDeValeur"
      form="form">
    </capture-montant-ressource>
  </div>

  <div class="panel ressource-input rpns"
    ng-if="ressourceId == 'tns_auto_entrepreneur_chiffre_affaires'">
    <div class="panel-heading">
      <h3 class="panel-title">{{ ressourceType.label }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <label for="type-activite-individu-{{ individuIndex }}">Type d'activité</label>
          <select class="form-control" id="type-activite-individu-{{ individuIndex }}" ng-model="individu.tns_auto_entrepreneur_type_activite">
            <option value="achat_revente">Achat/revente ou fourniture de logement</option>
            <option value="bic">Autre activité relevant des BIC</option>
            <option value="bnc">Activité libérale et/ou intellectuelle (BNC)</option>
          </select>
        </div>

        <div class="col-sm-7">
          <label for="ca-individu-{{ individuIndex }}">Chiffre d’affaires {{ yearMoins1 }}</label>
          <span class="input-group">
            <input
              type="number"
              id="ca-individu-{{ individuIndex }}"
              class="form-control text-right"
              required
              min="0"
              select-on-focus
              zero-to-empty
              ng-model="ressource[yearMoins1]">
            <span class="input-group-addon">€</span>
          </span>
          <span class="text-danger" ng-if="form.submitted && ! isNumber(ressource[yearMoins1])">
          Montant invalide
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4" ng-repeat="month in months">
          <label for="{{ index + ressourceId + month.id }}">
            Chiffre d'affaires {{ month.label | uppercaseFirst }}
          </label>
          <span class="input-group">
            <input
              type="number"
              class="form-control text-right"
              id="{{ index + ressourceId + month.id }}"
              required
              min="0"
              select-on-focus
              zero-to-empty
              ng-model="ressource[month.id]">
            <span class="input-group-addon">€</span>
          </span>
          <span class="text-danger" ng-if="form.submitted && ! isNumber(ressource[month.id])">
            Montant invalide
          </span>
        </div>
      </div>
      <capture-continuation
        date-de-valeur="situation.dateDeValeur"
        individu="individu"
        ressource-type="ressourceType"
      />
    </div>
  </div>

  <div class="panel ressource-input rpns"
    ng-if="ressourceId == 'tns_micro_entreprise_chiffre_affaires'">
    <div class="panel-heading">
      <h3 class="panel-title">{{ ressourceTypes[ressourceId].label }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <label for="type-activite-individu-{{ individuIndex }}">Type d'activité</label>
          <select class="form-control" id="type-activite-individu-{{ individuIndex }}" ng-model="individu.tns_micro_entreprise_type_activite">
            <option value="achat_revente">Achat/revente ou fourniture de logement</option>
            <option value="bic">Autre activité relevant des BIC</option>
            <option value="bnc">Activité libérale et/ou intellectuelle (BNC)</option>
          </select>
        </div>

        <div class="col-sm-7">
          <label for="ca-individu-{{ individuIndex }}">Chiffre d’affaires {{ yearMoins1 }}</label>
          <span class="input-group">
            <input
              type="number"
              id="ca-individu-{{ individuIndex }}"
              class="form-control text-right"
              required
              min="0"
              select-on-focus
              zero-to-empty
              ng-model="ressource[yearMoins1]">
            <span class="input-group-addon">€</span>
          </span>
          <span class="text-danger" ng-if="form.submitted && ! isNumber(ressource[yearMoins1])">
          Montant invalide
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="panel ressource-input rpns" ng-if="ressourceId == 'tns_autres_revenus'">
    <div class="panel-heading">
      <h3 class="panel-title">{{ ressourceTypes[ressourceId].label }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-5">
          <label for="type-activite-individu-{{ individuIndex }}">Type d'activité</label>
          <select class="form-control" id="type-activite-individu-{{ individuIndex }}" ng-model="individu.tns_autres_revenus_type_activite">
            <option value="achat_revente">Achat/revente ou fourniture de logement</option>
            <option value="bic">Autre activité relevant des BIC</option>
            <option value="bnc">Activité libérale et/ou intellectuelle (BNC)</option>
          </select>
        </div>
        <div class="col-sm-7">
          <label
            for="revenus-exercice-individu-{{ individuIndex }}">
          Bénéfice sur le dernier exercice clos
          </label>
          <span class="input-group">
            <input
              type="number"
              id="revenus-exercice-individu-{{ individuIndex }}"
              class="form-control text-right"
              required
              min="0"
              select-on-focus
              zero-to-empty
              ng-model="ressource[yearMoins1]">
            <span class="input-group-addon">€</span>
          </span>
          <span class="text-danger" ng-if="form.submitted && ! isNumber(ressource[yearMoins1])">
          Montant invalide
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="panel ressource-input rpns"
    ng-if="ressourceId == 'tns_benefice_exploitant_agricole'">
    <div class="panel-heading">
      <h3 class="panel-title">{{ ressourceTypes[ressourceId].label }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">
          <label for="revenus-exercice-individu-{{ individuIndex }}">
            Dernier bénéfice agricole
          </label>
          <span class="input-group">
            <input
              type="number"
              id="revenus-exercice-individu-{{ individuIndex }}"
              class="form-control text-right"
              required
              min="0"
              select-on-focus
              zero-to-empty
              ng-model="ressource[yearMoins1]">
            <span class="input-group-addon">€</span>
          </span>
          <span class="text-danger" ng-if="form.submitted && ! isNumber(ressource[yearMoins1])">
          Montant invalide
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
