<div class="container layout">
  <div class="frame-foyer">
    <h1><i class="fa fa-file-text-o"></i> Informations complémentaires nominatives</h1>
    <p>
      Saisissez vos informations personnelles pour imprimer en un clic tous les formulaires Cerfa et engager vos démarches.
      <br>Aucun des champs n'est obligatoire, mais il vous faudra compléter à la main les champs que vous ne remplissez pas ici.
      <br><strong>Nous ne conserverons aucune de vos données personnelles.</strong>
    </p>

    <form method="post" name="form" class="form-horizontal" novalidate ng-submit="submit()">
      <div ui-view="adresse"></div>
      <div ui-view="individus"></div>

      <div class="alert alert-danger" ng-if="error">
        Le formulaire comporte des erreurs, merci de les corriger.
      </div>

      <div class="text-right">
        <button type="submit" class="btn btn-primary btn-lg">Valider</button>
      </div>
    </form>

  </div>
</div>
