<div class="container layout">
  <div class="frame-foyer">
    <h1><i class="fa fa-file-text-o"></i> Informations complémentaires nominatives</h1>
    <p>
      Saisissez vos informations personnelles pour imprimer en un clic tous les formulaires Cerfa et engager vos démarches.
      <br>Aucun des champs n'est obligatoire, mais il vous faudra compléter à la main les champs que vous ne remplissez pas ici.
      <br><strong>Nous ne conserverons aucune de vos données personnelles.</strong>
    </p>

    <ui-view></ui-view>
  </div>
</div>
