:root {
  /* input focus */
  --input-outline: #b84838;

  /* buttons */
  --main-color: #e65a46;
  --main-color-hover: #c44d3c;
  --main-color-active: #c44d3c;
  --main-btn-text-color: #fff;
  --border-radius: 0.1rem;

  /*
    progress bar
    home colored background
    home main text
    */
  --secondary-color: #322e5a;

  /* en savoir plus text */
  --info-main-color: #322e5a;

  /* en savoir plus background */
  --info-secondary-color: #dddced;
  --info-secondary-color-hover: #dddced;
  --info-secondary-color-active: #dddced;

  /* Font */
  --font-family: inherit;
}
