:root {
  --text-disabled-grey: #666;
  --blue-ecume-975-75: #f4f6fe;
  --blue-ecume-975-75-hover: #d7dffb;
  --blue-ecume-975-75-active: #c3cffa;
  --blue-ecume-950-100: #e9edfe;
  --blue-ecume-950-100-hover: #c5d0fc;
  --blue-ecume-950-100-active: #adbffc;
  --blue-ecume-sun-247-moon-675: #2f4077;
  --blue-ecume-sun-247-moon-675-hover: #4e68bb;
  --blue-ecume-sun-247-moon-675-active: #667dcf;
  --blue-ecume-925-125: #dee5fd;
  --blue-ecume-925-125-hover: #b4c5fb;
  --blue-ecume-925-125-active: #99b3f9;
  --blue-ecume-main-400: #465f9d;
  --blue-ecume-850-200: #bfccfb;
  --blue-cumulus-975-75: #f3f6fe;
  --blue-cumulus-975-75-hover: #d3dffc;
  --blue-cumulus-975-75-active: #bed0fa;
  --blue-cumulus-950-100: #e6eefe;
  --blue-cumulus-950-100-hover: #bcd3fc;
  --blue-cumulus-950-100-active: #9fc3fc;
  --blue-cumulus-sun-368-moon-732: #3558a2;
  --blue-cumulus-sun-368-moon-732-hover: #5982e0;
  --blue-cumulus-sun-368-moon-732-active: #7996e6;
  --blue-cumulus-925-125: #dae6fd;
  --blue-cumulus-925-125-hover: #a9c8fb;
  --blue-cumulus-925-125-active: #8ab8f9;
  --blue-cumulus-main-526: #417dc4;
  --blue-cumulus-850-200: #b6cffb;
}

.fr-text--center {
  text-align: center;
}

.fr-text--justify {
  text-align: justify;
}

.fr-text--disabled {
  color: var(--text-disabled-grey);
}

.fr-icon-spin {
  display: inline-block;
  animation: spin 2.5s linear infinite;
}

.fr-hint-text {
  font-size: 0.9rem;
}

.fr-mw-9w {
  max-width: 72px;
}

.fr-mw-18w {
  max-width: 144px;
}

.fr-nav__item--right {
  margin-left: auto;
}

.fr-tile__title {
  font-size: 1.4rem;
}

.fr-tile__title + .fr-hint-text {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
}

.fr-tile .fr-highlight {
  background: #faf4ce;
}

.fr-background--orange {
  background-color: #f8bd8f;
}

.fr-list-unstyled {
  list-style: none;
}

.fr-btn {
  text-align: center !important;
}

.fr-btn--icon-center {
  justify-content: center !important;
}

.fr-btn-disabled {
  --hover: var(--background-disabled-grey);
  --active: var(--background-disabled-grey);
  background-color: var(--background-disabled-grey);
  color: var(--text-disabled-grey);
}

.fr-fieldset__content {
  margin-top: 0 !important;
}

[data-text] {
  position: relative;
  z-index: 1;
}

[data-text]:hover:after {
  display: block;
  content: attr(data-text);
  padding: 10px;
  background-color: var(--background-disabled-grey);
  position: absolute;
  inset: auto auto 150% 0;
  margin: auto;
  width: 250px;
  z-index: calc(var(--ground) + 10000);
  text-transform: none;
}

.aj-page--full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.aj-hero-section {
  min-height: 100%;
  height: 635px;
  max-height: 635px;
  background-color: var(--blue-cumulus-main-526);
}

.aj-hero-section--text {
  background-color: white;
  height: 100%;
}

.aj-hero-section--text h1 {
  color: var(--blue-cumulus-main-526);
  font-weight: normal;
}

.aj-hero-section--text-highlight {
  background-image: linear-gradient(
    0deg,
    var(--success-975-75) 0%,
    var(--success-975-75) 50%,
    transparent 50%,
    transparent 100%
  );
  color: #27a658;
}

.aj-hero-section--img {
  height: 100%;
  max-height: 600px;
  margin: auto;
}

.aj-main-container {
  /* background-color: var(--background-alt-grey) */
}

.fr-btn.fr-btn--icon-left,
.fr-btn.fr-icon-mail-line {
  max-width: 100% !important;
}

.aj-benefit-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 32px;
}

.aj-benefit-name {
  flex: 1 1 30ch;
}

.aj-benefit-institution {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
  color: var(--text-mention-grey);
}

.aj-institution-icon {
  width: 70px;
  min-width: 70px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

h1:focus,
h2:focus,
h3:focus {
  outline-style: none !important;
}

.fr-text--preformated {
  white-space: pre;
}

.fr-input-wrap.fr-icon-money-euro-circle-fill:before {
  width: 20px;
  height: 20px;
  margin: auto;
}

.fr-radio-group {
  margin-top: 0 !important;
}

.fr-radio-group label {
  min-height: 50px !important;
}

.fr-modal--large .fr-modal__content {
  min-height: 70vh;
}

.fr-print-only {
  display: none;
}

.fr-article {
  margin: 56px auto;
}

.fr-article h2 {
  margin-top: 36px;
}

.fr-article h3 {
  margin-top: 24px;
}

.fr-article code {
  background: var(--background-disabled-grey);
}

@media print {
  .fr-print-only {
    display: inherit !important;
  }

  .fr-print-hidden {
    display: none !important;
  }
}
