:root {
  /* CSS redirections (DSFR override) */
  --text-disabled-grey: #666;
  --background-info-container: #f9f8f6;

  --blue-france-sun-113-625: var(--main-color);
  --blue-france-sun-113-625-hover: var(--main-color-hover);
  --blue-france-sun-113-625-active: var(--main-color-active);

  --blue-cumulus-main-526: var(--secondary-color);

  --info-425-625: var(--info-main-color);

  --info-950-100: var(--info-secondary-color);
  --info-950-100-hover: var(--info-secondary-color-hover);
  --info-950-100-active: var(--info-secondary-color-active);

  --secondary-btn-text-color: var(--main-color);
  --secondary-btn-border-color: var(--main-color);

  --tool-link-color: var(--main-color);
  --tool-link-background-color: transparent;
  --tool-link-background-color-hover: var(--background-raised-grey-hover);

  --sidemenu-active-link-text-color: var(--main-color);
}

.fr-header__tools-links .fr-btn {
  color: var(--tool-link-color);
  background-color: var(--tool-link-background-color);
}

.fr-header__tools-links .fr-btn:hover {
  background-color: var(--tool-link-background-color-hover);
}

.fr-sidemenu__link[aria-current="true"] {
  color: var(--sidemenu-active-link-text-color) !important;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: var(--font-family);
}

[tabindex],
a,
button,
input,
select,
radio,
details,
input[type="checkbox"] + label:before,
input[type="image"],
input[type="radio"] + label:before,
input[type="radio"],
input[type="reset"],
input[type="submit"],
input:focus,
select,
textarea {
  outline-color: var(--input-outline);
}

.fr-fieldset {
  margin-left: auto;
  margin-right: auto;
}

.fr-fieldset__content {
  margin-left: 0;
}

.fr-header__menu[role="dialog"] .fr-mega-menu p {
  display: none;
}

.fr-header__menu[role="dialog"] .fr-mega-menu div[data-submenu="true"] ul {
  text-indent: 16px;
}

.fr-text--center {
  text-align: center;
}

.fr-text--right {
  text-align: right;
}

.fr-text--justify {
  text-align: justify;
}

.fr-text--disabled {
  color: #666666 !important;
}

.fr-icon-spin {
  display: inline-block;
  animation: spin 2.5s linear infinite;
}

.fr-hint-text {
  font-size: 0.9rem;
}

.fr-mw-9w {
  max-width: 72px;
}

.fr-mw-18w {
  max-width: 144px;
}

.fr-nav__item--right {
  margin-left: auto;
}

.fr-tile__title {
  font-size: 1.4rem;
}

.fr-tile__title + .fr-hint-text {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
}

.fr-tile .fr-highlight {
  background: #faf4ce;
}

.fr-tile {
  border-bottom: solid;
  border-bottom-color: var(--main-color);
}

.fr-btn {
  text-align: center;
  max-width: 100% !important;
  border-radius: var(--border-radius);
  color: var(--main-btn-text-color);
}

.fr-btn--close,
.fr-btn--tertiary-no-outline {
  color: var(--main-color);
}
.fr-btn--icon-center {
  justify-content: center !important;
}
.fr-btn--multiline {
  white-space: normal !important;
  max-height: none !important;
}

.fr-btn-disabled {
  --hover: var(--background-disabled-grey);
  --active: var(--background-disabled-grey);
  background-color: var(--background-disabled-grey);
  color: var(--text-disabled-grey);
}

.fr-btn--secondary {
  box-shadow: inset 0 0 0 1px var(--secondary-btn-border-color);
  color: var(--secondary-btn-text-color);
}

.fr-fieldset__content {
  margin-top: 0;
}

.fr-badge.fr-badge--info {
  padding: 2px 8px;
}

[data-text] {
  position: relative;
  z-index: 10;
}

.aj-page--full-height {
  display: flex;
  flex-direction: column;
}

.aj-hero-section {
  min-height: 100%;
  height: 635px;
  max-height: 635px;
  background-color: var(--blue-cumulus-main-526);
}

.aj-hero-section--text {
  background-color: white;
  height: 100%;
  flex: 1;
}

.aj-hero-section--text h1 {
  color: var(--blue-cumulus-main-526);
  font-weight: normal;
}

.aj-hero-section--text-highlight {
  background-image: linear-gradient(
    0deg,
    var(--success-975-75) 0%,
    var(--success-975-75) 50%,
    transparent 50%,
    transparent 100%
  );
  color: #218d4b;
}

.aj-hero-section--img {
  height: 100%;
  max-height: 600px;
  margin: auto;
}

.aj-benefit-header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  gap: 32px;
}

.aj-benefit-name {
  flex: 1 1 30ch;
}

.aj-benefit-institution {
  font-size: 1rem;
  font-weight: 700;
  font-style: italic;
  color: var(--text-mention-grey);
}

.aj-benefit-amount {
  min-width: 120px;
}

.aj-institution-icon {
  width: 70px;
  min-width: 70px;
}
.aj-main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 40em;
}

.aj-column-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
}

.aj-fr-sidemenu__inner {
  height: 100%;
}

.aj-responsive-icon-places,
[class*=" fr-icon-"]:before {
  --icon-size: 2rem;
}

.aj-revenirplustard {
  text-align: right;
}

@media (max-width: 576px) {
  .aj-hero-section {
    max-height: none;
    height: auto;
  }
  .aj-revenirplustard {
    text-align: left;
    padding-left: 4px;
    font-size: 80%;
  }
}

@media (max-width: 767px) {
  body[data-action-buttons="true"] {
    padding-bottom: 72px;
  }

  .aj-action-buttons {
    position: fixed;
    inset: auto 0 0 0;
    background: var(--background-default-grey);
    padding: 16px 16px 0;
    box-shadow: inset 0 1px 0 0 var(--border-default-grey),
      inset 0 -1px 0 0 var(--border-default-grey);
    z-index: calc(var(--ground) + 100);
  }

  .aj-action-buttons .fr-btns-group {
    justify-content: space-between;
  }
  .aj-main-container {
    flex: 1;
    display: flex;
    flex-direction: column !important;
    min-height: 0;
  }

  .aj-column-container {
    min-height: 100vh;
    align-content: baseline;
  }
  .aj-responsive-icon-places,
  [class*=" fr-icon-"]:before {
    --icon-size: 1.5rem;
  }

  .aj-action-buttons-sm > li,
  .aj-action-buttons-sm button {
    flex: 1;
  }
}

.aj-iframe-footer {
  box-shadow: inset 0 1px 0 0 var(--border-default-grey);
}

@media (max-width: 992px) {
  .aj-benefit-header {
    justify-content: space-between;
  }

  .aj-institution-icon {
    order: 1;
  }

  .aj-benefit-amount {
    order: 2;
  }

  .aj-benefit-name {
    order: 3;
    flex-basis: 100%;
  }

  [data-text]:after {
    display: none !important;
  }
  .fr-sidemenu__inner {
    min-height: 0;
  }

  .aj-main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .aj-column-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

@media (max-width: 1024px) {
  .aj-main-container {
    flex: 1;
    display: flex;
    flex-direction: inherit;
  }

  .aj-column-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.fr-text--preformated {
  white-space: pre;
}

.fr-input-wrap.fr-icon-money-euro-circle-fill:before {
  width: 20px;
  height: 20px;
  margin: auto;
}

.fr-input[type="text"]:placeholder-shown {
  text-indent: 5px;
}

.fr-radio-group label {
  min-height: 50px !important;
  border-radius: var(--border-radius);
}

.fr-modal--large .fr-modal__content {
  min-height: 70vh;
}

.fr-print-only {
  display: none;
}

.fr-article {
  margin: 56px 24px;
}

.fr-article h2 {
  margin-top: 36px;
}

.fr-article h3 {
  margin-top: 24px;
}

.fr-article code {
  background: var(--background-disabled-grey);
}

@media print {
  .fr-print-only {
    display: inherit;
  }

  .fr-print-hidden,
  .fr-btn,
  nav,
  footer {
    display: none;
  }

  .fr-tile {
    break-inside: avoid;
  }
}

.aj-progress-bar-container {
  height: 4px;
}

.aj-progress-bar-background {
  background-color: var(--background-disabled-grey);
  position: absolute;
  inset: auto 0;
  height: 4px;
  width: 100%;
  transition: 0.2s;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.aj-progress-bar-foreground {
  height: 4px;
  background-color: var(--blue-cumulus-main-526);
  transition: 0.2s;
}

.aj-flex-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.aj-iframe-content .aj-main-container,
.aj-iframe-content .aj-column-container {
  min-height: 0vh;
}

.aj-iframe-tracking-optout {
  border-width: 0px;
  overflow: hidden;
  width: 100%;
  background-color: white;
}

.aj-bandeau-demo-wrapper {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 160px;
  height: 160px;
  pointer-events: none;
  z-index: 1000;
}

.aj-bandeau-demo {
  position: absolute;
  right: -45px;
  top: 23px;
  background: var(--blue-cumulus-main-526);
  padding: 8px 48px;
  border-radius: 0;
  font-weight: 700;
  font-size: 24px;
  color: white;
  transform: rotate(45deg);
  pointer-events: all;
}

.aj-lien-debug {
  position: fixed;
  inset: auto 30px 50px auto;
  display: block;
  background: var(--blue-cumulus-main-526);
  padding: 5px 10px;
  border-radius: 15px;
  color: #ffffff;
  z-index: 5000000;
  pointer-events: all;
  border: 1px solid #ffffff11;
}

.aj-copy-content,
.aj-copy-content * {
  font-family: initial !important;
  font-size: initial !important;
}

.aj-debug-progress a:not(.aj-progress-inactive-step),
.aj-debug-progress a:not(.aj-progress-inactive-step):active,
.aj-debug-progress a:not(.aj-progress-inactive-step):visited {
  color: var(--green);
}
.aj-progress-inactive-step,
.aj-progress-inactive-step:active,
.aj-progress-inactive-step:visited {
  text-decoration: line-through;
}
.aj-progress-current-step {
  font-weight: bold;
}

.aj-progress-hide-route {
  display: none;
}

.aj-a {
  color: var(--main-color);
}

.aj-header > a:after {
  display: none;
}

.aj-montant-input-container {
  display: flex;
  align-items: center;
}

.aj-step-view {
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.fr-connect:before {
  background-image: url(/public/img/logo-moncomptepro.svg);
}

/* Custom code for allow `border-radius` on input radio (prevent using current background-image class on DSFR version > 1.12.1) */
.fr-radio-rich input[type="radio"] + label {
  background-image: none;
  box-shadow: inset 0 0 0 1px var(--border-default-grey);
}

.fr-radio-rich input[type="radio"] + label:before {
  box-shadow: inset 0 0 0 1px var(--border-action-high-grey),
    inset 0 0 0 8px var(--background-default-grey),
    inset 0 0 0 8px var(--background-action-high-blue-france);
  height: 1rem;
  left: 1.75rem;
  margin-top: -0.5rem;
  position: absolute;
  top: 50%;
  width: 1rem;
  border-radius: 50%;
}

.fr-radio-rich input[type="radio"]:checked + label {
  box-shadow: inset 0 0 0 1px var(--border-action-high-blue-france);
  background-image: none;
}

.fr-radio-rich input[type="radio"]:checked + label:before {
  box-shadow: inset 0 0 0 1px var(--border-action-high-grey),
    inset 0 0 0 4px var(--background-default-grey),
    inset 0 0 0 8px var(--background-action-high-blue-france);
}
