// FROM BOOTSTRAP
$font-size-base: 15px;
$font-size-h2: floor(($font-size-base * 2.15)); // ~30px
// END FROM BOOTSTRAP

$text-color: lighten(#000, 20%);
$screen-md-min: 992px;
$screen-sm-max: $screen-md-min - 1;
$screen-xs-max: 768px-1;
$screen-smaller-than-mobile: 399px;

:root {
  --theme-border-radius: 25px;
  --theme-primary: #5770be;
  --theme-primary-light: #6575ea;
  --theme-primary-lighter: #e2e5fb;
  --light-grey: #c4c4c4;
  --green: #169b62;
  --light-green: #51d27d;
  --lighter-green: #eefbf2;
  --space-xs: 20px;
}

@font-face {
  font-family: "Marianne";
  src: url("../fonts/Marianne-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "MarianneBold";
  src: url("../fonts/Marianne-Bold.woff2") format("truetype");
}

@font-face {
  font-family: "MarianneExtraBold";
  src: url("../fonts/Marianne-ExtraBold.woff2") format("truetype");
}

/* DESKTOP IMPORTS */
@import "partials/desktop/ui-kit";
@import "partials/desktop/stats";
@import "partials/desktop/buttons";
@import "partials/desktop/inputs";
@import "partials/desktop/home";
@import "partials/desktop/simulation";
@import "partials/desktop/children";
@import "partials/desktop/header";
@import "partials/desktop/footer";
@import "partials/desktop/resultats";
@import "partials/desktop/recapitulatif";

/* TABLET IMPORTS */
@media (max-width: 768px) {
  @import "partials/tablet/ui-kit";
  @import "partials/tablet/header";
  @import "partials/tablet/home";
  @import "partials/tablet/resultats";
  @import "partials/tablet/recapitulatif";
}

/* MOBILE IMPORTS */
@media (max-width: 576px) {
  @import "partials/mobile/ui-kit";
  @import "partials/mobile/header";
  @import "partials/mobile/buttons";
  @import "partials/mobile/inputs";
  @import "partials/mobile/children";
  @import "partials/mobile/footer";
  @import "partials/mobile/home";
  @import "partials/mobile/simulation";
  @import "partials/mobile/resultats";
  @import "partials/mobile/recapitulatif";
}

/* UTILS */
@import "partials/utils/helpers";
