$link-color:        #008cba;
$text-color:        lighten(#000, 20%);
$screen-md-min:     992px;
$screen-sm-max:     $screen-md-min - 1;
$screen-xs-max:     768px-1;

.button.warning-light {
  color: #454545;
}


.dotted-line {
  border-top: 1px dotted lighten(#333, 20%);
  display: block;
  flex: 1;
  margin: 0 15px;

  @media ($screen-sm-max) {
    display: none;
  }
}

.list-unstyled {
  list-style: none;
}

.notification {
  display: flex;
    justify-content: space-between;
    align-items: center;

}

form {
  max-width: 65em;
}
