// FROM BOOTSTRAP
$font-size-base:          15px;
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
// END FROM BOOTSTRAP

$text-color:        lighten(#000, 20%);
$screen-md-min:     992px;
$screen-sm-max:     $screen-md-min - 1;
$screen-xs-max:     768px-1;
$screen-smaller-than-mobile: 399px;

:root {
  --theme-border-radius: 25px;
  --theme-primary: #5770be;
  --theme-primary-light: #6575EA;
  --theme-primary-lighter: #E2E5FB;
  --light-grey: #C4C4C4;
  --green: #169B62;
  --light-green: #EEFBF2;
  --space-xs: 20px;
}

@font-face {
  font-family: 'Marianne';
  src: url('../fonts/Marianne-Regular.woff2') format('truetype')
}

@font-face {
  font-family: 'MarianneBold';
  src: url('../fonts/Marianne-Bold.woff2') format('truetype')
}

@font-face {
  font-family: 'MarianneExtraBold';
  src: url('../fonts/Marianne-ExtraBold.woff2') format('truetype')
}

/* UTILS */
@import 'partials/utils/helpers';

/* DESKTOP IMPORTS */
@import 'partials/desktop/ui-kit';
@import 'partials/desktop/buttons';
@import 'partials/desktop/inputs';
@import 'partials/desktop/home';
@import 'partials/desktop/children';
@import 'partials/desktop/header';
@import 'partials/desktop/footer';

/* TABLET IMPORTS */
@media (max-width: 768px) {
  @import 'partials/tablet/ui-kit';
  @import 'partials/tablet/header';
  @import 'partials/tablet/home';
}

/* MOBILE IMPORTS */
@media (max-width: 576px) {
  @import 'partials/mobile/ui-kit';
  @import 'partials/mobile/buttons';
  @import 'partials/mobile/inputs';
  @import 'partials/mobile/children';
  @import 'partials/mobile/footer';
  @import 'partials/mobile/home';
}

