body,
html {
  height: 100%;
}

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: unset;
}

footer {
  margin: 1em;
}

.contribution-submit {
  background: transparent;
  font-size: 1em;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.contribution-form {
  display: flex;
}
