<div>
  <h1>
    Création d'une situation de test
    <small ng-show="awaitingResults"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i></small>
  </h1>

  <div id="warning" class="alert alert-warning" ng-show="warning" role="alert">
    <h2><i class="fa fa-warning" aria-hidden="true"></i> Aucun résultat disponible</h2>
    <p>
      Pour commencer votre simulation, rendez-vous sur la <a ui-sref="home">page d'accueil</a>.
    </p>
  </div>

  <div ng-if="result">
    Merci, le test a bien été enregistré. Il est visible à l'<a href="{{ result.data.html_url }}">adresse suivante</a>.
  </div>

  <form method="post" name="form" class="form-horizontal" ng-submit="submit()" ng-if="! result">
    <h3>Récapitulatif du scénario</h3>
    <div class="row form-group" ng-class="{'has-error': form.submitted && form.name.$invalid, 'has-success': form.submitted && form.name.$valid}">
      <label class="control-label col-md-3" for="test-name">Nom du test</label>
      <div class="col-md-6">
        <input
          type="text"
          name="name"
          class="form-control"
          id="test-name"
          ng-model="test.name"
          placeholder="Les AL ne sont pas prises en compte dans le RSA"
          select-on-focus
          required>
      </div>
    </div>

    <div class="row h2">
      <label class="control-label col-md-3" for="test-description">Description</label>
      <div class="col-md-6">
        <textarea
          name="description"
          rows="9"
          class="form-control"
          id="test-description"
          ng-model="test.description"
          placeholder="Le RSA doit prend en compte les aides au logement. Un 'forfait logement' doit être appliqué cf. l'article R262-9 du Code de l'action sociale et des familles.&#10;&#10;- https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000031694445&cidTexte=LEGITEXT000006074069&dateTexte=20171222&fastPos=2&fastReqId=1534790830&oldAction=rechCodeArticle"
          select-on-focus
          ></textarea>
      </div>
    </div>

    <h3>Prestations dont vous connaissez les valeurs attendues</h3>
    <div ng-repeat="droit in test.expectedResults" class="frame-resultats">

    <div class="row">
      <div class="col-md-1">
        <button type="button" class="btn btn-default btn-xs" ng-click="test.expectedResults.splice($index, 1)"><i class="fa fa-times"></i></button>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-md-4" for="droit-{{ $index }}">Prestation</label>
      <div class="col-md-7">
        <select
          id="droit-{{ $index }}"
          class="form-control"
          ng-options="possibleValue as possibleValue.label for possibleValue in possibleValues track by possibleValue.id"
          ng-model="droit.ref"
          ng-change="droitSelected(droit)">
        </select>
      </div>
    </div>

    <div class="row" ng-if="droit.result">
      <div class="form-group">
        <label class="control-label col-md-4">Valeur obtenue</label>
        <div class="col-md-7">
          <p class="form-control-static text-center"><b>{{ displayValueFor(droit.ref, droit.result) }}</b></p>
        </div>
      </div>
    </div>

    <div class="row" ng-if="droit.ref.uncomputability">
      <div class="form-group">
        <label class="control-label col-md-4" for="expected-value-{{ $index }}">
          La valeur est-elle calculable ?
        </label>
        <div class="col-md-7 text-center">
          <label
            class="btn btn-sm btn-default"
            ng-class="{active: droit.shouldCompute == true}">
            <input
              type="radio"
              name="shouldCompute-true"
              class="sr-only"
              ng-model="droit.shouldCompute"
              ng-value=true
              />
            Oui
          </label>
          <label
            class="btn btn-sm btn-default"
            ng-class="{active: droit.shouldCompute === false}">
            <input
              type="radio"
              name="shouldCompute-false"
              class="sr-only"
              ng-model="droit.shouldCompute"
              ng-value=false
              />
            Non
          </label>
        </div>
      </div>
    </div>

    <div class="row" ng-if="droit.ref.uncomputability && (droit.shouldCompute === false)">
      <div class="form-group">
        <label class="control-label col-md-4" for="uncomputability-value-{{ $index }}">
          Quelle est la raison ?
        </label>
        <div class="col-md-7">
          <select
            class="form-control"
            id="uncomputability-value-{{ $index }}"
            ng-options="uncomputabilityReasonId as displayValueFor(droit.ref, uncomputabilityReasonId) for (uncomputabilityReasonId, uncomputabilityReason) in droit.ref.uncomputability"
            ng-model="droit.expectedValue"
          ></select>
        </div>
      </div>
    </div>

    <div class="row" ng-if="droit.ref && ((! droit.ref.uncomputability) || droit.shouldCompute)">
      <div class="form-group">
        <label class="control-label col-md-4" for="expected-value-{{ $index }}">
          Valeur attendue
        </label>

        <div class="col-md-7" ng-if="(! droit.ref.type) || droit.ref.type === 'float'">
          <div class="input-group">
            <input id="expected-value-{{ $index }}" class="form-control text-right" name="expected-value" type="number" lang="fr" ng-model="droit.expectedValue" required select-on-focus>
            <span class="input-group-addon">{{ droit.ref.unit || '€' }}</span>
          </div>
        </div>

        <yes-no-question model="droit.expectedValue" ng-if="droit.ref.type === 'bool'"/>
      </div>
    </div>
  </div>

    <p><button type="button" class="btn btn-default btn-xs" ng-click="test.expectedResults.push({}); showComputableInput.push(true)">
    Ajouter une {{ test.expectedResults.length ? 'autre' : '' }} prestation
    </button></p>

    <div class="row form-group">
      <div class="col-md-offset-3 col-md-9 checkbox">
        <label>
          <input
            type="checkbox"
            class=""
            ng-model="locals.okWithPublicity"
            required>
          J'accepte que les données de cette simulation soient visibles en ligne. Si les informations correspondent à une situation réelle, vous pouvez les modifier en revenant à la page précédente.</label>
      </div>
    </div>

    <div class="text-center">
      <p class="alert alert-danger" ng-if="error">{{ error }}</p>
      <button
        class="btn btn-primary"
        ng-click="createSuggestionFile(form)"
        type="submit"
      >
        {{ submitLabel() }}
        <span ng-if="submitting" class="fa fa-spinner fa-spin" aria-hidden="true"></span>
      </button>
    </div>

    <h3>Détails de la situation</h3>
    <div class="row h2">
      <div class="col-md-12">
        <pre><code>{{ situationYAML }}</code></pre>
      </div>
    </div>
  </form>
</div>
