<div class="container validation">
  <h1>Page de validation</h1>
  <div ng-repeat="source in sources">
    <h2>
      <button ng-click="source.details = ! source.details">
        <span ng-show="! source.details">Afficher</span>
        <span ng-show="source.details">Cacher</span>
        les tests
      </button>
      {{ source.name }}
      -
      <span ng-if="source.tests">{{ source.tests.length }}</span>
      <span class="text-danger" ng-if="source.error">{{ source.error }}</span>
    </h2>
    <div ng-if="source.details" ng-repeat="test in source.tests">
      <h3>
        <button ng-click="test.details = ! test.details">
          <span ng-show="! test.details">Afficher</span>
          <span ng-show="test.details">Cacher</span>
          la situation
        </button>
        {{ test.data.name }}
      </h3>
      <div ng-if="test.details">
        <h3>Description</h3>
        <pre class="nicely">{{ test.data.description }}</pre>
        <h3>Situation</h3>
        <pre>{{ formatTestData(test.data) }}</pre>
      </div>
    </div>
  </div>
</div>
