<div class="timeline">
  <div ng-repeat="activity in activities" class="timeline-block">
    <div class="timeline-img {{activity | activityTypeIconFilter}}">
      <i class="fa fa-{{activity | activityTypeIconFilter}}"></i>
    </div>

    <div class="timeline-content">
      <h1 ng-if="showTarget"><a ui-sref="index.list({'testId':activity.target._id})">{{activity.target.name}}</a></h1>
      <h2>{{activity | activityTypeLabelFilter}}</h2>
      <h3>{{getDate(activity)}} <span ng-if="activity.user">par {{activity.user.firstName}} {{activity.user.lastName}}</span></h3>
      <div ng-if="activity.content.rejectionMessage">
        <h2>Raison du rejet</h2>
        <h3>{{activity.content.rejectionMessage}}</h3>
      </div>
    </div>
  </div>
</div>
