<div class="page-header">
  <h1>Nouveau cas de test</h1>
</div>

<form name="form" class="form-horizontal" ng-submit="submit()">
  <div class="form-group" ng-class="{'has-error': form.name.$invalid, 'has-success': form.name.$valid}">
    <label class="control-label col-md-3" for="test-name">Nom du test</label>
    <div class="col-md-6">
      <input type="text" name="name" class="form-control" id="test-name" ng-model="test.name" placeholder="Exemple : chômeur seul 3 enfants" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-3" for="test-description">Description</label>
    <div class="col-md-6">
      <textarea name="description" rows="5" class="form-control" id="test-description" ng-model="test.description"></textarea>
    </div>
  </div>
  <h3>Droits attendus</h3>
  <p><button type="button" class="btn btn-default btn-xs" ng-click="test.droitsAttendus.push({})">Ajouter un autre droit attendu</button></p>
  <div class="row" ng-repeat="droit in test.droitsAttendus">
    <div class="col-md-1">
      <button type="button" class="btn btn-default btn-xs" ng-click="removeDroit(droit)"><i class="fa fa-times"></i></button>
    </div>
    <div class="col-md-5">
      <div class="form-group">
        <label class="control-label col-md-2" for="droit-{{ $index }}">Droit</label>
        <div class="col-md-10">
          <select id="droit-{{ $index }}" class="form-control" ng-options="choice as choice.shortLabel for choice in droitsChoices" ng-model="droit.ref">
          </select>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label col-md-3" for="expected-value">Valeur attendue</label>
        <div class="col-md-9">
          <div class="input-group" ng-if="false !== droit.ref.hasMontant">
            <input id="expected-value" class="form-control" type="number" step="any" ng-model="droit.expectedValue">
            <span class="input-group-addon">€</span>
          </div>
          <div ng-if="false === droit.ref.hasMontant">
            <button type="button" class="btn btn-xs btn-primary" btn-radio="true" ng-model="droit.expectedValue">Oui</button>
            <button type="button" class="btn btn-xs btn-primary" btn-radio="false" ng-model="droit.expectedValue">Non</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Créer ce cas de test</button>
  </div>
</form>
