<div class="page-header">
  <h1>{{ pageTitle }}</h1>
</div>

<p class="text-muted">
  Avant de créer des tests, vous êtes invités à vous renseigner sur le
  <a href="https://wiki.openfisca.fr/index.php/Protocole_de_tests_sur_mes-aides">protocole de test</a> de mes-aides.
</p>

<form method="post" name="form" class="form-horizontal" ng-submit="submit()">
  <div class="form-group">
    <label class="control-label col-md-3">Situation</label>
    <div class="col-md-6">
      <div class="sub-panel">
        <div ng-if="!test.situationObject"><i class="fa fa-spinner fa-spin"></i> Chargement en cours...</div>
        <div ng-if="test.situationObject"><recap-situation situation="test.situationObject"></recap-situation></div>
      </div>
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': form.name.$invalid, 'has-success': form.name.$valid}">
    <label class="control-label col-md-3" for="test-name">Nom du test</label>
    <div class="col-md-6">
      <input
        type="text"
        name="name"
        class="form-control"
        id="test-name"
        ng-model="test.name"
        placeholder="Exemple : Les bourses de l'enseignement supérieur ne sont pas prises en compte dans les ressources"
        required>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-md-3" for="test-description">Description</label>
    <div class="col-md-6">
      <textarea name="description" rows="5" class="form-control" id="test-description" ng-model="test.description"></textarea>
    </div>
  </div>

  <div class="form-group">
    <keyword-input
      keywords="keywords"
      label-width="3"
      input-width="6"
      show-help="true"
      selected-keywords="test.keywords"
      on-validation="validate">
    </keyword-input>
  </div>

  <h3>Droits attendus</h3>

  <p>
    Attention : veillez à supprimer ici les droits que vous ne testez pas.
    <br>Veillez aussi à ajouter les droits dont vous testez que le montant calculé doit être nul (en mettant "0" comme valeur attendue).
  </p>

  <p><button type="button" class="btn btn-default btn-xs" ng-click="test.expectedResults.push({})">Ajouter un autre droit attendu</button></p>

  <div class="row" ng-repeat="droit in test.expectedResults">
    <div class="col-md-1">
      <button type="button" class="btn btn-default btn-xs" ng-click="removeDroit(droit)"><i class="fa fa-times"></i></button>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label col-md-4" for="droit-{{ $index }}">Droit</label>
        <div class="col-md-8">
          <select
            id="droit-{{ $index }}"
            class="form-control"
            ng-options="choice as choice.shortLabel for choice in droitsChoices"
            ng-model="droit.ref"
            ng-change="droitSelected(droit)">
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label col-md-5">Valeur obtenue</label>
        <div class="col-md-7">
          <p class="form-control-static"><b>{{ formatDroitValue(droit.result) }}</b></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <label class="control-label col-md-4" for="expected-value-{{ $index }}">Valeur attendue</label>
        <div class="col-md-8">
          <div class="input-group" ng-if="false !== droit.ref.hasMontant">
            <input id="expected-value-{{ $index }}" class="form-control" name="expectedValueNumber" type="number" step="any" ng-model="droit.expectedValue" required>
            <span class="input-group-addon">€</span>
          </div>
          <div ng-if="false === droit.ref.hasMontant">
            <button type="button" class="btn btn-xs btn-primary" btn-radio="true" ng-model="droit.expectedValue">Oui</button>
            <button type="button" class="btn btn-xs btn-primary" btn-radio="false" ng-model="droit.expectedValue">Non</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" ng-disabled="submitting" class="btn btn-primary">{{ submitLabel }}</button>
  </div>
</form>
