<div class="page-header">
  <h1>Accès aux tests automatisés</h1>
</div>

<div class="row">
  <div class="col-sm-8">
    <form method="post" class="form-horizontal" role="form" ng-submit="submit()">
        <div class="form-group">
          <label class="control-label col-sm-4" for="email">Email</label>
          <div class="col-sm-8">
            <input type="email" id="email" class="form-control" ng-model="email">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4" for="password">Mot de passe</label>
          <div class="col-sm-8">
            <input type="password" id="password" class="form-control" ng-model="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <button class="btn btn-primary" type="submit" ng-disabled="waiting">
              <span ng-if="waiting">
                <i class="fa fa-spinner fa-spin"></i>
                Veuillez patienter...
              </span>
              <span ng-if="!waiting">Connexion</span>
            </button>
            <span class="text-danger" ng-if="badCredentials">Erreur : identifiant ou mot de passe invalide.</span>
          </div>
        </div>
    </form>
  </div>
  <div class="col-sm-4">
    <div class="alert alert-warning">
      <i class="fa fa-info-circle"></i>
      Cette page permet de signaler des problèmes.
      <ul>
        <li><strong>Si vous souhaitez estimer vos droits, utilisez le <a href="/">simulateur de droits</a>.</strong></li>
        <li>Si vous souhaitez uniquement signaler un problème à l'équipe de développement, <a href="mailto:mes-aides@sgmap.fr">demandez un identifiant</a>.</li>
      </ul>
    </div>
  </div>
</div>
