<div class="row">
  <div class="col-lg-3">
    <p>
      <button type="button" ng-disabled="pendingTests > 0" class="btn btn-default" ng-click="launchAllTests()">
        <span ng-if="pendingTests > 0">
          <i class="fa fa-spinner fa-spin"></i> Tests en cours...
        </span>
        <span ng-if="pendingTests === 0">
          Lancer tous les tests
        </span>
      </button>
    </p>
  </div>
  <div class="col-lg-9">
    <progressbar
      ng-if="tests"
      ng-class="{'progress-striped active': pendingTests}"
      max="tests.length"
      value="tests.length - pendingTests">
      {{ tests.length - pendingTests }} / {{ tests.length }}
    </progressbar>
  </div>
</div>

<div ng-if="showErrors()">
  <p>Tests en erreur : {{ errors }}/{{ tests.length }}</p>
</div>

<test-accordion
  read-only="false"
  acceptance-tests="tests"
  category="category"
  idx-category="idxCategory"
  ng-repeat="(idxCategory, category) in categories">
</test-accordion>
