<div class="row">
  <div class="col-lg-3">
    <p>
      <button type="button" ng-disabled="pendingTests > 0" class="btn btn-default" ng-click="launchAllTests()">
        <span ng-if="pendingTests > 0">
          <i class="fa fa-spinner fa-spin"></i> Tests en cours...
        </span>
        <span ng-if="pendingTests === 0">
          Lancer tous les tests
        </span>
      </button>
    </p>
  </div>
  <div class="col-lg-9">
    <progressbar
      ng-if="tests"
      ng-class="{'progress-striped active': pendingTests}"
      max="tests.length"
      value="tests.length - pendingTests">
      {{ tests.length - pendingTests }} / {{ tests.length }}
    </progressbar>
  </div>
</div>

<div ng-if="showErrors()">
  <p>Tests en erreur : {{ errors }}/{{ tests.length }}</p>
</div>

<div class="row">
  <div class="col-lg-12" ng-repeat="(idxCategory, category) in categories">
    <button
      type="button"
      class="btn btn-default btn-sm pull-right"
      ng-disabled="category.pendingTests || pendingTests"
      ng-click="launchTestCategory(category)">
      <span ng-if="category.pendingTests || pendingTests">
        <i class="fa fa-spinner fa-spin"></i> Tests en cours...
      </span>
      <span ng-if="!category.pendingTests && !pendingTests">
        Lancer les tests
      </span>
    </button>
    <h2>{{ category.name }}</h2>
    <p ng-if="category.errors">Tests en erreur : {{ category.errors }}/{{ category.tests.length }}</p>
    <accordion close-others="false">
      <accordion-group
        ng-repeat="(idxTest, test) in category.tests"
        id="test-{{ test._id }}"
        is-open="test.open"
        ng-class="testStatusClass(test)">
        <accordion-heading>
          <span class="test-is-valid">
            <i ng-if="test.state === 'validated'" class="fa fa-check-circle text-success" tooltip="Test validé"></i>
            <i ng-if="test.state === 'pending'" class="fa fa-clock-o" tooltip="Test en attente de validation"></i>
            <i ng-if="test.state === 'rejected'" class="fa fa-exclamation-circle text-danger" tooltip="Test refusé"></i>
          </span>
          {{ test.name }} <i class="pull-right fa" ng-class="{'fa-chevron-down': test.open, 'fa-chevron-right': !test.open}"></i>
          <div ng-if="test.open && test.createdBy">
            <small class="test-detail">
              Créé par {{test.createdBy.firstName}} {{test.createdBy.lastName}}
            </small>
          </div>
          <div ng-if="test.open && test.createdAt">
            <small class="test-detail">
              Créé le {{test.createdAt}}
            </small>
          </div>
          <div ng-if="test.open && test.updatedAt">
            <small class="test-detail">
              Dernière mise à jour le {{test.updatedAt}}
            </small>
          </div>
        </accordion-heading>

        <div class="test-actions text-right">

          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default btn-xs" ng-if="test.state === 'rejected'" ng-click="validTest(idxCategory, category, idxTest, test)">
              <i class="fa fa-check text-success"></i> Valider
            </button>
            <button type="button" class="btn btn-default btn-xs" ng-if="test.state === 'validated'" ng-click="rejectTest(idxCategory, category, idxTest, test)">
              <i class="fa fa-times text-warning"></i> Refuser
            </button>
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a
                  ui-sref="."
                  class="selectable"
                  ng-if="test.validated === false || test.validated === undefined"
                  ng-click="validTest(idxCategory, category, idxTest, test)">
                  <i class="fa fa-check text-success"></i> Valider
                </a>
              </li>
              <li>
                <a
                  ui-sref="."
                  ng-if="test.validated === true || test.validated === undefined"
                  ng-click="rejectTest(idxCategory, category, idxTest, test)">
                  <i class="fa fa-times text-warning"></i> Refuser
                </a>
              </li>
              <li>
                <a
                  ui-sref="."
                  ng-if="test.validated !== undefined"
                  ng-click="setWaitingTest(idxCategory, category, idxTest, test)">
                  <i class="fa fa-undo text-info"></i> Mettre en attente
                </a>
              </li>
            </ul>
          </div>

          <div class="btn-group" dropdown>
            <a type="button" class="btn btn-default btn-xs" ui-sref="edit({testId: test._id})">
              <i class="fa fa-edit text-warning"></i> Modifier
            </a>
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a ui-sref="edit({testId: test._id})">
                  <i class="fa fa-edit text-warning"></i> Modifier
                </a>
              </li>
              <li>
                <a ng-click="deleteTest(test)" ui-sref=".">
                  <i class="fa fa-times text-danger"></i> Supprimer
                </a>
              </li>
            </ul>
          </div>

          <button type="button" class="btn btn-default btn-xs" ng-disabled="test.running" ng-click="launchSingleTest(test)">
            <span ng-if="test.running"><i class="fa fa-spinner fa-spin"></i> En cours...</span>
            <span ng-if="!test.running"><i class="fa fa-play text-primary"></i> Relancer</span>
          </button>
        </div>
        <p ng-if="test.description" ng-bind-html="newLineToBr(test.description)"></p>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Droit</th>
              <th>Valeur attendue</th>
              <th>Valeur obtenue</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="droitAttendu in test.droitsAttendus" ng-class="droitAttenduStatusClass(droitAttendu)">
              <td>{{ droits[droitAttendu.code].shortLabel }}</td>
              <td>{{ displayDroitValue(droitAttendu.value) }}</td>
              <td>{{ displayDroitValue(droitAttendu.actualValue) }}</td>
            </tr>
          </tbody>
        </table>

        <p>
          <button type="button" class="btn btn-default btn-xs" ng-click="toggleSituation(test)">
            Détail de la situation
            <i class="fa" ng-class="{'fa-chevron-down': test.showSituation, 'fa-chevron-right': !test.showSituation}"></i>
          </button>
          <small>
            [<a href="/api/situations/{{ test.situation }}">Situation DDS</a>]
            [<a href="/api/situations/{{ test.situation }}/openfisca-request">Requête OpenFisca</a>]
            [<a href="/api/situations/{{ test.situation }}/openfisca-response">Réponse OpenFisca</a>]
            [<a href="" ng-click="gotoDebugOpenFisca(test.situation)">Debug OpenFisca</a>]
          </small>
        </p>
        <human-readable-situation ng-if="test.showSituation && test.situationObject" situation="test.situationObject">
        </human-readable-situation>
      </accordion-group>
    </accordion>
  </div>
</div>
