<h2 class="pull-right">
  {{tests.length}} tests
  <br>
  <small>
    <span style="color: green;">{{ validTestsNb }} tests verts</span>
    <br><span style="color: orange;">{{ warningTestsNb }} tests orange</span>
    <br><span style="color: red;">{{ errorTestsNb }} tests rouges</span>
  </small>
</h2>

<p style="margin-top: 10px;">
  <button
    type="button"
    class="btn btn-default"
    ng-if="user.isAdmin"
    ng-click="launchTests()"
    ng-disabled="pendingTests">
    <i class="fa fa-spinner fa-spin" ng-if="pendingTests"></i>
    Lancer tous les tests
  </button>
</p>

<div class="clearfix"></div>

<accordion close-others="false">
  <accordion-group
    is-open="test.open"
    ng-class="{'panel-success': test.status === 'ok',
              'panel-danger': test.status === 'ko',
              'panel-warning': test.status === 'near'}"
    ng-repeat="test in tests">
    <accordion-heading>
      <span class="test-is-valid" ng-if="!readOnly">
        <i ng-if="test.state === 'validated'" class="fa fa-check-circle" tooltip="Test validé"></i>
        <i ng-if="test.state === 'pending'" class="fa fa-clock-o" tooltip="Test en attente de validation"></i>
        <i ng-if="test.state === 'rejected'" class="fa fa-exclamation-circle" tooltip="Test refusé"></i>
      </span>
      <span style="color: grey;" ng-if="test.keywords.length">
        <span ng-repeat="keyword in test.keywords">[{{keyword}}] </span>
      </span>
      {{ test.name }}
      <span class="anchor" id="test-{{ test._id }}">x</span>
      <div ng-if="test.open">
        <div ng-if="test.user">
          <small class="test-detail">
            Créé par {{test.user.firstName}} {{test.user.lastName}}
          </small>
        </div>
        <div ng-if="test.createdAt">
          <small class="test-detail">
            Créé le {{test.createdAt}}
          </small>
        </div>
        <div ng-if="test.updatedAt">
          <small class="test-detail">
            Dernière mise à jour le {{test.updatedAt}}
          </small>
        </div>
      </div>
    </accordion-heading>
    <div ng-if="test.open">
      <div ng-if="!readOnly">
        <div class="test-actions text-right">
          <div class="btn-group" dropdown>
            <button type="button" class="btn btn-default btn-xs" ng-if="test.state !== 'validated'" ng-click="validTest(test)">
              <i class="fa fa-check text-success"></i> Valider
            </button>
            <button type="button" class="btn btn-default btn-xs" ng-if="test.state === 'validated'" ng-click="rejectTest(test)">
              <i class="fa fa-times text-danger"></i> Refuser
            </button>
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a
                  ui-sref="."
                  class="selectable"
                  ng-if="test.state !== 'validated'"
                  ng-click="validTest(test)">
                  <i class="fa fa-check text-success"></i> Valider
                </a>
              </li>
              <li>
                <a
                  ui-sref="."
                  ng-if="test.state !== 'rejected'"
                  ng-click="rejectTest(test)">
                  <i class="fa fa-times text-danger"></i> Refuser
                </a>
              </li>
              <li>
                <a
                  ui-sref="."
                  ng-if="test.state !== 'pending'"
                  ng-click="setWaitingTest(test)">
                  <i class="fa fa-undo text-info"></i> Mettre en attente
                </a>
              </li>
            </ul>
          </div>

          <div class="btn-group" dropdown>
            <a type="button" class="btn btn-default btn-xs" ui-sref="edit({testId: test._id})">
              <i class="fa fa-edit text-warning"></i> Modifier
            </a>
            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a ui-sref="edit({testId: test._id})">
                  <i class="fa fa-edit text-warning"></i> Modifier
                </a>
              </li>
              <li>
                <a ng-click="deleteTest(test)" ui-sref=".">
                  <i class="fa fa-times text-danger"></i> Supprimer
                </a>
              </li>
            </ul>
          </div>

          <button type="button" class="btn btn-default btn-xs" ng-disabled="test.running" ng-click="launchSingleTest(test, pending, error)">
            <span ng-if="test.running"><i class="fa fa-spinner fa-spin"></i> En cours...</span>
            <span ng-if="!test.running"><i class="fa fa-play text-primary"></i> Relancer</span>
          </button>
        </div>

        <div class="alert alert-warning-inverse" ng-if="test.comment">
          <p>
            <i class="fa fa-exclamation-triangle"></i>
            <strong>Commentaire :</strong>
            {{test.comment}}
          </p>
        </div>
      </div>
      <div>
        <p ng-if="test.description" ng-bind-html="newLineToBr(test.description)"></p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Droit</th>
              <th>Valeur attendue</th>
              <th>Valeur obtenue</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="expectedResult in test.expectedResults"
              ng-class="{'success': expectedResult.status === 'ok',
                        'danger': expectedResult.status === 'ko',
                        'info': expectedResult.status === 'unknown',
                        'warning': expectedResult.status === 'near'}">
              {{expectedResult}}
              <td>{{ droits[expectedResult.code].shortLabel }}</td>
              <td>{{ displayDroitValue(expectedResult.expectedValue) }}</td>
              <td>{{ displayDroitValue(expectedResult.result) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="clearfix"></div>
      <p class="detail-situation">
        <button type="button" class="btn btn-default btn-xs" ng-click="toggleSituation(test)">
          Détail de la situation
          <i class="fa" ng-class="{'fa-chevron-down': test.showSituation, 'fa-chevron-right': !test.showSituation}"></i>
        </button>
        <button type="button" class="btn btn-default btn-xs" ng-if="!readOnly" ng-click="toggleTimeline(test)">
          Timeline du test
          <i class="fa" ng-class="{'fa-chevron-down': test.showTimeline, 'fa-chevron-right': !test.showTimeline}"></i>
        </button>
        <small ng-if="!readOnly">
          [<a href="/api/situations/{{ test.situation }}">Situation DDS</a>]
          [<a href="/api/situations/{{ test.situation }}/openfisca-request">Requête OpenFisca</a>]
          [<a href="/api/situations/{{ test.situation }}/openfisca-response">Réponse OpenFisca</a>]
          [<a href="" ng-click="gotoDebugOpenFisca(test.situation)">Debug OpenFisca</a>]
          [<a href="../foyer/simulation/{{ test.situation }}">Page de simulation</a>]
          [<a ui-sref="index.list({testId: test._id})">Permalien</a>]
        </small>
      </p>
      <div class="sub-panel" ng-if="test.showSituation && test.situationObject">
        <recap-situation situation="test.situationObject"></recap-situation>
      </div>
      <div class="sub-panel" ng-if="test.timeline">
        <activity-timeline activities="test.timeline" ng-if="test.showTimeline && test.timeline"></activity-timeline>
      </div>
    </div>
  </accordion-group>
</accordion>
