<div class="row">
  <div class="col-md-7">
    <h1>Gestion des utilisateurs</h1>
    <table class="table">
      <tr>
        <th>Email</th>
        <th>Nom</th>
        <th>Organisation</th>
        <th>Admin</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="user in users">
        <td>{{ user.email }}</td>
        <td>{{ user.firstName }} {{ user.lastName }}</td>
        <td>{{ user.organization }}</td>
        <td><i ng-if="user.isAdmin" class="fa fa-check"></i></td>
        <td>
          <a href="" ng-click="editUser(user)"><i class="fa fa-edit"></i></a>
          <a href="" ng-click="deleteUser(user)"><i class="fa fa-times"></i></a>
        </td>
      </tr>
    </table>
  </div>

  <div class="col-md-5">
    <h1>Nouvel utilisateur</h1>
    <form method="post" class="form-horizontal" ng-submit="createUser()">
      <div class="form-group">
        <label class="control-label col-md-4" for="email">Email</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="email" ng-model="newUser.email">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4" for="password">Mot de passe</label>
        <div class="col-md-8">
          <input type="password" class="form-control" id="password" ng-model="newUser.password">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4" for="prenom">Prénom</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="prenom" ng-model="newUser.firstName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4" for="nom">Nom</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="nom" ng-model="newUser.lastName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4" for="organization">Organisation</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="organization" ng-model="newUser.organization">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="newUser.isAdmin"> Admin
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-5">
    <h1>Modifier utilisateur</h1>
    <form method="post" class="form-horizontal" ng-submit="updateUser()">
      <div class="form-group">
        <label class="control-label col-md-4" for="email">Email</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="email" ng-model="currentUser.email">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4" for="prenom">Prénom</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="prenom" ng-model="currentUser.firstName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4" for="nom">Nom</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="nom" ng-model="currentUser.lastName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-4" for="organization">Organisation</label>
        <div class="col-md-8">
          <input type="text" class="form-control" id="organization" ng-model="currentUser.organization">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="currentUser.isAdmin"> Admin
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
          <button type="submit" class="btn btn-success">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
