html {
  body {
    header.aj-1j1s-header {

      .aj-1j1s-header-logo-container {
        padding: 1.25rem;

        .container {
          display: flex;
          align-items: center;

          img {
            margin-right: 0;

            &.rf {
              width: 5.625rem;
              margin-left: 1.875rem;
            }

            &.fr {
              width: 7.5rem;
              margin-left: auto;
            }
          }

          svg {
            display: block;
            width: 24px;
            height: 24px;
          }
        }
      }

      .aj-1j1s-header-menu {
        position: fixed;
        left: -150%;
        top: 0;
        height: 100%;
        width: 250%;
        z-index: -1;
        background-color: transparent;
        transition: all .3s ease;

        .container {
          opacity: 1;
          background-color: var(--white);
          max-width: 31.25rem;
          height: 100%;
          margin-top: .6875rem;
          padding: 0 2rem;
          border-top-right-radius: var(--theme-border-radius);
          margin-left: 0;
          position: relative;

          svg {
            display: block;
            cursor: pointer;
            position: absolute;
            top: 1.25rem;
            right: 1.25rem;
            width: 1.25rem;
            height: 1.25rem;
          }

          ul {
            flex-direction: column;
            margin: 3.75rem 0 3.125rem;

            li {
              margin-bottom: 1.875rem;

              &:not(.last-item) {
                margin-right: 0;
              }

              &.home-link {
                display: block;
                a {
                  color: var(--green);
                  font-weight: normal;
                  background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 56%, rgba(43, 182, 115, .1) 0, rgba(43, 182, 115, .1) 100%, hsla(0, 0%, 100%, 0) 0);
                }
              }

              a {
                color: var(--theme-primary);
                font-size: 1.125rem;
                font-weight: 700;
              }
            }
          }
        }

        &.show {
          left: 0;
          z-index: 99;
          background-color: transparentize(#000531, 0.3);
        }
      }
    }
  }
}
