html {
  body {
    header.aj-1j1s-header {
      .aj-1j1s-header-logo-container {
        .container {
          display: flex;
          align-items: center;

          svg {
            display: block;
            width: 24px;
            height: 24px;
          }

          .aj-1j1s-header-left-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0;
            width: 100%;
            * {
              color: #000;
            }

            a {
              &:last-child {
                margin-left: auto;
              }

              img {
                margin-right: 0;

                &.rf {
                  width: 5.625rem;
                }

                &.fr {
                  width: 7.5rem;
                }
              }
            }

            &.not-home {
              a.rf-link {
                display: none;
              }

              a.fr-link {
                margin-left: 0;
              }
            }

            .aj-1j1s-logo {
            }

            .aj-1j1s-responsive-menu-button {
              display: flex;
              flex-direction: column;
              gap: 0.1rem;
              align-items: center;
              border-radius: 1rem;
              padding: 1rem 1.25rem 0.5rem 1.25rem;
              span {
                color: #566bb1;
                font-size: 0.875rem;
              }
            }

            .aj-1j1s-responsive-menu-button:hover {
              cursor: pointer;
              background-color: #ececff;
            }
            .aj-1j1s-responsive-label {
              flex-basis: 100%;
              border-top: 2px solid #e5e5e5;
              padding-top: 1rem;
              margin-top: 1rem;
              line-height: 1rem;
              .aj-1j1s-header-title {
                font-size: 1.125rem;
              }
            }
          }
        }
      }
      .aj-1j1s-header-menu {
        display: none;
      }
    }
  }
}
