.recapitulatif {
  .recapitulatif-row {
    &:not(.recapitulatif-row-wrap) {
      flex-direction: column;
      .question-col,
      .value-col,
      .edit-col {
        width: auto;
      }
      .question-col {
        font-style: italic;
      }
    }
  }

  .aj-actions {
    .next-button {
      margin-left: 8px !important;
    }

    .third-party-button {
      display: block;
      margin-left: 8px;
    }
  }
}
