html {
  body {
    & > .aj-website {
      .aj-website-content {
        .aj-text-container {
          padding: 2rem 1rem;
        }
      }
    }
    .aj-main-container {
      .aj-category-title-wrapper {
        padding: 16px 32px;
      }
      .aj-box-wrapper {
        margin-bottom: 78px;
      }
    }
  }
}
