html {
  body {
    & > .aj-website {
      .aj-website-content {
        .aj-text-container {
          padding: 2rem 1rem;
        }
      }
    }
    .aj-main-container {
      .aj-category-title-wrapper {
        flex-direction: column;
        padding: 16px 32px;

        .recap-email-button {
          margin-top: 16px;
        }
      }
      .aj-box-wrapper {
        margin-bottom: 78px;
      }

      .aj-category-title {
        flex-direction: row-reverse;
        justify-content: center;
        h1 {
          font-size: 2em;
          line-height: 1.125em;
        }
      }

      .aj-category-title-button-mobile {
        display: flex;
      }
    }
  }
}
