.fields-group {
  border: 2px solid #dfdfe3;
  border-radius: 4px;
  padding: 12px;

  margin-top: 30px;
  position: relative;
}
.fields-group-label {
  display: inline-block;
  padding: 0px 4px 0px 6px;
  font-size: 12px;
  border: 2px solid #dfdfe3;
  border-radius: 4px 4px 0 0;
  background-color: #dfdfe3;
  color: #7a8291;
  margin-top: -32px;
  margin-left: -14px;
  position: absolute;
  text-transform: uppercase;
  font-weight: 600;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.fields-group-hint {
  font-size: 12px;
  color: #7a8291;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
