body {
  font-family: Marianne, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  color: #26353f;
  font-size: 16px;
}

.button {
  padding: 10px 40px;
  line-height: 24px;
  border: 1px solid #5770be;
  background-color: #5770be;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.aj-droit-content-cta {
  flex: 1 1 40%;
}

.aj-droit-content-buttons-cta > * {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.aj-main-container {
  background-color: #f2f5f9;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 4%;
}

.aj-droit-identity {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  width: 70%;
  font-weight: bold;
}

.aj-droit-identity:first-letter {
  text-transform: uppercase;
}

.aj-results-details {
  background-color: #fff;
  padding: 32px;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(0 0 0, 0.1);
  border-radius: 25px;
}

.aj-droit-detail {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.aj-droit-content {
  margin-left: 0;
  margin-top: 2rem;
  width: 100%;
  padding: 0 1rem;
}

.aj-droit-montant {
  font-weight: bold;
  font-size: 1.4rem;
}

.aj-content-conditions {
  background: #fef3cf;
  padding: 1rem 1.2rem;
  border-radius: 10px;
}

.aj-content-conditions-title {
  font-size: 1rem;
  margin-top: 0;
  font-weight: bold;
}
