<div class="page-header">
  <h1>Votre date de naissance</h1>
</div>

<form role="form" name="form" class="form-horizontal" ng-submit="submit()" novalidate>
  <div class="form-group form-group-lg" ng-class="{'has-error': formSubmitted && form.$invalid }">
    <label for="birth-date" class="control-label col-lg-offset-2 col-lg-2">Date de naissance</label>
    <div class="col-lg-4">
      <input type="text" class="form-control" ng-model="birthDate" required dds-date id="birth-date" placeholder="jj/mm/aaaa">
      <span class="help-block" ng-if="formSubmitted && form.$invalid">Cette date est invalide</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-4 col-lg-10">
      <button type="submit" class="btn btn-lg btn-primary">Suivant</button>
    </div>
  </div>
</form>
