<div class="page-header">
  <h1><i class="fa fa-eur"></i> Revenus et aides</h1>
</div>

<div class="modal-backdrop fade shadow-apparition" ng-class="{in: triggerShadow}" style="z-index: 500;"></div>

<div class="row capture-revenus">
  <div class="col-sm-5">
    <div class="panel panel-default shadow-apparition block-demandeur" ng-class="{'shadow': triggerShadow}">
      <div class="panel-heading">
        <h2 class="panel-title">Vous</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-3">
            <i class="fa fa-male icon-lg"></i>
          </div>
          <div class="col-md-8">
            Né(e) le <strong>{{ situation.demandeur.birthDate }}</strong>
            <br>Nationalité <strong>{{ nationaliteLabels[situation.demandeur.nationalite] }}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-2" style="padding-top: 40px;">
    <p class="text-center" ng-if="situation.conjoint"><strong>{{ relationTypeLabels[situation.conjoint.relationType] }}</strong> avec
  </div>

  <div class="col-sm-5 animate-show" ng-show="situation.demandeur">
    <div class="panel panel-default" style="height: 150px;">
      <div class="panel-heading">
        <h2 class="panel-title">{{ situation.conjoint ? 'Votre conjoint' : 'Votre situation familiale' }}</h2>
      </div>
      <div class="panel-body">
        <div ng-if="situation.livesAlone">
          <p class="text-center">Vous vivez seul(e).</p>
        </div>
        <div ng-if="situation.conjoint">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
              <i class="fa fa-male icon-lg"></i>
            </div>
            <div class="col-md-8">
              Né(e) le <strong>{{ situation.conjoint.birthDate }}</strong>
              <br>Nationalité <strong>{{ nationaliteLabels[situation.conjoint.nationalite] }}</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h2>
      <i class="fa fa-child"></i>
      Vos enfants
    </h2>

    <p>
      <span ng-if="true === situation.demandeur.enceinte"><i class="fa fa-reddit"></i> Vous attendez un enfant</span>
      <span ng-if="false === situation.demandeur.enceinte">Vous n'attendez pas d'enfant</span>
      <span ng-if="false === situation.hasChildren">- Vous n'avez pas d'enfant à charge</span>
      <span ng-if="true === situation.hasChildren && 0 < situation.children.length">- Vous avez {{ situation.children.length }} enfant<span ng-if="situation.children.length > 1">s</span></span>
    </p>

    <div class="row">
      <div class="col-md-6" ng-repeat="child in situation.children">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{ child.firstName }}
            </h4>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <i class="fa fa-child icon-lg"></i>
              </div>
              <div class="col-md-8">
                Né(e) le <strong>{{ child.birthDate }}</strong>
                <br>Nationalité <strong>{{ nationaliteLabels[child.nationalite] }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
  </div>

  <div class="col-md-5">
    <div ng-show="situation.childConfigDone">
      <h2><i class="fa fa-users"></i> Autres personnes à charge</h2>

      <p>
        <span ng-if="false === situation.hasPersonneACharge">Vous n'avez pas de personne à charge</span>
        <span ng-if="true === situation.hasPersonneACharge && 0 < situation.personnesACharge.length">Vous avez {{ situation.personnesACharge.length }} personne<span ng-if="situation.personnesACharge.length > 1">s</span> à charge</span>
      </p>

      <div class="row">
        <div class="col-md-6" ng-repeat="personne in situation.personnesACharge">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                {{ personne.firstName }}
              </h4>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <i class="fa fa-male icon-lg"></i>
                </div>
                <div class="col-md-8">
                  Né(e) le <strong>{{ personne.birthDate }}</strong>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
