<form name="form" novalidate ng-submit="nextTab()">
  <div class="modal-header">
    <h1 class="modal-title">Vos ressources</h1>
  </div>
  <div class="modal-body">
    <div ng-show="'ressources' === tab">
      <p>
        Cliquez sur les types de ressources que les personnes de votre foyer ont perçues
        <strong>entre {{ debutPeriode }} et {{ finPeriode }}</strong>.
        Si vous avez des revenus du capital, ne les indiquez pas ici, ils vous seront demandés ultérieurement.
      </p>
      <button
        type="button"
        class="btn btn-sm btn-selection btn-ressources"
        ng-repeat="ressourceType in ressourceTypes"
        ng-class="'capture-' + ressourceType.category"
        btn-checkbox
        ng-model="selectedRessources[ressourceType.id]">
        {{ ressourceType.label }}
      </button>
    </div>

    <div ng-show="'personnes' === tab">
      <p>Veuillez sélectionner les personnes qui touchent les ressources que vous avez sélectionnées.</p>
      <div ng-repeat="ressourceType in ressourceTypes | filter:filterSelectedRessourceTypes">
        <div class="row">
          <div class="col-sm-4">
            <button
              type="button"
              disabled
              class="btn btn-sm btn-selection btn-ressources"
              ng-class="'capture-' + ressourceType.category">
              {{ ressourceType.label }}
            </button>
            <b>Qui ?</b>
          </div>
          <div class="col-sm-8">
            <button
              type="button"
              class="btn btn-default btn-selection btn-selection-personne"
              ng-repeat="individuRef in individuRefs"
              btn-checkbox
              ng-model="individuRef.selectedRessources[ressourceType.id]">
              <i class="fa fa-male"></i>
              {{ individuRef.label }}
            </button>
          </div>
        </div>
        <hr ng-if="!$last">
      </div>
    </div>

    <div ng-show="'montants' === tab">
      <p>Veuillez entrer les montants des ressources sélectionnées (net perçu pour les salaires ou indemnités).</p>
      <div ng-repeat="individuRef in individuRefs" ng-if="hasIndividuRessources(individuRef)">
        <h2 ng-if="1 < individuRefs.length">{{ individuRef.label }}</h2>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 200px;"></th>
                <th ng-repeat="month in months">{{ month.label | uppercaseFirst }}</th>
                <th>De {{ debutPeriode }} à {{ finPeriode }}</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="ressource in individuRef.ressources" class="capture-{{ ressource.type.category }}">
                <td style="width: 200px; vertical-align: middle; color: white;">{{ ressource.type.label }}</td>
                <td ng-repeat="monthRessource in ressource.months">
                  <span class="input-group">
                    <input
                      type="number"
                      class="form-control text-right"
                      select-on-focus
                      zero-to-empty
                      ng-model="monthRessource.montant"
                      ng-change="updateYearAmount(ressource)">
                    <span class="input-group-addon hidden-xs">€</span>
                  </span>
                </td>
                <td>
                  <span class="input-group">
                    <input type="number" class="form-control text-right" select-on-focus zero-to-empty ng-model="ressource.year.montant">
                    <span class="input-group-addon hidden-xs">€</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-show="ressourcesSelected || personnesSelected" ng-click="previousTab()">
      &lt; Étape précédente
    </button>
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>
