<div class="container">
  <div class="jumbotron">
    <h1>C'est fini&nbsp;!</h1>
    <p>
      Il ne vous reste plus qu'à imprimer les formulaires disponibles ci-dessous.
      <br><strong>Pensez bien à les compléter, les dater et les signer&nbsp;!</strong>
      <br>Pensez également à bien inclure toutes les pièces justificatives requises.
    </p>
    <a class="btn btn-sm btn-default" ui-sref="simulation({situationId: situation._id})">
      <i class="fa fa-chevron-left"></i>
      Revenir aux résultats de la simulation
    </a>
  </div>

  <p class="lead" ng-bind-html="trustAsHtml(cerfa.description)"></p>

  <div class="row">
    <div class="col-md-6" ng-repeat="cerfaForm in cerfaForms">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ cerfaForm.label }}</h3>
        </div>
        <div class="panel-body">
          <p ng-bind-html="trustAsHtml(cerfaForm.description)"></p>
          <a
            class="btn btn-primary"
            href="/api/situations/{{ situation._id }}/cerfa/{{ cerfaForm.id }}"
            target="_blank">
            <i class="fa fa-file-pdf-o"></i>
            Télécharger le formulaire
          </a>
        </div>
      </div>
    </div>
  </div>

  <h2><i class="fa fa-folder-open"></i> Pièces justificatives à fournir</h2>

  <div ng-repeat="piece in piecesJustificatives">
    <hr>
    <div class="row">
      <div class="col-sm-10">
        <div class="media">
          <div class="pull-left">
            <img class="media-object" ng-src="/img/pieces-justificatives/{{ piece.description.img }}" alt="{{ piece.description.id }}">
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ piece.description.label }}</h4>
            {{ piece.description.description }}
          </div>
        </div>
      </div>
      <div class="col-sm-2" ng-if="!isSituationMonoIndividu">
        <span ng-repeat="individu in piece.individus">
          <i class="fa fa-check-square"></i> {{ individu }}<br>
        </span>
      </div>
    </div>
  </div>
</div>
