<div class="jumbotron">
  <h1>Pensez à signer le formulaire après impression.</h1>
  <p>
    Il ne vous reste plus qu'à imprimer le formulaire que nous allons vous générer automatiquement.
    <br>Pensez bien à le signer manuellement et à indiquer le lieu où vous vous trouvez dans le champ prévu à cet effet.
    <br>Pensez également à bien inclure toutes les pièces justificatives requises (décrites dans le formulaire).
  </p>
  <a class="btn btn-lg btn-primary" href="/api/situations/{{ situation._id }}/cerfa/{{ cerfa }}" target="_blank">
    <i class="fa fa-file-pdf-o"></i>
    Télécharger mon formulaire pré-rempli
  </a>
  <a class="btn btn-lg btn-default" ui-sref="resultat({situationId: situation._id})">Revenir aux résultats de la simulation</a>
</div>
