<div class="container">
  <h1>FAQ</h1>
<h3>A quoi sert ce site ?</h3>
<p>Mes-aides vous permet de simuler pour votre foyer les principales prestations sociales auxquelles vous avez droit, en un seul questionnaire. Il vous guide ensuite vers les formalités à remplir. </p>

<h3>Quelles sont les prestations sociales disponibles sur mes-aides.gouv.fr ?</h3>
<p>Le Revenu de Solidarité Active (RSA) socle et activité, l'Allocation Spécifique de Solidarité (ASS), la Couverture Médicale Universelle Complémentaire (CMU-c), l'Aide à la Complémentaire Santé (ACS), l'Allocation de Solidarité aux Personnes  gées (ASPA), les Allocation Familiales (Allocation Soutien Familial, Complément Familial), les Allocations Logement (Allocation de Logement Social, Allocation de Logement Familial, Aide Personnalisée au Logement).
D'autres dispositifs comme les congés parentaux, les bourses, les aides aux régimes spécifiques (RSI, MSA ..) ou les tarifs sociaux de l'énergie seront intégrés progressivement. Pour être informé des nouveautés du site, abonnez-vous à notre <a href="http://twitter.com/mesaides">compte Twitter</a>. </p>

<h3>Peut-on réaliser les démarches en ligne jusqu’au bout ?</h3>
<p>Non, pas encore. Mes-aides vous propose une simulation très précise de vos droits en matière de prestations sociales et vous aide ensuite à entamer les démarches en pré-remplissant les formulaires Cerfa et en vous indiquant précisément les pièces justificatives nécessaires à chaque administration concernée.</p>

<p>Petit a petit nous simplifierons ces démarches. Premièrement en vous demandant moins de pièces justificatives en contrepartie de votre accord pour que nous consultions les informations personnelles que possède l'administration, comme par exemple votre avis d’imposition ou votre relevé de carrière.
</p>
<h3>Pour enclencher les démarches, on me demande des informations très personnelles, que faites-vous de ces informations ?</h3>
<p>mes-aides ne stocke aucune information personnelle. Lorsque le site vous demande vos noms, date de naissance ou numéro de sécurité sociale, cela lui permet d’éditer pour vous les formulaires Cerfa que vous transmettrez aux administrations. Aucune de ces informations n’est conservée.</p>

<h3>Je suis une entreprise, ai-je intérêt à utiliser mes-aides ?</h3>
<p>Non, mes-aides.gouv.fr ne concerne que les personnes physiques. Pour tout savoir sur les aides aux entreprises, consultez le site <a href="http://les-aides.fr/">lesaides.fr</a> édité par les Chambres de Commerce et d’Industrie.
</p>

<h3>Je travaille chez un acteur de l'aide sociale ou de l'insertion, comment utiliser le site ?</h3>
<p>C'est très simple, que vous soyez une Mission Locale, un Centre Communal d'Action Sociale, un service du Conseil Général ou une association de travailleurs sociaux, vous êtes probablement confrontés à des situations où pouvoir flécher simplement les prestation sociales du droit Français aura un vrai intérêt pour vos usagers. Vous pouvez très simplement les aider à remplir le questionnaire en partageant un ordinateur avec eux dans votre structure.</p>

<h3>Existe-t-il des formations à l'outil ?</h3>
<p>Non. Nous sommes une très <a href="/startup-d-etat">petite équipe</a>, volontairement, car nous croyons plus au bénéfice d'outils simples et soutenus par leurs propres usagers. Nous bâtirons bientôt ici une communauté de savoir pour partager et faire évoluer l'outil.
En attendant, vous pouvez apporter vos meilleures suggestions en nous écrivant à l’adresse mes-aides@sgmap.fr.  Plus vous serez concis et précis, plus nous pourrons prendre en compte facilement votre demande. Exemple de signalement de problème : ma situation est ... Quand je clique sur ... J'obtiens .. Et compte tenu de telle référence ou tel lien Internet, je pense que vous devriez afficher ...</p>

<h3>Est-ce que mes-aides peut m’aider dans tous mes droits en tant que citoyen ?</h3>
<p>Non, pour le moment, le site propose une simplification majeure pour tous vos droits aux prestations sociales. Il ne vous informera pas sur vos autres droits, par exemple s'ils relèvent du code fiscal ou du code du travail. Il ne vous aidera donc pas a connaître vos indemnités chômage, votre pension retraite, vos réductions fiscales ou vos congés maternité par exemple. 
</p>

<h3>J'ai un problème avec les services de l'état, puis-je vous envoyer ma situation personnelle pour que vous m'aidiez ?</h3>
<p>Mes-aides n'est qu'un site Internet qui vous aide à mieux comprendre vos droits et simplifier vos démarches. En cas de problème, nous vous recommandons de contacter directement les services concernés, les liens suivants vous permettront de les retrouver&nbsp;:
<ul>
<li><a href="http://www.ameli.fr/assures/votre-caisse/">Caisse Primaire d’Assurance Maladie</a> (CPAM) : CMU-c, ACS</li>
<li><a href="https://www.caf.fr/ma-caf/">Caisse d’Allocations Familiales</a> (CAF) : RSA, Allocations familiales et Allocations logement</li>
<li><a href="https://www.lassuranceretraite.fr">Caisse Nationale d’Assurance Vieillesse</a> (CNAV) : ASPA</li>
<li><a href="http://www.pole-emploi.fr/annuaire/">Pôle Emploi</a> : ASS</li>
<li><a href="http://lannuaire.service-public.fr/navigation/accueil_sl.html">Votre département</a> : RSA</li>
</ul>
En dernier recours, et si vous pensez n'être pas correctement traité, vous pouvez contacter le <a href="http://www.defenseurdesdroits.fr/">Défenseur des Droits</a>.
</p>
</div>
