<div class="page-header">
  <h1><i class="fa fa-home"></i> Votre foyer</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Vous</h2>
      </div>
      <div class="panel-body text-center">
        <i class="fa fa-male icon-lg"></i>
        Né(e) le <strong>{{ situation.demandeur.birthDate.format('DD/MM/YYYY') }}</strong>
      </div>
    </div>
  </div>

  <div class="col-sm-6" >
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Votre situation familiale</h2>
      </div>
      <div class="panel-body text-center">
        <div ng-show="true !== livesAlone && !conjoint">
          <label>Vivez-vous seul(e) ou en couple ?</label>
          <label class="btn btn-primary" ng-model="livesAlone" btn-radio="true">Seul</label>
          <label class="btn btn-primary" ng-model="livesAlone" btn-radio="false" ng-click="openConjointModal()">En couple</label>
        </div>
        <div ng-if="livesAlone">
          <p>Vous vivez seul(e).</p>
        </div>
        <div ng-if="conjoint">
          <p>
            <i class="fa fa-male icon-lg"></i>
            Vous êtes <strong>{{ typeRelationLabels[conjoint.lien] }}</strong> avec votre conjoint, né(e) le <strong>{{ conjoint.birthDate.format('DD/MM/YYYY') }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-show="conjoint || livesAlone">
  <h2>
    <i class="fa fa-child"></i>
    Vos enfants
  </h2>

  <div ng-show="undefined === awaitingChild">
    <label>Attendez-vous un enfant ?</label>
    <label class="btn btn-primary" ng-model="awaitingChild" btn-radio="true">Oui</label>
    <label class="btn btn-primary" ng-model="awaitingChild" btn-radio="false">Non</label>
  </div>

  <p>
    <span ng-if="true === awaitingChild"><i class="fa fa-reddit"></i> Vous attendez un enfant</span>
    <span ng-if="false === awaitingChild">Vous n'attendez pas d'enfant</span>
    <span ng-if="false === hasChildren">- Vous n'avez pas d'enfant à charge</span>
    <span ng-if="true === hasChildren && 0 < children.length">- Vous avez {{ children.length }} enfant<span ng-if="children.length > 1">s</span></span>
  </p>

  <div ng-show="undefined !== awaitingChild && undefined === hasChildren">
    <label>Avez-vous des enfants à charge ?</label>
    <label class="btn btn-primary" ng-model="hasChildren" btn-radio="true">Oui</label>
    <label class="btn btn-primary" ng-model="hasChildren" btn-radio="false" ng-click="childConfigDone = true">Non</label>
  </div>

  <div ng-show="true === hasChildren && !childConfigDone">
    <p class="text-center">
      <button class="btn btn-lg btn-default" ng-click="newChild()">
        Ajouter un enfant
        <br><i class="fa fa-plus"></i>
      </button>
      <button type="button" class="btn btn-lg btn-primary" ng-click="endChildConfig()">
        Suivant
        <br><i class="fa fa-arrow-circle-right"></i>
      </button>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-4" ng-repeat="child in children">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            {{ child.firstName }}
            <button type="button" class="close" ng-if="!childConfigDone" ng-click="removeChild(child)"><span aria-hidden="true">&times;</span></button>
          </h4>
        </div>
        <div class="panel-body">
          <i class="fa fa-child icon-lg"></i> Né(e) le <strong>{{ child.birthDate.format('DD/MM/YYYY') }}</strong>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="childConfigDone">
    <h2><i class="fa fa-users"></i> Autres personnes à charge</h2>

    <div ng-show="undefined === hasPersonneACharge">
      <label>Avez-vous d'autres personnes à votre charge ?</label>
      <label class="btn btn-primary" ng-model="hasPersonneACharge" btn-radio="true">Oui</label>
      <label class="btn btn-primary" ng-model="hasPersonneACharge" btn-radio="false" ng-click="personneAChargeConfigDone = true">Non</label>
    </div>

    <p>
      <span ng-if="false === hasPersonneACharge">Vous n'avez pas de personne à charge</span>
      <span ng-if="true === hasPersonneACharge && 0 < personnes.length">Vous avez {{ personnes.length }} personne<span ng-if="children.length > 1">s</span> à charge</span>
    </p>

    <div ng-show="true === hasPersonneACharge && !personneAChargeConfigDone">
      <p class="text-center">
        <button class="btn btn-lg btn-default" ng-click="newPersonneACharge()">
          Ajouter une personne à charge
          <br><i class="fa fa-plus"></i>
        </button>
        <button type="button" class="btn btn-lg btn-primary" ng-click="endPersonneAChargeConfig()">
          Suivant
          <br><i class="fa fa-arrow-circle-right"></i>
        </button>
      </p>
    </div>

    <div class="row">
      <div class="col-sm-4" ng-repeat="personne in personnes">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              {{ personne.firstName }}
              <button type="button" class="close" ng-if="!personneAChargeConfigDone" ng-click="removePersonneACharge(personne)"><span aria-hidden="true">&times;</span></button>
            </h4>
          </div>
          <div class="panel-body">
            <i class="fa fa-child icon-lg"></i> Né(e) le <strong>{{ personne.birthDate.format('DD/MM/YYYY') }}</strong>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="personneAChargeConfigDone" class="text-center">
      <a href="/configuration/situations-specifiques" class="btn btn-lg btn-primary" ng-click="saveSituation()">Suivant</a>
    </div>
  </div>
</div>
