<div class="page-header">
  <h1><i class="fa fa-users"></i> Votre foyer</h1>
</div>

<div class="row">
  <div ui-view="demandeur"></div>
  <div ui-view="conjoint"></div>
</div>

<div class="row">
  <div ui-view="enfants"></div>
  <div class="col-md-2"></div>
  <div ui-view="personnesACharge"></div>
</div>

<div ng-show="situation.personnesAChargeConfigDone" class="text-center">
  <a ui-sref="foyer.situations_specifiques" ng-if="!situation.situationsSpecifiquesCaptured" class="btn btn-lg btn-primary">
    Étape suivante : saisie de vos situations spécifiques
  </a>
  <a ui-sref="foyer.capture_revenus" ng-if="situation.situationsSpecifiquesCaptured && !situation.revenusCaptured" class="btn btn-lg btn-primary">
    Étape suivante : capture de vos ressources
  </a>
</div>

<div ui-view="ressources"></div>
<div ui-view="logement"></div>
