<div class="homepage-call-to-action desktop hidden-xs">
  <div class="container">
    <div class="jumbotron">
      <h1>Simulez <em>toutes</em> vos aides en ligne&nbsp;!</h1>

      <p>
        Vous souhaitez savoir si vous pouvez bénéficier du RSA, d'une Couverture Maladie Universelle Complémentaire, 
        d'une Allocation Logement, ou de toute autre Prestation Familiale ou Sociale&nbsp;?
      </p>

      <div class="row">
        <div class="col-sm-6">
          <div class="text-right">
            <a class="btn btn-primary btn-lg" ui-sref="foyer.demandeur" ng-click="newSituation()">Commencer la simulation ...</a>
          </div>
        </div>
        <div class="col-sm-6">
          <p style="font-size: 19px;">
            <em>... et obtenez un montant mensuel estimé de ces prestations, puis simplifiez-vous les démarches.</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="homepage-call-to-action mobile visible-xs">
  <div class="container">
    <div class="jumbotron">
      <h1>Simulez <em>toutes</em> vos aides en ligne&nbsp;!</h1>

      <p>
        Vous souhaitez savoir si vous pouvez bénéficier du RSA, d'une Allocation Logement, d'une Prestation Familiale, d'un Minimum Vieillesse (ASI/ASPA), d'une Couverture Maladie Universelle Complémentaire, ou encore d'une Allocation de Solidarité Spécifique&nbsp;?
      </p>

      <div class="text-center">
        <a class="btn btn-primary btn-lg" ui-sref="foyer.demandeur" ng-click="newSituation()">Commencer la simulation</a>
      </div>
    </div>
  </div>
</div>

<div class="liste-organismes">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <img ng-src="/img/logo_assurance_maladie.png" alt="Assurance maladie">
      </div>
      <div class="col-md-2">
        <img ng-src="/img/logo_ass.png" alt="ASS">
      </div>
      <div class="col-md-2">
        <img ng-src="/img/logo_aspa.png" alt="ASPA">
      </div>
      <div class="col-md-2">
        <img ng-src="/img/logo_rsa.png" alt="RSA">
      </div>
      <div class="col-md-2">
        <img ng-src="/img/logo_caf.png" alt="CAF">
      </div>
    </div>
  </div>
</div>
