<div class="jumbotron-homepage">
  <div class="container">
    <div class="jumbotron">
      <h1>Accédez à vos droits en ligne&nbsp;!</h1>

      <p>
        Vous souhaitez savoir si pouvez demander un Revenu de Solidarité Active (RSA), une Allocation Logement,
        une Prestation Familiale, un Minimum Vieillesse ou une Couverture Maladie Universelle&nbsp;?
      </p>

      <p>
        Ce questionnaire va vous permettre de le vérifier.
        Il donne également, à partir des informations saisies en ligne sous votre responsabilité,
        un montant mensuel estimé de ces prestations.
      </p>

      <div class="text-center">
        <a class="btn btn-primary btn-lg" ui-sref="teaser">Commencer la simulation</a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <p>
    Attention, les montants donnés à titre indicatif pourront être différents quand ils seront calculés par les administrations concernées au moment de l'étude de votre dossier.
    En effet, votre situation familiale et/ou vos ressources ou celles de l’un des membres de votre famille peuvent changer ou ne pas avoir été prises en compte lors du test.
  </p>

  <p>
    De même, les conditions de régularité et de durée du séjour s’appliquant aux étrangers ne sont pas prises en compte par ce test.
    Elles pourront, dans certains cas, limiter le champ d’application du droit.
  </p>

  <p>
    Avant de commencer le questionnaire, munissez-vous des documents qui peuvent vous être utiles
    (par exemple, vos relevés bancaires, bulletins de salaires des 3 derniers mois et ceux de votre conjoint(e),
    concubin(e) ou pacsé(e) et des personnes à charge âgées de moins de 25 ans).
  </p>
</div>
