<div class="jumbotron">
  <h1>Déterminez vos droits en ligne !</h1>
  <p>
    Vous souhaitez savoir si pouvez demander un Revenu de Solidarité Active (RSA), une Allocation Logement,
    une Allocation Familiale, un Minimum Viellesse ou une Couverture Maladie Universelle en fonction de votre situation familiale,
    professionnelle et des ressources de votre foyer ?
    <br>
    Ce questionnaire va vous permettre de le vérifier.
    Il donne également, à partir des informations saisies en ligne sous votre responsabilité,
    un montant mensuel estimé de ces prestations.
  </p>
</div>

<p>
  Attention, ce montant donné à titre indicatif pourra être différent quand il sera calculé par les administrations concernées au moment de l'étude de votre dossier.
  En effet, votre situation familiale et/ou vos ressources ou celles de l’un des membres de votre famille peuvent changer ou ne pas avoir été prises en compte lors du test.
</p>

<p>
  De même, les conditions de régularité et de durée du séjour s’appliquant aux étrangers ne sont pas prises en compte par ce test.
  Elles pourront, dans certains cas, limiter le champ d’application du droit.
</p>

<p>
  Avant de commencer le questionnaire, munissez-vous des documents qui peuvent vous être utiles (par exemple, vos relevés bancaires,
  bulletins de salaires des 3 derniers mois et ceux de votre conjoint(e),
  concubin(e) ou pacsé(e) et des personnes à charge âgées de moins de 25 ans).
</p>

<hr>

<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="acceptConditions">
    J’ai pris connaissance des conditions de ce service
  </label>
</div>

<button class="btn btn-primary btn-lg" ng-click="checkConfirmation() && startSimulation()">Commencer la simulation</button>
