<div class="page-header">
  <h1><i class="fa fa-home"></i> Votre logement principal</h1>
</div>

<form name="form" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-4 control-label">Êtes-vous</label>
    <div class="col-sm-6">
      <label class="radio-inline">
        <input type="radio" name="logementType" ng-model="situation.logement.type" value="locataire">
        Locataire
      </label>
      <label class="radio-inline">
        <input type="radio" name="logementType" ng-model="situation.logement.type" value="proprietaire">
        Propriétaire
      </label>
      <label class="radio-inline">
        <input type="radio" name="logementType" ng-model="situation.logement.type" value="gratuit">
        Occupant à titre gratuit
      </label>
    </div>
  </div>

  <div class="form-group" ng-show="situation.logement.type === 'locataire'">
    <label class="col-sm-4 control-label">Un membre de votre famille est-il le propriétaire de votre logement ?</label>
    <div class="col-sm-6">
      <buttton class="btn btn-sm btn-primary" ng-model="situation.logement.membreFamilleProprietaire" btn-radio="true">Oui</buttton>
      <buttton class="btn btn-sm btn-primary" ng-model="situation.logement.membreFamilleProprietaire" btn-radio="false">Non</buttton>
    </div>
  </div>

  <div class="form-group" ng-show="situation.logement.type === 'proprietaire'">
    <label class="col-sm-4 control-label">Êtes-vous primo-accédant pour votre propriété ?</label>
    <div class="col-sm-6">
      <buttton class="btn btn-sm btn-primary" ng-model="situation.logement.primoAccedant" btn-radio="true">Oui</buttton>
      <buttton class="btn btn-sm btn-primary" ng-model="situation.logement.primoAccedant" btn-radio="false">Non</buttton>
    </div>
  </div>

  <div ng-show="undefined !== situation.logement.primoAccedant || undefined !== situation.logement.membreFamilleProprietaire">
    <div class="form-group" ng-show="'gratuit' !== situation.logement.type">
      <label class="col-sm-4 control-label" for="loyer">À combien s'élève {{ 'locataire' === situation.logement.type ? 'votre loyer' : 'votre mensualité d\'emprunt' }} ?</label>
      <div class="col-sm-3">
       <div class="input-group">
          <input class="form-control" id="loyer" name="loyer" ng-model="situation.logement.loyer" type="number" required>
          <div class="input-group-addon">€</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-4 control-label" for="postal-code">Quel est le code postal de votre résidence ?</label>
      <div class="col-sm-3">
        <input class="form-control" id="postal-code" name="postalCode" ng-model="situation.logement.postalCode" type="number" required>
      </div>
    </div>
  </div>
</form>

<p class="text-center"><a class="btn btn-lg btn-primary" ui-sref="resultat">Étape suivante</a></p>
