<div class="page-header">
  <div class="pull-right" ng-if="droits.length">
    <button type="button" class="btn btn-default btn-lg" ng-click="createTest()">Créer un cas de test à partir de cette simulation</button>
  </div>
  <h1><i class="fa fa-gears"></i> Résultats de la simulation</h1>
</div>

<p ng-if="awaitingResults"><i class="fa fa-spinner fa-spin"></i> Calcul en cours de vos droits...</p>

<p class="alert alert-danger" ng-if="error">Une erreur est survenue.</p>

<div ng-if="!awaitingResults">
  <div ng-if="droits.length">
    <h2>Vos droits</h2>

    <div class="row">
      <div ng-repeat="droit in droits">
        <div class="clearfix" ng-if="$index % 3 === 0"></div>
        <div class="col-md-4" >
          <div class="thumbnail">
            <a href="{{ droit.description.link }}" target="_blank">
              <img ng-src="/img/{{ droit.description.imgSrc }}" alt="{{ droit.description.id }}">
            </a>
            <div class="caption">
              <h3>
                {{ droit.description.label }}
                <span ng-if="false !== droit.description.hasMontant"> : environ <strong>{{ round(droit.montant) }}&nbsp;€</strong></span>
              </h3>
              <p>{{ droit.description.description }}</p>
              <div class="alert alert-warning" ng-if="!situation.ressourcesN2Captured && isDroitAllocationLogement(droit)">
                <i class="fa fa-exclamation-triangle"></i>
                <b>Attention</b> : le montant calculé de cette allocation logement se base sur les ressources que vous avez déclarées entre {{ debutPeriode }} et {{ finPeriode }}.
                <br>Pour que la simulation soit au plus juste et si vos revenus de {{ yearMoins2 }} sont différents,
                veuillez déclarer vos ressources sur l'année {{ yearMoins2 }}.
                <a class="btn btn-primary btn-sm" ui-sref="resultat.capture_ressources_n_2">
                  <i class="fa fa-chevron-right"></i> Déclarer vos ressources sur l'année {{ yearMoins2 }}
                </a>
              </div>
              <p>
                <a class="btn btn-sm btn-primary" ui-sref="form_infos_complementaires_individus({droit: droit.description.id})">
                  Engager les démarches <i class="fa fa-chevron-right"></i>
                </a>
              </p>
              <p>
                <a
                  href="{{ droit.description.link }}"
                  class="btn btn-sm btn-default"
                  target="_blank">
                  <i class="fa fa-external-link"></i>
                  Plus d'informations
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p ng-if="!droits.length">Vous n'êtes éligible à aucune aide.</p>
  <div class="alert alert-warning" ng-if="droits.length && !situation.ressourcesN2Captured && !hasDroitAllocationLogement()">
    <h3><i class="fa fa-exclamation-triangle"></i> Note relative à l'aide au logement</h3>
    <b>Attention</b> : la simulation sur votre situation n'a pas abouti sur un droit à l'allocation logement.
    Cependant, nous nous sommes basés sur les ressources que vous avez déclarées entre {{ debutPeriode }} et {{ finPeriode }}.
    Si vos ressources de {{ yearMoins2 }} sont moins élevées, il se peut que vous ayez tout de même droit à cette allocation.
    Pour le savoir :
    <a class="btn btn-primary btn-sm" ui-sref="resultat.capture_ressources_n_2">
      <i class="fa fa-chevron-right"></i> Déclarer vos ressources sur l'année {{ yearMoins2 }}
    </a>
  </div>
</div>

<hr>

<p class="text-right">
  <em>Simulation effectuée par <a href="http://www.openfisca.fr">OpenFisca</a></em>
  <br>
  <small>[<a href="/api/situations/{{ situation._id }}">Situation DDS</a>]
  [<a href="/api/situations/{{ situation._id }}/openfisca-request">Requête OpenFisca</a>]
  [<a href="/api/situations/{{ situation._id }}/openfisca-response">Réponse OpenFisca</a>]</small>
</p>
