<div class="page-header">
  <h1><i class="fa fa-eur"></i> Revenus et aides</h1>
</div>

<form role="form" class="form-selection-revenus">
  <label>Sélectionnez les personnes percevant des revenus ou des aides dans votre foyer</label>
  <div class="text-center">
    <div class="btn-group">
      <label class="btn btn-default btn-lg" ng-repeat="individu in individus" ng-model="selectedIndividus[$index]" btn-checkbox="individu"><i class="fa fa-male"></i> {{ individu.name }}</label>
    </div>
  </div>
</form>
<br>

<p class="text-center"><a href="/configuration/revenus-aides" class="btn btn-lg btn-primary">Suivant</a></p>
