<div class="page-header">
  <h1>Situations spécifiques</h1>
</div>

<form role="form">
  <label>L'une des personnes de votre foyer est-elle dans une de ces situations spécifiques ?</label>
  <table class="table table-striped table-borderless">
    <tr ng-repeat="(id, situation) in situations">
      <td>
        <button class="btn btn-sm btn-default" ng-model="selectedSituations[id]" btn-checkbox>{{ situation }}</button>
      </td>
      <td style="vertical-align: middle;">
        <b ng-if="selectedSituations[id]">Quelles sont les personnes concernées ?</b>
      </td>
      <td style="vertical-align: middle;">
        <div ng-if="selectedSituations[id]">
          <label class="checkbox-inline" ng-repeat="individu in individus">
            <input type="checkbox" ng-model="individu.individu[id]"> {{ individu.name }}
          </label>
        </div>
      </td>
    </tr>
  </table>
</form>

<p class="text-center"><a ui-sref="foyer.capture_revenus" class="btn btn-lg btn-primary" ng-click="saveSituation()">Étape suivante</a></p>
