<div class="page-header">
  <h1>Situations spécifiques</h1>
</div>

<form role="form">
  <p>L'une des personnes de votre foyer est-elle dans une de ces situations spécifiques ?</p>
  <div class="row row-situations-specifiques" ng-repeat="(id, situation) in situations">
    <div class="col-md-3">
      <button class="btn btn-sm btn-default" ng-model="selectedSituations[id]" btn-checkbox>{{ situation | uppercaseFirst }}</button>
    </div>
    <div class="col-md-4">
      <b ng-if="selectedSituations[id]">Quelles sont les personnes concernées ?</b>
    </div>
    <div class="col-md-5">
      <div ng-if="selectedSituations[id]">
        <label class="checkbox-inline" ng-repeat="individu in individus">
          <input type="checkbox" ng-model="individu.individu[id]"> {{ individu.name }}
        </label>
      </div>
    </div>
  </div>
</form>

<p class="text-center">
  <a ui-sref="foyer" class="btn btn-lg btn-primary" ng-click="done()">Valider</a>
</p>
