<div class="text container">
	<h1>À propos de Mes&nbsp;Aides
    </h1>
    
    <h2 id="presentation">Mes&nbsp;Aides, c’est quoi ?
    </h2>
    
    <p>Simulez vos droits à plus d’une vingtaine de prestations sociales en quelques minutes. Mes&nbsp;Aides vous offre un aperçu de votre situation personnelle auprès des plus grandes aides nationales, comme le RSA, la CMU-C ou les allocations familiales, ainsi que certaines aides locales comme Paris Logement. Grâce aux informations que vous nous transmettez, nous estimons à quelles aides vous avez droit. Vous pouvez ensuite engager les démarches auprès des organismes ciblés.
    </p>
    
    <h2 id="pourquoi">Pourquoi Mes&nbsp;Aides ?
    </h2>
    
    <p>Nous luttons contre le non-recours aux prestations sociales. Il s’agit de toutes les situations dans lesquelles une personne est en droit d’obtenir une aide mais ne la reçoit pas. De nombreuses causes sont invoquées comme le manque d’informations ou la complexité des démarches. Avec Mes&nbsp;Aides, nous faisons le pari d’un résumé clair et synthétique.
    </p>

	<p>Mes&nbsp;Aides a été lancé en novembre 2014. Depuis janvier 2017, chaque jour, plus de 10.000 usagers évaluent leurs droits à vingt-deux prestations sociales. Plus de la moitié reçoivent une estimation en moins de sept minutes.
    </p>
    
    <small>Explorez les <a href="http://stats.data.gouv.fr/index.php?module=CoreHome&action=index&idSite=9&period=day&date=yesterday#?module=Dashboard&action=embeddedIndex&idSite=9&period=day&date=yesterday&idDashboard=1">statistiques d'usage</a> et comprenez comment nous évaluons la <a href="https://beta.gouv.fr/2016/11/04/mes-aides-metriques-pirates-tunnel-conversion-public">performance</a>.
    </small>

    
    <h2 id="fonctionnement">Comment fonctionne Mes&nbsp;Aides ?
    </h2>
    
    <p>Mes&nbsp;Aides se base sur <a href="http://www.openfisca.fr">OpenFisca</a> : un moteur de calcul libre et ouvert utilisé par des chercheurs en économie et d’autres services publics. À partir des informations que vous entrez dans le simulateur, nous sommes capable d’évaluer votre situation sans avoir à interroger indépendamment chacun des organismes. Nous n’avons pas accès à vos dossiers ni ne transmettons vos informations : à vous de faire les démarches après la simulation.
    </p>
    
    <small>Même si nous ne vous demandons aucune information nominative (nom, prénom, adresse exacte), vous disposez d’un droit d’accès, de rectification et de suppression de vos données : <a ui-sref="cgu#donnees">en savoir plus et l'exercer</a>.
    </small>
    
    <h2 id="mediateurs">  Puis-je utiliser Mes&nbsp;Aides dans un contexte professionnel ?
    </h2>
    
    <p>Notre simulateur est destiné à la fois au grand public et aux médiateurs sociaux.
    </p>
    
    <p>En tant que professionnel ou professionnelle de l’action sociale, vous pouvez utiliser Mes&nbsp;Aides pour vous concentrer sur le plus important : la personne en face de vous. Si l’utilisation de Mes&nbsp;Aides intéresse plusieurs personnes dans votre structure, nous pouvons <a ui-sref="ameliorer#communiquer">organiser une formation</a> pour répondre à toutes vos questions.
    </p>
    
    <small>Approfondissez notre vision de l'<a href="https://hal.archives-ouvertes.fr/hal-01415747/document">adoption du numérique dans le service social</a>.
   	</small>

    
    <h2 id="urgence">J’ai besoin d’une aide d’urgence.
    </h2>
    
    <p>Rendez-vous sur <a ui-sref="SOS">notre page SOS</a>. Nous avons rassemblé les premières actions en cas d’urgence. Nous vous invitons également à effectuer une simulation sur Mes&nbsp;Aides afin de pouvoir identifier les organismes sociaux à contacter.</p>
    
    <h2 id="feedback">Les montants qui m’ont été attribués ou annoncés par un autre simulateur ne correspondent pas.
    </h2>
    
    <p><a ui-sref="ameliorer#signaler">Signalez-le nous en fin de simulation</a> : nous pourrons ainsi améliorer Mes&nbsp;Aides, que ce soit en corrigeant un bug ou en ajoutant un cas particulier à traiter. Nous n’intervenons pas auprès des organismes pour appuyer ou débloquer un dossier : les résultats que vous obtenez sont informatifs.
    </p>
    
    <h2 id="suggestion">J’ai une idée d’amélioration !
    </h2>
    
    <p>Vous avez une idée pour améliorer Mes&nbsp;Aides, vous pensez qu’une option manque dans le simulateur ou bien vous souhaitez nous donner votre avis : <a ui-sref="ameliorer#proposer">contactez-nous directement</a> ou <a href="https://github.com/sgmap/mes-aides-ui">sur Github</a>. Toutes les <a href="https://waffle.io/sgmap/mes-aides-api">évolutions de Mes&nbsp;Aides</a>, espérées, planifiées ou réalisées, peuvent être suivies en permanence en ligne. <a ui-sref="ameliorer">En savoir plus</a>.
    </p>
    
    <h2 id="startup-etat">Qui sommes-nous ?
    </h2>
    
    <p>Mes&nbsp;Aides est une Startup d’État de l’<a href="https://beta.gouv.fr">Incubateur de services numériques</a>. Nous sommes un service public numérique produit par une <a href="http://beta.gouv.fr/2016/11/28/equipes-autonomes">petite équipe autonome</a>. Nous appliquons les pratiques des startups du numérique au service de l’action publique.
    </p>
    
    <p>Mes&nbsp;Aides se base sur <a href="http://www.openfisca.fr">OpenFisca</a>, un moteur de calcul libre et ouvert utilisé par des chercheurs en économie et d’autres services publics. L'<a href="https://github.com/sgmap/mes-aides-ui">interface graphique de Mes&nbsp;Aides</a> est elle aussi un <a href="https://fr.wikipedia.org/wiki/Logiciel_libre" title="Sous licence AGPL" uib-popover="Sous licence AGPL" popover-trigger="mouseenter">logiciel libre</a>. Cela signifie que toute entité peut librement vérifier, s'inspirer de, copier, et modifier ce service. La seule contrepartie est la mise à disposition à la communauté des améliorations effectuées.
    </p>
    
    <p>L’<a href="https://beta.gouv.fr">Incubateur de services numériques</a> est une mission de la direction interministérielle du numérique et du système d'information et de communication de l'État (DINSIC), rattaché au <a href="http://www.modernisation.gouv.fr/">secrétariat général pour la modernisation de l’action publique</a> (SGMAP), lui même sous l’autorité du <a href="http://www.gouvernement.fr/">Premier ministre</a>.
    </p>
    
    <small>Pour en savoir plus, découvrez nos <a href="https://github.com/sgmap/mes-aides-ui/wiki/Partenaires">partenaires</a>, le programme <a href="https://beta.gouv.fr">beta.gouv.fr</a> et accédez à tout le <a href="https://github.com/sgmap">code de l'Incubateur de services numériques</a>.
    </small> 

</div>