<div class="text container">
  <h1>À propos de Mes Aides</h1>


  <h2 id="presentation">Nous luttons contre le non-recours</h2>

  <p>Nous croyons qu'il est possible d'absorber une partie de la complexité administrative dans des logiciels offrant une expérience utilisateur de qualité.</p>
  <p>En novembre 2016, plus de 1 300 usagers évaluent leurs droits à 22 prestations sociales chaque jour. Plus de la moitié passent de la découverte du site à ses résultats en moins de 7 minutes, et 97 % en moins de 30 minutes.</p>
  <small>Explorez les <a href="http://stats.data.gouv.fr/index.php?module=CoreHome&action=index&idSite=9&period=day&date=yesterday#?module=Dashboard&action=embeddedIndex&idSite=9&period=day&date=yesterday&idDashboard=1">statistiques d'usage</a> et comprenez comment nous évaluons la <a href="https://beta.gouv.fr/2016/11/04/mes-aides-metriques-pirates-tunnel-conversion-public">performance</a>.</small>


  <h2 id="mediateurs">Nous équipons les médiateurs</h2>

  <p>Nous concevons nos outils pour qu'ils puissent être utilisés par le grand public, mais aussi par les assistant·e·s de service social.</p>
  <p>En les déchargeant de la veille législative et de la connaissance fine des règles administratives, nous leur permettons de se concentrer sur le plus important : l'humain qui leur fait face.</p>
  <small>Approfondissez notre vision de l'<a href="https://github.com/sgmap/mes-aides-ui/wiki/documents/Conditions_adoption_numerique_service_social.pdf">adoption du numérique dans le service social</a>.</small>


  <h2 id="logiciel-libre">Nous créons un bien commun</h2>

  <p>Nous enrichissons un moteur de calcul libre et ouvert utilisé par des chercheurs en économie et d'autres services publics, <a href="http://www.openfisca.fr">OpenFisca</a>. L'<a href="https://github.com/sgmap/mes-aides-ui">interface graphique de Mes Aides</a> est elle aussi un <a href="https://fr.wikipedia.org/wiki/Logiciel_libre" title="Sous licence AGPL" uib-popover="Sous licence AGPL" popover-trigger="mouseenter">logiciel libre</a>.</p>
  <p>Cela signifie que toute entité peut librement vérifier, s'inspirer de, copier, et modifier ce service. La seule contrepartie est la mise à disposition à la communauté des améliorations effectuées.</p>
  <small>Accédez à tout le <a href="https://github.com/sgmap">code de l'Incubateur de services numériques</a>.</small>


  <h2 id="transparent">Nous construisons avec la société civile</h2>

  <p>Toutes les <a href="https://waffle.io/sgmap/mes-aides-api">évolutions de Mes Aides</a>, espérées, planifiées ou réalisées, peuvent être suivies en permanence en ligne.</p>
  <p>Vous pouvez participer aux discussions sur ces évolutions et en proposer de nouvelles sur <a href="https://github.com/sgmap/mes-aides-ui">GitHub</a>, par <a href="mailto:feedback@mes-aides.gouv.fr?subject=Suggestion%20%28depuis%20la%20page%20%C3%A0%20propos%29">courriel</a> ou en organisant une <a href="https://github.com/sgmap/mes-aides-ui/wiki/Formation">formation</a> dans votre structure.</p>
  <small>Rencontrez tous nos <a href="https://github.com/sgmap/mes-aides-ui/wiki/Partenaires">partenaires</a>.</small>


  <h2 id="startup-etat">Nous sommes une Startup d'État</h2>

  <p>Mes Aides est un service public numérique produit par une <a href="http://beta.gouv.fr/2016/11/28/equipes-autonomes">petite équipe autonome</a> qui applique les pratiques des startups du numérique au service de l'action publique.</p>
  <small>Découvrez le programme <a href="https://beta.gouv.fr">beta.gouv.fr</a>.</p>
</div>
