<article class="text container">

  <h1>Montant de l’AAH – Mes Aides est en phase de test</h1>

  <p>En partenariat avec <a href="https://www.faire-face.fr/">faire-face.fr</a>, site d'information sur le handicap, le simulateur <a ui-sref="home">Mes Aides</a> fiabilise son calcul de l’Allocation aux adultes handicapés (AAH).</p>

  <p><strong>Mes Aides souhaite attirer l’attention de ses utilisateurs a priori éligibles sur le montant qui leur est proposé en fin de simulation.</strong> Nous mettons à votre disposition notre estimation de l’AAH pour vous permettre de vérifier la bonne prise en compte de vos ressources et de la composition de votre foyer.</p>

  <div ng-if="situationId && montant">
    <p>
      Vous venez d’effectuer une simulation sur Mes Aides. Le montant de l’AAH a été estimé à <strong>{{ montant | currency : '€' : 0 }}</strong>&nbsp;/&nbsp;mois.
      Si ce résultat est différent du montant que vous recevez, vous pouvez nous aider à améliorer le simulateur en
      <a href="mailto:feedback@mes-aides.gouv.fr?subject=[{{ situationId }}]%20Test%20de%20l%27AAH&body=Bonjour%2C%0A%0ASuite%20%C3%A0%20ma%20simulation%20sur%20mes-aides.gouv.fr%2C%20j%27ai%20obtenu%20pour%20l%27AAH%20un%20montant%20de%20{{ montant | currency : '%E2%82%AC' : 0 }}%20%2F%20mois%20(arrondi%20%C3%A0%20une%20dizaine%20d%27euros).%0A%0ACependant%2C%20le%20montant%20que%20je%20re%C3%A7ois%20actuellement%20est%20de%20XXX.%0A%0AVous%20pouvez%20me%20joindre%20par%20t%C3%A9l%C3%A9phone%20au%20XX%20XX%20XX%20XX%20XX%20(de%20pr%C3%A9f%C3%A9rence%20en%20semaine)%20pour%20une%20dizaine%20de%20minutes%20d%27%C3%A9change%20afin%20de%20comprendre%20d%27o%C3%B9%20provient%20cet%20%C3%A9cart.%0A%0ABonne%20journ%C3%A9e%2C%0A%0A%E2%80%94%E2%80%94%E2%80%94%E2%80%94%0AID%20%3A%20{{ situationId }}%20(%C3%A0%20conserver%20imp%C3%A9rativement%20pour%20traitement%20de%20votre%20demande)">nous contactant</a>.
    </p>

    <small>À noter : les montant que nous affichons sur Mes Aides sont généralement arrondis à une dizaine d’euros près.</small>
  </div>

  <div ng-if="! situationId">
    <p>Vous pouvez nous aider à améliorer l’estimation de l’AAH. Pour cela&nbsp;:</p>
    <ul>
      <li><a ui-sref="foyer.demandeur" ng-click="newSituation()">passez une simulation sur Mes Aides</a> sans préciser l’AAH dans vos ressources ;</li>
      <li>contactez-nous <u>à l’aide des liens proposés en fin de simulation</u> si vous constatez un écart.</li>
    </ul>
  </div>

  <h2>À propos de l’AAH</h2>

  <p>{{ aah.description }}</p>

  <p>Le service de simulation proposé par Mes Aides est en phase de test : les résultats proposés ne sont pas garantis.</p>

  <p><a href="{{ aah.link }}">En savoir plus et accéder aux instructions sur le site service-public.fr</a></p>

</article>
