<article class="text container">
  <h1>Simulateur de prestations sociales Mes Aides</h1>

  <p>Vous quittez Ameli (l’Assurance Maladie en Ligne) pour vous rendre sur le simulateur de prestations sociales indépendant Mes Aides. <strong>Que souhaitez-vous ?</strong></p>

  <h3>Déclarer ma mutuelle auprès d’Améli pour moi ou pour quelqu’un de ma famille</h3>

  <p>La procédure est détaillée sur <a href="https://forum-assures.ameli.fr/questions/1394495">cette question/réponse du forum de l’Assurance Maladie</a>.</p>

  <h3>Savoir si j’ai le droit à la CMU-C ou à l’ACS</h3>

  <p>Vous pouvez <a ui-sref="foyer.demandeur">passer la simulation afin de faire le point sur votre situation</a>. Si vous avez le droit à la CMU-C ou à l’ACS, notre simulateur vous indiquera la démarche pour demander cette aide.</p>

  <h3>Déclarer mon médecin traitant</h3>

  <p>La procédure est détaillée sur <a href="https://www.ameli.fr/assure/adresses-et-contacts/un-changement-de-situation/declarer-un-nouveau-medecin-traitant">cette page du site de l’Assurance Maladie</a>.</p>

  <h3>Me renseigner sur mon dossier ou sur un délai de traitement</h3>

  <p>Vous devez contacter votre caisse <a href="https://www.ameli.fr/assure/adresses-et-contacts/laide-pour-une-complementaire-sante-cmuc/acs/suivre-lavancement-de-votre-dossier">depuis votre compte ameli</a> pour connaître l'avancement de votre dossier.</p>

  <h3>Je n’arrive pas à me connecter à mon espace sécurisé sur Ameli</h3>

  <p>Si vous avez perdu votre mot de passe, <a href="https://www.ameli.fr/assure/adresses-et-contacts/votre-compte-ameli/vous-avez-oublie-votre-code-secret">vous pouvez en demander un nouveau sur cette page</a>. En cas de difficulté d'accès ou pour plus d'information sur " Mon compte sur ameli.fr " contactez par téléphone votre caisse d'Assurance Maladie au 3646 (service 0,06 Euro/min + prix appel).</p>

  <h2>Continuer sur Mes Aides</h2>

  <p>Le simulateur Mes Aides est un simulateur indépendant qui n’est pas affilié à l’Assurance Maladie en ligne : nous n’avons pas accès à vos dossiers. Aucun des renseignements que vous entrez sur notre site n’est ensuite transmis à l’Assurance Maladie. Notre but est de faire le point avec vous sur les prestations sociales que vous pouvez demander.</p>

  <p><a ui-sref="home"><img src="/documents/communication/mes_aides-banniere-generique-300_250.jpg" alt="Continuer sur Mes Aides"></a></p>


</article>
