<div class="text container">
  <h1>Supports de communication</h1>

  <p>Vous souhaitez être ambassadeurs de Mes Aides ? Merci !</p>


  <h2 id="affiche">Matériel</h2>

  <h3>Affiche</h3>

  <p>À imprimer de préférence en A3. <a target="_blank" download href="/documents/communication/mes_aides-affiche_2019.pdf"><img src="/img/thumbnail_affiche-2019.png" alt="Affiche couleur"></a></p>

  <h3>Kakémono</h3>

  <p>À faire construire. <a target="_blank" download href="/documents/communication/mes_aides-kakemono.pdf.zip"><img src="/img/thumbnail_kakemono.png" alt="Kakémono"></a></p>


  <h2 id="signatures">Signatures email</h2>

  <p>Sur fond blanc. <a target="_blank" download href="/documents/communication/mes_aides-signature-blanc.png"><img src="/documents/communication/mes_aides-signature-blanc.png" alt="Signature email"></a></p>
  <p>Sur fond transparent. <a target="_blank" download href="/documents/communication/mes_aides-signature-transparent.png"><img src="/documents/communication/mes_aides-signature-transparent.png" alt="Signature email"></a></p>


  <h2 id="bannieres">Bannières web</h2>

  <h3>Générique</h3>
  <p>300 ⨉ 250 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-generique-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-generique-300_250.jpg" alt="Bannière generique"></a></p>
  <p>Animée 728 ⨉ 90 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-generique-728_90.gif"><img src="/documents/communication/mes_aides-banniere-generique-728_90.gif" alt="Bannière generique"></a></p>
  <p>940 ⨉ 354 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-generique-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-generique-940_354.jpg" alt="Bannière generique"></a></p>

  <h3>Thématique jeune</h3>
  <p>300 ⨉ 250 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-jeune-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-jeune-300_250.jpg" alt="Bannière jeune"></a></p>
  <p>728 ⨉ 90 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-jeune-728_90.jpg"><img src="/documents/communication/mes_aides-banniere-jeune-728_90.jpg" alt="Bannière jeune"></a></p>
  <p>940 ⨉ 354 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-jeune-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-jeune-940_354.jpg" alt="Bannière jeune"></a></p>

  <h3>Thématique parent isolé</h3>
  <p>300 ⨉ 250 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-parent-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-parent-300_250.jpg" alt="Bannière parent"></a></p>
  <p>728 ⨉ 90 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-parent-728_90.jpg"><img src="/documents/communication/mes_aides-banniere-parent-728_90.jpg" alt="Bannière parent"></a></p>
  <p>940 ⨉ 354 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-parent-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-parent-940_354.jpg" alt="Bannière parent"></a></p>

  <h3>Thématique famille</h3>
  <p>300 ⨉ 250 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-famille-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-famille-300_250.jpg" alt="Bannière famille"></a></p>
  <p>728 ⨉ 90 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-famille-728_90.jpg"><img src="/documents/communication/mes_aides-banniere-famille-728_90.jpg" alt="Bannière famille"></a></p>
  <p>940 ⨉ 354 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-famille-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-famille-940_354.jpg" alt="Bannière famille"></a></p>

  <h3>Thématique retraite</h3>
  <p>300 ⨉ 250 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-retraite-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-retraite-300_250.jpg" alt="Bannière retraite"></a></p>
  <p>728 ⨉ 90 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-retraite-728_90.jpg"><img src="/documents/communication/mes_aides-banniere-retraite-728_90.jpg" alt="Bannière retraite"></a></p>
  <p>940 ⨉ 354 px <a target="_blank" download href="/documents/communication/mes_aides-banniere-retraite-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-retraite-940_354.jpg" alt="Bannière retraite"></a></p>


  <h2 id="marque-page">Marques-pages</h2>

  <p><a href="https://github.com/betagouv/mes-aides-ui/wiki/communication/Marque_page_Mes_Aides.pdf">Marque-page / flyer</a> à imprimer.</p>


  <h2 id="videos">Vidéos</h2>

  <h3>Présentation de Mes Aides</h3>

  <p>2015, SGMAP, 1 minute 18</p>
  <iframe frameborder="0" width="480" height="270" src="https://www.dailymotion.com/embed/video/x2u6612" allowfullscreen></iframe>

  <h3>Ce que disent les usagers</h3>

  <p>2014, LCP, 2 minutes</p>
  <iframe frameborder="0" width="480" height="270" src="https://www.dailymotion.com/embed/video/x29gfn8" allowfullscreen></iframe>

  <h3>L'ouverture du système socio-fiscal</h3>

  <p>2016, OGP, 1 minute</p>
  <iframe frameborder="0" width="480" height="270" src="https://www.dailymotion.com/embed/video/x547av8" allowfullscreen></iframe>


  <h2 id="presentation">Support de présentation</h2>

  <p><a href="https://github.com/betagouv/mes-aides-ui/wiki/communication/Presentation_Mes_Aides.pdf">Présentation</a> annotée au format PDF.</p>
</div>
