<div class="text container">
  <h1>Supports de communication</h1>

  <p>Vous souhaitez être ambassadeurs de Mes Aides&nbsp;? Merci&nbsp;! Ces supports pourront vous être utiles.</p>


  <h2 id="affiche">Affiche</h2>

  <p><a href="https://github.com/sgmap/mes-aides-ui/wiki/communication/Affiche_Mes_Aides.pdf">Affiche couleur</a> à imprimer.</p>
  <small>De préférence en A3.</small>


  <h2 id="marque-page">Marques-pages</h2>

  <p><a href="https://github.com/sgmap/mes-aides-ui/wiki/communication/Marque_page_Mes_Aides.pdf">Marque-page / flyer</a> à imprimer.</p>


  <h2 id="videos">Vidéos</h2>

  <ul>
    <li><a href="https://www.dailymotion.com/video/x2u6612_mes-aides-simulez-toutes-vos-aides-en-ligne_tech">Présentation de Mes Aides</a> (SGMAP, 1 minute 18).</li>
    <li><a href="http://www.lcp.fr/la-politique-en-video/aides-sociales-reunies-dans-un-meme-logiciel-quen-disent-les-interesses">Ce que disent les usagers</a> (LCP, 2 minutes).</li>
    <li><a href="http://www.dailymotion.com/video/x547av8">L'ouverture du système socio-fiscal</a> (OGP, 1 minute).</li>
  </ul>


  <h2 id="presentation">Support de présentation</h2>

  <p><a href="https://github.com/sgmap/mes-aides-ui/wiki/communication/Presentation_Mes_Aides.pdf">Présentation</a> annotée au format PDF.</p>
</div>
