<div class="text container">
  <h1>Supports de communication</h1>

  <p>Vous souhaitez être ambassadeurs de Mes Aides&nbsp;? Merci&nbsp;!</p>


  <h2 id="affiche">Matériel</h2>

  <h3>Affiche</h3>

  <p><a target="_blank" download href="/documents/communication/mes_aides-affiche.pdf.zip"><img src="/img/thumbnail_affiche.png" alt="Affiche couleur"></a> à imprimer de préférence en A3.</p>

  <h3>Kakémono</h3>

  <p><a target="_blank" download href="/documents/communication/mes_aides-kakemono.pdf.zip"><img src="/img/thumbnail_kakemono.png" alt="Kakémono"></a> à faire construire.</p>


  <h2 id="signatures">Signatures email</h2>

  <p><a target="_blank" download href="/documents/communication/mes_aides-signature-blanc.png"><img src="/documents/communication/mes_aides-signature-blanc.png" alt="Signature email"></a> sur fond blanc</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-signature-transparent.png"><img src="/documents/communication/mes_aides-signature-transparent.png" alt="Signature email"></a> sur fond transparent</p>


  <h2 id="bannieres">Bannières web</h2>

  <h3>Générique</h3>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-generique-728_90.gif"><img src="/documents/communication/mes_aides-banniere-generique-728_90.gif" alt="Bannière generique"></a> animée 728 ⨉ 90 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-generique-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-generique-300_250.jpg" alt="Bannière generique"></a> 300 ⨉ 250 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-generique-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-generique-940_354.jpg" alt="Bannière generique"></a> 940 ⨉ 354 px</p>

  <h3>Thématique jeune</h3>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-jeune-728_90.jpg"><img src="/documents/communication/mes_aides-banniere-jeune-728_90.jpg" alt="Bannière jeune"></a> 728 ⨉ 90 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-jeune-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-jeune-300_250.jpg" alt="Bannière jeune"></a> 300 ⨉ 250 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-jeune-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-jeune-940_354.jpg" alt="Bannière jeune"></a> 940 ⨉ 354 px</p>

  <h3>Thématique parent isolé</h3>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-parent-728_90.jpg"><img src="/documents/communication/mes_aides-banniere-parent-728_90.jpg" alt="Bannière parent"></a> 728 ⨉ 90 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-parent-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-parent-300_250.jpg" alt="Bannière parent"></a> 300 ⨉ 250 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-parent-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-parent-940_354.jpg" alt="Bannière parent"></a> 940 ⨉ 354 px</p>

  <h3>Thématique famille</h3>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-famille-728_90.jpg"><img src="/documents/communication/mes_aides-banniere-famille-728_90.jpg" alt="Bannière famille"></a> 728 ⨉ 90 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-famille-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-famille-300_250.jpg" alt="Bannière famille"></a> 300 ⨉ 250 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-famille-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-famille-940_354.jpg" alt="Bannière famille"></a> 940 ⨉ 354 px</p>

  <h3>Thématique retraite</h3>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-retraite-728_90.jpg"><img src="/documents/communication/mes_aides-banniere-retraite-728_90.jpg" alt="Bannière retraite"></a> 728 ⨉ 90 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-retraite-300_250.jpg"><img src="/documents/communication/mes_aides-banniere-retraite-300_250.jpg" alt="Bannière retraite"></a> 300 ⨉ 250 px</p>
  <p><a target="_blank" download href="/documents/communication/mes_aides-banniere-retraite-940_354.jpg"><img src="/documents/communication/mes_aides-banniere-retraite-940_354.jpg" alt="Bannière retraite"></a> 940 ⨉ 354 px</p>


  <h2 id="marque-page">Marques-pages</h2>

  <p><a href="https://github.com/sgmap/mes-aides-ui/wiki/communication/Marque_page_Mes_Aides.pdf">Marque-page / flyer</a> à imprimer.</p>


  <h2 id="videos">Vidéos</h2>

  <ul>
    <li><a href="https://www.dailymotion.com/video/x2u6612_mes-aides-simulez-toutes-vos-aides-en-ligne_tech">Présentation de Mes Aides</a> (SGMAP, 1 minute 18).</li>
    <li><a href="http://www.lcp.fr/la-politique-en-video/aides-sociales-reunies-dans-un-meme-logiciel-quen-disent-les-interesses">Ce que disent les usagers</a> (LCP, 2 minutes).</li>
    <li><a href="http://www.dailymotion.com/video/x547av8">L'ouverture du système socio-fiscal</a> (OGP, 1 minute).</li>
  </ul>


  <h2 id="presentation">Support de présentation</h2>

  <p><a href="https://github.com/sgmap/mes-aides-ui/wiki/communication/Presentation_Mes_Aides.pdf">Présentation</a> annotée au format PDF.</p>
</div>
