<article class="text container">

  <h1>Nous contacter</h1>

  <p>Contactez-nous pour obtenir des informations sur le simulateur Mes&nbsp;Aides, nous signaler une différence de calcul avec un autre service ou bien encore proposer une amélioration. Nous vous répondons directement par courriel ou sur les réseaux sociaux.</p>

  <p><a analytics-on="click" analytics-event="Support" href="mailto:bonjour@mes-aides.gouv.fr">Nous envoyer un courriel.</a></p>

  <p><a href="https://twitter.com/MesAides">Suivez-nous sur Twitter</a> ou bien <a href="https://twitter.com/intent/tweet?screen_name=MesAides">envoyez un message à @MesAides sur Twitter</a>.</p>

  <h2>Mes Aides ne transmet pas vos dossiers aux organismes cités dans le simulateur ni n’a accès à vos données nominatives.</h2>

  <p>Pour transmettre des documents personnels, obtenir des informations sur une prestation sociale en particulier ou pour avoir des renseignements sur votre situation, adressez-vous directement auprès de l’organisme concerné&nbsp;: nous ne pourrons pas vous répondre. Nous partageons avec vous quelques liens utiles&nbsp;:</p>

  <ul>
    <li><a href="http://www.caf.fr/redirect/redirect.php?page=monCompte">Caisse d'Allocations Familiales (CAF)</a></li>
    <li><a href="https://assure.ameli.fr/">Caisse Primaire d’Assurance Maladie (CPAM, Ameli.fr)</a></li>
    <li><a href="https://candidat.pole-emploi.fr/">Pôle Emploi</a></li>
    <li><a href="https://www.lassuranceretraite.fr/portail-services-ihm/index.html">Caisse Nationale d’Assurance Vieillesse (CNAV)</a></li>
    <li><a href="https://aides-casvp.paris.fr/">Ville de Paris</a></li>
  </ul>

</div>