<div class="text container">
	<h1>Nous contacter
    </h1>
    
    <p>Contactez-nous pour obtenir des informations sur le simulateur Mes&nbsp;Aides, nous signaler une différence de calcul avec un autre service ou bien encore proposer une amélioration. Nous vous répondons directement par courriel ou sur les réseaux sociaux.
    </p>
    
    <p><a href="mailto:bonjour@mes-aides.gouv.fr">Nous envoyer un courriel.</a>
    </p>
    
	<p><a href="https://twitter.com/intent/tweet?screen_name=MesAides" class="twitter-mention-button" data-size="large" data-lang="fr" data-dnt="true" data-show-count="false">Envoyer un tweet à @MesAides</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> &nbsp;&nbsp;&nbsp;
    <a href="https://twitter.com/messages/compose?recipient_id=2846447279" class="twitter-dm-button" data-size="large" data-lang="fr" data-dnt="true" data-screen-name="@MesAides" data-show-count="false">Envoyer un messager privé à @MesAides</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
    
    <h2>Mes Aides ne transmets pas vos dossiers aux organismes cités dans le simulateur ni n’a accès à vos données confidentielles.
    </h2>
    
    <p>Pour transmettre des documents personnels, obtenir des informations sur une prestation sociale en particulier ou pour avoir des renseignements sur votre situation, adressez-vous directement auprès de l’organisme concerné : nous ne pourrons pas vous répondre. Nous partageons avec vous quelques liens utiles :
    </p>
    
    <ul>
    	<li><a href="http://www.caf.fr/redirect/redirect.php?page=monCompte">Caisse d'Allocations Familiales (CAF)</a></li>
        <li><a href="https://assure.ameli.fr/">Caisse Primaire d’Assurance Maladie (CPAM, Ameli.fr)</a></li>
        <li><a href="https://candidat.pole-emploi.fr/">Pôle Emploi</a></li>
        <li><a href="https://www.lassuranceretraite.fr/portail-services-ihm/index.html">Caisse Nationale d’Assurance Vieillesse (CNAV)</a>
        <li><a href="https://aides-casvp.paris.fr/">Ville de Paris</a></li>
    </ul>
</div>