<article class="text container">
  <h1>Comprendre les écarts : comment fonctionne le simulateur Mes Aides</h1>

  <h2>Principales recommandations</h2>

  <p>Pour accélérer la première estimation, le simulateur Mes Aides prend des raccourcis pour décrire votre situation. Vous pouvez améliorer vos résultats au cours ou à la fin de la simulation en modifiant vos données :
    <ul>
      <li>Lorsque vous entrez un montant mensuel sur la page des ressources, ce montant sera considéré comme le même au cours des 12 derniers mois. En cliquant sur l’option « Sinon détailler le montant sur les 12 derniers mois », vous pouvez préciser le montant mensuel des trois derniers mois ainsi que le total sur les 12 derniers mois.</li>
      <li>Certaines aides se basent sur vos ressources de votre dernière déclaration de revenus (c’est à dire en 2019 sur les ressources 2017). Nous partons du principe que vos ressources actuelles sont les mêmes qu’en 2017 : vous pouvez les préciser à travers l’option « Déclarer vos revenus 2017 »</li>
      <li>Les pensions alimentaires que vous recevez sont à déclarer sur la page des ressources. Les pensions alimentaires que vous versez sont à déclarer plus tard dans la simulation.</li>
    </ul>
  </p>

  <h2>Prime d'activité</h2>

  <p>Si vous êtes :
    <ul>
      <li>propriétaire de votre logement principal avec un prêt en cours</li>
      <li>hébergé en participant aux frais du logement</li>
    </ul>
  Sur le simulateur de la Caf, vous devez répondre "Non" à la question "Vous (ou votre conjoint) êtes propriétaire de votre logement principal ou êtes logés gratuitement". Répondez "oui" uniquement si vous n’avez aucun prêt pour votre habitation principale ou si vous ne participez pas aux frais du logement.
  </p>
  <p>Une autre erreur fréquente de remplissage du simulateur de la Caf consiste à entrer dans la case "Revenus imposables annuels de placement ou du patrimoine - Année 2017" vos revenus salariés 2017. La prime d'activité ne se base pas sur les revenus salariés de votre précédente déclaration d'impôt : attention en remplissant cette case.</p>

  <h2>Handicap à moins de 80%</h2>

  <p>En cas de handicap à moins de 80 %, une condition supplémentaire est demandée pour obtenir l’AAH : la restriction substantielle et durable d’accès à l’emploi (RSDAE). Il s’agit d’une reconnaissance accordée par votre MDPH et qui n’est pas la même que la reconnaissance en qualité de travailleur handicapé.</p>

  <h2>Enfants en garde alternée</h2>

  <p>Les aides que vous pouvez recevoir avec un ou des enfants en garde alternée ont des montants variables selon votre situation. Mes Aides vous indique systématiquement le montant le plus élevé possible pour ces trois aides :
    <ul>
      <li>Allocations familiales : en cas de séparation, les allocations familiales sont, selon le jugement de séparation, soit versées intégralement à un des deux parents, soit divisées à parts égales entre les deux parents.</li>
      <li>Allocation logement : les enfants en garde alternée comptent pour l’allocation logement uniquement les jours du mois où ils ont présents : <a href="https://www.aide-sociale.fr/caf-garde-alternee/">en savoir plus</a>.</li>
      <li>Allocation de soutien familial (ASF) : cette aide est réservée au parent qui élève seul un enfant sans aucun soutien financier de la part de l’autre parent. Nous la proposons par défaut à tout parent qui remplit cette condition. Cependant, en cas de séparation, cette aide est réservé au parent qui a la charge de l’enfant et qui soit ne reçoit pas la pension alimentaire qui lui est due soit dont la pension est inférieure au montant de l’ASF.</li>
    </ul>
  </p>

  <h2>Vous pouvez toujours nous contacter</h2>

    <p>LOREUM IPSUM. Pour accélerer le décryptage de votre simulation et identifier les problèmes, merci de nous fournir votre identifiant de simulation ou bien le récapitulatif en PDF téléchargeable.</p>

</article>
