<article class="text container">
  <h1>Comprendre les écarts</h1>

  <p>Nous avons regroupé sur cette page les raisons des écarts régulièrement constatés par les usagers de mes-aides.gouv.fr. Des informations sur les écarts avec les autres simulateurs (caf.fr principalement) et avec ce que l'administration vous a attribué sont apportées.</p>

  <h2>Pour la prime d'activité</h2>

    <h3>Si vous êtes priopriétaire</h3>

      <p>Blah blah blah</p>

    <h3>Si vous avez reçu un refus de la CAF en janvier 2019</h3>

      <p>Blah blah blah</p>

  <h2>Pour l'allocaltion adulte handicappé (AAH)</h2>

    <h3>Clarifier le taux d'incapacité</h3>

      <p>Blah blah blah</p>

  <h2>Vous pouvez toujours nous contacter</h2>

    <p>Blah blah blah avec lien (demander le récapitulatif PDF autant que possible)</p>

</article>
