<article class="text container">
  <h1>⚠️ Hameçonnage ⚠️</h1>

  <p>Votre visite sur Mes Aides provient d'un site frauduleux.</p>
  
  <p>Il s'agit d'une tentative d'hameçonnage (phising) : un arnaqueur s'est fait passer pour un site institutionnel (par exemple, l'<a href="https://www.ameli.fr/assure/droits-demarches/principes/attention-appels-courriels-frauduleux">Assurance Maladie</a>) en vous promettant un remboursement et en vous demandant vos informations personnelles.
    
  <p><strong>Si vous avez saisi des informations personnelles comme un numéro de carte bleue, nous vous invitons à contacter votre banque et à vous rendre sur <a href="https://www.cybermalveillance.gouv.fr/victime/">le site de prévention des cybermalveillances</a>.</strong></p>
  
  <p>Dans tous les cas, nous vous recommandons de supprimer le message qui vous a incité à visiter le précédent site (par exemple, un mail vous annonçant un remboursement) ou bien d'en faire le <a href="#signalement">signalement</a>.</p>
  
  <h2>Continuer sur Mes Aides</h2>

  <p>Le simulateur Mes Aides est un simulateur indépendant. Notre but est de faire le point avec vous sur les prestations sociales que vous pouvez demander.</p>

  <p><a analytics-on="click" analytics-category="phishing" analytics-event="Continuer sur Mes Aides" ui-sref="home"><img src="/documents/communication/mes_aides-banniere-generique-300_250.jpg" alt="Continuer sur Mes Aides"></a></p>
  
  <h2 id="signalement">A propos du hameçonnage (phising) et des méthodes de signalement</h2>
  
  <p>De nombreuses arnaques existent sur Internet. Certaines d'entre elles se déguisent en sites respectables afin de vous tromper : c'est le hameçonnage ou phising. Elles peuvent tromper même les utilisateurs les plus avancés.</p>
  
  <p>Pour vous prévenir des mails frauduleux, vous pouvez installer une extension dans votre navigateur Internet et votre logiciel de messagerie : <a href="https://www.signal-spam.fr/">Signal Spam</a>. C'est également une manière d'avertir les autorités simplement lorsqu'un mail que vous recevez est suspect.</p>

</article>
