<article class="text container">
  <h1>⚠️ Hameçonnage ⚠️</h1>

  <p>Vous provenez d'un site qui a été identifier comme frauduleux.</p>

  <p>Si vous avez saisies vos informations bancaires, nous vous conseillons de vous rapprocher de votre banque.</p>

  <p>
    Aussi vous pouvez signaler le site d'où vous provenez comme frauduleux auprès de
    <a href="https://safebrowsing.google.com/safebrowsing/report_phish/?hl=en&url={{ referrer }}">Google</a>
    et de … pour ….
  </p>

  <h2>Continuer sur Mes Aides</h2>

  <p>Le simulateur Mes Aides est un simulateur indépendant. Notre but est de faire le point avec vous sur les prestations sociales que vous pouvez demander.</p>

  <p><a analytics-on="click" analytics-category="phishing" analytics-event="Continuer sur Mes Aides" ui-sref="home"><img src="/documents/communication/mes_aides-banniere-generique-300_250.jpg" alt="Continuer sur Mes Aides"></a></p>

</article>
