<article class="text container">

  <h1>Suivez-nous sur les réseaux</h1>
  
  <h2>Nos réseaux sociaux</h2>
  
  <p>Suivez-nous sur <a href="https://www.facebook.com/MesAides">Facebook</a> et sur <a href="https://twitter.com/MesAides">Twitter</a> !</p>
  
  <p style="text-align:center;"><a href="https://www.facebook.com/MesAides"><img src="/img/social/picto_facebook.png" alt="Facebook"></a>  <a href="https://twitter.com/MesAides"><img src="/img/social/picto_twitter.png" alt="Twitter"></a></p>
  
  <p>Nos messages privés sont ouverts pour vous permettre de communiquer avec nous en toute discrétion.</p>
  
  <small>Vous pouvez également <a ui-sref="contact">nous contacter par courriel</a>.</small>
  
  <h2>Notre mission</h2>
  
  <p>Les réseaux sociaux de Mes&nbsp;Aides ont pour objectif de faciliter les échanges autour des droits sociaux.</p>

  <p>La mission de notre simulateur est de faire baisser le non-recours aux prestations sociales. Les réseaux participent à cette lutte en proposant une nouvelle manière de communiquer avec une administration. En brisant la glace, en proposant un espace d’échanges sécurisé et en communicant chaleureusement, les réseaux sociaux de Mes&nbsp;Aides réaffirment que tout le monde peut faire le point sur sa situation et demander ses droits sociaux.</p>

  <small>Vous pouvez en savoir plus sur notre ligne éditoriale sur <a href="https://github.com/sgmap/mes-aides-ui/wiki/Notre-ton">notre page dédiée sur le wiki</a>.</small>
  
  <h2>Nos principes</h2>
  
  <p>Notre ligne éditoriale repose sur quatre principes :</p>
  
  <ul>
    <li>Informer sur les nouvelles fonctionnalités du simulateur ;</li>
    <li>Relayer les dernières nouvelles des droits sociaux ;</li>
    <li>Répondre aux questions des utilisateurs en public ou en privé ;</li>
    <li>Proposer des messages d’engagement ;</li>
  </ul>
  
  <small>Afin d’améliorer notre indexation sur les moteurs de recherche, nous sommes également présents sur d’autres réseaux sociaux qui ne sont pas mis en avant comme Google+.</small>
  
  <h2>Pour les professionnels</h2>
  
  <p>Professionnels du secteur social, <a target="_blank" rel="noopener" href="http://eepurl.com/bD9PNP">inscrivez-vous à la lettre de Mes&nbsp;Aides</a> à l’aide de votre courriel.</p>

</article>
