<div class="page-header">
  <h1>Authentification requise</h1>
</div>

<div class="alert alert-danger" ng-if="badCredentials">Email ou mot de passe invalide.</div>

<form class="form-horizontal" role="form" ng-submit="connect()">
  <div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" ng-model="username" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Mot de passe</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" ng-model="password" id="inputPassword" placeholder="Mot de passe">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-1">
      <button type="submit" class="btn btn-default">Connexion</button>
    </div>
  </div>
</form>
