<div class="page-header">
  <h1>{{ taskLabels[task.type] }}</h1>
</div>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Contact</h2>
      </div>
      <div class="panel-body">
        <p><b>{{ task.situation.contact.firstName }} {{ task.situation.contact.lastName }}</b></p>

        <p>{{ task.situation.contact.address }}<br>{{ task.situation.contact.postalCode }} {{ task.situation.contact.city }}</p>

        <p ng-if="task.situation.contact.email">Email : {{ task.situation.contact.email }}</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Informations à vérifier</h2>
      </div>
      <div class="panel-body">
        <p>Code NIR : <b>{{ task.situation.contact.numeroSecu }}</b></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default" ng-if="isTaskEditable()">
      <div class="panel-heading">
        <h2 class="panel-title">Action</h2>
      </div>
      <div class="panel-body">
        <p ng-show="!invalidating">
          <button class="btn btn-success btn-lg btn-block" ng-click="validate()">Valider</button>
          <button class="btn btn-danger btn-lg btn-block" ng-click="invalidating = true">Invalider</button>
        </p>
        <div ng-show="invalidating">
          <form ng-submit="invalidate()">
            <div class="form-group">
              <label for="invalidation-message">Merci d'indiquer au demandeur la nature du problème et ce qu'il convient de faire pour le résoudre</label>
              <textarea class="form-control" ng-model="$parent.invalidationMessage" id="invalidation-message" placeholder="Décrivez ici le problème" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Valider</button>
            <button type="button" class="btn btn-default" ng-click="invalidating=false">Annuler</button>
          </form>
        </div>
      </div>
    </div>
    <div class="panel panel-default" ng-if="!isTaskEditable()">
      <div class="panel-heading">
        <h2 class="panel-title">Statut</h2>
      </div>
      <div class="panel-body">
        <p class="text-center">
          <span class="label label-lg" ng-class="{'label-success': task.status === 'ok', 'label-danger': task.status === 'ko'}">
            <span class="fa" ng-class="{'fa-check': task.status === 'ok', 'fa-times': task.status === 'ko'}"></span>
            {{ statusLabels[task.status] }}
          </span>
        </p>
        <div ng-if="task.invalidationMessage">
          <h4>Message à l'attention du demandeur</h4>
          <p class="well" ng-bind-html="task.invalidationMessage | nl2br"></p>
        </div>
      </div>
    </div>
  </div>
</div>
