<div class="page-header">
  <h1>
    <span ng-if="situationsNb === 0">Aucune demande</span>
    <span ng-if="situationsNb > 0">{{ situationsNb }} demande(s)</span>
    à traiter
  </h1>
</div>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Demandeur</th>
      <th>Ville</th>
      <th>Tâche</th>
      <th>Statut</th>
      <th>Affectée à</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody ng-repeat="situation in situations">
    <tr ng-repeat="task in situation.tasks" ng-init="status = task.status">
      <td ng-if="$first" rowspan="{{ situation.tasks.length }}">{{ situation.contact.firstName }} {{ situation.contact.lastName }}</td>
      <td ng-if="$first" rowspan="{{ situation.tasks.length }}">{{ situation.contact.city }}</td>
      <td>{{ taskLabels[task.type] }}</td>
      <td>
        <span class="label" ng-class="{ 'label-danger': status === 'ko', 'label-success': status === 'ok', 'label-info': status === 'todo', 'label-warning': status === 'pending' }">
          {{ statusLabels[status] }}
        </span>
      </td>
      <td>{{ taskAuthorities[task.type] }}</td>
      <td><a href="taches/{{ task._id }}">Traiter cette tâche</a></td>
    </tr>
  </tbody>
</table>

<div class="text-center">
  <ul class="pagination pagination-lg">
    <li class="disabled"><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">&raquo;</a></li>
  </ul>
</div>
