@import '~font-awesome/scss/variables';
$fa-font-path: '~font-awesome/fonts';

@import '~font-awesome/scss/mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../variables';
@import '../theme-variables';

.droit-logo {
  height: 2em;
  padding-left: 20px;
}

.droit-logo img {
  height: 100%;
}

.dotted-line {
  border-top: 1px dotted lighten(#333, 20%);
  display: block;
  flex: 1;
  margin: 0 15px;
}

.droits-list {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  display: block;
  margin-bottom: 40px;
}

.droits-list-item-cell {
  align-items: center;
  color: #333;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;

  @media (max-width: $screen-sm-max) {
    .dotted-line {
      display: none;
    }
  }

  &-left {
    align-items: center;
    display: flex;
    flex-direction: row;

    h2 {
      margin: 0;

      @media (max-width: $screen-xs-max) {
        font-size: ($font-size-h2 * 0.6);
      }

      small {
        color: $link-color;
        display: block;
        margin-top: 6px;
      }
    }

    img {
      margin-right: 15px;
      width: 60px;

      @media (max-width: $screen-xs-max) {
        width: 40px;
      }
    }
  }
}

.droits-list-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;

  &:active,
  &:focus,
  &:hover {
    * {
      color: #999;
    }

    text-decoration: none;

    h2 small {
      color: $link-color;
      text-decoration: underline;
    }
  }

  &::after {
    @include fa-icon();

    color: #ccc;
    content: $fa-var-chevron-right;
    display: none;
    margin-left: 15px;
    text-align: right;
  }

  @media (max-width: $screen-sm-max) {
    border-bottom: 1px solid #e0e0e0;

    &::after {
      display: inline-block;
    }
  }
}

.droit-montant {

  display: inline-block;
  text-align: right;
  color: $text-color;

  &:hover,
  &:active {
    text-decoration: none;
  }

  .montant {
    font-size: 18px;
    font-weight: 600;

    @media (min-width: $screen-md-min) {
      font-size: 22px;
    }
  }

  .montant-detail {
    display: inline-block;
  }

  &--unexpected {
    .droit-montant-label {
      display: block;
    }
  }

  .droit-montant-unexpected {
    cursor: pointer;
  }
}

.droit-detail {
  margin-bottom: 30px;

  &-heading {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
    position: relative;

    h3 {
      font-weight: 600;
      margin: 0;
    }
  }

  &-description {
    margin-bottom: 15px;
  }

  &-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;

    &-cta {
      display: flex;
      align-items: stretch;
      justify-content: space-between;
    }

    @media (max-width: $screen-sm-max) {
      &, > * {
        flex-direction: column;
        width: 100%;
      }
      .btn-secondary {
        order: 3;
      }
    }

  }

  .alert-warning {
    align-items: center;
    display: flex;
    font-weight: 400;
    justify-content: space-between;
  }
}

.montant i {
  position: relative;
  top: 0.4em;
}

@media print {
  .droit-detail {
    page-break-inside: avoid;
  }
}
