.ressource-input .months, .ressource-input .month, .ressource-input .month label {
    display: flex;
}

.ressource-input .month, .ressource-input .month label {
    flex-direction: column;
}

.ressource-input .month label {
    min-height: 3em;  /* sum is always on two lines (+ 1 line of margin), ensure all labels are aligned */
    justify-content: flex-end;
}

.ressource-input ul.help-block {
    list-style-type: none;
    padding-left: 0;
}

.ressource-input.indemnites {
    border-color: #AC6C82;
}

.ressource-input.indemnites .panel-heading {
    background-color: #e3ced5;
}

.ressource-input.pensions {
    border-color: #685C79;
}

.ressource-input.pensions .panel-heading {
    background-color: #eae7ed;
}

.ressource-input.allocations {
    border-color: #DA727E;
}

.ressource-input.allocations .panel-heading {
    background-color: #faebed;
}

.ressource-input.revenusActivite {
    border-color: #FFBC67;
}

.ressource-input.revenusActivite .panel-heading {
    background-color: #ffe9cd;
}

.ressource-input.autre {
    border-color: #39747B;
}

.ressource-input.autre .panel-heading {
    background-color: #cce4e7;
}

.ressource-input.rpns {
    border-color: #8366d4;
}

.ressource-input.rpns .panel-heading {
    background-color: #dad7e8;
}

.ressource-input.patrimoine {
    border-color: #455C7B;
}

.ressource-input.patrimoine .panel-heading {
    background-color: #d7dee8;
}

.ressource-input-type-label {
    padding-top: 6px;
}

@media (max-width: 768px) {
    .ressource-input .months {
        flex-direction: column;
    }
}
