.children {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.child {
  border: 1px solid #DDD;
  box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.4);
  padding: 1em;
  padding-top: .25em;
  margin-bottom: 1em;
  flex-grow: 1;
  margin: 15px;
}

.child:hover:not(.new-entity) {
  cursor: pointer;
  /*border: 1px solid #CCC;*/
  box-shadow: 0 .2em .4em rgba(0, 0, 0, 0.5);
}

@media (max-width: 991px) {
  .child {
    width: calc(100% - 30px);
  }
}

@media (min-width: 992px) {
  .child {
    max-width: calc(50% - 30px);
  }
}
@media (min-width: 1200px) {
  .child {
    max-width: calc(33.3333% - 30px);
  }
}

.child.active, .child.active:active {
  border: 1px solid #008cba;
  box-shadow: 0 .2em .4em rgba(0, 140, 186, 0.4);
}

.child h3 {
  margin-top: .5em;
}

.close {
  float: right;
  color: black;
  margin-top: .25em;
}

.new-entity {
  padding: 0 2em 1em 2em;
  border: .25em dashed #DDD;
  box-shadow: none;
  width: 100%;
}

.card-icon {
  font-size: 430%;
}
