#warning-less-18 {
    margin-left:10.5em;
    margin-right:10.5em;
    text-align: justify;
}

@media (max-width: 768px) {
    #warning-less-18 {
        margin-left:0;
        margin-right:0;
    }
}

.ui-select-bootstrap .ui-select-match .btn.btn-default {
	background-color: #ffffff;
}
