gunicorn>=19.1.1
git+https://github.com/betagouv/openfisca-france.git@hack-rente-at#egg=openfisca-france
Openfisca-Core[web-api]==34.0.1
git+https://github.com/betagouv/openfisca-france-local.git@7704101#egg=openfisca-France-Local
git+https://github.com/betagouv/openfisca-paris.git@453d282#egg=openfisca-paris
git+https://github.com/betagouv/openfisca-brestmetropole.git@3c1b113#egg=openfisca-BrestMetropole
git+https://github.com/betagouv/openfisca-rennesmetropole.git@7519039#egg=openfisca-RennesMetropole
