<h1>Votre date de naissance</h1>

<form method="post" action="/resultat">
    <input type="date" min="1880-01-01" max="today" autocomplete="bday" name="individus.0.birth" value="{{ value }}"/>
    <div hidden class="ui error message" data-for="invalid">
        <i class="close icon"></i>
        <h2 class="header">Date mal formée</h2>
        <p>Utilisez le format JJ/MM/AAAA (jour/mois/année).</p>
    </div>
    <input type="submit" value="Valider"/>
</form>

<script src="/js/birthdate.js"></script>

<script>
    document.querySelector('input[type="date"][max="today"]').max = new Date().toJSON().split('T')[0];

    document.getElementsByTagName('form')[0].addEventListener('submit', function(event) {
        event.preventDefault();

        birthdate.set(event.target[0].value);
    });

    store.subscribe(function() {
        var state = store.getState();

        if (state.error) {
            document.querySelector('[name="' + state.error.source + '"] ~ .error.message[data-for="' + state.error.id + '"]').hidden = false;
        } else {
            Array.prototype.forEach.call(document.querySelectorAll('.error.message'), function(message) {
                message.hidden = true;
            });
        }
    });
</script>
