<h1>Votre date de naissance</h1>

<form method="post" action="/situation">
    <input type="date" min="1880-01-01" max="today" autocomplete="bday" name="birthdate"/>
    <input type="submit" value="Valider"/>
</form>

<script>
    document.querySelector('input[type="date"][max="today"]').max = new Date().toJSON().split('T')[0];
</script>
