<h1>Votre logement</h1>

<form method="post" action="/resultat">
    <label><input type="radio" name="menages.0.statut_occupation" value="4"> Locataire</label>
    <label><input type="radio" name="menages.0.statut_occupation" value="2"> Propriétaire</label>
    <label><input type="radio" name="menages.0.statut_occupation" value="6"> Hébergé</label>
    <label><input type="radio" name="menages.0.statut_occupation" value="8"> Sans domicile stable</label>
    <div hidden class="ui error message" data-for="required">
        <i class="close icon"></i>
        <h2 class="header">Question obligatoire</h2>
        <p>Votre type de logement est nécessaire pour déterminer vos aides au logement.</p>
    </div>

    <input type="submit" value="Valider"/>
</form>

<script src="/js/housing.js"></script>

<script>
    var form = document.getElementsByTagName('form')[0];

    form.addEventListener('submit', function(event) {
        event.preventDefault();

        housing.set(event.target.elements['menages.0.statut_occupation'].value);
    });

    store.subscribe(function() {
        var state = store.getState();

        if (state.error) {
            document.querySelector('.error.message[data-for="' + state.error.id + '"]').hidden = false;
        } else {
            Array.prototype.forEach.call(document.querySelectorAll('.error.message'), function(message) {
                message.hidden = true;
            });

            window.location = form.action;
        }
    });
</script>
