<h1>Votre logement</h1>

<form class="ui form" method="post" action="code-postal">
    <div class="grouped inline fields">
        <label class="ui radio checkbox"><input required type="radio" name="menages.0.statut_occupation" value="4"> Locataire</label>
        <label class="ui radio checkbox"><input required type="radio" name="menages.0.statut_occupation" value="2"> Propriétaire</label>
        <label class="ui radio checkbox"><input required type="radio" name="menages.0.statut_occupation" value="6"> Hébergé</label>
        <label class="ui radio checkbox"><input required type="radio" name="menages.0.statut_occupation" value="8"> Sans domicile stable</label>
        <div data-for="required">
            <div class="ui error message">
                <h2 class="header">Question obligatoire</h2>
                <p>Votre type de logement est nécessaire pour déterminer vos aides au logement.</p>
            </div>
        </div>
    </div>

    <input class="ui submit button" type="submit" value="Valider"/>
</form>
