<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        {{> stylesheets files=stylesheets }}

        {{> metadata name="Mes Aides"
            title="Calculer mes aides sociales"
            description="Estimez vos droits aux prestations sociales en moins de 5 minutes."
            url="https://mes-aides.gouv.fr/"
            logo="/static/favicon/logo.jpg"
        }}
        {{> favicons path="/static/favicon" }}
    </head>
    <body>
        {{{ content }}}
    </body>
</html>
