<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="/css/homepage.css">

        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/reset.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/site.min.css">

        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/container.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/grid.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/header.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/image.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/menu.min.css">

        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/divider.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/dropdown.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/segment.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/button.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/input.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/list.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/icon.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/sidebar.min.css">
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.0.8/components/transition.min.css">


        {{> metadata name="Mes Aides"
            title="Calculer mes aides sociales"
            description="Estimez vos droits aux prestations sociales en moins de 5 minutes."
            url="https://mes-aides.gouv.fr/"
            logo="/static/favicon/logo.jpg"
        }}
        {{> favicons path="/static/favicon" }}
    </head>
    <body>
        {{{ content }}}
    </body>
</html>
