<h1>Votre lieu de résidence principal</h1>

<form class="ui form" method="post" action="#">
    <input name="menages.0.depcom"
        type="hidden"
        required
        >

    <div class="field">
        <label>
            Code postal
            <div class="ui small inline loader"></div>
            <input name="postalCode"
                type="text"
                maxlength="5"
                pattern="\d{5}"
                required
                inputmode="numeric"
                autocomplete="postal-code"
                >
        </label>

        <div data-for="required">
            <div class="ui error message">
                <h2 class="header">Question obligatoire</h2>
                <p>Votre code postal est nécessaire pour déterminer vos aides au logement.</p>
            </div>
        </div>
        <div data-for="invalid">
            <div class="ui error message">
                <h2 class="header">Code postal non reconnu</h2>
                <p>Ce code postal ne semble pas exister. Êtes-vous certain de l'avoir tapé correctement ?</p>
            </div>
        </div>
        <div data-for="communication">
            <div class="ui error message">
                <h2 class="header">Impossible de communiquer avec le serveur</h2>
                <p>Êtes-vous certain d'être connecté à internet ? Si oui et que cette erreur persiste, merci de <a href="mailto:bug@mes-aides.gouv.fr?Erreur code postal">nous contacter</a> en décrivant ce que vous faisiez avant que ce problème n'apparaisse.</p>
            </div>
        </div>
    </div>

    <input class="ui submit button" type="submit" value="Valider"/>
</form>
