<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tests d'acceptance mes-aides</title>
    <meta name="viewport" content="width=device-width">
    <!-- build:css({.tmp,app}) /styles/acceptance-tests.css -->
    <link rel="stylesheet" href="/styles/acceptance-tests.css">
    <!-- endbuild -->
    <base href="/acceptance-tests/">
  </head>
  <body ng-app="acceptanceTests" class="body-acceptance-tests">
    <header>
      <nav role="navigation" class="navbar-acceptance-tests" ng-controller="NavbarCtrl">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="index.all">Tests d'acceptance mes-aides</a>
          </div>
          <div class="collapse navbar-collapse navbar-right" collapse="navbarCollapsed" ng-if="email">
            <a class="navbar-text" ui-sref="index.mine">{{ email }}</a>
            <ul class="nav navbar-nav ">
              <li><button type="button" class="btn btn-default navbar-btn" ng-click="logout()">Déconnexion</button></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="content">
      <div class="container" ng-if="appReady">
        <ui-view>
          <p class="text-center"><i class="fa fa-spinner fa-spin"></i> Chargement en cours...</p>
        </ui-view>
      </div>
    </div>

    <!-- build:js(app) /js/acceptance_tests_vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <!-- endbower -->
    <script src="bower_components/moment/lang/fr.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /js/acceptance_tests_scripts.js -->
    <script src="js/acceptanceTests.js"></script>
    <script src="js/common.js"></script>

    <script src="js/controllers/acceptance-tests/index.js"></script>
    <script src="js/controllers/acceptance-tests/testList.js"></script>
    <script src="js/controllers/acceptance-tests/testTimeline.js"></script>
    <script src="js/controllers/acceptance-tests/testStats.js"></script>
    <script src="js/controllers/acceptance-tests/navbar.js"></script>
    <script src="js/controllers/acceptance-tests/login.js"></script>
    <script src="js/controllers/acceptance-tests/form.js"></script>
    <script src="js/controllers/acceptance-tests/users.js"></script>

    <script src="js/services/acceptance-tests/userService.js"></script>
    <script src="js/services/individuService.js"></script>
    <script src="js/services/acceptance-tests/acceptanceTestsService.js"></script>

    <script src="js/constants/droits.js"></script>
    <script src="js/constants/logementTypes.js"></script>
    <script src="js/constants/nationalites.js"></script>
    <script src="js/constants/situationsPro.js"></script>
    <script src="js/constants/ressourceTypes.js"></script>

    <script src="js/directives/acceptance-tests/humanReadableSituation.js"></script>
    <script src="js/directives/acceptance-tests/keywordInput.js"></script>
    <script src="js/directives/acceptance-tests/activityTimeline.js"></script>

    <script src="js/filters/strings.js"></script>
    <!-- endbuild -->
  </body>
</html>
