<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Back-Office DDS</title>
    <meta name="viewport" content="width=device-width">
    <!-- build:css({.tmp,app}) /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->
    <base href="/back/">
  </head>
  <body ng-app="ddsBackend">
    <header ng-controller="HeaderCtrl">
      <nav role="navigation" class="navbar navbar-default main-navbar">
        <div class="container">
          <div class="navbar-header">
            <a href="/back" class="navbar-brand title">Back-Office DDS</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li ng-cloak ng-if="user" class="navbar-text">{{ user.firstName }} {{ user.lastName }} - {{ user.organization.name }}</li>
            <li ng-cloak ng-if="user"><button type="button" ng-click="logout()" class="btn btn-default navbar-btn">Déconnexion</button></li>
            <li><a href="/back" class="navbar-brand logo"><img src="img/logo_marianne.png"></a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="content">
      <div ng-view class="container"></div>
    </div>

    <!-- build:js(app) /js/back_vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /js/back_scripts.js -->
    <script src="js/back.js"></script>
    <script src="js/controllers/taskList.js"></script>
    <script src="js/controllers/login.js"></script>
    <script src="js/controllers/task.js"></script>
    <script src="js/controllers/header.js"></script>

    <script src="js/services/userService.js"></script>
    <script src="js/services/taskService.js"></script>

    <script src="js/filters/nl2br.js"></script>
    <!-- endbuild -->
  </body>
</html>
