<!DOCTYPE html>
<html ng-app="ddsRecapSituation" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Embed récap situation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="<%= htmlWebpackPlugin.files.chunks['scripts.recapSituation'].css %>" rel="stylesheet" />
    <base href="/recap-situation/">
  </head>
  <body>
    <ui-view></ui-view>

    <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%= htmlWebpackPlugin.options.devServer %><%= htmlWebpackPlugin.files.chunks['vendor'].entry %>"></script>
    <script src="<%= htmlWebpackPlugin.options.devServer %><%= htmlWebpackPlugin.files.chunks['scripts.recapSituation'].entry %>"></script>
    <% } else { %>
    <script src="<%= htmlWebpackPlugin.files.chunks['vendor'].entry %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks['scripts.recapSituation'].entry %>"></script>
    <% } %>

  </body>
</html>
