<!DOCTYPE html>
<html ng-app="ddsRecapSituation" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Embed récap situation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<% if (htmlWebpackPlugin.options.devServer) { %><%= htmlWebpackPlugin.options.devServer %><% } %><%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
    <base href="/recap-situation/">
  </head>
  <body>
    <ui-view></ui-view>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<% if (htmlWebpackPlugin.options.devServer) { %><%= htmlWebpackPlugin.options.devServer %><% } %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

  </body>
</html>
