<!DOCTYPE html>
<html ng-app="ddsRecapSituation" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Embed récap situation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- build:css({.tmp,app}) /styles/front.css -->
    <link rel="stylesheet" href="/styles/front.css">
    <!-- endbuild -->
    <base href="/recap-situation/">
  </head>
  <body>
    <ui-view></ui-view>
    <!-- build:js(app) /js/vendor.recapSituation.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <!-- endbower -->
    <script src="bower_components/moment/lang/fr.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /js/scripts.recapSituation.js -->
    <script src="js/embed.js"></script>
    <script src="js/common.js"></script>

    <script src="js/constants/situationsFamiliales.js"></script>
    <script src="js/constants/ressourceTypes.js"></script>
    <script src="js/constants/situationsPro.js"></script>
    <script src="js/constants/nationalites.js"></script>
    <script src="js/constants/logementTypes.js"></script>

    <script src="js/services/individuService.js"></script>

    <script src="js/directives/recapSituation.js"></script>

    <script src="js/filters/strings.js"></script>
    <script src="js/filters/individuRole.js"></script>
    <!-- endbuild -->
  </body>
</html>
