<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dossier de Demande Simplifié</title>
    <meta name="viewport" content="width=device-width">
    <!-- build:css({.tmp,app}) /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->
    <!-- build:js(app) /js/marqueblanche.js -->
    <script src="/js/marqueblanche.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-app="ddsApp">
    <header>
      <nav role="navigation" class="navbar navbar-default main-navbar" ng-controller="MarqueBlancheCtrl">
        <div class="container">
          <div class="navbar-header" ng-cloak ng-if="logo">
            <a href="#" class="navbar-brand logo"><img ng-src="img/{{ logo }}"></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="#" class="navbar-brand title">Dossier de Demande Simplifié</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li><a href="#" class="navbar-brand logo"><img src="img/logo_marianne.png"></a></li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="content">
      <div class="container">
        <ui-view>
          <p class="text-center"><i class="fa fa-spinner fa-spin"></i> Chargement en cours...</p>
        </ui-view>
      </div>
    </div>

    <!-- build:js(app) /js/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /js/scripts.js -->
    <script src="bower_components/moment/lang/fr.js"></script>

    <script src="js/app.js"></script>

    <script src="js/controllers/homepage.js"></script>
    <script src="js/controllers/marqueBlanche.js"></script>
    <script src="js/controllers/foyer.js"></script>
    <script src="js/controllers/foyer/demandeur.js"></script>
    <script src="js/controllers/foyer/conjoint.js"></script>
    <script src="js/controllers/foyer/enfants.js"></script>
    <script src="js/controllers/foyer/personnesACharge.js"></script>
    <script src="js/controllers/foyer/individuModal.js"></script>
    <script src="js/controllers/foyer/captureRevenusModal.js"></script>
    <script src="js/controllers/foyer/recapRessources.js"></script>
    <script src="js/controllers/foyer/situationsSpecifiquesModal.js"></script>
    <script src="js/controllers/foyer/logement.js"></script>
    <script src="js/controllers/envoiDemande.js"></script>

    <script src="js/services/situationService.js"></script>
    <script src="js/services/simulationService.js"></script>
    <script src="js/services/individuModalService.js"></script>

    <script src="js/directives/date.js"></script>
    <script src="js/directives/selectOnFocus.js"></script>

    <script src="js/filters/uppercaseFirst.js"></script>
    <!-- endbuild -->
  </body>
</html>
