<!DOCTYPE html>
<html ng-app="ddsApp" lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title ng-bind="$state.current.data.pageTitle + ($state.current.data.pageTitle ? ' — ' : '') + 'Évaluez vos droits aux aides sociales — mes-aides.gouv.fr'">Évaluez vos droits aux aides sociales — mes-aides.gouv.fr</title>
    <meta name="og:title" value="Évaluez vos droits aux aides sociales — mes-aides.gouv.fr">
    <meta name="twitter:title" content="Évaluez vos droits aux aides sociales">

    <meta property="fb:pages" content="260041744438137">
    <meta name="google-site-verification" content="DJvbR2NnlgepVQJLNyqv45sWwHnz3o7umOuMXfEgNoM" />
    <meta name="robots" content="index,follow" />

    <meta name="viewport" content="initial-scale=1">

    <base href="/">

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<% if (htmlWebpackPlugin.options.devServer) { %><%= htmlWebpackPlugin.options.devServer %><% } %><%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

    <meta name="description" content="Ce questionnaire en ligne simple vous donnera un montant mensuel pour chaque prestation et vous donnera accès aux démarches.">

    <meta name="og:description" content="7 minutes suffisent pour simuler vos droits à {{ prestationsCount }} prestations sociales.">
    <meta name="twitter:description" content="7 minutes suffisent pour simuler vos droits à {{ prestationsCount }} prestations sociales.">

    <link rel="canonical" href="https://mes-aides.gouv.fr">
    <meta property="og:url" content="https://mes-aides.gouv.fr">

    <meta name="thumbnail" content="https://mes-aides.gouv.fr/img/banner.jpg">
    <meta property="og:image" content="https://mes-aides.gouv.fr/img/banner.jpg">
    <meta property="twitter:image" content="https://mes-aides.gouv.fr/img/banner-twitter.jpg">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site:id" content="2846447279">

    <meta property="og:site_name" content="Mes Aides">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png?v=2017-03-01">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png?v=2017-03-01" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png?v=2017-03-01" sizes="16x16">
    <link rel="manifest" href="/img/favicon/manifest.json?v=2017-03-01">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg?v=2017-03-01" color="#1889b8">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico?v=2017-03-01">
    <meta name="apple-mobile-web-app-title" content="Mes Aides">
    <meta name="application-name" content="Mes Aides">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml?v=2017-03-01">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body class="body-front" ng-controller="BodyCtrl">
    <!--[if lt IE 10]>
    <div class="browsehappy text-center">
      Vous utilisez un navigateur web obsolète et donc <strong>non sécurisé</strong>.
      <br>Cette application ne fonctionne pas sur celui-ci.
      <br><a href="http://browsehappy.com/">Mettez à jour votre navigateur</a> pour l'utiliser.
      <br>Si vous utilisez un poste fourni par votre employeur, demandez à votre administrateur d'installer une version récente de <a href="https://www.mozilla.org/fr/firefox/new/">Mozilla Firefox</a> ou <a href="http://www.google.com/chrome/">Google Chrome</a>.
      <br>Si vous êtes sous Windows XP (SP2), Vista, 7 ou supérieur, l'installation de Chrome peut être réalisée de manière autonome
      <br>sans droits d'administration sur votre poste,
      <a href="https://www.google.com/chrome/browser/index.html?standalone=1">faites-le vous-même</a> !
    </div>
    <script type="text/javascript">
      window.incompatibleBrowser = true;
    </script>
    <![endif]-->

    <header role="banner" class="navbar navbar-default navbar-fixed-top">
      <nav class="container">
        <a id="logo" ui-sref="home" title="Accueil">mes-aides.gouv.fr</a>
      </nav>
    </header>

    <div class="content">
      <ui-view autoscroll>
        <p class="text-center"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Chargement en cours…</p>
      </ui-view>
    </div>

    <footer>
      <nav class="container">
        <ul class="col-md-4 list-unstyled">
          <li><span class="fa fa-fw fa-life-ring" aria-hidden="true"></span> <a ui-sref="sos">SOS</a></li>
          <li><span class="fa fa-fw fa-star" aria-hidden="true"></span> <a ui-sref="liens-utiles">Liens utiles</a></li>
          <li><span class="fa fa-fw fa-question-circle" aria-hidden="true"></span> <a ui-sref="a-propos">À propos</a></li>
        </ul>
        <ul class="col-md-4 list-unstyled">
          <li><span class="fa fa-fw fa-bullhorn" aria-hidden="true"></span> <a ui-sref="communication">Supports de communication</a></li>
          <li><span class="fa fa-fw fa-pencil" aria-hidden="true"></span> <a ui-sref="ameliorer">Contribuez</a></li>
          <li><span class="fa fa-fw fa-paperclip" aria-hidden="true"></span> <a ui-sref="cgu">Conditions d'utilisation</a></li>
        </ul>
        <ul class="col-md-4 list-unstyled">
          <li><span class="fa fa-fw fa-thumbs-up" aria-hidden="true"></span> <a ui-sref="social">Réseaux sociaux</a></li>
          <li><span class="fa fa-fw fa-envelope" aria-hidden="true"></span> <a ui-sref="contact">Contact</a></li>
          <li><span class="fa fa-fw fa-newspaper-o" aria-hidden="true"></span> <a target="_blank" rel="noopener" href="http://eepurl.com/bD9PNP">Abonnez-vous à nos informations</a></li>
        </ul>
      </nav>
    </footer>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<% if (htmlWebpackPlugin.options.devServer) { %><%= htmlWebpackPlugin.options.devServer %><% } %><%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setDomains', ['*.mes-aides.gouv.fr']]);
      _paq.push(['enableLinkTracking']);

      (function() {
      var incompatibleBrowser = window.incompatibleBrowser;
      if (incompatibleBrowser) {
        _paq.push(['trackPageView']);  // for others, will be done through angulartics
        _paq.push(['trackEvent', 'incompatibleBrowser', true]);
      }
      var u='https://stats.data.gouv.fr/';
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', '9']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://stats.data.gouv.fr/piwik.php?idsite=9&rec=1&action_name=no-js" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    <% if (htmlWebpackPlugin.options.devServer) { %>
    <script src="<%= htmlWebpackPlugin.options.devServer %>/webpack-dev-server.js" type="text/javascript"></script>
    <% } %>
  </body>
</html>
