<!DOCTYPE html>
<html ng-app="ddsApp" lang="fr" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="$state.current.data.pageTitle + 'Simulez toutes vos aides en ligne - mes-aides.gouv.fr'">Simulez toutes vos aides en ligne - mes-aides.gouv.fr</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Mes-aides vous permet de simuler pour votre foyer les principales prestations sociales auxquelles vous avez droit, en un seul questionnaire" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@mesaides">
    <meta name="twitter:title" content="mes-aides.gouv.fr, simulez toutes vos aides en ligne">
    <meta name="twitter:description" content="Mes-aides vous permet de simuler pour votre foyer les principales prestations sociales auxquelles vous avez droit, en un seul questionnaire">
    <meta name="twitter:image" content="http://mes-aides.gouv.fr/img/logo_marianne_share.jpeg">

    <!-- Open Graph data -->
    <meta property="og:title" content="mes-aides.gouv.fr, simulez toutes vos aides en ligne" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://mes-aides.gouv.fr/" />
    <meta property="og:image" content="http://mes-aides.gouv.fr/img/logo_marianne_share.jpeg" />
    <meta property="og:description" content="Mes-aides vous permet de simuler pour votre foyer les principales prestations sociales auxquelles vous avez droit, en un seul questionnaire" />
    <meta property="og:site_name" content="Mes-aides" />

    <meta name="fragment" content="!" />


    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/front.css">
    <link rel="stylesheet" href="/styles/homepage.css">
    <link rel="stylesheet" href="/styles/individu-form.css">
    <link rel="stylesheet" href="/styles/resources.css">
    <link rel="stylesheet" href="/styles/logement.css">
    <link rel="stylesheet" href="/styles/text-container.css">

    <base href="/">
  </head>
  <body class="body-front" ng-controller="BodyCtrl" ng-class="{'has-intro': showIntro}">
    <!--[if lt IE 10]>
    <div class="browsehappy text-center">
      Vous utilisez un navigateur web obsolète et donc <strong>non sécurisé</strong>.
      <br>Cette application ne fonctionne pas sur celui-ci.
      <br><a href="http://browsehappy.com/">Mettez à jour votre navigateur</a> pour l'utiliser.
      <br>Si vous utilisez un poste fourni par votre employeur, demandez à votre administrateur d'installer une version récente de <a href="https://www.mozilla.org/fr/firefox/new/">Mozilla Firefox</a> ou <a href="http://www.google.com/chrome/">Google Chrome</a>.
      <br>Si vous êtes sous Windows XP (SP2), Vista, 7 ou supérieur, l'installation de Chrome peut être réalisée de manière autonome
      <br>sans droits d'administration sur votre poste,
      <a href="https://www.google.com/chrome/browser/index.html?standalone=1">faites-le vous-même</a> !
    </div>
    <![endif]-->

    <header role="banner" class="navbar navbar-default navbar-fixed-top">
      <div class="intro-holder">
        <div class="intro" ng-cloak ng-if="showIntro">
          <div class="intro-content">
            <span ng-click="hideIntro()">
              <strong>Service expérimental</strong>.
              Ici l'État innove avec la société civile pour offrir aux usagers le service public de demain.
            </span>
            <span>
              <a ui-sref="a_propos" title="En savoir plus sur ce service expérimental"><strong>En savoir plus…</strong></a>
            </span>
            <span class="fa fa-close" ng-click="hideIntro()" tabindex="0" role="button" aria-label="Supprimer ce message"></span>
          </div>
        </div>
      </div>
      <nav class="container">
        <a ui-sref="home" class="navbar-brand" title="Accueil">mes-aides.gouv.fr</a>

        <loading-spinner class="navbar-right"></loading-spinner>
      </nav>

      <div id="beta-ribbon">Bêta</div>
    </header>

    <div class="content">
      <ui-view autoscroll>
        <p class="text-center"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Chargement en cours…</p>
      </ui-view>
    </div>

    <footer class="main-footer" role="contentinfo">
      <nav class="container">
        <div class="col-md-3">
          <h4>Mes aides</h4>
          <ul class="list-unstyled">
            <li><a ui-sref="a_propos">À propos</a></li>
            <li><a ui-sref="cgu">Conditions d'utilisation</a></li>
            <li><a ui-sref="contribuez">Contribuez !</a></li>
            <li><a ui-sref="faq">FAQ</a></li>
            <li><a ui-sref="communication">Communication</a></li>
            <li><a href="mailto:contact@mes-aides.gouv.fr ">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs">
          <h4>Partenaires</h4>
          <ul class="list-unstyled">
            <li><a target="_blank" rel="noopener" href="http://service-public.fr/" title="service-public.fr - nouvelle fenêtre">service-public.fr</a></li>
            <li><a target="_blank" rel="noopener" href="http://ameli.fr/" title="ameli.fr - nouvelle fenêtre">ameli.fr</a></li>
            <li><a target="_blank" rel="noopener" href="http://www.caf.fr/" title="caf.fr - nouvelle fenêtre">caf.fr</a></li>
            <li><a target="_blank" rel="noopener" href="https://www.lassuranceretraite.fr/" title="lassuranceretraite.fr - nouvelle fenêtre">lassuranceretraite.fr</a></li>
            <li><a target="_blank" rel="noopener" href="http://www.modernisation.gouv.fr/le-sgmap" title="SGMAP - nouvelle fenêtre">SGMAP</a></li>
            <li><a target="_blank" rel="noopener" href="http://www.openfisca.fr/" title="OpenFisca - nouvelle fenêtre">OpenFisca</a></li>
          </ul>
        </div>
        <div class="col-md-offset-4 col-md-3">
          <ul class="list-unstyled">
            <li><a target="_blank" rel="noopener" href="https://twitter.com/mesaides" title="Suivez nous sur Twitter - nouvelle fenêtre"><i class="fa fa-twitter" aria-hidden="true" role="presentation"></i> Suivez-nous sur Twitter</a></li>
          </ul>
        </div>
      </nav>
    </footer>

    <!-- build:js(app) /js/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-uuids/angular-uuid.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <!-- endbower -->
    <script src="bower_components/moment/lang/fr.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) /js/scripts.js -->
    <script src="js/app.js"></script>
    <script src="js/common.js"></script>

    <script src="js/constants/situationsFamiliales.js"></script>
    <script src="js/constants/ressources.js"></script>
    <script src="js/constants/specificSituations.js"></script>
    <script src="js/constants/nationalites.js"></script>
    <script src="js/constants/logementTypes.js"></script>
    <script src="js/constants/droits.js"></script>

    <script src="js/controllers/body.js"></script>
    <script src="js/controllers/homepage.js"></script>
    <script src="js/controllers/contribuez.js"></script>
    <script src="js/controllers/foyer.js"></script>
    <script src="js/controllers/foyer/individuForm.js"></script>
    <script src="js/controllers/foyer/conjoint.js"></script>
    <script src="js/controllers/foyer/enfants.js"></script>
    <script src="js/controllers/foyer/logement.js"></script>
    <script src="js/controllers/foyer/ressources/ressources.js"></script>
    <script src="js/controllers/foyer/ressources/individu.js"></script>
    <script src="js/controllers/foyer/ressources/types.js"></script>
    <script src="js/controllers/foyer/ressources/montants.js"></script>
    <script src="js/controllers/foyer/ressources/enfants.js"></script>
    <script src="js/controllers/foyer/pensionsAlimentaires.js"></script>
    <script src="js/controllers/foyer/yearMoins2.js"></script>
    <script src="js/controllers/foyer/rfr.js"></script>
    <script src="js/controllers/foyer/recapSituation.js"></script>
    <script src="js/controllers/foyer/patrimoine.js"></script>
    <script src="js/controllers/resultat.js"></script>

    <script src="js/services/situationService.js"></script>
    <script src="js/services/resultatService.js"></script>
    <script src="js/services/individuService.js"></script>
    <script src="js/services/ressourceService.js"></script>
    <script src="js/services/impactStudyService.js"></script>

    <script src="js/directives/date.js"></script>
    <script src="js/directives/selectOnFocus.js"></script>
    <script src="js/directives/zeroToEmpty.js"></script>
    <script src="js/directives/loadingSpinner.js"></script>
    <script src="js/directives/individuBlock.js"></script>
    <script src="js/directives/droitsList.js"></script>
    <script src="js/directives/focus.js"></script>
    <script src="js/directives/captureMontantRessource.js"></script>
    <script src="js/directives/droitsEligiblesList.js"></script>
    <script src="js/directives/ym2RessourcesCallToAction.js"></script>
    <script src="js/directives/yesNoQuestion.js"></script>

    <script src="js/filters/strings.js"></script>
    <script src="js/filters/isEmpty.js"></script>
    <script src="js/filters/orderObjectBy.js"></script>

    <!-- endbuild -->

    <script src="/js/lib/cleave.js/dist/cleave.min.js"></script>

    <script src="/js/lib/angulartics/dist/angulartics.min.js"></script>
    <script src="/js/lib/angulartics-piwik/dist/angulartics-piwik.min.js"></script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['setDomains', ['*.mes-aides.gouv.fr']]);
      // _paq.push(['trackPageView']);  // done through angulartics
      _paq.push(['enableLinkTracking']);
      (function() {
        var u='https://stats.data.gouv.fr/';
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '9']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="https://stats.data.gouv.fr/piwik.php?idsite=9&rec=1&action_name=no-js" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
