<fieldset class="form-group">
  <legend class="col-sm-{{ gridSize['question'] }} control-label" ng-transclude="question"></legend>
  <div class="col-sm-3">
    <label
      class="btn btn-default"
      ng-class="{active: value == 'true'}">
      <input
        type="radio"
        name="{{ uniqueFieldName }}"
        class="sr-only"
        ng-model="value"
        value="true"
        ng-change="updateValue()"
        />
      Oui
    </label>
    <label
      class="btn btn-default"
      ng-class="{active: value == 'false'}">
      <input
        type="radio"
        name="{{ uniqueFieldName }}"
        class="sr-only"
        ng-model="value"
        value="false"
        ng-change="updateValue()"
        />
      Non
    </label>
  </div>
  <div class="col-sm-{{ gridSize['helpText'] }}">
    <p class="help-block" ng-transclude="helpBlock"></p>
  </div>
</fieldset>
