name: "Continuous Deployment"
on:
  push:
    branches: [master]
  pull_request:
env:
  SSH_HOST: solstice.mes-aides.1jeune1solution.beta.gouv.fr
  SSH_USER: root

jobs:
  install:
    name: Deployment
    runs-on: ubuntu-20.04
    steps:
      - name: Deployment
        shell: bash
        run: |
          mkdir -p ~/.ssh/
          echo "${{ secrets.PRODUCTION_DEPLOY_KEY }}" > ~/.ssh/deployment.key
          chmod 600 ~/.ssh/deployment.key
          ssh -o StrictHostKeyChecking=no ${{ env.SSH_USER }}@${{ env.SSH_HOST }} -i ~/.ssh/deployment.key
