name: Check links validity
on:
  workflow_dispatch:
  schedule:
    # https://crontab.guru/#30_8_*_*_*
    - cron: "30 8 * * *"
jobs:
  run:
    if: github.repository == 'betagouv/aides-jeunes'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm ci
      - id: invalid_links
        run: npm run tools:check-links-validity
        timeout-minutes: 60
        env:
          GRIST_DOC_ID: ${{ secrets.GRIST_DOC_ID }}
          GRIST_API_KEY: ${{ secrets.GRIST_API_KEY }}
          MATTERMOST_ALERTING_URL: ${{ secrets.MATTERMOST_ALERTING_URL }}
