name: Check links validity
on:
  workflow_dispatch:
  schedule:
    # https://crontab.guru/#30_8_*_*_*
    - cron: "30 8 * * *"
jobs:
  run:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - run: npm ci
      - id: invalid_links
        run: npm run tools:check-links-validity
        timeout-minutes: 60
        env:
          GRIST_DOC_ID: ${{ secrets.GRIST_DOC_ID }}
          GRIST_API_KEY: ${{ secrets.GRIST_API_KEY }}
          MATTERMOST_POST_URL: ${{ secrets.MATTERMOST_POST_URL }}
