name: Check links validity
on:
  schedule:
    # https://crontab.guru/#0_11_*_*_1
    - cron: "0 11 * * 1"
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
      - run: npm ci --legacy-peer-deps
      - id: invalid_links
        run: node ./tools/check-links-validity.js --ci
        timeout-minutes: 10
      - if: steps.invalid_links.outputs.comment
        uses: ./.github/actions/reopen-issue-with-comment
        with:
          issue-number: 2945
          comment: ${{ steps.invalid_links.outputs.comment }}
      - if: steps.invalid_links.outputs.comment
        name: Send dead links info message
        shell: bash
        run: |
          curl -i -X POST -H 'Content-Type: application/json' -d '{"text": ":icon-info: La liste des liens morts a été mise à jour ici : [lien](https://github.com/betagouv/aides-jeunes/issues/2945)"}' ${{ secrets.MATTERMOST_POST_URL }}
