.panel-montant .checkbox {
    margin-top: .5em;
}

.panel-montant.indemnites {
    border-color: #AC6C82;
}

.panel-montant.indemnites .panel-heading {
    background-color: #e3ced5;
}

.panel-montant.pensions {
    border-color: #685C79;
}

.panel-montant.pensions .panel-heading {
    background-color: #eae7ed;
}

.panel-montant.allocations {
    border-color: #DA727E;
}

.panel-montant.allocations .panel-heading {
    background-color: #faebed;
}

.panel-montant.revenusActivite {
    border-color: #FFBC67;
}

.panel-montant.revenusActivite .panel-heading {
    background-color: #ffe9cd;
}

.panel-montant.autre {
    border-color: #39747B;
}

.panel-montant.autre .panel-heading {
    background-color: #cce4e7;
}

.panel-montant.rpns {
    border-color: #8366d4;
}

.panel-montant.rpns .panel-heading {
    background-color: #dad7e8;
}

.panel-montant.patrimoine {
    border-color: #455C7B;
}

.panel-montant.patrimoine .panel-heading {
    background-color: #d7dee8;
}


@media (min-width: 768px) {
    .ressources-values {
        display: flex;
        align-items: flex-end;
    }
}
