<form method="post" name="form" novalidate ng-submit="submit()">
  <p>Veuillez sélectionner les personnes qui touchent/ont touché les ressources que vous avez sélectionnées.</p>
  <div ng-repeat="ressourceType in ressourceTypes|filter: isRessourceTypeSelected">
    <div class="row">
      <div class="col-sm-4">
        <button
          type="button"
          disabled
          class="btn btn-sm btn-selection btn-ressources"
          ng-class="'capture-' + ressourceType.category">
          {{ ressourceType.label }}
        </button>
        <b>Qui ?</b>
      </div>
      <div class="col-sm-8">
        <button
          type="button"
          class="btn btn-default btn-selection btn-selection-personne"
          ng-repeat="individuRef in individuRefs"
          btn-checkbox
          ng-model="individuRef.selectedRessourceTypes[ressourceType.id]">
          <i class="fa fa-male"></i>
          {{ individuRef.label }}
        </button>
      </div>
    </div>
    <hr ng-if="!$last">
  </div>
  <div class="text-right">
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>
