<form method="post" name="form" novalidate ng-submit="submit()">
  <p>
    Cliquez sur les types de ressources que les personnes de votre foyer ont perçues
    <strong>entre {{ debutAnnee }} et {{ finAnnee }}</strong>.
    Si vous avez des revenus du capital, ne les indiquez pas ici, ils vous seront demandés ultérieurement.
  </p>
  <button
    type="button"
    class="btn btn-sm btn-selection btn-ressources"
    ng-repeat="ressourceType in ressourceTypes"
    ng-class="'capture-' + ressourceType.category"
    btn-checkbox
    ng-model="selectedRessourceTypes[ressourceType.id]">
    {{ ressourceType.label }}
  </button>
  <div class="text-right">
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>
</form>
